  

<h5 id="get-a-cash-back-credit-card-dot-use-it-for--approximately--everything-dot">Get a cash back credit card. Use it for (approximately) everything.</h5>

<p>When given the option to pay with either a credit card or debit card, it is
generally a mistake to use a debit card: credit cards are more secure <em>and</em>
credit card companies will literally pay you to use them.</p>

<p>Precisely how much they&rsquo;ll pay you is&hellip; complicated. Optimally exploiting
credit card rewards is a problem so-varied that it has spawned a community of
hobbyist money-launderers dedicated to answering it. They have a great many
spreadsheets. Want to spend a weekend (or six) modeling airline miles, travel
points, and your grocery spend in Excel? Welcome to the weird world of
<a href="https://old.reddit.com/r/churning/">/r/churning</a>. These are your people. Start with <a href="https://www.reddit.com/r/churning/wiki/index">the wiki</a> and <a href="https://i.imgur.com/Fl0KgFF.png">this flowchart</a>.</p>

<p>For everyone else, there&rsquo;s</p>

<h2 id="the-simplest-route">The simplest route</h2>

<ol>
<li>Sign up for Citi&rsquo;s &ldquo;Double Cash&rdquo; Card.</li>
<li>Set it to auto-pay your balance in full every month.</li>
<li>Pay for every transaction that accepts credit cards with it.</li>
</ol>

<p>Viola. You&rsquo;ll save 2% on every dollar of spending you shift to this card.</p>

<h4 id="what-s-the-catch">What&rsquo;s the catch?</h4>

<p>There isn&rsquo;t one, beside the standard, &ldquo;if you carry a balance, you&rsquo;ll pay back
your rewards and then some in interest.&rdquo; The card itself doesn&rsquo;t have any
gotchas to keep track of: no annual fees, no minimum spend, nothing like
that. Just use it in place of your debit card and pocket an extra 2%.</p>

<h4 id="or-just-pay-with-cash">(or just pay with cash)</h4>

<p>Do credit cards encourage more spending, compared to cash? At least <a href="https://graphics8.nytimes.com/packages/pdf/Alwaysleavehome-2.pdf">one study</a>
suggests the answer is &ldquo;yes, sometimes.&rdquo; In it, participants were willing to spend as
much as 100% more for items of uncertain value&ndash;in this case, sports
tickets&ndash;when using a credit card than they were when paying with cash.</p>

