  <p>I used to work in the wellness industry for a business that sold an app to
employers. Ostensibly the point of the app was to improve employee health
through gamification. Users earned points for food tracking, weight management,
whatever&ndash;all of the different schemes reduced basically to &ldquo;pay employee to do healthy
thing.&rdquo;</p>

<p>This was all distraction.</p>

<p>The actual point of the app was to convince smokers to stop. Every other
feature was essentially entertainment. &ldquo;Smoker&rdquo; or &ldquo;non-smoker&rdquo; was the only health
variable that mattered, statistically: whatever we could do for non-smokers
(the majority of our users!) was irrelevant.</p>

<p>So&ndash;</p>

<p><strong>If you smoke, quit.</strong> Switch to chewing tobacco or vaping. They are
99% better for you, literally.</p>

<blockquote>
<p>[E-cigarettes&rsquo;] safety risk is similar to that of smokeless tobacco, which has
about 1% of the mortality risk of traditional cigarettes.</p>

<p>&ndash;Wikipedia&rsquo;s <a href="https://en.wikipedia.org/wiki/Safety%5Fof%5Felectronic%5Fcigarettes">&ldquo;Safety of electronic cigarettes&rdquo;</a></p>
</blockquote>

<p><strong>If you don&rsquo;t smoke, continue to not smoke.</strong></p>

<hr />

<p>Recently there has been a lot of press around lung-diseases</p>

