  <p>What&rsquo;s up!? This is robb from rs.io, and I&rsquo;m sending you this e-mail because you
signed up for it. (If you&rsquo;ve since changed your mind, you can click here to
unsubscribe.)</p>

<p>The second entry on my list of
someone-really-ought-to-have-already-told-you-this-but-in-case-they-haven&rsquo;t-here-it-is-again-it&rsquo;s-that-useful
is <a href="https://en.wikipedia.org/wiki/List%5Fof%5Fcommon%5Fmisconceptions">Wikipedia&rsquo;s list of common misconceptions</a>. You 100% currently believe some of
these. Remarkably this is the case <em>even if you have read the page before</em>, as I&rsquo;m now discovering upon review.</p>

<p><strong>Some highlights:</strong> You do not need to wait 24 hours to file a missing person
  report. Medieval Europeans did not believe Earth was flat. Sugar does not
  cause hyperactivity in children.  Swallowed
  chewing gum does not take years to digest. George Washington Carver did not invent peanut butter. MSG is harmless.</p>

<p>Check out the <a href="https://en.wikipedia.org/wiki/List%5Fof%5Fcommon%5Fmisconceptions">entire thing</a>,
robb</p>

