<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Effective Study Skills for College Students: “Why?” Questions &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/effective-study-skills-for-college-students-why-questions/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/effective-study-skills-for-college-students-why-questions/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Effective Study Skills for College Students: “Why?” Questions</h1>
  <time datetime=2014-02-25T15:56:54Z class="post-date">Tue, Feb 25, 2014</time>
  

<p>Consider two sentences:</p>

<ul>
<li>The llama was made out of watermelon flavored cactus.</li>
<li>Policeman doe terminology star inconvenience recruit.</li>
</ul>

<p>If I asked you to close this web page and then recall both sentences, you&#8217;d have an easier time with the first sentence. It has meaning and structure &#8212; even if a bit strange. I could make this still harder by adding a third sentence that&#8217;s just a jumble of letters. That would be less structured and even harder to recall.</p>

<p>Let&#8217;s say you&#8217;re reading a textbook, like Sedgewick&#8217;s <a href="http://amzn.to/2ibxzxN"><em>The Algorithm Design Manual</em></a>, and you come across the fact that &#92;( \Theta(n \lg n) &#92;) is the lowest possible complexity of a comparison sort algorithm. You could commit this to long-term memory as is &#8212; it&#8217;s true, after all. It would be connected to <em>some</em> other knowledge, like what you already know about sorting algorithms. This seems okay.</p>

<p>But, when doing something like this, you&#8217;re missing out on a whole lot of structure. If you forgot about the lower bound, you wouldn&#8217;t be able to regenerate it from what you already know. It&#8217;s connected to other knowledge, but it&#8217;s not recomputable. You&#8217;re forced to take Sedgewick&#8217;s word for the whole thing.</p>

<p>How can we absorb more of the structure of a piece of knowledge &#8212; to not be content with knowing a fact that someone else has stated, but to be able to recompute it, to solidly place it in <a href="https://rs.io/developing-good-research-skills-compressing-knowledge/">our web of knowledge</a>? The answer is the question, &#8220;Why?&#8221; There is a massive gulf between knowing <em>that</em> something is true and understanding <em>why</em> something is true. Being able to answer that why question makes all the difference &#8212; it forces you to absorb and understand deeper structural characteristics.</p>

<p>If I told you that 3 bits can represent 8 different values, you would not be able to answer the question, &#8220;How many bits do you need to represent 1729 different values?&#8221; But, if you understood why 3 bits can represent 8 values, that sort of question is trivial. It&#8217;s the difference between being able to regurgitate facts from Wikipedia and being able to solve novel problems &#8212; to understand the not yet seen.</p>

<p><strong>Asking &#8220;Why is this so?&#8221; is an easy to implement strategy for absorbing a piece of knowledge, and connecting it to the rest of your beliefs in such a way that you can answer novel questions in the future.</strong></p>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>I wrote recently about this whole structure thing in <a href="https://rs.io/developing-good-research-skills-compressing-knowledge/">&#8220;Compressing Knowledge.&#8221;</a></li>
<li>Asking &#8220;Why?&#8221; while learning is sometimes called elaborative interrogation. There&#8217;s a review of its effectiveness, along with that of other learning techniques, <a href="http://psi.sagepub.com/content/14/1/4.abstract">here</a>.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
