<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Science of Problem Solving &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/the-science-of-problem-solving/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/the-science-of-problem-solving/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>The Science of Problem Solving</h1>
  <time datetime=2014-02-21T02:40:46Z class="post-date">Fri, Feb 21, 2014</time>
  

<p><a href="https://rs.io/wp-content/uploads/2014/08/feynman-chalkboard.jpg"><img class="aligncenter size-full wp-image-298" src="https://rs.io/wp-content/uploads/2014/08/feynman-chalkboard.jpg" alt="feynman-chalkboard" width="450" height="290" srcset="https://rs.io/wp-content/uploads/2014/08/feynman-chalkboard.jpg 450w, https://rs.io/wp-content/uploads/2014/08/feynman-chalkboard-300x193.jpg 300w" sizes="(max-width: 450px) 100vw, 450px" /></a>Mathematics is like the One Ring in the Lord of the Rings. Once you&#8217;ve loaded a problem into your head, you find yourself mesmerized, unable to turn away. It&#8217;s an obsession, a drug. You dig deeper and deeper into the problem, the whole time unaware that the problem is digging back into you. Gauss was wrong. Mathematics isn&#8217;t a queen. She&#8217;s a python, wrapping and squeezing your mind until you find yourself thinking about the <a href="http://mathoverflow.net/a/100279">integer cuboid problem</a> while dreaming, on waking, while brushing your teeth, even during sex.</p>

<p>Lest you think I exaggerate, Feynman&#8217;s second wife <a href="http://en.wikipedia.org/wiki/Richard_Feynman#Personal_life">wrote in the divorce complaint</a>, &#8220;He begins working calculus problems in his head as soon as he awakens. He did calculus while driving in his car, while sitting in the living room, and while lying in bed at night.&#8221; Indeed, the above is <a href="http://caltech.discoverygarden.ca/islandora/object/ct1%3A483">a picture of Feynman&#8217;s blackboard at the time of his death.</a> It says on it, &#8220;Know how to solve every problem that has been solved.&#8221; I like this sentiment, this idea of man as problem solver. If I were running things, I think I would have sent Moses down the mountain with that as one of the ten commandments instead of <a href="http://en.wikipedia.org/wiki/Thou_shalt_not_covet">two versions</a> of &#8220;thou shalt not covet.&#8221;</p>

<p>That&#8217;s what this post is about: <strong>How do humans solve problem and what, if anything, can we do to become more effective problem solvers?</strong> I don&#8217;t think this needs any motivating. I spend too much time confused and frustrated, struggling against some piece of mathematics or attempting to understand my fellow man to not be interested in leveling up my general problem-solving ability. I find it difficult to imagine anyone feeling otherwise. After all, life is in some sense a series of problems, of obstacles to be overcome. If we can upgrade from a hammer to dynamite to blast through those, well, what are we waiting for? Let&#8217;s go nuclear.</p>

<h2 id="a-computational-model-of-problem-solving">A Computational Model of Problem Solving</h2>

<p><strong>Problem solving can be understood as a search problem.</strong> You start in some state, there&#8217;s a set of neighbor states you can move to, and a final state that you would like to end up in. Say you&#8217;re Ted Bundy. It&#8217;s midnight and you&#8217;re prowling around. You&#8217;re struck by a sudden urge to kill a woman. You have a set of moves you could take. You could pretend to be injured, lead some poor college girl to your car, and then bludgeon her to death. Or you could break into a sorority house and attack her there, along with six of her closest friends. These are possible paths to the final state, which in this macabre example is murder.</p>

<p>Similarly, for those who <a href="http://easydamus.com/alignment.html">rolled lawful good</a> instead of chaotic evil, we can imagine being the detective hunting Ted Bundy. You start in some initial state &#8212; the Lieutenant puts you on the case (at least, that&#8217;s how it works on television.) Your first move might be to review the case files. Then you might speak to the head detective about the most promising leads. You might ask other cops about similar cases. In this way, you&#8217;d keep choosing moves until reaching your goal.</p>

<p>Both of these are a <a href="http://en.wikipedia.org/wiki/Graph_%28mathematics%29">graph</a>. (Not to be confused with the graph of a function, which you learned about in algebra. This sort of graph &#8212; pictured below &#8212; is a set of objects with links between them.) The nodes of the graph are states of the world, while the links between the nodes are possible actions.</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/bundy-graph.jpg"><img class="aligncenter size-full wp-image-296" src="https://rs.io/wp-content/uploads/2014/08/bundy-graph.jpg" alt="bundy-graph" width="516" height="325" srcset="https://rs.io/wp-content/uploads/2014/08/bundy-graph.jpg 516w, https://rs.io/wp-content/uploads/2014/08/bundy-graph-300x188.jpg 300w" sizes="(max-width: 516px) 100vw, 516px" /></a></p>

<p>Problem solving, then, can be thought of as, &#8220;Starting at the initial state, how do I reach the goal state?&#8221;</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/highlight-graph.jpg"><img class="aligncenter size-full wp-image-301" src="https://rs.io/wp-content/uploads/2014/08/highlight-graph.jpg" alt="highlight-graph" width="532" height="335" srcset="https://rs.io/wp-content/uploads/2014/08/highlight-graph.jpg 532w, https://rs.io/wp-content/uploads/2014/08/highlight-graph-300x188.jpg 300w" sizes="(max-width: 532px) 100vw, 532px" /></a></p>

<p>On this simple graph, the answer is trivial:</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/simple-graph-shortest-path.jpg"><img class="aligncenter size-full wp-image-303" src="https://rs.io/wp-content/uploads/2014/08/simple-graph-shortest-path.jpg" alt="simple-graph-shortest-path" width="526" height="331" srcset="https://rs.io/wp-content/uploads/2014/08/simple-graph-shortest-path.jpg 526w, https://rs.io/wp-content/uploads/2014/08/simple-graph-shortest-path-300x188.jpg 300w" sizes="(max-width: 526px) 100vw, 526px" /></a></p>

<p>On the sort of graph you&#8217;d encounter in the real world, though, it wouldn&#8217;t be so easy. The number of possible moves in a chess match &#8212; itself a simplification when compared to, you know, <em>actual war</em> &#8212; is &#92;( 10^{120} &#92;), while the number of atoms in the observable universe is a mere &#92;( 10^{81} &#92;). It&#8217;s a near certainty, then, that <strong>the human mind doesn&#8217;t consider an entire graph when solving a problem, but somehow approximates a graph search.</strong> Still, it&#8217;s sorta fun to imagine what a real world problem <em>might</em> look like.</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/giant-graph.jpg"><img class="aligncenter size-full wp-image-299" src="https://rs.io/wp-content/uploads/2014/08/giant-graph.jpg" alt="giant-graph" width="518" height="472" srcset="https://rs.io/wp-content/uploads/2014/08/giant-graph.jpg 518w, https://rs.io/wp-content/uploads/2014/08/giant-graph-300x273.jpg 300w" sizes="(max-width: 518px) 100vw, 518px" /></a></p>

<h2 id="insight">Insight</h2>

<blockquote>
<p>A change in perspective is worth 80 IQ points.</p>

<p><span id="quote-attribute">—Alan Kay</span></p>
</blockquote>

<p>Insight. In the shower, thinking about nothing much, it springs on us, unbidden and sudden. No wonder the Greeks thought creativity came from an outside source, one of the Muses. It&#8217;s like the heavens open up and a lightning bolt implants the notion into our heads. Like we took an extension cord, plugged it into the back of our necks, and hooked ourselves into the Way, the Tao, charging ourselves off the zeitgeist and, boom, <em>you have mail</em>.</p>

<p>It&#8217;s an intellectual earthquake. Our assumptions shift beneath us and we find ourselves reoriented. The problem is turned upside down &#8212; a break in the trees and a new path is revealed.</p>

<p>That&#8217;s what insight feels like. How does it work within the mind? There are a number of different theories and no clear consensus among the literature. However, with that said, I have a favorite. <strong>Insight is best thought of as a change in problem representation.</strong></p>

<p>Consider how often insight is accompanied by the realization, &#8220;Ohmygod, I&#8217;ve been thinking about everything wrong.&#8221; This new way of thinking about the problem is a new <em>representation</em> of the problem, which suggests different possible approaches.</p>

<p>Consider <a href="http://www.jstor.org/discover/10.2307/1422851?uid=3739656&amp;uid=2&amp;uid=4&amp;uid=3739256&amp;sid=21103496464507">one of the problems</a> that psychologists use to study insight:</p>

<blockquote>
<p>You enter a room in which two strings are hanging from the ceiling and a pair of pliers is lying on a table. Your task is to tie the two strings together. Unfortunately, though, the strings are positioned far enough apart so that you can’t grab one string and hold on to it while reaching for the other. How can you tie them together?</p>
</blockquote>

<p>(The answer is below the following picture if you want to take a second and try to figure it out.)</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/pliers-problem.jpg"><img class="aligncenter size-full wp-image-302" src="https://rs.io/wp-content/uploads/2014/08/pliers-problem.jpg" alt="pliers-problem" width="712" height="409" srcset="https://rs.io/wp-content/uploads/2014/08/pliers-problem.jpg 712w, https://rs.io/wp-content/uploads/2014/08/pliers-problem-300x172.jpg 300w" sizes="(max-width: 712px) 100vw, 712px" /></a></p>

<p>The trick to this problem is to stop thinking about pliers as pliers, and instead to think of it as a weight. (This is sometimes called overcoming <em>functional fixedness.</em>) With that realization in hand, just tie the pliers to one rope and swing it. If you stand by the other rope, the pliers-rope should eventually swing back to you, and then you can tie them together.</p>

<p>In this case, the insight is changing the representation of pliers as tool-to-hold-objects-together to pliers as weight. More support for this view comes from <a href="http://psycnet.apa.org/journals/mon/58/5/i/">another famous insight problem</a>.</p>

<blockquote>
<p>You are given the objects shown: a candle, a book of matches, and a box of tacks. Your task is to find a way to attach the candle to the wall of the room, at eye level, so that it will burn properly and illuminate the room.</p>
</blockquote>

<p><a href="https://rs.io/wp-content/uploads/2014/08/candle-problem.jpg"><img class="aligncenter size-full wp-image-297" src="https://rs.io/wp-content/uploads/2014/08/candle-problem.jpg" alt="candle-problem" width="537" height="445" srcset="https://rs.io/wp-content/uploads/2014/08/candle-problem.jpg 537w, https://rs.io/wp-content/uploads/2014/08/candle-problem-300x248.jpg 300w" sizes="(max-width: 537px) 100vw, 537px" /></a></p>

<p>The key insight in this problem is that the box that the tacks are contained in is not just for holding tacks, but can be used as a mount, too &#8212; again, a change in the representation.</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/solved-candle-problem.jpg"><img class="aligncenter size-full wp-image-306" src="https://rs.io/wp-content/uploads/2014/08/solved-candle-problem.jpg" alt="solved-candle-problem" width="537" height="445" srcset="https://rs.io/wp-content/uploads/2014/08/solved-candle-problem.jpg 537w, https://rs.io/wp-content/uploads/2014/08/solved-candle-problem-300x248.jpg 300w" sizes="(max-width: 537px) 100vw, 537px" /></a></p>

<p>In fact, the rate at which people solve this problem <a href="http://www.sciencedirect.com/science/article/pii/0010028573900145">depends on how it&#8217;s presented</a>. If you put people in a room with the tacks in the box, they&#8217;re less likely to solve it than if the tacks and box are separate.</p>

<p><strong>The way we frame problems makes them more or less difficult.</strong> Insight is the spontaneous reframing of a problem. This suggests that <strong>we can increase our general problem solving ability by actively thinking of new ways to represent and think about a problem &#8212; different points of view.</strong> There are a couple of ways to accomplish this. <strong>Translating a problem into another medium is a cheap way of producing insight.</strong> Often, creating a diagram for a math problem, for example, can be enough to make the solution obvious, but we need not limit ourselves to things we can draw. We can ask ourselves, <a href="https://rs.io/reading-math/">&#8220;How does this feel in the body?&#8221;</a> or imagine the problem <a href="https://rs.io/ultimate-guide-simulated-annealing/">in terms of a fable</a>.</p>

<p>Further, we can actively retrieve and create analogies. George Pólya in his <em>How to Solve It</em> writes (paraphrased), &#8220;You know something like this. What is it?&#8221; The history of science, too, is filled with instances of reasoning by analogy. Visualize an atom. What does it look like? If you received an education anything like mine, you think of it as like a solar system, with subatomic particles rotating a nucleus. This is not really what an atom looks like, though, but it has stuck with us by way of Rutherford.</p>

<p>Indeed, <strong>we can often gain cheap insights into something by borrowing the machinery from another discipline and thinking about it in those terms.</strong> Social interaction, for instance, can be thought of as a market, or as the behavior of electrons that think. We can think of the actions of people in terms of evolutionary drives, as those of a rational agent, and so on.</p>

<p>This perhaps explains some of the ability of some scientists to contribute to different disciplines with original insights. I&#8217;m reminded of <a href="http://longnow.org/essays/richard-feynman-connection-machine/">Feynman&#8217;s work on the connection machine</a>, where he analyzes the computer&#8217;s behavior with a set of partial differential equations &#8212; something natural for a physicist, but strange for a computer science who thinks in discrete rather than continuous terms.</p>

<h2 id="incubation">Incubation</h2>

<p>We can think of problem solving like a walnut, a metaphor that comes to me by way of Grothendieck. There are two approaches to cracking a walnut. We can, with hammer and chisel, force it open, or we can soak the walnut in water, rubbing it from time to time, but otherwise leaving it alone to soften. With time, the shell becomes flexible and soft and hand pressure alone is enough to open it.</p>

<p>The soaking approach is called incubation. It&#8217;s the act of letting a problem simmer in your subconscious while you do something else. I find difficult problems easier to tackle after I&#8217;ve left them alone in a while.</p>

<p>The science validates this phenomena. <strong>A <a href="http://psycnet.apa.org/journals/bul/135/1/94/">2009 meta-analysis</a> found significant interactions between incubation and problem solving performance, with creative problems receiving more of a boost.</strong> Going further, they also found that the more time that was spent struggling with the problem, the more effective incubation was.</p>

<h3 id="sleep">Sleep</h3>

<blockquote>
<p>Keep your subconscious starved so it has to work on your problem, so you can sleep peacefully and get the answer in the morning, free.</p>

<p><span id="quote-attribute">—Richard Hamming, <em><a href="http://www.cs.virginia.edu/~robins/YouAndYourResearch.html">You and Your Research</a></em></span></p>
</blockquote>

<p><a href="https://rs.io/wp-content/uploads/2014/08/sleep-doubles-insight.jpg"><img class="aligncenter size-full wp-image-304" src="https://rs.io/wp-content/uploads/2014/08/sleep-doubles-insight.jpg" alt="sleep-doubles-insight" width="458" height="357" srcset="https://rs.io/wp-content/uploads/2014/08/sleep-doubles-insight.jpg 458w, https://rs.io/wp-content/uploads/2014/08/sleep-doubles-insight-300x233.jpg 300w" sizes="(max-width: 458px) 100vw, 458px" /></a></p>

<p><a href="http://www.nature.com/nature/journal/v427/n6972/abs/nature02223.html">A 2004 study</a> published in <em>Nature</em> examined the role of sleep in the process of generating insight. <strong>They found that sleep, regardless of time of day, doubled the number of subjects who came up with the insight solution to a task.</strong> (Presented graphically above.) This effect was only evident in those who had struggled with the problem, so it was the unique combination of struggling followed by sleep and not sleep alone that boosted insight.</p>

<p>The authors write, &#8220;We conclude that sleep, by restructuring new memory representations, facilitates extraction of explicit knowledge and insightful behaviour.&#8221;</p>

<h3 id="the-benefits-of-mind-wandering">The Benefits of Mind Wandering</h3>

<p><a href="http://www.sciencedirect.com/science/article/pii/S0191886905003764">Individuals with ADHD tend to score higher than neurotypical controls on laboratory measures of creativity.</a> This jives with my experience. I have a cousin with ADHD. He&#8217;s a nice guy. He likes to draw. Now, I&#8217;ve never broken out a psychological creativity inventory at a family reunion and tested him, but I&#8217;d wager he&#8217;s more creative than normal controls, too.</p>

<p>There&#8217;s a good reason for this: <strong>mind-wandering fosters creativity.</strong> <a href="http://pss.sagepub.com/content/23/10/1117.short">A 2012 study</a> (results pictured below) found that any sort of mind-wandering will do, but the kind elicited during a low-effort task was more effective than even that of doing nothing.</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/benefits-of-mind-wandering.jpg"><img class="aligncenter size-full wp-image-295" src="https://rs.io/wp-content/uploads/2014/08/benefits-of-mind-wandering.jpg" alt="benefits-of-mind-wandering" width="566" height="376" srcset="https://rs.io/wp-content/uploads/2014/08/benefits-of-mind-wandering.jpg 566w, https://rs.io/wp-content/uploads/2014/08/benefits-of-mind-wandering-300x199.jpg 300w" sizes="(max-width: 566px) 100vw, 566px" /></a></p>

<p>This, too, is congruent with my experience. How much insight has been produced while taking a shower or mowing the lawn? Paul Dirac, the Nobel Prize winning physicist, would take <a href="http://www.damtp.cam.ac.uk/events/strings02/dirac/dirac/">long hikes in the wood</a>. I&#8217;d bet money that this was prime mind-wandering time. I know walking without goal is often a productive intellectual strategy for me. Rich Hickey, known as inventor of the Clojure programming language, has sorta taken the best of both worlds &#8212; sleep and mind wandering &#8212; and combined them into what he calls <a href="http://www.youtube.com/watch?v=f84n5oFoZBc">hammock driven development</a>.</p>

<h3 id="but-how-does-it-work">But how does it work?</h3>

<p>As is often the case in the social sciences, there is little consensus on why incubation works. <strong>One possible explanation, as illustrated by the Hamming quote, is that the subconscious keeps attacking the problem even when we&#8217;re not aware of it.</strong> I&#8217;ve long operated under this model and I&#8217;m somewhat partial to it.</p>

<p>Within cognitive science, <strong>a fashionable explanation is that during breaks we abandon approaches that are ineffective.</strong> Thus, next time we view a problem, we are prone to try something else. There is something to this, I feel, but some sources go too far when they propose that this is all incubation consists of. I have notice significant qualitative changes to the structure of my own beliefs that occur outside of conscious awareness. Something happens to knowledge when it ripens in the brain and forgetting is not all of that something.</p>

<p>In terms of our initial graph, I have a couple ideas. We still do not have a great grasp on why animals evolved the need to sleep, but it <a href="http://www.sciencemag.org/content/294/5544/1058.short">seems to be related to memory consolidation.</a> Also note the dramatic change thought processes undergo while on the edge of sleep and while dreaming. This suggests that there are certain operations, certain nodes in our search graph, that can only be processed and accessed during sleep or rest. Graphically, it might look like:</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/graph-change-during-sleep.jpg"><img class="aligncenter size-full wp-image-300" src="https://rs.io/wp-content/uploads/2014/08/graph-change-during-sleep.jpg" alt="graph-change-during-sleep" width="550" height="250" srcset="https://rs.io/wp-content/uploads/2014/08/graph-change-during-sleep.jpg 550w, https://rs.io/wp-content/uploads/2014/08/graph-change-during-sleep-300x136.jpg 300w" sizes="(max-width: 550px) 100vw, 550px" /></a></p>

<p>This could be combined with a search algorithm like <a href="http://en.wikipedia.org/wiki/Tabu_search">tabu search</a>. During search, the mind makes a note of where it gets stuck. It then starts over, but uses this information to inform future search attempts. In this manner, it avoids getting stuck in the same way that it was stuck in the past.</p>

<h2 id="problem-solving-strategies">Problem Solving Strategies</h2>

<blockquote>
<p>It is really a lot of fun to solve problems, isn&#8217;t it? Isn&#8217;t that what&#8217;s interesting in life?</p>

<p><span id="quote-attribute">—Frank Offher</span></p>
</blockquote>

<p>There may be no royal road to solving every problem with ease, but that doesn&#8217;t mean that we are powerless in the face of life&#8217;s challenges. There are things you can do to improve your problem solving ability.</p>

<h2 id="practice">Practice</h2>

<p><a href="https://rs.io/expert-memory/">The most powerful, though somewhat prosaic, method is practice</a>. It&#8217;s figuring out the methods that other people use to solve problems and mastering them, adding them to your toolkit. For mathematics, this means mastering broad swathes of the stuff: linear algebra, calculus, topology, and so on. For those in different disciplines, it means mastering different sorts of machinery. Dan Dennet writes about intuition pumps in philosophy, for instance, while a computer scientist might work at complexity theory or algorithmic analysis.</p>

<p>It is, after all, much easier to solve a problem if you know the general way in which such problems are solved. If you can retrieve the method from memory instead of inventing it from scratch, well, that&#8217;s a big win. Consider how impossible modern life would be if you had to reinvent everything, all of modern science, electricity, and more. The discovery of calculus took thousands of years. Now, it&#8217;s routinely taught to kids in high school. In terms of imagery, we can think of solving a problem from scratch as a complicated graph search, while retrieving a method from memory as a look-up in a <a href="http://en.wikipedia.org/wiki/Hash_table">hash table</a>. The difference looks something like this:</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/solve-versus-retrieve.jpg"><img class="aligncenter size-full wp-image-305" src="https://rs.io/wp-content/uploads/2014/08/solve-versus-retrieve.jpg" alt="solve-versus-retrieve" width="550" height="250" srcset="https://rs.io/wp-content/uploads/2014/08/solve-versus-retrieve.jpg 550w, https://rs.io/wp-content/uploads/2014/08/solve-versus-retrieve-300x136.jpg 300w" sizes="(max-width: 550px) 100vw, 550px" /></a></p>

<p>All of this is to say that it&#8217;s very important that you familiarize yourself with the work of others on different problems. <strong>It&#8217;s cheaper to learn something that someone else already knows than to figure it out on your own.</strong> Our brains are just not powerful enough. This is, I think, one of the most powerful arguments for the benefits of broad reading and learning.</p>

<h2 id="mood">Mood</h2>

<p><strong>Moods can be thought of as mental lenses, colored sunglasses, that encourage different sorts of processing.</strong> A &#8220;down&#8221; mood encourages focus on detail, while an &#8220;up&#8221; mood encourages focusing on the greater whole.</p>

<p>Indeed, <a href="http://psycnet.apa.org/index.cfm?fa=search.displayRecord&amp;uid=2008-14745-001">multiple</a> <a href="http://www.sciencedirect.com/science/article/pii/S074959780800054X">meta-analyses</a> suggests that <strong>those in happier moods are more creative</strong>. If you&#8217;ve ever met someone who is bipolar, you&#8217;ll notice that their manic episodes tend to look a lot like the processing of creative individuals. As someone once told me of his manic episodes, &#8220;There&#8217;s no drug that can get you as high as believing you&#8217;re Jesus Christ.&#8221;</p>

<p>This suggests that one ought to think about a problem while in different moods. To become happy, try dancing. To be sad, listen to sad music or watch a sad film. Think about the problem while laughing at stand-up comedy. Discuss it over coffee with a friend. Think about it while fighting, while angry at the world. <strong>The more varied states that you are in while considering your problem, the higher the odds you will stumble on a new insight.</strong></p>

<h2 id="rubber-ducking">Rubber Ducking</h2>

<p><a href="http://en.wikipedia.org/wiki/Rubber_duck_debugging">Rubber ducking</a> is a technique for debugging that&#8217;s famous in the programming community. The idea is that <strong>simply explaining your problem to another person is often enough to lead to the <em>eureka!</em></strong> In fact, the theory goes, you don&#8217;t even need to describe it to another person. It&#8217;s enough to tell it to a rubber duck.</p>

<p>I have noticed this a number of times. I&#8217;ll go to write up something I don&#8217;t understand, some problem I have on StackOverflow, and then <em>bam</em>, the answer will punch me in the face. There is something about describing something to someone else that solidifies understanding. Why do you think I&#8217;m going through the trouble of writing all of <em>this</em> up, after all?</p>

<p>The actual science is a bit mixed. In <a href="http://psycnet.apa.org/journals/xge/63/1/12/">one study</a>, describing current efforts on a problem reduced the likelihood that one would solve the problem. The theory goes that this forces one to focus on easy-to-verbalize parts of the problem, which may be irrelevant, and thus entrenches the bad approach.</p>

<p>In <a href="http://link.springer.com/article/10.3758/BF03197150#page-1">a different study</a>, though, forcing students to learn something well enough to explain to another person increased their future performance on similar problems. A number of people have remarked that they never really understood something until they had to teach it, and this maybe explains some of the success of the researchers-as-teachers paradigm we see in the university system.</p>

<p>Even with the mixed research, I&#8217;m confident that the technique works, based on my own experience. <strong>If you&#8217;re stuck, try describing the problem to someone else in terms they can understand.</strong> Blogging works well for this.</p>

<h2 id="putting-it-all-together">Putting it All Together</h2>

<p>In short, then:</p>

<ul>
<li><strong>Problem solving can be thought of as search on a graph.</strong> You start in some state and try to find your way to the solution state.</li>
<li><strong>Insight is distinguished by a change in problem representation.</strong></li>
<li><strong>Insight can be facilitated by active seeking of new problem representations</strong>, for example via drawing or creating analogies.</li>
<li>Taking breaks during working on a problem solving is called incubation. <strong>Incubation enhances problem solving ability.</strong></li>
<li><strong>A night&#8217;s sleep improves problem solving ability to a considerable degree.</strong> This may be related to memory consolidation during sleep.</li>
<li><strong>Mind-wandering facilitates creativity</strong>. Low effort tasks are a potent means of encouraging mind-wandering.</li>
<li>To improve problem solving, <strong>one should study solved problems, attack the problem while in different moods, and try explaining the problem to others.</strong></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
