<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Web Roundup: Links for May &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/web-roundup-links-may/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Web Roundup: Links for May</h1>
  <time datetime=2014-05-02T22:32:05Z class="post-date">Fri, May 2, 2014</time>
  <ul>
<li><p><a href="http://www.wine-economics.org/workingpapers/AAWE_WP16.pdf">Expensive wine doesn&#8217;t taste better</a>: &#8220;In a sample of more than 6,000 blind tastings, we find that the correlation between price and overall rating is small and negative, suggesting that individuals on average enjoy more expensive wines slightly less.&#8221;</p></li>

<li><p>A <a href="http://www-bcf.usc.edu/~tellis/priceandquality.pdf">1987 meta-analysis</a> finds a modest .3 correlation between price and quality. <a href="http://carlsonmba.csom.umn.edu/marketinginstitute/research/documents/Rao_QualityofPrice_2005.pdf">Rao 2005</a> suggests that people generally overestimate the strength of the price-quality relationship.</p></li>

<li><p>Tax revenue has recently declined in Slovakia, so officials have <a href="http://www.nytimes.com/2014/04/20/world/europe/forget-the-car-in-slovakian-lottery-real-prize-goes-to-tax-man.html?hpw&amp;rref=world&amp;_r=1">created a bizarre lottery system</a>. Citizens can enter receipts for a chance to win a car. If the merchant has printed the receipt with a fake tax identification number, they&#8217;re flagged for further investigation. (HT: <a href="http://kajsotala.fi/">Kaj Sotala</a>)</p></li>

<li><p><a href="http://www.bbc.co.uk/news/science-environment-11321282">&#8220;Falling in love comes at the cost of losing two close friends.&#8221;</a></p></li>

<li><p><a href="https://en.wikipedia.org/wiki/Reductio_ad_Hitlerum">Reductio ad Hitlerum</a>: &#8220;an informal fallacy that consists of trying to refute an opponent&#8217;s view by comparing it to a view that would be held by Adolf Hitler or the Nazi Party.&#8221;</p></li>

<li><p>&#8220;<a href="http://muddycolors.blogspot.com/2014/04/cheating.html">There is no such thing as cheating in art.</a> I don&#8217;t care how it&#8217;s created: I only care about the results. You&#8217;d think that&#8217;s all anyone should care about, but unfortunately that&#8217;s not the case.&#8221;</p></li>

<li><p><a href="http://www.cis.upenn.edu/~bcpierce/courses/670Fall04/GreatWorksInPL.shtml">Great works in programming languages.</a></p></li>

<li><p>Wikipedia&#8217;s <a href="https://en.wikipedia.org/wiki/Wikipedia:Most_referenced_articles">most referenced articles</a>.</p></li>

<li><p><a href="http://pss.sagepub.com/content/early/2014/04/22/0956797614524581.abstract">&#8220;In three studies, we found that students who took notes on laptops performed worse on conceptual questions than students who took notes longhand.&#8221;</a></p></li>

<li><p><a href="http://www.overcomingbias.com/2014/04/more-broken-evals.html">Wages and performance reviews depend not on performance, but on politics.</a></p></li>

<li><p><a href="http://a-nice-place-to-live.blogspot.com/2014/04/gender-disparity-in-hollywood.html">&#8220;Most famously, the Bechdel test challenges films to feature (1) two or more female characters that (2) talk to each other about (3) something other than a man. Only ~56.7% of films pass all 3 conditions of the test.&#8221;</a></p></li>

<li><p>Pablo Picasso died <a href="http://en.wikipedia.org/wiki/Pablo_Picasso">in 1973</a>.</p></li>

<li><p><a href="http://en.wikipedia.org/wiki/George_Green">George Green was the first person to create a mathematical theory of electricity and magnetism.</a> He received only about one year of formal schooling as a child, between the ages of 8 and 9.</p></li>

<li><p>We may finally have <a href="http://www.nature.com/news/biomarkers-and-ageing-the-clock-watcher-1.15014">a biomarker for aging</a>. <a href="http://www.gwern.net/">Gwern</a> describes the significance: &#8220;The truly exciting part here is the possibility that his clock will not just be real, but it&#8217;ll be caused by aging and not just correlated through the myriads of possible pathways. If you get an actual biomarker for aging, it&#8217;ll revolutionize anti-aging studies by letting you test interventions in a decade with a small fraction of the humans you&#8217;d need with mortality-based methods.&#8221;</p></li>

<li><p>German doctors were the <a href="https://en.wikipedia.org/wiki/Anti-tobacco_movement_in_Nazi_Germany">first to identify the relationship between smoking and lung cancer</a>. As a result, Nazi Germany initiated a strong anti-tobacco movement and led the first public anti-smoking campaign in modern history.</p></li>

<li><p><a href="http://blog.regehr.org/archives/923">Stochastic superoptimizers are super cool.</a> The field (is it a field?) is basically concerned with using search to find the fastest possible implementation.</p></li>

<li><p>How the Putnam Competition <a href="http://www.math.uiuc.edu/~reznick/putnam.pdf">is written</a>. &#8220;It used to be said that a Broadway musical was a success if the audience left the theater whistling the tunes. I want to see contestants leave the Putnam whistling the problems.&#8221;</p></li>

<li><p><a href="http://news.stanford.edu/news/2014/april/walking-vs-sitting-042414.html?hn">The overwhelming majority of the participants in these three experiments were more creative while walking than sitting, the study found.</a></p></li>

<li><p><a href="http://rjlipton.wordpress.com/2009/09/22/its-all-algorithms-algorithms-and-algorithms/">&#8220;all the advances in computational complexity theory, all advances, have been from the discovery of new algorithms&#8221;</a></p></li>

<li><p>Don Knuth, author of <em>The Art of Computer Programming</em>, has <a href="http://www-cs-faculty.stanford.edu/~uno/retd.html">a nontechnical reading list</a>. &#8220;I read very slowly.&#8221;</p></li>

<li><p><a href="http://www.dartthrowingchimp.wordpress.com/2014/04/30/alarmed-by-iraq/">About 1000 Iraqi civilians are killed each month.</a></p></li>

<li><p><a href="http://www.sciencedaily.com/releases/2014/04/140428120659.htm">&#8220;people using a foreign language make substantially more utilitarian decisions&#8221;</a></p></li>

<li><p><a href="http://econlog.econlib.org/archives/2014/04/feminizing_fami.html">Men are more likely than women to starve during a famine.</a></p></li>

<li><p>It&#8217;s pretty well known that women&#8217;s mate preferences change across the menstrual cycle &#8212; something that&#8217;s been mentioned on this blog a few times before. A <a href="http://emr.sagepub.com/content/early/2014/03/24/1754073914523073.abstract">recent meta-analysis</a> finds little support for this hypothesis. (HT: <a href="http://slatestarcodex.com/2014/05/01/links-for-may-2014/">Scott Alexander</a>)</p></li>

<li><p>And here&#8217;s some commentary in <em>Emotion Review</em> on how <a href="http://www.christopherjferguson.com/Emotion%20Review.pdf">no one listens to meta-analyses anyways</a>.</p></li>

<li><p><a href="http://isites.harvard.edu/fs/docs/icb.topic107502.files/Iannaccone.Market_for_Martyrs.pdf">&#8220;In nearly all respects – economically, socially, psychologically – the typical cult converts tested out normal. Moreover, nearly all those who left cults after weeks, months, or even years of membership showed no sign of physical, mental, or social harm.&#8221;</a></p></li>

<li><p>This longitudinal study of psychedelics (such as LSD) finds that <a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0063972">they&#8217;re associated with <em>better</em> mental health</a>. Also, &#8220;A case-control study of Native Americans failed to find any evidence of cognitive or mental health deficits among people who regularly used peyote in religious services compared to those who did not use peyote, rather total lifetime peyote use (mean 300 occasions, range 150–500) was associated with overall better mental health.&#8221;</p></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
