<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Prolonged Eye Contact and Attraction: What The Science Tells Us &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/prolonged-eye-contact-attraction-science-tells-us/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/prolonged-eye-contact-attraction-science-tells-us/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Prolonged Eye Contact and Attraction: What The Science Tells Us</h1>
  <time datetime=2014-06-01T23:27:38Z class="post-date">Sun, Jun 1, 2014</time>
  

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><a href="https://rs.io/wp-content/uploads/2014/09/valentines-day-squid.png"><img class="aligncenter size-full wp-image-515" src="https://rs.io/wp-content/uploads/2014/09/valentines-day-squid.png" alt="valentines-day-squid" width="500" height="1267" srcset="https://rs.io/wp-content/uploads/2014/09/valentines-day-squid.png 500w, https://rs.io/wp-content/uploads/2014/09/valentines-day-squid-118x300.png 118w, https://rs.io/wp-content/uploads/2014/09/valentines-day-squid-404x1024.png 404w" sizes="(max-width: 500px) 100vw, 500px" /></a></p>

<p>Belladonna means &#8220;beautiful woman&#8221; in Italian, but it&#8217;s also the name of a type of plant. The origins of the term belladonna are uncertain, but date back to at least 1554.</p>

<p>It&#8217;s been suggested (and this is my favorite theory) that the name might be related to belladonna&#8217;s use as a cosmetic. Women would consume the plant in order to dilate their pupils, in an attempt to enhance beauty.</p>

<p>The only problem? Belladonna (sometimes called nightshade) is poisonous.</p>

<p>Richard Pultney&#8217;s 1757 paper, &#8220;<a href="http://www.jstor.org/stable/105237">A brief botanical and medical history of the Solanum Lethale, Bella-donna, or Deadly Nightshade</a>,&#8221; recounts this tale:</p>

<blockquote>
<p>Its relaxing quality is very surprising, as appears by that memorable case&#8230; of a lady&#8217;s applying a leaf of it to a little ulcer, suspected to be of the cancerous kind, a little below her eye, which rendered the pupil so paralytic, that it lost all its motion for some time afterward: and that this event was really owing to that application, appears from the experiment&#8217;s being repeated with the same effect three times.</p>
</blockquote>

<p><a href="https://rs.io/wp-content/uploads/2014/09/belladonna-in-eye.png"><img class="aligncenter size-full wp-image-514" src="https://rs.io/wp-content/uploads/2014/09/belladonna-in-eye.png" alt="belladonna-in-eye" width="500" height="415" srcset="https://rs.io/wp-content/uploads/2014/09/belladonna-in-eye.png 500w, https://rs.io/wp-content/uploads/2014/09/belladonna-in-eye-300x249.png 300w" sizes="(max-width: 500px) 100vw, 500px" /></a>But they were really onto something! This is the craziest part of the whole thing. (Suffering for fashion is passé.) <a href="http://psycnet.apa.org/psycinfo/1965-09555-001">Hess (1965)</a> took two pictures of the same woman and presented it to male subjects and asked them to describe the woman</p>

<p>in the picture. The researchers altered the photos so that one had slightly larger pupils. By and large, the male subjects preferred the woman with the larger pupils.</p>

<p>Try it:</p>

<p><a href="https://rs.io/wp-content/uploads/2014/09/woman-small-pupils.png"><img class="aligncenter size-full wp-image-513" src="https://rs.io/wp-content/uploads/2014/09/woman-small-pupils.png" alt="woman-small-pupils" width="457" height="163" srcset="https://rs.io/wp-content/uploads/2014/09/woman-small-pupils.png 457w, https://rs.io/wp-content/uploads/2014/09/woman-small-pupils-300x107.png 300w" sizes="(max-width: 457px) 100vw, 457px" /></a></p>

<p><a href="https://rs.io/wp-content/uploads/2014/09/woman-large-pupils.png"><img class="aligncenter size-full wp-image-512" src="https://rs.io/wp-content/uploads/2014/09/woman-large-pupils.png" alt="woman-large-pupils" width="461" height="167" srcset="https://rs.io/wp-content/uploads/2014/09/woman-large-pupils.png 461w, https://rs.io/wp-content/uploads/2014/09/woman-large-pupils-300x108.png 300w" sizes="(max-width: 461px) 100vw, 461px" /></a></p>

<p>(The one on the bottom is the one that you&#8217;re supposed to find more attractive, although I&#8217;ve just terrifically biased you by telling you that.)</p>

<p>This has since been <a href="http://www.amsciepub.com/doi/abs/10.2466/pms.1979.49.1.27?journalCode=pms">replicated</a> <a href="http://europepmc.org/abstract/MED/1188340">at</a> <a href="http://link.springer.com/article/10.3758/BF03331131">least</a> <a href="http://link.springer.com/article/10.3758/BF03329742">five</a> <a href="https://www.google.com/search?q=Pupillometry+A+sexual+selection+approach&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;rls=org.mozilla:en-US:official&amp;client=firefox-a&amp;channel=sb">times</a>.</p>

<p>Let&#8217;s just take a minute and reflect on this. Women in 16th century Italy anticipated the findings of modern scientific research by about 400 years. They not only discovered that belladonna reliably increases pupil size, but they <em>also noticed that men were attracted to that.</em></p>

<p>I propose a hypothesis similar to the efficient markets hypothesis. We&#8217;ll call it <strong>the efficient beauty hypothesis</strong>: if a beauty-increasing cosmetic intervention exists, some enterprising individual somewhere will discover it.</p>

<p>You might wonder, then: are women interested in men with large pupils? Tombs and Silverman&#8217;s 2004 paper, <a href="http://www.sciencedirect.com/science/article/pii/S1090513804000261">&#8220;Pupillometry: A sexual selection approach&#8221;</a> tried to answer this question. The paper includes this graph:</p>

<div id="attachment_511" style="width: 981px" class="wp-caption aligncenter">
  <a href="https://rs.io/wp-content/uploads/2014/09/graph-pupil-size-attraction.png"><img class="size-full wp-image-511" src="https://rs.io/wp-content/uploads/2014/09/graph-pupil-size-attraction.png" alt="The realtionship between prolonged eye contact and attraction." width="971" height="497" srcset="https://rs.io/wp-content/uploads/2014/09/graph-pupil-size-attraction.png 971w, https://rs.io/wp-content/uploads/2014/09/graph-pupil-size-attraction-300x153.png 300w" sizes="(max-width: 971px) 100vw, 971px" /></a>
  
  <p class="wp-caption-text">
    The relationship between prolonged eye contact and attraction.
  </p>
</div>

<p>You&#8217;ll notice that women find average pupil sizes (on men) the most attractive, while men subscribe to the Texan, bigger-is-better philosophy. The authors additionally report that, &#8220;Further investigation revealed that females attracted by large pupils also reported preferences for proverbial bad boys as dating partners.&#8221;</p>

<p>At this point, you might wonder <em>why</em> men find large pupils attractive. And, of course, evolution has good reason for that, as confirmed by <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Women%27s%20pupillary%20responses%20to%20sexually%20significant%20others%20during%20the%20hormonal%20cycle">a 2007 study</a>:</p>

<blockquote>
<p>We found an increase in mean pupil diameter for sexually significant stimuli during the fertile phase and this pupillary change was also specific to pictures of the participants&#8217; actual sexual partners. Moreover, this effect was only seen for women who did not use oral contraceptives. These findings confirm that women&#8217;s attention for sexually significant stimuli is higher during their fertile phase of the menstrual cycle, and that changes in sexual interest are implicitly measurable using pupillometry.</p>
</blockquote>

<p>Or, in plain English, fertile women tend to have larger pupils.</p>

<h2 id="motivation">Motivation</h2>

<p>In Elana Clift&#8217;s Honors thesis, <a href="http://www.actionseduction.com/freeseductionebooks/ElanaCliftThesis.pdf">&#8220;Picking Up and Acting Out: Politics of Masculinity in the Seduction Community,&#8221;</a> she argues that the &#8220;pick up artist&#8221; movement is the result of the lack of available dating scripts for young men. Back in, say, Victorian England, everyone knew how this whole relationship thing worked. Today, we&#8217;re all horribly confused.</p>

<p>I was sorta convinced by that for a while, and I think that explains some of it, but now I&#8217;m plagued by doubt. Lots of pick-up strikes me as actively toxic. I mean, yeah, especially to women &#8212; there are a disproportionate amount of vocal misogynists associated with the &#8220;manosphere&#8221; generally, but I mean to men, too: Pick-up is an advertiser&#8217;s wet dream. Nothing sells better than insecurity, and what more poignant insecurity than masculine identity and status anxiety about attractiveness? (Whenever you hear the phrase &#8220;real&#8221; men, ask what they&#8217;re selling.)</p>

<p>Of course, my concerns here are hardly limited to men, although I&#8217;m more familiar with the struggles of young men everywhere. Cosmopolitan magazine is the female-equivalent of pick-up, telling young women that they need to fit into some sort of mold in order to attract a guy &#8212; that they shouldn&#8217;t answer the phone on the first ring or whatever &#8212; and I&#8217;m sure lots more nonsense which isn&#8217;t even on my radar, but probably ought to be.</p>

<p>Which brings me to the topic at hand: eye contact. These unsavory actors sell <strong>prolonged eye contact</strong> as some sort of panacea. An actual example I found with 10 seconds of googling: &#8220;Master These Eye Contact Techniques To Create Powerful Attraction,&#8221; complete with tips that the author promised &#8220;will blow my mind.&#8221; (Hint: they didn&#8217;t.) Another blog targeted at &#8220;Helping men reclaim their masculinity and their relationships,&#8221; (gag) includes this gem: &#8220;&#8230;strong eye contact is difficult to maintain if you do not have the confidence to back it up (thus making it an honest signal).&#8221;</p>

<p>Yeah, right. Because if you don&#8217;t maintain strong eye contact, it&#8217;s because you lack confidence, and definitely not because you haven&#8217;t yet mastered the serial killer&#8217;s thousand yard stare.</p>

<p>Frankly, this all smacks of the purest bullshit. Evolution has spent billions of years and computational cycles optimizing male-female relations. If maintaining eye contact with your crush is so effective, why don&#8217;t people just do it naturally? Could advising people to maintain strong eye contact be harmful? Maybe unnaturally strong eye contact just comes off as creepy.</p>

<p>I decided to find out.</p>

<h2 id="the-evidence-on-prolonged-eye-contact">The Evidence on Prolonged Eye Contact</h2>

<p><a href="https://rs.io/wp-content/uploads/2014/09/research-montage.png"><img class="aligncenter wp-image-510 size-full" src="https://rs.io/wp-content/uploads/2014/09/research-montage.png" alt="An interlude during which the author does a lot of research." width="500" height="381" srcset="https://rs.io/wp-content/uploads/2014/09/research-montage.png 500w, https://rs.io/wp-content/uploads/2014/09/research-montage-300x228.png 300w" sizes="(max-width: 500px) 100vw, 500px" /></a></p>

<p>My (somewhat begrudging) subjective feeling after reading through 5 or 6 relevant papers is that, yes, the pick-up artists are right, the majority of men ought to be making more eye contact. The case for women is less clear. As far as I can tell, too much eye contact is always better than too little, and eye contact combined with a smile is difficult to get wrong.</p>

<p>My neat evolution-has-optimized-eye-contact argument has at least one damning flaw: children learn the association between eye contact and liking. It&#8217;s not innate.</p>

<blockquote>
<p>The association between gaze and liking appears to be learned. Children do not use eye contact to judge affiliation and friendship until about age 6 (Abramovitch &amp; Daly, 1978; Post &amp; Hetherington, 1974).</p>
</blockquote>

<p>Now, is there such thing as too much gaze? Yes. Moderate gaze is better than constant gaze:</p>

<blockquote>
<p>Gaze also influences people&#8217;s liking for each other, with moderate amounts of gaze generally preferred over constant or no gaze (Argyle, Lefebvre, &amp; Cook, 1974; Exline, 1971).</p>
</blockquote>

<p><em>Bu-u-u-ut</em> constant eye contact is still better than no eye contact:</p>

<blockquote>
<p>British college students rated a same-sex peer they met in an experiment as more pleasant and less nervous when the person gazed at them continuously rather than not at all (Cook &amp; Smith. 1975).</p>
</blockquote>

<p>Compare that with a <a href="http://link.springer.com/article/10.1007/BF01000735#page-1">mock interview study</a>, which had students either exhibit low, natural, or high gaze. Notably, researchers defined high gaze here as near-constant eye contact. They found no difference in likability between normal and high gaze:</p>

<blockquote>
<p>High-levels of gaze do not differ from normative gaze patterns in earning more favorable endorsements for hiring from an interviewer, in conferring greater credibility, in increasing attraction and in receiving favorable relational communication interpretations.</p>
</blockquote>

<p>Indeed, there were even some benefits to near-constant gaze. Interviewers labeled near-constant gazers (not to be confused with goats) as more attractive, more intimate, and more dominate than those who displayed normal levels of eye contact. So, again, more evidence that too much eye-contact is way better than too little.</p>

<p>Those who make lots of eye contact are even judged to be more intelligent (!):</p>

<blockquote>
<p>Wheeler, Baron, Michell, and Ginsburg (1979) reported a positive correlation between an interviewee&#8217;s eye contact with an interviewer and estimates made by observers of the interviewee&#8217;s intelligence.</p>
</blockquote>

<p>And it&#8217;s not even confined to those you look at. If someone sees you making a lot of eye contact with someone, they&#8217;ll like you more than if you didn&#8217;t:</p>

<blockquote>
<p>The positive feelings associated with gaze generalize to observers, who favor people when they gaze at moderate rather than low levels while approaching others (Gary. 1978a) or in social interactions (Abele, 1981; Shrout &amp; Fiske, 1981).</p>
</blockquote>

<p>Of course, people like it most of all when you look at them, which a 2005 study, &#8220;<a href="http://pss.sagepub.com/content/16/3/236.short">The look of love: gaze shifts and person perception,</a>&#8221; verified.</p>

<blockquote>
<p>Ratings of likability were elevated when social attention was directed toward rather than away from the raters.</p>
</blockquote>

<p>In the same study, men rated women who paid attention to them not only as more likable, but more attractive, too:</p>

<blockquote>
<p>Whereas gaze cues elevated ratings of likability among both male and female participants, only the men displayed gaze-related effects on person evaluation when the physical attractiveness of the targets was assessed.</p>
</blockquote>

<p>Here&#8217;s another belief I held that turns out to be wrong. I&#8217;ve observed that people look at the speaker while listening, and look away while speaking. But this turns out to be totally okay to violate (surprise!) and you can stare all the time if you want (or, at least, high status people do it):</p>

<blockquote>
<p>Equivalent amounts of gazing while speaking and listening were found with research participants who were given high status or who were discussing issues on which they had expertise (Ellyson, Dovidio, &amp; Corson, 1981; Ellyson, Dovidio, Corson. &amp; Vinicur. 1980).</p>
</blockquote>

<p>And more eye contact makes you more powerful:</p>

<blockquote>
<p>Dovidio and Ellyson (1982) reported that high gazing-while-speaking ratios were directly related to ratings of power in an interaction.</p>
</blockquote>

<p>Want to make friends? Have you tried staring at people?</p>

<blockquote>
<p>College women gazed more at a female confederate when they were trying to make friends (Pellegrini, Hicks, &amp; Gordon, 1970), and college men gazed more at a woman when they wanted to interest her in a social conversation (Lefebvre, 1975).</p>
</blockquote>

<p>It even holds for imaginary friends!</p>

<blockquote>
<p>Mehrabian (I968a, 1968b) reported that research participants gazed more when they approached an imaginary person they liked rather than disliked.</p>
</blockquote>

<p>And real ones, too:</p>

<blockquote>
<p>Russo (1975) reported greater amounts of eye contact between elementary school children who were friends rather than nonfriends.</p>
</blockquote>

<h2 id="what-does-eye-contact-mean-though">What does eye contact mean, though?</h2>

<p>While doing keyword research for this, I noticed that a lot of men and women are confused about <em>what prolonged eye contact means</em>. Does it indicate sexual interest? Well, it definitely can!:</p>

<blockquote>
<p>Participants in a study by Griffitt, May, and Veitch (1974) gazed more at opposite-sex peers when they had previously been exposed to sexually arousing slides.</p>
</blockquote>

<p>It might even imply that you&#8217;re smokin&#8217; hot (and trust me, gentle reader, you totally <em>are</em>):</p>

<blockquote>
<p>Coutts and Schneider (1975) reported positive correlations between gaze directed by research participants toward opposite-sex peers and experimenter ratings of the peers&#8217; physical attractiveness.</p>
</blockquote>

<p>But not always. People will look at you more even if you&#8217;re just plain nice to them:</p>

<blockquote>
<p>People gazed more after receiving positive evaluations (Coutts, Schneider, &amp; Montgomery, 1980; Exline &amp; Winters, 1965; Walsh et al., 1977) or warm nonverbal responses (Ho &amp; Mitchell, 1982).</p>
</blockquote>

<h2 id="is-eye-contact-ever-bad">Is eye contact ever bad?</h2>

<p>Even if you&#8217;re hitchhiking, more eye contact is better:</p>

<blockquote>
<p>Drivers were more likely to stop for gazing hitchhikers (M. Snyder, Grether, &amp; Keller. 1974), pedestrians were more likely to help a gazing experimenter pick up dropped coins (Valentine, 1980) and dropped questionnaires (Goldman &amp; Fordyce, 1983), and bystanders were more likely to help an injured gazing jogger (Shetland &amp; Johnson, 1978).</p>
</blockquote>

<p>Or when you&#8217;re buying cereal, according to the 2014 study, <a href="http://eab.sagepub.com/content/early/2014/03/27/0013916514528793">&#8220;Why Is Cap’n Crunch Looking Down at My Child?&#8221;</a>:</p>

<blockquote>
<p>We showed that eye contact with cereal spokes-characters increased feelings of trust and connection to the brand, as well as choice of the brand over competitors</p>
</blockquote>

<p>Now, you might wonder: are there ever times where you shouldn&#8217;t make so much eye contact? Well, when waiting for a green light:</p>

<blockquote>
<p>Ellsworth et al., (1972) and Greenbaum and Rosenfeld (1978) had experimenters stand on street corners and gaze constantly or not at all at pedestrians and motorists who were waiting for a red light. When the light changed to green, pedestrians and drivers crossed the intersection significantly faster when they had received constant gaze from the experimenter.</p>
</blockquote>

<p>But just dress nice and you&#8217;re okay:</p>

<blockquote>
<p>For example, pedestrians did not cross the street as fast to escape a staring experimenter when the experimenter was dressed and made up to be physically attractive (Kmiecik, Mausar, &amp; Banziger, 1979)</p>
</blockquote>

<p>Or add a smile:</p>

<blockquote>
<p>People were also less likely to avoid a staring experimenter when the experimenter smiled (Elman, Schulte. &amp; Bukoff. 1977).</p>
</blockquote>

<h2 id="sex-differences">Sex Differences</h2>

<p>It turns out, though, that there are sex differences. Women (on average) respond positively to lots of eye contact, while men prefer less. For instance, if you want a female friend to reveal all her secrets, eye contact is good:</p>

<blockquote>
<p>Female speakers disclosed more personal information about themselves to listeners who gazed. Female speakers also liked gazing listeners more than nongazing listeners. (Ellsworth and Ross 1975)</p>
</blockquote>

<p>For men, though, the opposite is true:</p>

<blockquote>
<p>Male speakers, in contrast, disclosed more and felt greater liking when the listener did not gaze.</p>
</blockquote>

<p>A similar phenomenon holds with asking for help when picking up coins:</p>

<blockquote>
<p>For example, women gave more help in picking up dropped coins to a female experimenter who gazed at them (Valentine &amp; Ehrlichman, 1979). Men gave more help to a male experimenter who did not gaze at them.</p>
</blockquote>

<p>Women even like it when they&#8217;re told that a man looked at them an unusually high amount:</p>

<blockquote>
<p>Kleinke et al. (1973) introduced college men and women in pairs and left them in a room to get acquainted. After their conversation, an experimenter told participants that one person (whose gaze was supposedly recorded through a one-way mirror) had gazed at the other person an unusually high, an average, or an unusually low amount of the time. Women were most favorable toward men whose gaze had ostensibly been high.</p>
</blockquote>

<p>But not men:</p>

<blockquote>
<p>Men&#8217;s reactions were exactly opposite. Men were most favorable toward women when they were told the woman&#8217;s gaze or their own gaze had been low.</p>
</blockquote>

<p>I wonder if this is just male insecurity? If I was told some chick had been staring at me, I might wonder, &#8220;Is there something wrong with my hair? Has one of my legs grown two legs and walked off of its own volition?&#8221;</p>

<h2 id="does-eye-contact-cause-love">Does eye contact cause love?</h2>

<blockquote>
<p>To see is to devour.</p>

<p><span id="quote-attribute">—Victor Hugo, <em>Les Misérables</em></span></p>
</blockquote>

<p>Finally, though, what you really want to know: if I maintain eye contact with my crush, will they fall madly and deeply in love with me? Well, sorta. If you convince someone to maintain eye contact with you for ~2 minutes, they&#8217;ll (on average) be more attracted to you. The experimenters in <a href="http://www.sciencedirect.com/science/article/pii/0092656689900202">this study</a> told their subjects to maintain eye contact in order to &#8220;tune their extra-sensory abilities&#8221; and, afterwards, they rated their partners as significantly more attractive than controls. Hey, worth a shot, right?</p>

<p>Actually, it turns out, just tricking your crush into thinking they look at you a lot is enough. (&#8220;Hey, Maria, why do you keep looking at me? Is it because you&#8217;re in lo-o-o-ove with me?&#8221;)</p>

<blockquote>
<p>In one of these, Kleinke, Bustos, Meeker, and Staneski (1973) did not actually induce their subjects to gaze at their partners. Instead the subjects were told that they had done so. This produced modest increases in attraction for the partner.</p>
</blockquote>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>If you want to settle down with a book on relationships, the best scientific overview I&#8217;ve read is the <a href="http://www.amazon.com/gp/product/0805861602/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0805861602&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=J7MP7IRDNPAXNKHL"><em>Handbook of Relationship Initiation</em></a>. For lighter fare, <a href="http://www.amazon.com/gp/product/B00486U8N6/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00486U8N6&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=BYSS6N4GKK3VYNYC"><em>The Moral Animal</em></a> is pretty entertaining.</li>
<li>If you liked this, you&#8217;ll love the Social Issues Research Centre&#8217;s <a href="http://www.sirc.org/publik/flirt.html">&#8220;Guide to Flirting.&#8221;</a></li>
<li>If you want to dive into the original sources for yourself (or look up references), start with <a href="http://libgen.org/scimag/get.php?doi=10.1037%2F0033-2909.100.1.78">&#8220;Gaze and eye contact: a research review,&#8221;</a> which is where the bulk of this information came from. (Where it didn&#8217;t, I&#8217;ve indicated in the text.)</li>
<li>One of the most useful bits of research to come out of the study of human relationships is the notion of the <a href="http://en.wikipedia.org/wiki/Mere-exposure_effect">&#8220;mere exposure effect&#8221;</a> which suggests that the more you see someone (or something), the more you&#8217;ll come to like them.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
