<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>More Links For February &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/links-february-2/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>More Links For February</h1>
  <time datetime=2014-02-20T02:36:32Z class="post-date">Thu, Feb 20, 2014</time>
  <ul>
<li><p><a href="http://www.ncbi.nlm.nih.gov/pubmed/24479528?dopt=Abstract">Users with many Facebook friends are less likely to post about politics and gay rights</a>. This sorta replicates <a href="http://blog.okcupid.com/index.php/how-races-and-religions-match-in-online-dating/">what OkCupid discovered</a> a few years back &#8212; &#8220;People who hold their beliefs lightly are much better liked, even by people who are themselves serious.&#8221; So, don&#8217;t take anything seriously, and when your girlfriend complains that &#8220;you&#8217;re never serious,&#8221; ask her if her best friend is still single and what is her number again? <a href="http://marginalrevolution.com/marginalrevolution/2014/02/do-more-popular-people-shy-away-from-controversial-facebook-discussions.html">Discussion here.</a></p></li>

<li><p><a href="http://en.wikipedia.org/wiki/Mesonychid">Hoofed carnivores used to exist,</a> sorta like man-eating horses &#8212; the stuff of nightmares. They may have <a href="http://en.wikipedia.org/wiki/Evolution_of_cetaceans">evolved into whales</a>.</p></li>

<li><p>In 2007, a mutation of the RIMS1 gene <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2740882/">was discovered</a>. It&#8217;s unique to a single a Scottish family. Those with the mutation have verbal IQs between 17 and 50+ points higher than kin without the mutation. The downside? The mutation blinds you after age 20. The real question: When is science going to engineer this into a pill so that I can trade my sight for +50 IQ?</p></li>

<li><p><a href="http://www.cell.com/neuron/abstract/S0896-6273%2810%2900006-1">Resting after activities with high memory load enhances activity in brain regions associated with memory consolidation</a>. Or, less formally, taking breaks during studying is a good idea, says neuroscience. This dovetails nicely with gwern&#8217;s recommendation to <a href="http://www.gwern.net/Spaced%20repetition?2#when-to-review">do Anki reviews prior to sleep</a>. (As an aside, gwern&#8217;s article on spaced repetition is one of my favorite things on the internet.)</p></li>

<li><p><a href="http://asr.sagepub.com/content/78/1/26">Men who do more housework are less likely to get laid</a>. Cue feminists with all kinds of &#8220;explanations&#8221;, which are &#8212; as you might expect &#8212; even less convincing than the paper itself. I especially like the argument, &#8220;If men aren&#8217;t getting sex then women aren&#8217;t getting sex, either.&#8221; Thank you. I will be sure to point that out to all the third-graders who haven&#8217;t yet figured out that men value sex more than women &#8212; what&#8217;s that you say? <a href="http://www.carlsonschool.umn.edu/assets/71503.pdf">Some sort of sexual marketplace?</a> Discussions <a href="http://scientopia.org/blogs/drugmonkey/2014/02/07/guys-who-do-more-housework-get-less-sex/">here</a> and <a href="http://andrewgelman.com/2014/02/08/guys-housework-get-less-sex/">here</a>.</p></li>

<li><p>Speaking of a sexual marketplace, <a href="http://jezebel.com/sex-is-not-an-economy-and-you-are-not-merchandise-1524954631">here&#8217;s what happens when you confront the worst sort of politically-mindkilled feminist with the sex-as-marketplace frame</a>. It&#8217;s not pretty. <a href="https://rs.io/criticism-of-economics/">This</a> is a better critique. I know it&#8217;s better because I wrote it.</p></li>

<li><p>Preacher believes God will protect him from snake bites. Preacher handles poisonous snake. Snake bites preacher. Preacher refuses medical treatment. <a href="http://www.cnn.com/2014/02/16/us/snake-salvation-pastor-bite/">Preacher dies</a>. The implications are left as an exercise for the reader. (Hint: the implications are atheism.)</p></li>

<li><p>Science confirms &#8212; <a href="http://www.sciencedirect.com/science/article/pii/0022103167900017">if you want to persuade someone, insulting them is a bad idea</a>, but only idiots don&#8217;t already believe that.</p></li>

<li><p><a href="http://www.sciencedirect.com/science/article/pii/S0191886914000324">Enjoyment of internet trolling correlates with measures of sadism, psychopathy, and Machiavellianism.</a> Given the amount of trolling I&#8217;ve engaged in, this has some not-so-nice implications for my character. (But hey, you&#8217;d figured that out already, right?) I&#8217;m calling it now: given that <a href="http://www.sciencedirect.com/science/article/pii/S0191886913012245">psychopaths are attractive</a>, internet trolls &#8212; as they have long been telling us &#8212; have more success with women than matched controls (and most of that success is thanks to your mom.)</p></li>

<li><p><a href="http://pnas.tipsofwomenhealth.com/cgi/content/full/107/40/17433">Treating healthy controls with an anti-depressant reduces the likelihood that they will make utilitarian-style judgments</a> &#8212; SSRIs make people fail the <a href="http://en.wikipedia.org/wiki/Trolley_problem">trolley problem.</a> (Let&#8217;s be honest. If you&#8217;re not sacrificing one life to save five, you&#8217;ve failed.) Unfortunately, my further research didn&#8217;t turn up any studies on the relationship between moral judgments and mood disorders. I wanted to know if depressives are more likely to make utilitarian judgments. <a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0025148#pone-0025148-g001">One study</a> suggests that having the &#8220;bad&#8221; 5-HTTLPR genotype, which is <a href="http://en.wikipedia.org/wiki/5-HTTLPR#Neuropsychiatric_disorders">maybe associated with mood disorders</a>, results in <em>less</em> utilitarian judgment. However, the study itself filtered all participants with a history of affective disorders, rendering it mostly worthless.</p></li>

<li><p>Those who don&#8217;t know calculus are doomed to rediscover it: <a href="http://care.diabetesjournals.org/content/17/2/152.abstract">Dr. Mary Tai invents an exciting new way to approximate the area under a curve using trapezoids and is cited over 200 times.</a> She dubs this new rule, &#8220;Tai&#8217;s rule,&#8221; and for addition to my this-is-definitely-absolutely-not-a-proof list, &#8220;The validity of each model was verified&#8230; by plotting the curve on graph paper and counting the number of small units under the curve.&#8221; Discussion <a href="http://www.reddit.com/r/math/comments/1xfa8p/medical_paper_claiming_to_have_invented_a_way_to/">here</a>.</p></li>

<li><p>A caribou is a reindeer and <a href="http://www.reddit.com/r/AskReddit/comments/1xh4qg/what_were_you_dead_wrong_about_until_recently/">other inspiring tales of people updating their beliefs</a>.</p></li>

<li><p><a href="http://www.andrewoswald.com/docs/SentVotingLottery12014PowdthaveeOs.pdf">Winning the lottery makes people more right-wing</a>. The larger the win, the further to the right people shift. The paper &#8220;explains&#8221; this as (paraphrased) &#8220;humans are rational actors and vote out of self interest.&#8221; Ah, the good ol&#8217; nonsense-as-explanation approach. Bold move. Your vote is negligible, as are your political leanings. It&#8217;s noise. The self-interest thing is to use politics as an opportunity for signalling social desirability, e.g. &#8220;I vote because I&#8217;m so moral. We should be friends.&#8221; <a href="http://marginalrevolution.com/marginalrevolution/2014/02/does-money-make-lottery-winners-more-right-wing.html">Discussion.</a></p></li>

<li><p>George Price discovered the game theoretic explanation of altruism (<a href="http://en.wikipedia.org/wiki/Kin_selection">kin selection</a>) thus showing us the path via which altruism evolved from selfish genes. The rest of his life is a story straight out of Lovecraft. Price, unable to deal with the ramifications, began an unending escalation of random acts of kindness in an attempt to prove his theory wrong, even dedicating his life to the homeless (who responded by stealing his belongings.) Finally, after being thrown out of his apartment, Price <a href="http://en.wikipedia.org/wiki/George_R._Price">slit his own throat with nail scissors</a>, killing himself.</p></li>

<li><p>The BBC has <a href="http://jezebel.com/bbc-bans-all-male-panel-shows-but-will-that-help-femal-1520212829">banned all-male panel comedy shows</a>, in an attempt to help women compete with their male counterparts. This follows on the heels of <a href="http://gawker.com/who-cares-about-diversity-in-comedy-says-jerry-seinf-1515412052">social justice warriors&#8217; complaints</a> that Jerry Seinfeld&#8217;s <a href="http://comediansincarsgettingcoffee.com/"><em>Comedians in Cars Getting Coffee</em></a> is too male and too white. 7 years later, Christopher Hitchens&#8217;s essay on <a href="http://www.vanityfair.com/culture/features/2007/01/hitchens200701">&#8220;Why Women Aren&#8217;t Funny&#8221;</a> remains prescient.</p></li>

<li><p>During the Cold War, many American agents were caught because <a href="http://articles.chicagotribune.com/2001-07-22/travel/0107210216_1_kgb-fsb-museum/2">their phony passports used stainless steel staples</a>. The staples in the Soviet passports would corrode with time, while the fake American ones would not. I imagine spies travelling back in time from the future would experience similar problems.</p></li>

<li><p><a href="http://en.wikipedia.org/wiki/White_chocolate">There is no chocolate in white chocolate.</a></p></li>

<li><p>A <a href="http://www.ncsu.edu/chass/philo/GRE%20Scores%20by%20Intended%20Graduate%20Major.htm">list of average GRE scores by intended graduate major</a>. It&#8217;s interesting to note that philosophy graduate students tend to be strong across disciplines. Still, I would not read too much into this given the <a href="http://en.wikipedia.org/wiki/Graduate_Record_Examinations#Weak_predictor_of_graduate_school_performance">meager predictive value of GRE scores</a>.</p></li>

<li><p>Jones et al. have a new paper out on the relationship between age and scientific genius. Spoilers: <a href="http://www.nber.org/papers/w19866.pdf">great scientific output peaks in middle age</a>. The paper further finds that the average age of great scientific achievement has been increasing with time. This supports the hypothesis that <a href="http://blogs.wsj.com/ideas-market/2011/02/07/the-difficulty-of-making-new-discoveries/#">scientific progress is becoming more difficult over time</a> as the low-hanging fruit diminishes. For a hilarious essay on this phenomena in computer hardware architecture, check out <a href="https://www.usenix.org/system/files/1309_14-17_mickens.pdf">&#8220;The Slow Winter.&#8221;</a></p></li>

<li><p>Scott has written <a href="http://slatestarcodex.com/2014/02/14/bad-dreams/">a post on the creepiness of sleep disorders</a>, which includes <a href="http://en.wikipedia.org/wiki/Homicidal_sleepwalking#Parks_case">the story</a> of a man who drove 10 miles and then murdered his mother-in-law <em>while asleep.</em> The two were on good terms.</p></li>

<li><p><a href="http://thearf.org/images/uploads/documents/2013_Ogilvy-Awards_Case-Study_Procter-Gamble.pdf">Have you noticed how all the advertising for the winter olympics is weirdly mom-oriented?</a></p></li>

<li><p><a href="http://web.natur.cuni.cz/~houdek3/papers/Muchnik%20et%20al%202013.pdf">Upvoting an individual post increases the final ratings of that post by 25% on average, says science.</a> This has serious implications for sculpting online discussions, e.g. If I were running a political campaign, you can bet that I&#8217;d be paying someone to go around upvoting anything positive about my candidate. Other strategies include building voting rings with friends or creating a dummy account to upvote everything you write in order to increase your impact.</p></li>

<li><p>There is a nice paper <a href="http://psy.swan.ac.uk/staff/stewart-williams/publications/Stewart-Williams%20&amp;%20Thomas,%202013.pdf">here</a> that argues that sex differences are often exaggerated in evolutionary psychology. It includes facts like: 2-4% of men regularly visit prostitutes and <a href="http://pss.sagepub.com/content/22/9/1191.short">power increases infidelity among both men and women.</a></p></li>

<li><p>I have seen <a href="http://johnkcurriculum.blogspot.com/2009/12/preston-blair-lessons-fundamentals-of.html">this cartoon drawing tutorial</a> recommended by professional cartoonists more than once.</p></li>

<li><p>The <a href="http://en.wikipedia.org/wiki/Kola_Superdeep_Borehole">Kola Superdeep Borehole</a> was a project to dig as deep into the Earth&#8217;s crust as possible, just because. This is the perfect set-up for a horror novel. &#8220;In 1985, the Soviet Union began a project to dig deeper into the Earth&#8217;s crust than ever before. After 12 years and 7 miles, they unleashed something terrible&#8230;&#8221;</p></li>

<li><p>John Baez, as part of an interview with Luke Muelhauser and the Machine Intelligence Research Institute has <a href="http://johncarlosbaez.wordpress.com/2014/02/18/finding-and-solving-problems">written up his intellectual habits</a>, which include learning as much as possible about everything, looking for gaps, compressing knowledge and climbing the ladder of abstraction, a list of questions for doing so, analogy charts, and keeping a list of open problems. It&#8217;s in the same class as works like Gian-Carlo Rota&#8217;s <a href="http://alumni.media.mit.edu/~cahn/life/gian-carlo-rota-10-lessons.html">&#8220;Ten Lessons I wish had been Taught&#8221;</a> and Richard Hamming&#8217;s <a href="http://www.cs.virginia.edu/~robins/YouAndYourResearch.html">&#8220;You and Your Research,&#8221;</a> which are also good reads.</p></li>

<li><p><a href="http://www.thenation.com/article/178344/distorting-russia">American media on Russia today are less objective, less balanced, more conformist and scarcely less ideological than when they covered Soviet Russia during the Cold War.</a></p></li>

<li><p><a href="http://hbdchick.wordpress.com/2014/02/19/who-needs-academic-freedom-anyway/">Harvard alum proposes ditching academic freedom in favor of what she calls &#8220;academic justice.&#8221;</a> In plain English, &#8220;people should be able to say whatever they like, so long as me and the rest of my gang of thugs agree with it.&#8221; Observe the now fashionable rhetorical technique of those on the far-left to coat their ham-handed attempts at limiting free speech with a social-justicey, pseudo-moral veneer &#8212; &#8220;I want more women in my field and open borders not because women and immigrants overwhelmingly support my politics, but because I&#8217;m such a caring person.&#8221;</p></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
