<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>GUIDE: the best place to buy land for homesteading &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/the-best-place-to-buy-land-for-homesteading/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/the-best-place-to-buy-land-for-homesteading/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>GUIDE: the best place to buy land for homesteading</h1>
  <time datetime=2019-06-10T15:17:05Z class="post-date">Mon, Jun 10, 2019</time>
  

<p>There is no clean, &#8220;one size fits all&#8221; answer to the question, &#8220;Where is the best place to buy land for homesteading?&#8221; Any answer requires careful consideration of the preferences of the asker: I have a very good friend who is tragically allergic to anything green. Pollen torments him as a nightmare&#8217;s take on pixie dust. He mows the lawn and his skin cracks into sores. &#8220;You&#8217;d do well in the desert, or on a mountain,&#8221; I tell him.</p>

<p>My dad&#8217;s the opposite&#8211;he gets immense satisfaction from manicuring his lawn. &#8220;You ought to start a lawn service,&#8221; I tell him.</p>

<h4 id="what-8217-s-your-comparative-advantage">What&#8217;s your comparative advantage?</h4>

<p>This contrast between the pollen tormented versus the lawn enthusiast is an example of <em>comparative advantage.</em> A lawn service run by the lawn enthusiast makes sense. A lawn service run by the lawn allergic doesn&#8217;t. One of them has a comparative advantage over the other. What&#8217;s yours?</p>

<p>You&#8217;ve probably heard it said that &#8220;cheap land is cheap for a reason.&#8221; This is half of a good point. Fully considered the statement ought to be, <strong>&#8220;Cheap land is cheap for a reason. When that reason doesn&#8217;t apply to you, buy that land.&#8221;</strong><figure class="wp-block-image"></p>

<p><img src="https://rs.io/wp-content/uploads/2019/06/2019-06-10T092001-0500-cheaplandjpg-215-MiB-Krita.png" alt="" class="wp-image-228" srcset="https://rs.io/wp-content/uploads/2019/06/2019-06-10T092001-0500-cheaplandjpg-215-MiB-Krita.png 799w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T092001-0500-cheaplandjpg-215-MiB-Krita-300x81.png 300w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T092001-0500-cheaplandjpg-215-MiB-Krita-768x208.png 768w" sizes="(max-width: 799px) 100vw, 799px" /></figure></p>

<p><strong>Example:</strong> The Amish often go for acreage in areas that cannot easily be connected to the electric grid. To them, this is not a downside (they have no intention of connecting to the grid) but this also means there is little competition for the land. It can be had for cheap.</p>

<p><strong>What are your strengths?</strong></p>

<p>In my home state of Illinois, land is expensive. It&#8217;s flat and the soil is great, which makes it perfect for farming with ultra-efficient machines that cost hundreds of thousands of dollars. The result is that the land is mostly owned (or rented) by giant corporate farms: they have the necessary capital to afford the technology to make the most productive use of it.</p>

<p>Individual homesteaders (like <em>you</em>) are better off with land at the other end of the spectrum. Land with quirks. Land that resists machinery. Land with rocks and hills, like that in Appalachia or the Ozarks. (I&#8217;ll cover these especially promising regions in more detail later.)</p>

<p>Buy land that plays to your strengths. Ask yourself,</p>

<h4 id="what-are-you-planning-to-produce">What are you planning to produce?</h4>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/2019-06-10T092755-0500-eddyklaus33079unsplashjpg-Modified-207-MiB-Krita.png" alt="" class="wp-image-230" srcset="https://rs.io/wp-content/uploads/2019/06/2019-06-10T092755-0500-eddyklaus33079unsplashjpg-Modified-207-MiB-Krita.png 797w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T092755-0500-eddyklaus33079unsplashjpg-Modified-207-MiB-Krita-300x116.png 300w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T092755-0500-eddyklaus33079unsplashjpg-Modified-207-MiB-Krita-768x297.png 768w" sizes="(max-width: 797px) 100vw, 797px" /></figure>
</div>

<p>See, the problem faced by a would-be homesteader looking for land is a lot like that of an industrialist trying to determine where to place his next factory or a farmer deciding what acreage to buy. Both choices crucially depend on what they intend to produce: some land is ideal for growing corn, some for strawberries. Some regions have cheap electricity, good for mining bitcoin, while others have cheap lumber, ideal for a furniture maker.</p>

<p><strong>What will you {grow, craft, build, trade, create, sell}, and what sort of property would support that?</strong></p>

<p>This is a hard question to answer straight on; it&#8217;s better to come at it sideways.</p>

<p><strong>What could you barter with your neighbors?</strong></p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/missedinhistory-podcasts-wp-content-uploads-sites-99-2015-09-johnny-appleseed.jpg" alt="" class="wp-image-217" srcset="https://rs.io/wp-content/uploads/2019/06/missedinhistory-podcasts-wp-content-uploads-sites-99-2015-09-johnny-appleseed.jpg 907w, https://rs.io/wp-content/uploads/2019/06/missedinhistory-podcasts-wp-content-uploads-sites-99-2015-09-johnny-appleseed-300x162.jpg 300w, https://rs.io/wp-content/uploads/2019/06/missedinhistory-podcasts-wp-content-uploads-sites-99-2015-09-johnny-appleseed-768x415.jpg 768w" sizes="(max-width: 907px) 100vw, 907px" /></figure>
</div>

<p>Friend, do you know of Johnny Appleseed? He&#8217;s one of my heroes: caring nothing for material possessions, he wandered the United States, freely building apple orchards along the way.</p>

<p>The apples weren&#8217;t for eating, though.</p>

<blockquote class="wp-block-quote">
  <p>
    Really, what Johnny Appleseed was doing and the reason he was welcome in every cabin in Ohio and Indiana was he was bringing the gift of alcohol to the frontier. He was our American Dionysus.
  </p>
  
  <cite>&#8211;from <em><a href="https://en.wikipedia.org/wiki/The_Botany_of_Desire">The Botany of Desire</a> </em>as quoted <a href="https://en.wikipedia.org/wiki/Johnny_Appleseed">on Wikipedia</a><br /></cite>
</blockquote>

<p>They were cider apples, for getting drunk. Pre-prohibition, hard cider was America&#8217;s most popular drink. On the frontier, it <em>was</em> money:</p>

<blockquote class="wp-block-quote">
  <p>
    Hard cider was a key component of the colonial economy since currency was often hard to come by in the colonies. There was plenty of cider to go around, though, so in the absence of money, cider became as good as cash. Colonists would pay their bills with barrels of cider and worked out barter arrangements. Cider and applejack (hard cider that had been further fortified through freeze distillation) were supposedly even used to pay the construction crews that built some of the country’s first roads.
  </p>
  
  <cite>&#8212;<a href="https://magazine.wsu.edu/2015/11/03/the-drink-that-built-a-nation/">&#8220;The drink that built a nation&#8221;</a></cite>
</blockquote>

<p>You catch that? Hard cider, as good as cash.</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/2019-06-10T044825-0500-feh-1-of-1-downloadsaddtextcomMTE0NzUzMTM0Mgjpg.png" alt="" class="wp-image-198" srcset="https://rs.io/wp-content/uploads/2019/06/2019-06-10T044825-0500-feh-1-of-1-downloadsaddtextcomMTE0NzUzMTM0Mgjpg.png 634w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T044825-0500-feh-1-of-1-downloadsaddtextcomMTE0NzUzMTM0Mgjpg-300x160.png 300w" sizes="(max-width: 634px) 100vw, 634px" /></figure>
</div>

<p>Things haven&#8217;t changed much since. Alcohol is the closest thing to money a homestead can produce. It is <em>the</em> versatile, high-value barter item, (along with cannabis and tobacco.)</p>

<p>What sort of homesteading land would support brewing booze?</p>

<ul>
<li>If you want to produce higher-value hard liquor, Missouri is the only state with legal home distilling. (Not that I, as an <a href="https://en.wikipedia.org/wiki/Agorism">agorist</a>, think that ought to stop you.)</li>
<li>Land with mature apple trees is great, if you can swing it, as hard cider is about the easiest thing to brew. Press apples with a cider press, leave the juice out for a few weeks to ferment, and presto.</li>
<li>Applejack, a kind of ice-jacked cider, is the simplest hard liquor to DIY. I&#8217;ve covered how to in more detail in my Applejack brewing guide but, as far as land for it, you&#8217;ll want to be in a region with at least a few days significantly below freezing a year.</li>
<li>Regarding homebrewing generally, properties with basements or cellars can be useful for temperature control. It&#8217;s also advantageous to locate close to a recycling plant for cheap glassware to bottle your product.</li>
</ul>

<p><strong>A more general strategy for brainstorming barter items</strong></p>

<p>Scale up anything you plan on producing for yourself. Then, you can barter or sell the surplus, e.g.</p>

<ul>
<li>Any garden excess.</li>
<li>Seeds and seedlings.</li>
<li>Value-added items produced out of garden surplus, like salsas, jams, jellies, sauerkraut, canned goods.</li>
<li>Extra eggs, if you raise chickens.</li>
</ul>

<p>The natural extension of this is,</p>

<p><strong>What do you plan to grow, and what region is suitable for that?</strong> <figure class="wp-block-image"></p>

<p><img src="https://rs.io/wp-content/uploads/2019/06/2019-06-10T093301-0500-svenscheuermeier58010unsplashjpg-Modified-58-MiB-Krita.png" alt="" class="wp-image-231" srcset="https://rs.io/wp-content/uploads/2019/06/2019-06-10T093301-0500-svenscheuermeier58010unsplashjpg-Modified-58-MiB-Krita.png 800w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T093301-0500-svenscheuermeier58010unsplashjpg-Modified-58-MiB-Krita-300x72.png 300w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T093301-0500-svenscheuermeier58010unsplashjpg-Modified-58-MiB-Krita-768x184.png 768w" sizes="(max-width: 800px) 100vw, 800px" /></figure></p>

<p><strong>Example:</strong> Tomatoes do poorly in the pacific northwest. Although the region rarely freezes, the climate is <em>too</em> temperate. The region&#8217;s summer highs are not enough for tomatoes.</p>

<p><strong>Example</strong>: If you want to grow corn, you&#8217;re going to need to be east of the <a href="https://en.wikipedia.org/wiki/100th_meridian_west#United_States">100th meridian</a>. West of it and you&#8217;re probably looking at wheat.</p>

<p><strong>Example:</strong> <a href="https://en.wikipedia.org/wiki/Quinoa">Quinoa</a> is a particularly interesting staple crop and superfood. (It&#8217;s been selected to feed astronauts on long-duration human occupied space flights.) US cultivation is however experimental and mostly limited to cool mountainous regions like Idaho. <a href="https://en.wikipedia.org/wiki/Amaranth">Amaranth</a> is a similar crop that&#8217;s suited for warmer areas.</p>

<p>You&#8217;ll want to carefully consider how well the soil and climate in any region will support your preferred crops.</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/nrcs143_011222.gif" alt="" class="wp-image-110" /></figure>
</div>

<p><strong>Remember:</strong> most fruit trees (apples, pears, peaches) require a certain amount of <a href="https://en.wikipedia.org/wiki/Chilling_requirement">chill hours</a> every season. If you want to grow apples and you settle in Zone 8 or warmer, you&#8217;re gonna have a bad time. <figure class="wp-block-image"></p>

<p><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/Zone-Map-601x400.jpg" alt="" class="wp-image-111" srcset="https://rs.io/wp-content/uploads/2019/05/Zone-Map-601x400.jpg 601w, https://rs.io/wp-content/uploads/2019/05/Zone-Map-601x400-300x200.jpg 300w" sizes="(max-width: 601px) 100vw, 601px" /><figcaption>US plant hardiness zones </figcaption></figure></p>

<p>Once you&#8217;ve an idea of what you&#8217;d like to grow, you can find promising areas by figuring out which regions are already producing most of it. Monsanto has such a page, <a href="https://monsanto.com/innovations/modern-agriculture/articles/crop-map/">&#8220;The United Crops of America,&#8221;</a> which includes this map:</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/crop-map-1024x768.png" alt="" class="wp-image-167" srcset="https://rs.io/wp-content/uploads/2019/06/crop-map-1024x768.png 1024w, https://rs.io/wp-content/uploads/2019/06/crop-map-300x225.png 300w, https://rs.io/wp-content/uploads/2019/06/crop-map-768x576.png 768w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>
</div>

<p>The USDA has a <a href="https://www.ers.usda.gov/data-products/state-export-data/annual-state-agricultural-exports/">similarly useful tool</a> where you can explore agricultural exports by state and commodity.</p>

<p><strong>What are your hobbies and interests?</strong> <figure class="wp-block-image"></p>

<p><img src="https://rs.io/wp-content/uploads/2019/06/hobbies-interests.jpg" alt="" class="wp-image-232" srcset="https://rs.io/wp-content/uploads/2019/06/hobbies-interests.jpg 800w, https://rs.io/wp-content/uploads/2019/06/hobbies-interests-300x200.jpg 300w, https://rs.io/wp-content/uploads/2019/06/hobbies-interests-768x512.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" /></figure></p>

<p>Likewise, almost any hobby or interest can be decomposed into potential hustles for the homesteader:</p>

<p><strong>Example:</strong> I&#8217;m tragically addicted to hot peppers. I started growing them just for me and, along the way, realized they can be sold as whole peppers, pickled slices, pickled whole, hot sauce, dried whole, ground into powder, as seeds, and as seedlings.</p>

<p>If you build your own grow lights to start your seedlings, you could sell those, too. Lower tech option: build <a href="https://en.wikipedia.org/wiki/Cold_frame">cold frames</a> for seed starting out of salvaged windows.</p>

<p><strong>Example:</strong> Beekeeping. You can raise and sell bees, queens, honey, beeswax, bee-removal and pollination services. If you learn to build your own hives, you can craft and sell those, too.</p>

<p><strong>Example:</strong> Woodworking in general strikes me as a very promising potential niche for a homesteader. Buy a plot of wooded land, get a cheap sawmill from Harbor Freight, mill and sell your own lumber, or use it to build a house, or turn it into custom furniture, beehives, or chicken coops. <a href="https://www.survivalistboards.com/showthread.php?t=319968">Here&#8217;s the story of a man who did just that.</a></p>

<p>The general idea here is to take something you know about or are interested in knowing about and start looking at everything surrounding it. What potential is there? What could you make?</p>

<p>Same with your labor: what skills do you have that could be of use to your neighbors? Can you fix computers, or cars? Could you help them sell things on eBay, Craigslist, or create a website? If you plan on getting a tractor, you could put up an ad to till up gardens: I&#8217;d hire you.</p>

<p>Once you have a list like this of your own, start thinking about what sort of land would compliment it. A woodworker will want to be close to cheap lumber, for example. Or, if you plan on producing a lot of cider, you&#8217;ll want to be either somewhere where you can grow your own apples or have neighboring farms that do. A beekeeper will be better served by a warm climate with winters too mild for apples.</p>

<p>Here are a couple of threads with more ideas:</p>

<ul>
<li><a href="https://permies.com/t/31067/Living-grid-income">Living off-grid; income?</a></li>
<li><a href="https://permies.com/t/55708/month-acre">How would you make $500 a month on 1 acre?</a></li>
</ul>

<h4 id="mce_43">What&#8217;s the farthest you are willing to go? The United States, or the world?</h4>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/954f92c6c1477825db75da6673c97b06.gif" alt="" class="wp-image-202" /></figure>
</div>

<p>One of the early decisions you&#8217;re going to want to make is whether to limit your search to the United States (or your home country), or if you want to consider the entire world.</p>

<p>Personally I limited my search to &#8220;only&#8221; the United States. I worried about navigating the legal and cultural systems of foreign countries, and didn&#8217;t feel confident that said nations would support my property rights if they were to ever come into conflict with a native. I&#8217;m thinking of the <a href="https://en.wikipedia.org/wiki/Land_reform_in_Zimbabwe">appropriation of white-owned farmland in Zimbabwe</a> here, as well as Joel Salatin&#8217;s father, who was <a href="https://en.wikipedia.org/wiki/Joel_Salatin#Biography">forced to abandon his homestead in Venezeula</a>.</p>

<p>If you <em>are</em> interested in homesteading outside of the US, here are some external resources:</p>

<ul>
<li><a href="https://www.reddit.com/r/homestead/comments/1vs1a3/anyone_consider_homesteading_outside_the_usa/">Anyone consider homesteading outside the USA? (reddit discussion)</a></li>
<li><a href="https://permies.com/t/7735/place-Homestead-Survivalist">This permies thread recommends Costa Rica and Bulgaria</a></li>
</ul>

<h4 id="mce_62">How remote is &#8220;just right?&#8221;</h4>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/0mdjmvblbup21.jpg" alt="" class="wp-image-113" srcset="https://rs.io/wp-content/uploads/2019/05/0mdjmvblbup21.jpg 647w, https://rs.io/wp-content/uploads/2019/05/0mdjmvblbup21-253x300.jpg 253w" sizes="(max-width: 647px) 100vw, 647px" /></figure>
</div><figure class="wp-block-image">

<img src="http://eatsquirrel.com/wp-content/uploads/2019/05/fdslctvgte501.png" alt="" class="wp-image-137" srcset="https://rs.io/wp-content/uploads/2019/05/fdslctvgte501.png 992w, https://rs.io/wp-content/uploads/2019/05/fdslctvgte501-300x240.png 300w, https://rs.io/wp-content/uploads/2019/05/fdslctvgte501-768x614.png 768w" sizes="(max-width: 992px) 100vw, 992px" /></figure> 

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/reDpgZgBuQoxMHVn9pYYtC9Wek9mkI2J3rkOR_k-pi4-1024x732.png" alt="" class="wp-image-114" srcset="https://rs.io/wp-content/uploads/2019/05/reDpgZgBuQoxMHVn9pYYtC9Wek9mkI2J3rkOR_k-pi4.png 1024w, https://rs.io/wp-content/uploads/2019/05/reDpgZgBuQoxMHVn9pYYtC9Wek9mkI2J3rkOR_k-pi4-300x214.png 300w, https://rs.io/wp-content/uploads/2019/05/reDpgZgBuQoxMHVn9pYYtC9Wek9mkI2J3rkOR_k-pi4-768x549.png 768w" sizes="(max-width: 1024px) 100vw, 1024px" /><figcaption>A map of average noise level. </figcaption></figure>
</div>

<p><strong>Do you want to go off-grid and generate your own power?</strong></p>

<p>Properties with sloping streams are especially promising for off-grid power generation, as they can support micro-hydro where as long as the stream is running, there&#8217;s consistent, steady power available. This means you don&#8217;t have to invest tens of thousands of dollars into an expensive battery bank to handle the peakiness of technologies like solar or wind.</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/map_csp_us_10km_annual_feb2009.jpg" alt="" class="wp-image-112" srcset="https://rs.io/wp-content/uploads/2019/05/map_csp_us_10km_annual_feb2009.jpg 792w, https://rs.io/wp-content/uploads/2019/05/map_csp_us_10km_annual_feb2009-300x232.jpg 300w, https://rs.io/wp-content/uploads/2019/05/map_csp_us_10km_annual_feb2009-768x593.jpg 768w" sizes="(max-width: 792px) 100vw, 792px" /><figcaption>Speaking of solar, the desert has a lot of it </figcaption></figure>
</div>

<p>Here are a couple examples of micro-hydro projects:</p>

<ul>
<li><a href="https://ludens.cl/paradise/turbine/turbine.html">Building a microhydro plant in Chile</a></li>
<li><a href="https://www.youtube.com/watch?v=MUNMjdmGIPI&amp;list=PLEZ2hvCDKUpEvvgEy_b5C6UnYNslaYcik">Kris Harbour&#8217;s DIY Micro Hydro series on YouTube</a></li>
</ul>

<h4 id="mce_46">Could you live on an island?</h4>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/C-PiCLbqw3sLx91mP2B4u58zGOKaaeYd8CwK94eZIhI.png" alt="" class="wp-image-210" srcset="https://rs.io/wp-content/uploads/2019/06/C-PiCLbqw3sLx91mP2B4u58zGOKaaeYd8CwK94eZIhI.png 618w, https://rs.io/wp-content/uploads/2019/06/C-PiCLbqw3sLx91mP2B4u58zGOKaaeYd8CwK94eZIhI-300x199.png 300w" sizes="(max-width: 618px) 100vw, 618px" /><figcaption><a href="https://www.reddit.com/r/Hawaii/comments/9gshc6/earliest_known_photo_of_a_surfer_diamond_head/">Earliest known photo of a surfer, 1890, Hawaii. </a></figcaption></figure>
</div>

<p>If you&#8217;re open to living on an island, don&#8217;t overlook Hawaii. Land is surprisingly affordable&#8211;<a href="https://www.landwatch.com/Hawaii-County-Hawaii-Land-for-sale/pid/332866480">Landwatch&#8217;s cheapest 3 acre parcel is 14k</a>&#8211;and the climate can&#8217;t be beat: in many areas a tent is sufficient shelter.</p>

<p>The tropical climate also opens up crop possibilities that cannot be had on the mainland, like growing coffee or durian fruit, and year round, too. Indeed, as far as I can tell, there is nowhere in the United States where it is easier to grow most of your diet than Hawaii.</p>

<p>There is also abundant rain and sun for collection, and in some regions going off-grid is necessary: utilities will not be (re)built in regions prone to lava flows. Fortunately, if that doesn&#8217;t bother you, the land can be had at a discount.</p>

<p>Of course, it&#8217;s not all good: There is no frost to act as a &#8216;reset&#8217; by killing insects and disease. Everything is expensive. Some people go stir crazy on an island. Land rights can be complicated.</p>

<ul>
<li><a href="https://www.reddit.com/r/homestead/comments/2caumd/homesteading_in_hawaii/">Homesteading in Hawaii (reddit discussion)</a></li>
<li><a href="https://www.reddit.com/r/homestead/comments/1lp4ps/which_area_of_the_us_offers_the_cheapest_but_most/cc1jij9/">More advice on Hawaii from reddit</a></li>
<li><a href="https://www.homesteadingtoday.com/threads/hawaii-homesteads.351292/">Homesteading Today thread on Hawaii</a></li>
<li>If you like the romantic idea of island life, be sure to check out <em><a href="http://www.thisisaprivatesale.com/an_island_to_oneself.pdf">An Island to Oneself</a></em>.</li>
</ul>

<h4 id="8230-a-spanish-speaking-island">&#8230;a Spanish speaking island?</h4>

<p>If Hawaii seems OK, Puerto Rico is an option to consider, too. Land is even cheaper there, and it&#8217;s closer to the mainland. Taxes are lower, too.</p>

<p>Downsides: corruption, crime, everything is in Spanish.</p>

<ul>
<li><a href="https://www.homesteadingtoday.com/threads/puerto-rico.220430/">Homesteading Today thread on Puerto Rico</a></li>
<li><a href="https://permies.com/t/72808/good-time-buy-Puerto-Rico">Permies thread on Puerto Rico</a></li>
</ul>

<h4 id="what-8217-s-your-climate">What&#8217;s your climate?</h4>

<p>There was something that really bothered me about living in San Francsico&#8211;well, apart from the politics and the rent&#8211;<em>no hot summer nights.</em> Out West, there&#8217;s not the humidity like in my home state of Illinois. It cools off at night, always</p>

<p>It just felt wrong. Something missing. I <em>like</em> those humid days when your clothes stick to you, when the air is heavy and oppressive, later to be punctuated by thunderstorms&#8211;that&#8217;s something else I missed, too.</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/Tunderstorms-1024x620.jpg" alt="" class="wp-image-78" srcset="https://rs.io/wp-content/uploads/2019/05/Tunderstorms-1024x620.jpg 1024w, https://rs.io/wp-content/uploads/2019/05/Tunderstorms-300x182.jpg 300w, https://rs.io/wp-content/uploads/2019/05/Tunderstorms-768x465.jpg 768w, https://rs.io/wp-content/uploads/2019/05/Tunderstorms.jpg 1258w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>
</div>

<p>I <em>didn&#8217;t</em> miss the snow.</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/United_states_average_annual_snowfall-1024x653.jpg" alt="" class="wp-image-79" srcset="https://rs.io/wp-content/uploads/2019/05/United_states_average_annual_snowfall-1024x653.jpg 1024w, https://rs.io/wp-content/uploads/2019/05/United_states_average_annual_snowfall-300x191.jpg 300w, https://rs.io/wp-content/uploads/2019/05/United_states_average_annual_snowfall-768x490.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>
</div>

<h4 id="where-do-the-laws-support-you">Where do the laws support you?</h4>

<p>As far as actual laws and policy are concerned, a great resource is the <a href="https://www.freedominthe50states.org/">Freedom in the 50 States website</a>. The site allows you to <a href="https://www.freedominthe50states.org/personalize">create a custom ranking</a> based on your personal preferences regarding rules and regulation (raw milk, etc).</p>

<p>Here&#8217;s what mine looks like:</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/2019-05-27T090427-0500-Freedom-in-the-50-States-20172018-take3-custom-Cato-Institute-Mozilla-Firefox.png" alt="" class="wp-image-127" srcset="https://rs.io/wp-content/uploads/2019/05/2019-05-27T090427-0500-Freedom-in-the-50-States-20172018-take3-custom-Cato-Institute-Mozilla-Firefox.png 926w, https://rs.io/wp-content/uploads/2019/05/2019-05-27T090427-0500-Freedom-in-the-50-States-20172018-take3-custom-Cato-Institute-Mozilla-Firefox-300x240.png 300w, https://rs.io/wp-content/uploads/2019/05/2019-05-27T090427-0500-Freedom-in-the-50-States-20172018-take3-custom-Cato-Institute-Mozilla-Firefox-768x614.png 768w" sizes="(max-width: 926px) 100vw, 926px" /></figure>
</div>

<h4 id="where-does-the-culture-support-you">Where does the culture support you?</h4>

<p>The best description of the different cultures of the United States I&#8217;ve read is from Colin Woodward&#8217;s <em><a href="https://amzn.to/2K7qO0U">American Nations</a></em>. Here&#8217;s what his breakdown looks like:</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/55b273a2371d2211008b9793-960-654.jpg" alt="" class="wp-image-115" srcset="https://rs.io/wp-content/uploads/2019/05/55b273a2371d2211008b9793-960-654.jpg 960w, https://rs.io/wp-content/uploads/2019/05/55b273a2371d2211008b9793-960-654-300x204.jpg 300w, https://rs.io/wp-content/uploads/2019/05/55b273a2371d2211008b9793-960-654-768x523.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" /></figure>
</div>

<p>I&#8217;ve copied Woodward&#8217;s summaries of the regions here, although you really ought to <a href="https://amzn.to/2K7qO0U">read the book</a>.</p>

<ul>
<li><strong>Yankeedom</strong> values education, intellectual achievement, communal empowerment, and citizen participation in government as a shield against tyranny. Yankees are comfortable with government regulation. Woodard notes that Yankees have a &#8220;Utopian streak.&#8221;</li>
<li><strong>New Netherland</strong> is &#8220;materialistic, with a profound tolerance for ethnic and religious diversity and an unflinching commitment to the freedom of inquiry and conscience,&#8221; according to Woodard. It is a natural ally with Yankeedom and encompasses New York City and northern New Jersey.</li>
<li><strong>The Midlands</strong> are a welcoming middle-class society that spawned the culture of the &#8220;American Heartland.&#8221; Political opinion is moderate, and government regulation is frowned upon. Woodard calls the ethnically diverse Midlands &#8220;America&#8217;s great swing region.&#8221;</li>
<li><strong>Tidewater</strong> was built by the young English gentry in the area around the Chesapeake Bay and North Carolina. Starting as a feudal society that embraced slavery, the region places a high value on respect for authority and tradition.</li>
<li><strong>Greater Appalachia</strong> is stereotyped as the land of hillbillies and rednecks. Woodard says Appalachia values personal sovereignty and individual liberty and is &#8220;intensely suspicious of lowland aristocrats and Yankee social engineers alike.&#8221;</li>
<li><strong>The Deep South</strong> was established by English slave lords from Barbados and was styled as a West Indies-style slave society, Woodard notes. It has a very rigid social structure and fights against government regulation that threatens individual liberty.</li>
<li><strong>El Norte</strong> is &#8220;a place apart&#8221; from the rest of America, according to Woodard. Hispanic culture dominates in the area, and the region values independence, self-sufficiency, and hard work above all else.</li>
<li>Colonized by New Englanders and Appalachian Midwesterners, <strong>the Left Coast</strong> is a hybrid of &#8220;Yankee utopianism and Appalachian self-expression and exploration,&#8221; Woodard says.</li>
<li><strong>Far West:</strong> The conservative west. Developed through large investment in industry, yet where inhabitants continue to &#8220;resent&#8221; the Eastern interests that initially controlled that investment.</li>
<li><strong>New France:</strong> A pocket of liberalism nestled in the Deep South, its people are consensus driven, tolerant, and comfortable with government involvement in the economy. Woodard says New France is among the most liberal places in North America.</li>
</ul>

<p>You can get a better feel for the differences between the cultures by checking out JayMan&#8217;s &#8220;<a href="https://jaymans.wordpress.com/2013/08/14/maps-of-the-american-nations/">Maps of the American nations &#8220;</a> and <a href="https://jaymans.wordpress.com/2014/05/21/more-maps-of-the-american-nations/">&#8220;More maps of the American nations.&#8221;</a></p>

<p>As best I can tell, while you <em>can</em> homestead anywhere, the cultures most agreeable for homesteaders are the Left Coast, Greater Appalachia, and the rural parts of Yankeedom, e.g. Vermont and Maine.</p>

<h4 id="where-are-your-people">Where are your people?</h4>

<p>There are two big ways of thinking about this question, I think. The first way is to focus on your existing relationships, &#8220;Where are my friends and family at? OK, that&#8217;s where I&#8217;ll go.&#8221;</p>

<p>The second way is to focus on, &#8220;Where might I potentially fit in better than I do here, now? Forget about my current friends; where are my <em>potential</em> friends?&#8221;</p>

<p>You might, for instance, want to live in a place where the people are genetically similar to you,</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/census-2000-data-top-us-ancestries-by-county-svg-1024x759.png" alt="" class="wp-image-128" srcset="https://rs.io/wp-content/uploads/2019/05/census-2000-data-top-us-ancestries-by-county-svg-1024x759.png 1024w, https://rs.io/wp-content/uploads/2019/05/census-2000-data-top-us-ancestries-by-county-svg-300x222.png 300w, https://rs.io/wp-content/uploads/2019/05/census-2000-data-top-us-ancestries-by-county-svg-768x569.png 768w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>
</div>

<p>Or where the people have personalities like yours,</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/03-psychological-usa-regions.w330.h412.gif" alt="" class="wp-image-176" /></figure>
</div>

<p>Or maybe just in one that shares your politics,</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/2016_Nationwide_US_presidential_county_map_shaded_by_vote_share.svg_-1024x649.png" alt="" class="wp-image-126" srcset="https://rs.io/wp-content/uploads/2019/05/2016_Nationwide_US_presidential_county_map_shaded_by_vote_share.svg_.png 1024w, https://rs.io/wp-content/uploads/2019/05/2016_Nationwide_US_presidential_county_map_shaded_by_vote_share.svg_-300x190.png 300w, https://rs.io/wp-content/uploads/2019/05/2016_Nationwide_US_presidential_county_map_shaded_by_vote_share.svg_-768x487.png 768w" sizes="(max-width: 1024px) 100vw, 1024px" /><figcaption>2016 presidential election map. </figcaption></figure>
</div>

<p>Or where the people talk like you,</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/v2jCCh77naKjvzVB28ct9l1FUo_wAkfko7GrKSlSyso.jpg" alt="" class="wp-image-120" srcset="https://rs.io/wp-content/uploads/2019/05/v2jCCh77naKjvzVB28ct9l1FUo_wAkfko7GrKSlSyso.jpg 600w, https://rs.io/wp-content/uploads/2019/05/v2jCCh77naKjvzVB28ct9l1FUo_wAkfko7GrKSlSyso-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></figure>
</div>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/3k_qoTjfHpauX4B2T-_5W0Epl2wSMfkFNihS6YyQmzY.jpg" alt="" class="wp-image-117" srcset="https://rs.io/wp-content/uploads/2019/05/3k_qoTjfHpauX4B2T-_5W0Epl2wSMfkFNihS6YyQmzY.jpg 600w, https://rs.io/wp-content/uploads/2019/05/3k_qoTjfHpauX4B2T-_5W0Epl2wSMfkFNihS6YyQmzY-300x200.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></figure>
</div>

<p>Or, hell, maybe just where they feel the same about cats vs dogs,</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="http://eatsquirrel.com/wp-content/uploads/2019/05/signal-attachment-2019-05-11-112645.jpeg" alt="" class="wp-image-116" srcset="https://rs.io/wp-content/uploads/2019/05/signal-attachment-2019-05-11-112645.jpeg 640w, https://rs.io/wp-content/uploads/2019/05/signal-attachment-2019-05-11-112645-300x202.jpeg 300w" sizes="(max-width: 640px) 100vw, 640px" /></figure>
</div>

<h4 id="where-can-you-afford">Where can you afford?</h4>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/0dollars.gif" alt="" class="wp-image-209" /></figure>
</div>

<p>In my experience, a comfortable majority of land listings are created by insane people. These folk live in a fantastic world of pure imagination and believe, reality be damned, that their property is worth a substantial multiple over what similar parcels are actually selling for.</p>

<p>Land websites are absolutely jammed with such listings. Properties priced properly eventually sell; everything else stays on the market <em>forever</em>.</p>

<p><strong>Thus, a rule:</strong> Never base your opinion on what land in an area is worth on listed asking prices. Only pay attention to sold listings. The numbers that matter are what parcels have actually sold for.</p>

<p>Luckily, the USDA compiles <a href="https://www.nass.usda.gov/Publications/Todays_Reports/reports/land0818.pdf">just such a census</a> every year. Here are the state averages for cropland in 2018:</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/2019-06-10T012236-0500-Land-Values-2018-Summary-08022018-land0818pdf-Mozilla-Firefox-1024x578.png" alt="" class="wp-image-180" srcset="https://rs.io/wp-content/uploads/2019/06/2019-06-10T012236-0500-Land-Values-2018-Summary-08022018-land0818pdf-Mozilla-Firefox-1024x578.png 1024w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T012236-0500-Land-Values-2018-Summary-08022018-land0818pdf-Mozilla-Firefox-300x169.png 300w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T012236-0500-Land-Values-2018-Summary-08022018-land0818pdf-Mozilla-Firefox-768x434.png 768w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T012236-0500-Land-Values-2018-Summary-08022018-land0818pdf-Mozilla-Firefox.png 1310w" sizes="(max-width: 1024px) 100vw, 1024px" /><figcaption>If this is too difficult to read, try the <a href="https://www.nass.usda.gov/Publications/Todays_Reports/reports/land0818.pdf">actual PDF</a>, which has tables and additional data. </figcaption></figure>
</div>

<p>Looking at this map, you can get a good base rate for what an acre of good cropland in a given state is worth, on average, along with an understanding of the relative price of land in different states.</p>

<p>Remember earlier how I mentioned land in Illinois being more expensive than land in Appalachia or the Ozarks? You can read that right off this map: Illinois is ~7500/acre. Appalachia and the Ozarks are closer to half that, and these numbers are for cropland. Expect more marginal acres, like timberland or grazing prarie, to be worth much less.</p>

<h4 id="how-to-use-zillow-to-price-specific-regions">How To Use Zillow to Price Specific Regions</h4>

<p>While a statewide average is good enough for many states, in some it is more misleading than not. Check out the numbers for Oregon and Washington, for example. If you&#8217;re looking for land on the wet side of the Cascades, you&#8217;re not going to find acreage for ~2,900/acre unless you&#8217;re the world&#8217;s luckiest son-of-a-bitch. The numbers here are being skewed by the much cheaper land on the dry side.</p>

<p><a href="https://www.zillow.com/">Zillow</a> to the rescue! For a specific region, you can get a sense of land values by going onto Zillow, searching for the county you want, restricting your search to land only, and then setting the results to display sold listings only.</p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/2019-06-10T013944-0500-Lane-County-OR-Single-Family-Homes-For-Sale-0-Homes-Zillow-Mozilla-Firefox.png" alt="" class="wp-image-182" srcset="https://rs.io/wp-content/uploads/2019/06/2019-06-10T013944-0500-Lane-County-OR-Single-Family-Homes-For-Sale-0-Homes-Zillow-Mozilla-Firefox.png 794w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T013944-0500-Lane-County-OR-Single-Family-Homes-For-Sale-0-Homes-Zillow-Mozilla-Firefox-300x113.png 300w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T013944-0500-Lane-County-OR-Single-Family-Homes-For-Sale-0-Homes-Zillow-Mozilla-Firefox-768x289.png 768w" sizes="(max-width: 794px) 100vw, 794px" /><figcaption>You can restrict Zillow to land only by selecting on &#8220;Lots/Land&#8221; under &#8220;Home Type.&#8221;<br /></figcaption></figure>
</div>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/2019-06-10T013931-0500-Lane-County-OR-Single-Family-Homes-For-Sale-0-Homes-Zillow-Mozilla-Firefox.png" alt="" class="wp-image-183" srcset="https://rs.io/wp-content/uploads/2019/06/2019-06-10T013931-0500-Lane-County-OR-Single-Family-Homes-For-Sale-0-Homes-Zillow-Mozilla-Firefox.png 778w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T013931-0500-Lane-County-OR-Single-Family-Homes-For-Sale-0-Homes-Zillow-Mozilla-Firefox-300x181.png 300w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T013931-0500-Lane-County-OR-Single-Family-Homes-For-Sale-0-Homes-Zillow-Mozilla-Firefox-768x463.png 768w" sizes="(max-width: 778px) 100vw, 778px" /><figcaption>Here&#8217;s how to restrict Zillow to display only &#8220;recently sold&#8221; listings. </figcaption></figure>
</div>

<p>This&#8217;ll show you all of the recently sold land listings. Scrolling through them, you&#8217;ll get a sense of what acreage is actually going for. Looking up the wet side of Oregon near Eugene this way, you&#8217;d be doing well if you find anything for less than 10k/acre.</p>

<h4 id="don-8217-t-forget-property-taxes">Don&#8217;t Forget Property Taxes</h4>

<p>Going back to our Illinois versus Appalachia and the Ozarks example, the gap is actually even larger than it appears from the initial purchase price, as that doesn&#8217;t take into account yearly property tax payments&#8211;which are about 3x higher in Illinois. <figure class="wp-block-image"></p>

<p><img src="https://rs.io/wp-content/uploads/2019/06/property_taxes-01-1024x893.png" alt="" class="wp-image-185" srcset="https://rs.io/wp-content/uploads/2019/06/property_taxes-01-1024x893.png 1024w, https://rs.io/wp-content/uploads/2019/06/property_taxes-01-300x262.png 300w, https://rs.io/wp-content/uploads/2019/06/property_taxes-01-768x670.png 768w, https://rs.io/wp-content/uploads/2019/06/property_taxes-01.png 1354w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure></p>

<p>In fact, a chart like the above is just the beginning of figuring out differences in tax burden between states. Texas, for instance, is listed here as the state with the sixth highest property tax but this is misleading as a homesteader&#8217;s property would likely qualify for <a href="https://pairofspades.com/real-estate-blog/2017/12/1/what-is-a-homestead-exemption-in-texas">the homestead exemption</a>.</p>

<p>Similarly, Montana&#8217;s property taxes may be low but, if you decide on that alone, you&#8217;ll be in for a rude awakening after moving and discovering that <a href="https://mtrevenue.gov/property/property-types/livestock/">the state also charges special yearly fees per head of livestock</a>. These sort of taxes are rarely included even in rankings that claim they measure overall tax burden, like <a href="https://wallethub.com/edu/states-with-highest-lowest-tax-burden/20494/">WalletHub&#8217;s,</a> which doesn&#8217;t account even for relatively major, standard taxes like those on gasoline. It has a long way to go before it&#8217;ll be updated to include hidden livestock fees.</p>

<p>Ultimately you&#8217;re going to have to personally, carefully research the tax situation of any region to get an accurate picture of the actual costs of living there. Watch out for gotchas like Michigan where, thanks to some ill considered laws, <a href="https://www.compass-insurance-agency.com/tips-advice/why-car-insurance-is-so-expensive-in-michigan/">car insurance is $346 higher than the national average</a>.</p>

<h4 id="as-far-as-your-dollar-can-go-specific-regions">As Far As Your Dollar Can Go: Specific Regions</h4>

<p><strong>The Desert</strong></p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/A9X6JMp-1024x683.jpg" alt="" class="wp-image-222" srcset="https://rs.io/wp-content/uploads/2019/06/A9X6JMp-1024x683.jpg 1024w, https://rs.io/wp-content/uploads/2019/06/A9X6JMp-300x200.jpg 300w, https://rs.io/wp-content/uploads/2019/06/A9X6JMp-768x512.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>
</div>

<p>The absolute cheapest acreage you&#8217;ll find in the United States is desert land in Western states like Nevada. Parcels routinely sell on eBay for $250/acre. Likely it can be had for less if you do some digging and contact locals directly, instead of relying on the internet. I&#8217;m betting if you&#8217;re clever you can get down to $100/acre.</p>

<p>&#8211;actually, looking now, it appears land in Nevada can <a href="https://www.ebay.com/itm/HUGE-10ACRE-TRACT-IN-ELKO-NV-UP-FOR-AUCTION-WITH-NO-RESERVE/323822572580?hash=item4b65545424:g:9R4AAOSwr2Jc8eR3">sometimes be had for $100/acre</a> <em>on eBay</em>. Maybe you could get it down to $50, then.</p>

<p>If you want cheap space, don&#8217;t mind trucking in water and don&#8217;t plan on growing crops (or want a challenge), consider this region. Solar power is <em>extremely</em> viable, getting cheaper every day, and, if you don&#8217;t (yet) understand the appeal of arid spaces, start by reading <em><a href="https://amzn.to/2F1dc2O">Desert Solitaire</a></em>.</p>

<ul>
<li>The Permies website has <a href="https://permies.com/f/121/desert">a sub-forum dedicated to &#8220;greening the desert&#8221;</a> that&#8217;s full of information on desert living. There&#8217;s a thread on <a href="https://permies.com/t/87459/Revitalize-Acres-Hot-Dry-South">revitalizing 10 acres in the dry part of Texas</a> that I imagine is very applicable to 10 acres of desert.</li>
<li><a href="https://permies.com/t/100629/Questions-homesteading-permaculture-desert">Advice on homesteading in the desert.</a></li>
<li><a href="https://www.reddit.com/r/homestead/comments/b9fpou/just_got_98_acres_in_the_sonoran_desert_looking/">More advice.</a></li>
<li><a href="https://www.reddit.com/r/homestead/comments/390f2e/bought_20_acres_in_the_desert_building_on_it/">Even more advice.</a></li>
</ul>

<p><strong>Inland Maine</strong></p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/2019-06-10T074636-0500-top-scoring-links-Maine-Mozilla-Firefox.png" alt="" class="wp-image-205" srcset="https://rs.io/wp-content/uploads/2019/06/2019-06-10T074636-0500-top-scoring-links-Maine-Mozilla-Firefox.png 920w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T074636-0500-top-scoring-links-Maine-Mozilla-Firefox-300x196.png 300w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T074636-0500-top-scoring-links-Maine-Mozilla-Firefox-768x503.png 768w" sizes="(max-width: 920px) 100vw, 920px" /><figcaption>The culture that is Maine, from <a href="https://www.reddit.com/r/Maine/comments/7k80pc/i_love_maine/">/r/Maine</a>. </figcaption></figure>
</div>

<p>If the desert is too dry and you want land that gets plenty of rainfall, the cheapest you&#8217;ll find is in Maine&#8217;s interior, such as Aroostook County. Land can be had for $500/acre on websites like LandWatch and likely for a bit less by getting into direct contact with locals. The region also has a lot of homesteaders and a very supportive culture.</p>

<p>The downside is that it is cold and remote. Winter is long, with a lot of snow. Consequently, you have a growing season that&#8217;s on the shorter side, around 4 months.</p>

<ul>
<li><a href="https://permies.com/t/28689/Potentially-starting-farm-Maine-questions">Permies thread on homesteading in Maine.</a></li>
<li><a href="https://www.reddit.com/r/simpleliving/comments/3izfac/i_gave_up_my_6figure_desk_job_to_live_in_a_cabin/">I gave up my 6-figure desk job to live in a cabin with no electricity and no running water. I live on about $2,000 a year doing odd jobs here and there, the rest of my time is devoted to my hobbies. I love my life. AMA</a></li>
</ul>

<p><strong>The Ozarks of North Arkansas</strong></p>

<div class="wp-block-image">
  <figure class="aligncenter"><img src="https://rs.io/wp-content/uploads/2019/06/2019-06-10T075556-0500-top-scoring-links-Arkansas-Mozilla-Firefox.png" alt="" class="wp-image-208" srcset="https://rs.io/wp-content/uploads/2019/06/2019-06-10T075556-0500-top-scoring-links-Arkansas-Mozilla-Firefox.png 726w, https://rs.io/wp-content/uploads/2019/06/2019-06-10T075556-0500-top-scoring-links-Arkansas-Mozilla-Firefox-300x196.png 300w" sizes="(max-width: 726px) 100vw, 726px" /></figure>
</div>

<p>If you want land with water somewhere warmer than Maine, the cheapest you&#8217;ll find is probably in the Ozarks on the Arkansas side, where land can be found for a bit less than $1000/acre.</p>

<p>The difficulty is finding soil that&#8217;s worth a damn. It&#8217;s out there but it&#8217;s not the norm: most of the Ozarks is rocks, clay, and little or no soil. The decent soil is mostly in the former riverlands scattered throughout the area. (In the past I&#8217;ve used <a href="https://www.acrevalue.com/">AcreValue</a> to help determine the soil quality of different parcels.)</p>

<p>The region is also, of course, hilly, and best suited to intensive gardening and not machine cultivation.</p>

<ul>
<li><a href="https://www.motherearthnews.com/nature-and-environment/ozarks-homesteading-zmaz75mjzgoe">Advice on Ozarks Homesteading</a></li>
<li><a href="https://permies.com/t/26576/Summer-Arkansas-Ozarks">Permies discussion about summer in Arkansas</a></li>
<li><a href="https://permies.com/t/97740/Roadtrip-MO-Ozarks-live">More advice from Permies</a></li>
</ul>

<h2 id="recommended-further-reading">Recommended Further Reading</h2>

<ul>
<li>For a more &#8220;prepper&#8221;-centric take on this topic that focuses more on catastrophic disasters, check out the book <em><a href="https://amzn.to/2XBdrZZ">Strategic Re-Location</a></em>.</li>
<li>For understanding the different regions of the United States, start by reading <em><a href="https://amzn.to/2K7qO0U">American Nations</a></em>. If you want more after that, read <em><a href="https://amzn.to/2EZQdW4">Who&#8217;s Your City?</a></em> and <em><a href="https://amzn.to/2WWYu7w">Our Patchwork Nation</a>.</em></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
