<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Hard Books Are Overrated &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/hard-books-overrated/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/hard-books-overrated/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Hard Books Are Overrated</h1>
  <time datetime=2014-04-22T22:13:26Z class="post-date">Tue, Apr 22, 2014</time>
  

<div id="attachment_749" style="width: 610px" class="wp-caption aligncenter">
  <a href="https://rs.io/wp-content/uploads/2014/04/airballoon.jpg"><img class="size-full wp-image-749" src="https://rs.io/wp-content/uploads/2014/04/airballoon.jpg" alt="Hot air balloons take people on adventures. Books do, too." width="600" height="400" srcset="https://rs.io/wp-content/uploads/2014/04/airballoon.jpg 600w, https://rs.io/wp-content/uploads/2014/04/airballoon-300x200.jpg 300w, https://rs.io/wp-content/uploads/2014/04/airballoon-50x33.jpg 50w" sizes="(max-width: 600px) 100vw, 600px" /></a>
  
  <p class="wp-caption-text">
    Hot air balloons take people on adventures. Books do, too.
  </p>
</div>

<blockquote>
<p>Widely used calculus books must be mediocre.</p>

<p><span id="quote-attribute">— W. Rudin</span></p>
</blockquote>

<p>I&#8217;ve noticed a phenomenon, especially in mathematics, where anyone asking for book recommendations invariably is recommended the least-gentle-but-still-reasonable textbook imaginable. A high school student might ask for an introduction to calculus and someone will tell them to read <em>Principles of Mathematical Analysis</em>. Looking for an introduction to programming? Hey, try <em>Structure and Interpretation of Computer Programs</em> &#8212; or just read Knuth!</p>

<p>Several possible explanations spring to mind:</p>

<ul>
<li>By recommending a difficult book to someone, you&#8217;re signalling your own intelligence.</li>
<li>Struggling against a text results in a sort of Stockholm syndrome, where one becomes more fond of it as they sink more hours into it.</li>
<li>Recommending an easy book can be socially costly as the receiver might interpret it as an insult. It&#8217;s safer to recommend a hard book.</li>
<li>When asked for a book recommendation, people mentally grasp the book most representative of that subject, and this leads to a bias towards not-beginner-friendly texts.</li>
<li>Hard texts are that much better than anything else.</li>
<li>Familiarity with a subject damages one&#8217;s ability to judge whether or not a text is appropriate for someone without the same background.</li>
<li>Those recommending hard textbooks have not, generally, tried to self-study them, but rather sat through a class that required the text and completed 10% of the problems as homework.</li>
</ul>

<p>All of these could be true, but what we really want to know is: are hard books systematically overvalued?</p>

<h2 id="comparing-the-utility-of-books">Comparing the utility of books</h2>

<p>Now, I have no doubt that reading one hard book is more valuable than reading one easy book, but that&#8217;s not a fair fight. I could get through <em>The Design of Everyday Things</em> in a couple of days, while working through Knuth&#8217;s <em>Concrete Mathematics</em> would take me the better part of a year. If you accept that a book like <em>Concrete Mathematics</em> can take 200 hours while an easy book might take 4, the question becomes: Is one hard book worth fifty easy ones?</p>

<h3 id="microeconomics">Microeconomics</h3>

<p>We can consider taking this completely literally. Consider perhaps the most straightforward application of microeconomic theory ever: If two men are selling rugs, but one man is able to sell his rugs for ten times as much, well, customers are deriving more value from his rugs.</p>

<p>50 easy books will, most of the time, cost more than 1 hard book. We might expect, then, that 50 easy books will provide more value to the consumer. I actually have painstakingly collected statistics on my own reading, but there&#8217;s no correlation between my rating of a book and its price (alas).</p>

<p><a href="https://rs.io/wp-content/uploads/2014/09/books-price-rating-correlation.png"><img class="aligncenter size-full wp-image-474" src="https://rs.io/wp-content/uploads/2014/09/books-price-rating-correlation.png" alt="books-price-rating-correlation" width="545" height="501" srcset="https://rs.io/wp-content/uploads/2014/09/books-price-rating-correlation.png 545w, https://rs.io/wp-content/uploads/2014/09/books-price-rating-correlation-300x275.png 300w" sizes="(max-width: 545px) 100vw, 545px" /></a>A stroll through the New York Times&#8217;s best seller list also reveals no obvious relationship between how interesting a book looks and its price. A look at computer science and programming books is a bit more compelling. The obviously more valuable books (e.g. <em>The Art of Computer Programming</em>) are selling for more than the nth Adobe Photoshop manual.</p>

<p>So easy books win here, but it&#8217;s not clear if this win is worth anything.</p>

<h3 id="amount-learned">Amount learned</h3>

<p>Instead, we can take the tack of estimating the amount learned from a book. When going through <em>The Design of Everyday Things</em>, I learned maybe 10 things. Today, I started reading Petzold&#8217;s <em>CODE</em> and have taken about 50 separate notes. At this rate, I should end up with something like 300. A significant variance here, but let&#8217;s say the average easy text can teach someone 35 new things &#8212; more if you&#8217;re careful with book selection.</p>

<p>If I consider, on the other hand, a harder text, like <em>Artificial Intelligence: A Modern Approach</em>, the amount available to learn is about an order of magnitude greater. Depending on the number of exercises one wades through, anywhere between one and three thousand seems reasonable.</p>

<p>This one could really go either way. A broad selection of fifty popular science texts will teach a person more than one really hard book, but one hard book will teach you more than fifty so-so spiritual or diet books.</p>

<p>And, of course, all learning is not created equal. Some things really are more important than others.</p>

<p>Possible heuristic: popular science is great for building a broad understanding, while difficult works are great for pushing one to the next level via deliberate practice.</p>

<h3 id="revealed-preference">Revealed preference</h3>

<p>I can count the number of people I know who routinely fight their way through hard books on one hand. It&#8217;s not a normal thing that people do, even curious people. Indeed, curious people are notable for being more willing than most to read a wide variety of texts, not for the difficulty of those texts.</p>

<h3 id="university-courses">University courses</h3>

<p>University professors typically assign more difficult textbooks (although often not truly difficult, a sorta middle ground.) Still, consider the popularity of a book like CLRS versus <em>The Algorithm Design Manual</em>. The first is more popular, the second more readable.</p>

<p>I&#8217;m not sure who wins this round: on the one hand, university textbooks are harder to read than what&#8217;s on the New York Times bestsellers list. On the other hand, most university courses are not requiring books like <em>Structure and Interpretation of Computer Programs</em>, instead opting for something gentler.</p>

<p>Plus, these medium difficulty textbooks are often little more than props for a class, something to accompany lectures and provide exercises. Still, on the whole, it seems more honest to call this a win for difficult books.</p>

<h3 id="comprehension-amount-retained">Comprehension, amount retained</h3>

<p>On difficult texts, one Less Wrong commenter <a href="http://lesswrong.com/lw/ihy/how_valuable_is_it_to_learn_math_deeply/">wrote this</a>:</p>

<blockquote>
<p>I found that when a text requires a second or third reading, taking a lot of notes, etc., I won&#8217;t be able to master it at the level of the material that I know well, and it won&#8217;t be retained as reliably, for example I won&#8217;t be able to re-generate most of the key constructions and theorems without looking them up a couple of years later (this applies even if more advanced topics are practiced in the meantime, as they usually don&#8217;t involve systematic review of the basics). Thus, there is a triple penalty for working on challenging material: it takes more effort and time to process, the resulting understanding is less fluent, and it gets forgotten faster and to a greater extent.</p>
</blockquote>

<h3 id="success">Success</h3>

<p>If we live in a world where hard books were clearly superior to easier ones, I would expect that the reading habits of successful people would center around difficult books.</p>

<p>This isn&#8217;t the impression that I get, in general. CEOs fill their reading lists with biographies, not textbooks. If you looked at <a href="http://www.gatesnotes.com/Books">the reading habits of Bill Gates</a>, you&#8217;ll see that it&#8217;s filled with popular non-fiction rather than hefty technical works.</p>

<h2 id="closing-remarks">Closing remarks</h2>

<p>All of this suggests a heuristic: <strong>to decide what to read, ask yourself, &#8220;What&#8217;s the easiest book I could read that will teach me a lot?&#8221;</strong> Or, alternatively, &#8220;What&#8217;s the easiest book that will move me towards my goals?&#8221;</p>

<p>For reading broadly, popular works seem like a clear win. I think it&#8217;s best to save difficult works in a field until you&#8217;ve reached diminishing returns on easier texts. If you&#8217;re not learning much, then you ought to move onto something harder.</p>

<p>Ideally, the process of reading through easy texts on a subject before tackling harder ones transforms once difficult books into easy ones. This pattern of reading looks more like a slow progression than a violent struggle &#8212; small steps instead of leaps.</p>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>I have touched on this topic <a href="https://rs.io/bill-thurston-reading-hard-things/">several</a> <a href="https://rs.io/feynman-reading-difficult-things/">times</a> <a href="https://rs.io/reading-math/">before</a>.</li>
<li>For another perspective, check out Eric Drexler&#8217;s <a href="http://metamodern.com/2009/05/27/how-to-learn-about-everything/">&#8220;How to Learn About Everything.&#8221;</a></li>
<li>The idea of slowly building towards something is related to <a href="http://lesswrong.com/lw/58m/build_small_skills_in_the_right_order/">success spirals</a>.</li>
<li>If you need ideas about what to read, I track my reading and post reviews to <a href="https://www.goodreads.com/user/show/2816733-robb-seaton">my Goodreads account</a>. Or there&#8217;s Bill Gates&#8217;s <a href="http://www.gatesnotes.com/About-Bill-Gates/Best-Books-2013">favorite books of 2013</a>.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
