<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Singapore’s Rapid Modernization &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/singapores-rapid-modernization/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/singapores-rapid-modernization/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li><li><a href="https://rs.io/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Singapore’s Rapid Modernization</h1>
  <time datetime=2019-07-18T20:12:00Z class="post-date">Thu, Jul 18, 2019</time>
  <blockquote>
<p>What was life like on the ground for the farmers and market vendors who abruptly found themselves moving from wooden huts to modern high-rises in the middle of a rapidly developing city? There was exciting progress, yes, but much of the time it was tragic, hilarious, and absurd.</p>

<p>Lee Kuan Yew highlights some of these moments. Pig farmers, nudging their pigs up staircases to raise them in high-rise apartments. A family, gating off their kitchen for a dozen chickens and ducks. People walking up long flights of stairs because they were afraid of using elevators, using kerosene instead of electric bulbs, selling miscellaneous goods from ground-floor flats. (99) He grows somber as he talks about resettling older farmers, how even generous compensation money didn&#8217;t matter next to losing &#8220;their pigs, ducks, chickens, fruit trees, and vegetable plots,&#8221; and how many of the older farmers never really stopped resenting the change. (180)</p>

<p>–<a href="https://www.reddit.com/r/TheMotte/comments/ceajmw/book_review_from_third_world_to_first_by_lee_kuan/">from /u/TracingWoodgrain&#8217;s review of <em>From Third World to First</em></a></p>
</blockquote>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
