<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Bad at math? Have you tried steroids? &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/testosterone-and-math/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/testosterone-and-math/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Bad at math? Have you tried steroids?</h1>
  <time datetime=2013-11-01T02:39:54Z class="post-date">Fri, Nov 1, 2013</time>
  

<blockquote>
<p>Men with lower T performed better than other groups on measures of spatial/mathematical ability, tasks at which men normally excel. Women with high T scored higher than low-T women on these same measures.<a href="#citation-1"><sup>1</sup></a></p>

<p>Our findings are the first that present the relationship between testosterone and the broad range of general IQ in childhood. The boys of average intelligence had significantly higher testosterone levels than both mentally challenged and intellectually gifted boys, with the latter two groups showing no significant difference between each other.<a href="#citation-2"><sup>2</sup></a></p>
</blockquote>

<p>Deliberately reducing testosterone levels in men, however, harms cognition, as evidenced by testosterone suppression in those with prostate cancer.<a href="#citation-3"><sup>3</sup></a> If anything, the relationship seems to be reversed, with increasing testosterone improving cognition:</p>

<blockquote>
<p>Significant improvements in cognition were observed for spatial memory (recall of a walking route), spatial ability (block construction), and verbal memory (recall of a short story) in older men treated with testosterone compared with baseline and the placebo group, although improvements were not evident for all measures.<a href="#citation-4"><sup>4</sup></a></p>
</blockquote>

<p>But wait! Another study found that boosting test levels among healthy men reduced spatial ability while improving verbal skills.<a href="#citation-5"><sup>5</sup></a> One study speculates that the effects of testosterone on cognition are fixed after puberty, in which case, alas, there is <a href="http://en.wikipedia.org/wiki/Royal_Road#A_metaphorical_.E2.80.9CRoyal_Road.E2.80.9D_in_famous_quotations">still no royal road to geometry</a>.<a href="#citation-6"><sup>6</sup></a></p>

<h2 id="sources">Sources</h2>

<p><a name="citation-1"></a></p>

<ol>
<li>Gouchie, Catherine, and Doreen Kimura. &#8220;The relationship between testosterone levels and cognitive ability patterns.&#8221; <em>Psychoneuroendocrinology</em> 16.4 (1991): 323-334.
<br /></li>
</ol>

<p><a name="citation-2"></a></p>

<ol>
<li>Ostatníková, Daniela, et al. &#8220;Intelligence and salivary testosterone levels in prepubertal children.&#8221; <em>Neuropsychologia</em> 45.7 (2007): 1378-1385.
<br /></li>
</ol>

<p><a name="citation-3"></a></p>

<ol>
<li>Green, Heather J., et al. &#8220;Altered cognitive function in men treated for prostate cancer with luteinizing hormone‐releasing hormone analogues and cyproterone acetate: a randomized controlled trial.&#8221; <em>BJU international</em> 90.4 (2002): 427-432.
<br /></li>
</ol>

<p><a name="citation-4"></a></p>

<ol>
<li>Cherrier, M. M., et al. &#8220;Testosterone supplementation improves spatial and verbal memory in healthy older men.&#8221; <em>Neurology</em> 57.1 (2001): 80-88.
<br /></li>
</ol>

<p><a name="citation-5"></a></p>

<ol>
<li>O&#8217;Connor, Daryl B., et al. &#8220;Activational effects of testosterone on cognitive function in men.&#8221; <em>Neuropsychologia</em> 39.13 (2001): 1385-1394.
<br /></li>
</ol>

<p><a name="citation-6"></a></p>

<ol>
<li>Hier, Daniel B., and William F. Crowley Jr. &#8220;Spatial ability in androgen-deficient men.&#8221; <em>New England Journal of Medicine 306.20</em> (1982): 1202-1205.</li>
</ol>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
