<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Future Generations Are Your Legacy, All Of Them &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/future-generations-legacy/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/future-generations-legacy/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Future Generations Are Your Legacy, All Of Them</h1>
  <time datetime=2014-01-12T03:15:48Z class="post-date">Sun, Jan 12, 2014</time>
  <p>I have heard tell of a time in a man&#8217;s life where he begins to worry less about his own dreams and invests more in living through his children. His children will be his legacy.</p>

<p>This is a very real and common thing that people value: leaving behind something of some permanence, and children are one means to achieving this. I would like to suggest, though, a broader view of things, of thinking about humanity as a whole as a legacy.</p>

<p>First, realize that there are a whole lot of people that are sorta like you out there in the world. For one, you have a lot more in common with every single human than any chimp; things like speech, thumbs, religion, awe, humor, and no doubt many others. Zooming in further, even if you&#8217;re one in a million, there are eight of you in London.</p>

<p>Stepping back a moment, do we care so much about leaving children behind or about people like us existing? I find when I try to think of compelling arguments as to why I ought to prefer myself (and people related to me) over others, I come up with nothing. Sure, I do prefer my own welfare. Evolution has guaranteed that. But as far as compelling justifications goes, I&#8217;ve nothing great.</p>

<p>Consider, you could get hit by a bus tomorrow and it would be a tragedy, but the world would go on. People sorta like you would continued to exist. They would have thoughts not so different from your own. Hopes like yours, values like yours, feelings like yours. No doubt a fraction of them (maybe very small!) would be smarter, funnier, prettier, and kinder than you.</p>

<p>It seems silly to me to prefer myself &#8212; at least strongly &#8212; over people sorta like me. As long as they continue to exist, it doesn&#8217;t matter much whether or not they share half my genetic material.</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
