<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Surprisingly Dangerous Jobs In America &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/surprisingly-dangerous-jobs-in-america/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Surprisingly Dangerous Jobs In America</h1>
  <time datetime=2014-05-16T22:44:06Z class="post-date">Fri, May 16, 2014</time>
  

<blockquote>
<p>You can&#8217;t avoid danger.</p>

<p><span id="quote-attribute">—Jeannette Walls, <em>Half Broke Horses</em></span></p>

<p>Yeah, you can. Don&#8217;t get one of these jobs, for instance.</p>

<p><span id="quote-attribute">—me</span></p>
</blockquote>

<p>David Henderson has rightly earned the title contrarian with <a href="http://econlog.econlib.org/archives/2014/05/half-staff_for.html">his latest post</a> which, to kick off <a href="http://www.policeweek.org/">National Police Week</a>, points out that it&#8217;s more dangerous to be a farmer than a policeman &#8212; &#8220;For every 100,000 police, the annual fatality rate is 20. For every 100,000 farmers, it is 40% higher, at 28.&#8221; (<a href="http://www.econlib.org/library/Enc/RiskandSafety.html">Source.</a>)</p>

<p>Now, on this blog, we&#8217;re good empiricists, and nothing warms the heart of an empiricist more than refuting a well-known, common sense &#8220;truth&#8221; with, you know, observations and data.</p>

<p>So that got me thinking: What jobs are more (or less) dangerous than one might naively suspect?</p>

<p>I present to you this delightful graph, taken from <a href="http://www.bls.gov/iif/oshcfoi1.htm">the Bureau of Labor Statistics</a>:</p>

<p><a href="https://rs.io/wp-content/uploads/2014/09/jobs-by-danger.png"><img class="aligncenter size-full wp-image-493" src="https://rs.io/wp-content/uploads/2014/09/jobs-by-danger.png" alt="jobs-by-danger" width="686" height="500" srcset="https://rs.io/wp-content/uploads/2014/09/jobs-by-danger.png 686w, https://rs.io/wp-content/uploads/2014/09/jobs-by-danger-300x218.png 300w" sizes="(max-width: 686px) 100vw, 686px" /></a>Notice that the data here for farmers agrees with David&#8217;s. He has 28 per 100,000 versus the charts 25.3 per 100,000. (And given the <a href="http://www.ncbi.nlm.nih.gov/pubmed/9973879">endemic underreporting</a>, the 28 number might well be more accurate.) Police officer isn&#8217;t included on the chart but David&#8217;s data would make it about as dangerous as&#8230; taxi driver. That&#8217;s right, folks. The brave folks keeping the peace of our nation? Just as brave as your local cabby. (Actually, given that <a href="http://www.bls.gov/news.release/cfoi.nr0.htm">police deaths dropped 20 percent in 2012</a>, cab drivers might be <em>braver</em>.)</p>

<p>I&#8217;m going to propose we replace Police Week with Fisherman Week, because it&#8217;s about 6 times more dangerous to be a fisherman than a police officer. (And who doesn&#8217;t love a good tuna steak?)</p>

<p>Or maybe we should keep Police Week, but dedicate 6 weeks to celebrating fishermen. It&#8217;s only fair. And, of course, three weeks to pilots and people involved with flying, along with a solid two weeks for garbage men.</p>

<h2 id="some-other-fun-facts">Some other fun facts</h2>

<p>Digging a bit further into the data, we find this somewhat troubling statistic: 92% of workplace fatalities are men. (Do we blame the patriarchy for this one?)</p>

<p>And if you were wondering what state is the most dangerous: North Dakota. It&#8217;s about as dangerous to work in North Dakota as it is to be a police officer. From the AFL-CIO&#8217;s <a href="http://www.aflcio.org/Issues/Job-Safety/Death-on-the-Job-Report">&#8220;Death on the Job&#8221;</a> report:</p>

<blockquote>
<p>Among all of the states, North Dakota stands out as an exceptionally dangerous and deadly place to work. The state’s job fatality rate of 17.<sup>7</sup>&frasl;<sub>100</sub>,000 workers is alarming. It is more than five times the national average and is one of the highest state job fatality rates ever reported for any state.</p>
</blockquote>

<p>So probably we should have a week celebrating North Dakatons, too.</p>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>If you&#8217;re interested in surprising data, check out my articles on <a href="https://rs.io/hindsight-bias-in-the-media-talking-driving/">thinking and driving</a>, <a href="https://rs.io/fox-news-versus-msnbc-whos-opinionated/">MSNBC and Fox News</a>, any of <a href="https://rs.io/web-roundup-links-may-2/">the</a> <a href="https://rs.io/web-roundup-links-may/">interesting</a> <a href="https://rs.io/web-roundup-links-april-2/">finds</a> <a href="https://rs.io/web-roundup-links-april/">posts</a>, and my comparison of <a href="https://rs.io/whats-deadlier-hiv-smallpox/">the death toll of HIV/AIDS, tobacco, and smallpox</a>.</li>
<li>If you thought being a fisherman was dangerous, the <a href="http://www.econlib.org/library/Enc/RiskandSafety.html">death rate from smoking a pack of cigarettes a day is 300 per 100,000 (or 2.5x as dangerous.)</a></li>
<li>Looking through <a href="http://fatknowledge.blogspot.com/2006/09/marines-vs-fishermen.html">some other data</a>, being a marine about as dangerous as smoking a pack of cigarettes each day.</li>
<li>But, really, <a href="http://www.econlib.org/library/Enc/RiskandSafety.html">the most dangerous profession</a> that I can find data for is Chicago crack dealer, with a whopping 7,000 deaths per 100,000, making it about 350x more dangerous than being a police officer.</li>
<li>Google doesn&#8217;t return any relevant results for &#8220;abolish police week.&#8221; Maybe someone who is not me should start a petition.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
