<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Software For Writers: Tools To Improve Your Writing &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/software-writers-tools-improve-writing/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Software For Writers: Tools To Improve Your Writing</h1>
  <time datetime=2014-03-07T20:33:02Z class="post-date">Fri, Mar 7, 2014</time>
  

<p><a href="https://rs.io/wp-content/uploads/2014/08/emacs.png"><img class="aligncenter size-full wp-image-377" src="https://rs.io/wp-content/uploads/2014/08/emacs.png" alt="emacs" width="508" height="209" srcset="https://rs.io/wp-content/uploads/2014/08/emacs.png 508w, https://rs.io/wp-content/uploads/2014/08/emacs-300x123.png 300w" sizes="(max-width: 508px) 100vw, 508px" /></a></p>

<p><strong>There are two types of writer &#8212; the snobs and the engineers.</strong> The engineers believe that crafting the right sentence is a rule-based affair. &#8220;Be brief. Avoid adverbs.&#8221;</p>

<p>The snob turns up his nose at rules. Rules, he says, are for the amateur. The English language is not about rules &#8212; great writers break them all, and those who preach about rules don&#8217;t even follow their own.</p>

<p>I don&#8217;t like the snobs. I mean, they have a point. In language, there are no absolutes &#8212; well, probably. But rules are useful. I suspect the <em>real</em> reason that snobs are so against rules is because it&#8217;s an opportunity for them to signal their sophistication. &#8220;Rules? Ick. Rules are training wheels and not for the likes of one as fine a writer as I.&#8221;</p>

<p>Adherents of snob theory ought to try programming. If I&#8217;m making ten mistakes an hour, it&#8217;s a good day. I&#8217;ll use any crutch available and I&#8217;ll be proud that I do. The world is a complex place. <strong>We need tools to help us tame that complexity.</strong></p>

<h2 id="engineering-in-the-art-of-writing">Engineering in the art of writing</h2>

<h3 id="spell-check">Spell Check</h3>

<p>I&#8217;ve dominated more than one spelling bee in my day and used to believe that I didn&#8217;t need to spell check my work. What a poor, deluded fool I was! (I still am, but less and less and less.)</p>

<p>Now I spell check everything I write. I&#8217;d estimate that I have an error rate of about one or two for every 250 words. It takes 30 seconds to run a post through spell check after I write it, which is enough to eradicate the errors.</p>

<h3 id="weasel-words">Weasel Words</h3>

<p>Matt Might, an assistant professor at the University of Utah, wrote <a href="http://matt.might.net/articles/shell-scripts-for-passive-voice-weasel-words-duplicates/">a set of shell scripts</a> to help PhD students improve their writing. He focused on <strong>eliminating weasel words and passive voice.</strong> His scripts have since been ported to emacs in the form of <a href="https://github.com/robertseaton/writegood-mode">writegood-mode</a>.</p>

<p>Some examples of weasel words:</p>

<ul>
<li><p>many</p></li>

<li><p>extremely</p></li>

<li><p>interestingly</p></li>

<li><p>surprisingly</p></li>
</ul>

<p><strong>A <a href="http://dl.acm.org/citation.cfm?id=1667636">2009 study</a> analyzed the usage of the &#8220;weasel words&#8221; tag on Wikipedia and found that they fell in three broad categories:</strong></p>

<ul>
<li>Handwavy use of proportion that doesn&#8217;t answer the question &#8220;How many?&#8221; (“Some people”, “Experts”, “Many”)</li>
<li>Use of the passive voice.</li>
<li>Adverbs, e.g. often, probably.</li>
</ul>

<p><strong>Such sentences can be rewritten by substituting more specific language.</strong> Wikipedia offers this example: &#8220;The Yankees are one of the greatest baseball teams in history,&#8221; can be rewritten as &#8220;The New York Yankees have won 26 World Series championships—almost three times as many as any other team.&#8221;</p>

<p>The principle behind this, and the &#8220;Show, don&#8217;t tell&#8221; rule so often trotted out in this sort of discussions, is to eliminate reliance on the author. If I tell you that <a href="https://rs.io/important-problems-in-the-world/">a problem is important</a>, you can either trust of ignore me, while if I reveal my evidence, you get to &#8220;<a href="http://lesswrong.com/lw/h3x/rationality_quotes_april_2013/8qt9">use your own free will</a>.&#8221;</p>

<h3 id="clichés">Clichés</h3>

<blockquote>
<p>Never use a metaphor, simile, or other figure of speech which you are used to seeing in print.</p>

<p><span id="quote-attribute">—George Orwell, <a href="https://www.mtholyoke.edu/acad/intrel/orwell46.htm">&#8220;Politics and the English Language&#8221;</a></span></p>
</blockquote>

<p>Consider two phrases:</p>

<ul>
<li>No one in his right mind would reject reductionism.</li>
<li>No one in her left brain would reject reductionism.</li>
</ul>

<p>The second comes to me by way of Doug Hofstadter and is, I think, the more compelling of the two. <strong>A phrase, when overused, loses all of its punch and becomes boring.</strong></p>

<p>Examples:</p>

<ul>
<li>Hope against hope.</li>
<li>Ignorance is bliss.</li>
<li>Matter of life and death.</li>
</ul>

<p><strong><a href="https://github.com/robertseaton/writegood-mode">My fork of writegood-mode</a> supports highlighting cliched phrases. For those who are not members of the emacs cabal, there is also an <a href="http://cliche.theinfo.org/">online cliche finder</a>.</strong></p>

<h3 id="grammar-checking">Grammar Checking</h3>

<p><strong>There are more possible errors than spelling mistakes, which is where automated grammar checkers come in.</strong> They&#8217;re not as good as human feedback, but they&#8217;re convenient and catch problems that you otherwise might not.</p>

<p>I ran a recent post through the open source <a href="https://www.languagetool.org/">LanguageTool</a> and it managed to spot that I&#8217;d used &#8220;free reign,&#8221; when it should be &#8220;free rein&#8221; &#8212; a mistake subtle enough that I would never have noticed it. Hell, I thought rein and reign were spelled in the same way.</p>

<p><strong>For emacs users, you can install LanguageTool and <a href="https://github.com/mhayashi1120/Emacs-langtool">langtool-mode</a> to check your writing from the convenience of your text editor. Non-emacs users have the option of installing and checking from the command line, or <a href="https://www.languagetool.org/">using the online version</a>.</strong></p>

<h3 id="readability">Readability</h3>

<p><strong><a href="http://en.wikipedia.org/wiki/Literacy_in_the_United_States#National_Assessment_of_Adult_Literacy_.28NAAL.29">The average American reads at between a 7th and 8th grade level.</a></strong> If your prose is too complex, you&#8217;re alienating a fair chunk of potential readers.</p>

<p>According to <a href="http://en.wikipedia.org/wiki/Readability#Readability_and_newspaper_readership">Wikipedia&#8217;s article on readability</a>, <em>TV Guide</em> and <em>Readers Digest</em>, the two publications with the largest circulation, are written at a 9th-grade level, while the most popular novels are written at a 7th-grade level. A 1947 experiment by Wallaces&#8217; Farmer &#8212; a magazine &#8212; found that <strong>reducing an article from a 9th to 6th grade reading level increased readership by 43%.</strong></p>

<p>The GNU project ships <a href="http://www.gnu.org/software/diction/">style</a> &#8212; a command line tool that checks the reading level of a piece of writing. Running this entire blog through it returns a reading level of 8, according to the Flesh-Kincaid formula. <strong>The formula <a href="http://en.wikipedia.org/wiki/Readability#The_Flesch_formulas">correlates 0.91 with reading comprehension</a>.</strong></p>

<p>For emacs users, there&#8217;s <a href="http://sachachua.com/blog/2011/12/emacs-artbollocks-mode-el-and-writing-more-clearly/">artbollocks-mode</a>, which has a built-in readability test and duplicates some of the features of writegood-mode. For non emacs users, there&#8217;s <a href="http://www.gnu.org/software/diction/">GNU style</a> and <a href="https://readability-score.com/">this online tool</a>.</p>

<h3 id="a-writing-checklist">A Writing Checklist</h3>

<p><a href="http://www.nytimes.com/2009/12/24/books/24book.html?pagewanted=all">In 2001</a>, Dr. Peter Provonost &#8212; who specializes in critical care at Johns Hopkins &#8212; put together a checklist of the obvious things that doctors need to do before treating a patient: hand-washing, wear gloves, clean the patient&#8217;s skin before inserting a needle, that sort of thing. These are not super tricky, only-clever-people-know steps. Everyone is supposed to do them, everyone knows, but sometimes people forget.</p>

<p><strong>After implementing the checklist, infections in the ICU dropped from 11 percent to zero &#8212; saving 8 lives and 2 million dollars. Consequently, the hospital implemented still more checklists &#8212; reducing the average ICU stay by half and saving 21 lives.</strong></p>

<p>A <a href="http://www.nejm.org/doi/full/10.1056/NEJMsa0810119">2009 study</a> duplicated this success in 8 other hospitals.</p>

<p>Still not convinced? See my post on the <a href="https://rs.io/unreasonable-effectiveness-of-checklists/">effectiveness of checklists.</a></p>

<p>I have my own checklist for writing:</p>

<ul>
<li>Make sure all my links are to high-quality domains and treatments.</li>
<li>Are links to Further Reading resources.</li>
<li>Add links to other relevant posts I&#8217;ve written.</li>
<li>Add images.</li>
<li><a href="http://validator.w3.org/checklink">Check for broken links.</a></li>
<li>Add more relevant examples if possible, especially personal ones.</li>
<li>Humanize the writing.</li>
<li>Remove unoriginal metaphors or examples.</li>
<li>Remove hedged phrases, weasel words.</li>
<li>Switch passive phrases to active.</li>
<li>Remove any foreign phrases, scientific words, or jargon that aren&#8217;t necessary.</li>
<li>Read out loud and check for flow.</li>
<li>Remove any criticism of other people.</li>
<li>Remove cliches.</li>
<li>Search for &#8220;ly&#8221; words and remove them.</li>
<li><a href="http://www.goodreads.com/quotes/4737-cut-out-all-these-exclamation-points-an-exclamation-point-is">Search for exclamation marks and semi-colons and remove them.</a></li>
<li>Strip needless words.</li>
<li>Check reading level.</li>
<li><a href="https://adwords.google.com/ko/KeywordPlanner/Home?__u=1306318961&amp;__c=6421154321">Give it a good, googleable, and sensational title.</a></li>
<li>Add a summary.</li>
<li>Write google description.</li>
<li>Bold the important parts.</li>
<li>Have other people read it and get their reaction.</li>
<li>Spell check.</li>
<li>Grammar check.</li>
<li>Make sure it renders properly.</li>
</ul>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>If you&#8217;re interested in improving your writing ability, check out <a href="https://rs.io/expert-memory/">my post on expertise</a>.</li>
<li>For tips on writing, there&#8217;s Orwell&#8217;s <a href="https://www.mtholyoke.edu/acad/intrel/orwell46.htm">&#8220;Politics and the English Language.&#8221;</a></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
