<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Is veganism for women? &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/vegan-women/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/vegan-women/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Is veganism for women?</h1>
  <time datetime=2013-09-25T00:05:21Z class="post-date">Wed, Sep 25, 2013</time>
  

<p>I recently tried my hand at making <a href="http://allrecipes.com/recipe/vegan-bean-taco-filling/">this</a> bean-based, vegan taco filling (recommended), and noticed something curious while reading the recipe&#8217;s comments:</p>

<blockquote>
<p>I made this for my vegetarian daughter and it was so good I served it to the whole family for dinner.</p>

<p>This stuff is the bomb. Even my carnivore husband loved it!</p>

<p>My daughter is vegan, while the rest of the family isn&#8217;t. My husband usually can&#8217;t stand non meat recipes, and loved this one!</p>
</blockquote>

<p>See the pattern? Men are carnivores, women herbivores. This is from a sample of seven comments. <em>Half</em> of the reviews show this trend. I also have the vague sense that women, generally, are more interested in veganism and are more open to talking about it.</p>

<p>And since we live in the future, I don&#8217;t have to speculate. Are women more likely to be vegans? Yes. There seem to be somewhere between two to three woman-vegans for every man-vegan.<a href="#citation-1"><sup>1</sup></a></p>

<h2 id="wherefore-art-thou-vegan">Wherefore art thou vegan?</h2>

<blockquote>
<p>Tiger got to hunt, bird got to fly; Man got to sit and wonder, &#8220;Why, why, why?&#8221;</p>

<p><span id="quote-attribute">—Kurt Vonnegut, <a href="http://www.amazon.com/gp/product/B003XRELGQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B003XRELGQ&linkCode=as2&tag=rsio-20&linkId=VPUA43IUQEQ5DRUS"><em>Cat&#8217;s Cradle</em></a></span></p>
</blockquote>

<p>It&#8217;s interesting in and of itself that women are more likely to be vegans, but <em>why</em> are women more likely to adopt a vegan lifestyle? What motivates these strange, alien creatures? Fellow men, let us analyze them. Or something.</p>

<p>By the way, we could reframe this question as, &#8220;Why are men not vegans?&#8221; instead of asking why women are vegans. I suspect that each frame suggests different answers.</p>

<h3 id="you-wouldn-8217-t-download-a-steak">You wouldn&#8217;t download a steak</h3>

<blockquote>
<p>The notion that human life is sacred just because it is human life is medieval.</p>

<p><span id="quote-attribute">—Peter Singer</span></p>
</blockquote>

<p>Most vegans adopt a vegan lifestyle out of ethical concerns, or <a href="http://www.imaner.net/panel/profile.htm">at least that&#8217;s what they report.</a> Perhaps women are the fairer sex, then, and are more attuned to ethical issues. Or, perhaps women are more attuned to the suffering of animals and, thus, value reducing it more than men do. This would suggest that women have more empathy for animals or, even, more empathy in general than men.</p>

<p>Is there any data to support this? Wikipedia&#8217;s <a href="http://en.wikipedia.org/wiki/Sex_differences_in_humans">page on sex differences</a> suggests that there may be some difference in reported levels of empathy between men and women. Women also tend to score higher on the Big 5 facet of agreeableness,<a href="#citation-16"><sup>16 </sup></a>which can be thought of as a measure of empathy.</p>

<p>If it were the case that women are more ethically minded, I would expect them to be more likely to be PETA members, veterinarians, more likely to donate to charity, and more likely to volunteer than men. Is this the case?</p>

<h3 id="the-lady-doth-protest-too-much">The lady doth protest too much</h3>

<blockquote>
<p>I was not designed to be forced. I will breathe after my own fashion. Let us see who is the strongest.</p>

<p><span id="quote-attribute">—Henry David Thoreau, <em>On the Duty of Civil Disobedience</em></span></p>
</blockquote>

<p>I can&#8217;t find any information specific to PETA demographics, but one survey of animal rights activists reported four women for every man,<a href="#citation-6"><sup>6</sup></a> and women nearly always outnumber men at animal rights demonstrations.<a href="#citation-7"><sup>7</sup></a> The proportion of female to male members of the American Society for the Prevention of Cruelty to Animals is higher than 5 to 1.<a href="#citation-7"><sup>7 </sup></a>Further, women are more opposed to animal research than men, and this effect is robust across nations.<a href="#citation-8"><sup>8</sup></a></p>

<p>The majority of women in animal rights activism is not a recent phenomena, but dates back to at least 1875 with the founding of the Victoria Street Society, an early British animal protection agency, now know as the National Anti-Vivisection Society.<a href="#citation-9"><sup>9</sup></a> Indeed, Victorian women were drawn more to animal rights than any other cause, except feminism.<a href="#citation-10"><sup>10</sup></a></p>

<p>More, most veterinarian students are women and the proportion of professional women vets is on the rise.<a href="#citation-2"><sup>2</sup></a> Women are also more likely to donate to charity <em>in general</em> and are more generous when doing so, and they are especially likely to donate to causes supporting animal welfare.<a href="#citation-3"><sup>3 </sup></a>According to <a href="http://www.bls.gov/news.release/volun.nr0.htm">this report</a> from the Bureau of Labor Statistics, women are also more likely to volunteer <em>in general</em>.</p>

<p>What if we just ask people how they feel about the ethics of meat-eating or animal suffering? At least one survey has done so.<a href="#citation-5"><sup>5</sup></a> Men were about 20% more likely to indicate that eating meat is morally justifiable, 72.3% for men versus 54.3% for women. Women were also more likely than men to express agreement with the idea that food should be prepared in a way that minimizes animal suffering, 95.1% versus 84.8%.</p>

<p>Men, however, have the dubious distinction of being more likely to actually have sex with animals.<a href="#citation-7"><sup>7</sup></a></p>

<h3 id="is-right-or-left-the-feminine-side">Is right or left the feminine side?</h3>

<blockquote>
<p>To succeed in a domain that violates your intuitions, you need to be able to turn them off the way a pilot does when flying through clouds. You need to do what you know intellectually to be right, even though it feels wrong.</p>

<p><span id="quote-attribute">— <a href="http://paulgraham.com/swan.html">Paul Graham</a></span></p>
</blockquote>

<p>It&#8217;s interesting to note that while female philosophers are more likely to specialize in applied ethics, they are <a href="http://philpapers.org/surveys/linear_most_with.pl?A=background:gender:female">less likely</a> to switch on the <a href="http://en.wikipedia.org/wiki/Trolley_problem#Views_of_professional_philosophers">trolley problem</a>. The trolley problem goes like this: there is a train coming down the tracks and it&#8217;s going to hit and kill five people. You are standing next to a lever which, if you pull it, will divert the train. However, the diverted train will kill one person. Should you pull the lever?</p>

<p>Women failing to switch seems counter-intuitive. If women are more ethical, they ought to switch on the trolley problem. However, the trolley problem is notable because it&#8217;s a problem where intuition clashes with ethics. You can save more lives by diverting the trolley, but it <em>feels</em> wrong. Is there evidence to suggest that women are more likely to trust their intuitions?</p>

<p>Yes. The Rational-Experiential Inventory measures individual differences in &#8220;faith in intuition,&#8221; and women generally score higher than men on this subscale.<a href="#citation-11"><sup>11</sup></a> Lay theories of the differences between men and women reflect the same sentiment. Women are thought of as &#8220;emotional creatures,&#8221; while men are thought of as cold and rational (or testosterone-fueled savages). That is: folk psychology posits that women operate on feelings and intuition. Indeed, the main thrust of the phrase &#8220;in touch with your feminine side&#8221; is about emotion.</p>

<p>We can go further. The MBTI personality scale measures differences (among other things) in the dimension of thinking versus feeling. Thinking types endorse statements like, &#8220;I make decisions with my head,&#8221; while feeling types endorse choosing with their heart. The T/F split is <sup>60</sup>&frasl;<sub>40</sub> for men, while the ratio is reversed for women.<a href="#citation-12"><sup>12</sup></a></p>

<p>The belief in a god, an enduring human soul, and that prayer affects the world around us, are all intuitively appealing. To identify as an atheist suggests that one has discarded these intuitive beliefs. Are men more likely to be atheists? According to the <a href="http://en.wikipedia.org/wiki/Demographics_of_atheism">Wikipedia page on atheism demographics</a>, men are more likely to be atheists in the United States and the United</p>

<p>Kingdom. Canadian men are also more likely to be atheists than Canadian women,<a href="#citation-13"><sup>13</sup></a> and, in one sample, women held more positive views of Christianity across age groups.<a href="#citation-14"><sup>14</sup></a> Men are also <a href="http://www.autism.org.uk/about-autism/autism-and-asperger-syndrome-an-introduction/gender-and-autism/autism-why-do-more-boys-than-girls-develop-it.aspx">more likely to be autistic</a> and those with high-functioning autism are much more likely to identify as atheist.<a href="#citation-17"><sup>17</sup></a> There is also <a href="http://www.physorg.com/pdf5785.pdf">more atheism in the natural sciences than the social sciences</a>, which tend to be male dominated,<a href="#citation-20"><sup>20</sup></a> although note that there seem to be a disproportionate amount of theists among mathematicians.<a href="#citation-19"><sup>19</sup></a></p>

<p>Further, women are more likely to believe in the devil, heaven and hell, creationism, ghosts, communication with the dead, ESP, and astrology. Men, however, win out when it comes to belief in aliens.<a href="#citation-18"><sup>18</sup></a></p>

<p>Brain imaging studies further support the notion that utilitarian judgments are characterized by increased activation of regions associated with deliberative processing and conflict resolution,<a href="#citation-21"><sup>21, </sup></a><a href="#citation-22"><sup>22</sup></a> while deontological judgments (e.g. murder is always wrong) are characterized by reliance on emotional heuristics.<a href="#citation-23"><sup>23</sup></a> It also seems to be the case that those with weaker empathic responses have an easier time with consequentialist reasoning.<a href="#citation-24"><sup>24, </sup></a><a href="#citation-25"><sup>25</sup></a> This suggests that women fail the trolley problem specifically because they experience stronger feelings of empathy. Men might outperform women on contrived ethical dilemmas not because they trust their feelings less, but rather because they experience a weaker, easier-to-override empathic response.</p>

<h3 id="static-dynamic-and-sensitive-typing">Static, dynamic, and sensitive typing</h3>

<p>Are women really more sensitive than men?</p>

<p>I&#8217;ve already reviewed a fair amount of evidence that suggests this is the case. Women are more likely to volunteer, donate to charity, eat in ways that minimize animal suffering, and so on. This is certainly suggestive of the idea that women are more empathetic than men.</p>

<p>It&#8217;s not decisive, though. There could be other reasons why women do all of these things. Maybe women volunteer more because they don&#8217;t work as much as men. Maybe women volunteer more because their friends are already volunteering. It could be a self-fulfilling prophecy. Or maybe women are more likely to say they care about others not because they actually care more, but because they&#8217;re more motivated to look good than men are. All possibilities.</p>

<p>One review of sex differences in empathy found that, when study participants are aware that empathy is being measured, women have an</p>

<p>advantage. When studies are more subtle and people are not aware of what is being measured, the gender differences disappear.<a href="#citation-26"><sup>26</sup></a> A more rigorous meta-analysis by Ickes et al. replicated this result.<a href="#citation-27"><sup>27</sup></a> The gender differences in empathy seem to result from differences in the amount of work men and women put into appearing empathetic. If you pay participants based on how well they perform at an empathy task, gender differences disappear.<a href="#citation-28"><sup>28</sup></a></p>

<p>It would seem, then, that differences in male and female empathy can be wholly attributed to differences in self-concept. If we lived in alternative universe where men were seen as gentle and caring and women brutish and insensitive, men would score higher on measures of empathy, even if each sex&#8217;s physiology was exactly the same as it is in this universe. Women are more sensitive than men because they try harder at being more sensitive than men.</p>

<h2 id="final-thoughts">Final thoughts</h2>

<blockquote>
<p>Nature, Mr. Allnut, is what we are put in this world to rise above.</p>

<p><span id="quote-attribute">—Rose, <a href="http://www.amazon.com/gp/product/B00AEFXD1O/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00AEFXD1O&linkCode=as2&tag=rsio-20&linkId=7XGDXIKTIKZUFC6D"><em>The African Queen (1951)</em></a></span></p>
</blockquote>

<p>I was going to go on and consider differences in eating disorders, disgust sensitivity, time spent thinking about food, and maybe more, but the evidence seems overwhelming at this point. I&#8217;m convinced, anyways, and it seems especially inappropriate to continue beating a dead horse in a post about veganism. Women are more likely to adopt a vegan lifestyle, at least in part, because the average woman is more likely than the average man to self-identify as a kind person and, as such, is more motivated to adopt lifestyle changes in an attempt to reduce animal suffering.</p>

<h2 id="sources">Sources</h2>

<p><a name="citation-1"></a></p>

<ol>
<li><a href="http://www.gallup.com/poll/156215/consider-themselves-vegetarians.aspx">&#8220;In US, 5% Consider Themselves Vegetarians.&#8221;</a>
<br /></li>
</ol>

<p>Also, see <a href="http://www.imaner.net/panel/profile.htm">this page</a>.</p>

<p><a name="citation-2"></a></p>

<ol>
<li>Lofstedt,
<br /></li>
</ol>

<p>Jeanne. <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC340187/">&#8220;Gender and veterinary medicine.&#8221;</a></p>

<p><em>The Canadian Veterinary Journal</em> 44.7 (2003): 533.</p>

<p><a name="citation-3"></a></p>

<ol>
<li>Schnepf, Sylke V., and Greg Piper. <a href="http://ftp.iza.org/dp3242.pdf">&#8220;Gender Differences in Charitable Giving.&#8221;</a> (2008).
<br /></li>
</ol>

<p><a name="citation-3"></a></p>

<ol>
<li>Klopp, Sheree A., Cynthia J. Heiss, and Heather
<br /></li>
</ol>

<p>S. Smith. <a href="http://plaza.ufl.edu/chvaugha/Veggie%20paper.pdf">&#8220;Self-reported vegetarianism may be a marker for college women at risk for disordered eating.&#8221;</a></p>

<p><em>Journal of the American Dietetic Association</em> 103.6 (2003): 745-747.</p>

<p><a name="citation-4"></a></p>

<ol>
<li>Hudson, James I., et
<br /></li>
</ol>

<p>al. <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1892232/">&#8220;The prevalence and correlates of eating disorders in the National Comorbidity Survey Replication.&#8221;</a></p>

<p><em>Biological psychiatry</em> 61.3 (2007): 348-358.</p>

<p><a name="citation-5"></a></p>

<ol>
<li>Beardsworth, Alan, et al. <a href="http://ethik.univie.ac.at/fileadmin/user_upload/inst_ethik_wiss_dialog/Beardsworth__A._2002._Women__men__and_food.pdf">&#8220;Women, men and food: the significance of gender for nutritional attitudes and choices.&#8221;</a> <em>British Food Journal</em> 104.7 (2002): 470-491.
<br /></li>
</ol>

<p><a name="citation-6"></a></p>

<ol>
<li>Plous, Scott. <a href="https://secure.socialpsychology.org/pdf/ps1991.pdf">&#8220;An attitude survey of animal rights activists.&#8221;</a> <em>Psychological Science</em> 2.3 (1991): 194-196.
<br /></li>
</ol>

<p><a name="citation-7"></a></p>

<ol>
<li>Herzog, Harold A. <a href="http://www.psychologytoday.com/files/attachments/44240/gender-and-human-animal-interactions.pdf">&#8220;Gender differences in humananimal interactions: A review.&#8221;</a> <em>Anthrozoos: A Multidisciplinary Journal of The Interactions of People &amp; Animals</em> 20.1 (2007): 7-21.
<br /></li>
</ol>

<p><a name="citation-8"></a></p>

<ol>
<li>Hagelin, Joakim, Hans-Erik Carlsson, and Jann Hau. &#8220;An overview of surveys on how people view animal experimentation: some factors that may influence the outcome.&#8221; <em>Public Understanding of Science</em> 12.1 (2003): 67-81.
<br /></li>
</ol>

<p><a name="citation-8"></a></p>

<ol>
<li>Elston, Mary Ann. &#8220;Women and anti-vivisection in Victorian England,
<br /></li>
</ol>

<p>1870–1900.&#8221; <em>Vivisection in historical perspective</em> (1987): 259-294.</p>

<p><a name="citation-9"></a></p>

<ol>
<li>French, Richard D., and Richard French. <em>Antivivisection and medical science in Victorian society.</em> Princeton: Princeton University Press, 1975.
<br /></li>
</ol>

<p><a name="citation-11"></a></p>

<ol>
<li>Riding, Richard J., and Stephen G. Rayner, eds. <em>Cognitive styles.</em> Greenwood Publishing Group, 2000.
<br /></li>
</ol>

<p><a name="citation-12"></a></p>

<ol>
<li>_MBTI manual: a guide to the development and use of the Myers-Briggs type
<br /></li>
</ol>

<p>indicator instrument._ CPP, 2003. See also <a href="http://mrob.com/pub/MBTI-16.html#fn_myers1998">this page.</a></p>

<p><a name="citation-13"></a></p>

<ol>
<li>Veevers, Jean E., and D. F. Cousineau. &#8220;The heathen Canadians: demographic
<br /></li>
</ol>

<p>correlates of nonbelief.&#8221; <em>Pacific Sociological Review</em> (1980): 199-216.</p>

<p><a name="citation-14"></a></p>

<ol>
<li>Francis, Leslie J., and Carolyn Wilcox. &#8220;Religiosity and femininity: Do women really hold a more positive attitude toward Christianity?.&#8221; <em>Journal for the Scientific Study of Religion</em> (1998): 462-469.
<br /></li>
</ol>

<p><a name="citation-15"></a></p>

<ol>
<li>Feltey, Kathryn M., and Margaret M. Poloma. &#8220;From sex differences to gender role beliefs: Exploring effects on six dimensions of religiosity.&#8221; <em>Sex Roles</em> 25.3-4 (1991): 181-193.
<br /></li>
</ol>

<p><a name="citation-16"></a></p>

<ol>
<li>Costa Jr, Paul, Antonio Terracciano, and Robert R. McCrae. <a href="http://www.cin.ufpe.br/~ssj/Genderdifferences%20in%20personality%20traits%20across%20cultures%20Robust%20andsurprising%20findings.pdf">&#8220;Gender differences in personality traits across cultures: robust and surprising findings.&#8221;</a> <em>Journal of personality and social psychology</em> 81.2 (2001): 322.
<br /></li>
</ol>

<p><a name="citation-17"></a></p>

<ol>
<li>Caldwell-Harris, Catherine, et al. <a href="http://csjarchive.cogsci.rpi.edu/proceedings/2011/papers/0782/paper0782.pdf">&#8220;Religious belief systems of persons with high functioning autism.&#8221;</a> <em>Annual Meeting of the Cognitive Science Society, Boston, MA</em>. 2011.
<br /></li>
</ol>

<p><a name="citation-18"></a></p>

<ol>
<li>Rice, Tom W. &#8220;Believe it or not: Religious and other paranormal beliefs in the United States.&#8221; Journal for the Scientific Study of Religion 42.1 (2003): 95-106.
<br /></li>
</ol>

<p><a name="citation-19"></a></p>

<ol>
<li>Larson, Edward J., and Larry Witham. <a href="http://www.stephenjaygould.org/ctrl/news/file002.pdf">&#8220;Leading scientists still reject God.&#8221;</a> <em>Nature</em> 394.6691 (1998): 313-313.
<br /></li>
</ol>

<p><a name="citation-20"></a></p>

<ol>
<li>Rosser, Sue V., and Mark Zachary Taylor. <a href="http://aaup.org/comment/117#.UjyKdI2E67I">&#8220;Why Are We Still Worried about Women in Science?.&#8221;</a> <em>Academe</em> 95.3 (2009): 7-10.
<br /></li>
</ol>

<p><a name="citation-22"></a></p>

<ol>
<li>Greene, Joshua D. <em>The secret joke of Kant’s soul.</em> Cambridge, MA: MIT Press, 2007.
<br /></li>
</ol>

<p><a name="citation-21"></a></p>

<ol>
<li>Greene, Joshua D., et al. <a href="http://www.sciencedirect.com/science/article/pii/S0896627304006348">&#8220;The neural bases of cognitive conflict and control in moral judgment.&#8221;</a> <em>Neuron</em> 44.2 (2004): 389-400.
<br /></li>
</ol>

<p><a name="citation-23"></a></p>

<ol>
<li>Greene, Joshua D., et al. <a href="http://www.wjh.harvard.edu/~jgreene/GreeneWJH/Greene-et-al-Science-9-01.pdf">&#8220;An fMRI investigation of emotional engagement in moral judgment.&#8221;</a> <em>Science</em> 293.5537 (2001): 2105-2108.
<br /></li>
</ol>

<p><a name="citation-24"></a></p>

<ol>
<li>Wiech, Katja, et al. <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3629560/">&#8220;Cold or calculating? Reduced activity in the subgenual cingulate cortex reflects decreased emotional aversion to harming in counterintuitive utilitarian judgment.&#8221;</a> <em>Cognition</em> 126.3 (2013): 364-372.
<br /></li>
</ol>

<p><a name="citation-25"></a></p>

<ol>
<li>Bartels, Daniel M., and David A. Pizarro. <a href="http://static.squarespace.com/static/4ff4905c84aee104c1f4f2c2/t/5083323be4b02e0cbd1c85a3/1350775355925/Bartels%20Pizarro%20Mismeasure%20of%20Morals.pdf">&#8220;The mismeasure of morals: Antisocial personality traits predict utilitarian responses to moral dilemmas.&#8221;</a> <em>Cognition</em> 121.1 (2011): 154-161.
<br /></li>
</ol>

<p><a name="citation-26"></a></p>

<ol>
<li>Graham, Tiffany, and William Ickes. &#8220;When women&#8217;s intuition isn&#8217;t greater
<br /></li>
</ol>

<p>than men&#8217;s.&#8221; (1997).</p>

<p><a name="citation-27"></a></p>

<ol>
<li>Ickes, William, Paul R. Gesn, and Tiffany Graham. &#8220;Gender differences in
<br /></li>
</ol>

<p>empathic accuracy: Differential ability or differential motivation?.&#8221; <em>Personal Relationships</em> 7.1 (2000): 95-109.</p>

<p><a name="citation-28"></a></p>

<ol>
<li>Klein, Kristi JK, and Sara D. Hodges. <a href="http://blogs.uoregon.edu/socialcognitionlab/files/2013/03/Klein-Hodges_2001-2dbpnl7.pdf">&#8220;Gender differences, motivation, and empathic accuracy: When it pays to understand.&#8221;</a> <em>Personality and Social Psychology Bulletin</em> 27.6 (2001): 720-730.</li>
</ol>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
