<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Where is Homeschooling Most Popular? States By the Numbers &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/where-is-homeschooling-most-popular-states-by-the-numbers/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/where-is-homeschooling-most-popular-states-by-the-numbers/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li><li><a href="https://rs.io/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Where is Homeschooling Most Popular? States By the Numbers</h1>
  <time datetime=2019-04-24T21:10:30Z class="post-date">Wed, Apr 24, 2019</time>
  

<p>Surprisingly, no one has published homeschooling rates per capita for different states, so I&#8217;ve mashed together some census data to figure that out. Unfortunately, only about half of the states publish how many homeschoolers there are in their state.</p>

<p>Initially I tried using an estimate for the other states but the results didn&#8217;t feel plausible, so I&#8217;ve decided to stick with the states I have actual data for.</p>

<p>[table id=1 /]</p>

<h2 id="things-that-stand-out">Things that stand out</h2>

<p>Alaska at the top makes sense but I&#8217;m surprised that North Carolina is such a strong second place. Almost 5% of children are homeschooled there, while nearby West Virgina, in 3rd place, is closer to half of that rate! That seems unlikely&#8211;perhaps it is a quirk of the data.</p>

<p>I&#8217;m not surprised to see mostly red states at the top of the rankings. I&#8217;ve the impression that homeschoolers are mostly trying to shelter their children from a public hostile to their values. Given that <a href="https://www.edweek.org/ew/articles/2017/12/13/survey-paints-political-portrait-of-americas-k-12.html">educators are heavily left-leaning</a>, it&#8217;s hardly surprising that it&#8217;s disproportionately conservatives who have decided to opt out of these institutions.</p>

<p>I am surprised to see Appalachian states like North Carolina and West Virgina above some of the more libertarian inter-mountain West like Montana. Colorado&#8217;s placing is especially disappointing here. It is strange, too, that Washington fares so much worse than Oregon. The states may be more different than I thought.</p>

<p>Notice, too, the divide between two groups of red states: West Virgina and North Carolina on the many-homeschoolers end of the spectrum and Georgia on the other. This may be due to cultural differences between Appalachia and the more authoritarian deep south. (Georgia&#8217;s significant black population likely also plays a role, with <a href="https://www.responsiblehomeschooling.org/homeschooling-101/homeschool-demographics/">whites much more likely to homeschool than other races</a>.)</p>

<p>Notably, in such an Appalachian versus Plantation divide, Arkansas falls firmly into the Appalachian group based on this homeschooling data. This is exactly the perspective of <a href="https://jaymans.wordpress.com/american-nations-series/">Woodard&#8217;s 11 American nations grouping</a>, with the Ozark region as distinctly Appalachian in flavor: <figure class="wp-block-image"></p>

<p><img src="http://eatsquirrel.com/wp-content/uploads/2019/04/north-american-nations-4-3.png" alt="" class="wp-image-20" srcset="https://rs.io/wp-content/uploads/2019/04/north-american-nations-4-3.png 595w, https://rs.io/wp-content/uploads/2019/04/north-american-nations-4-3-300x294.png 300w" sizes="(max-width: 595px) 100vw, 595px" /></figure></p>

<p>Delaware has more homeschoolers than I imagined. At first I thought &#8220;maybe it&#8217;s because all of the libertarians moving there via <a href="https://en.wikipedia.org/wiki/Free_State_Project">the Free State Project</a>&#8220;, and then I realized that&#8217;s actually New Hampshire. Oops.</p>

<p>Perhaps the laws are particularly agreeable there? I applied a custom filter to the <a href="https://www.freedominthe50states.org/">&#8220;Freedom in the 50 States&#8221; project</a> to only take into account homeschooling freedom. Here&#8217;s what that map looks like: <figure class="wp-block-image"></p>

<p><img src="http://eatsquirrel.com/wp-content/uploads/2019/04/2019-04-24T144746-0500-Freedom-in-the-50-States-20172018-Homeschooling-Freedom-custom-Cato-Institute-Mozilla-Firefox.png" alt="Chart of the 50 United States, colored and ranked by friendliness toward homeschoolers." class="wp-image-16" srcset="https://rs.io/wp-content/uploads/2019/04/2019-04-24T144746-0500-Freedom-in-the-50-States-20172018-Homeschooling-Freedom-custom-Cato-Institute-Mozilla-Firefox.png 950w, https://rs.io/wp-content/uploads/2019/04/2019-04-24T144746-0500-Freedom-in-the-50-States-20172018-Homeschooling-Freedom-custom-Cato-Institute-Mozilla-Firefox-300x232.png 300w, https://rs.io/wp-content/uploads/2019/04/2019-04-24T144746-0500-Freedom-in-the-50-States-20172018-Homeschooling-Freedom-custom-Cato-Institute-Mozilla-Firefox-768x593.png 768w" sizes="(max-width: 950px) 100vw, 950px" /><figcaption>You can play with this chart yourself by clicking <a href="https://www.freedominthe50states.org/custom/homeschooling-freedom">here.</a></p>

<p></figcaption></figure></p>

<p>As you can see, Delaware does not fair particularly well, so why there are so many homeschoolers there remains a mystery.</p>

<p>The chart does, however, explain why Connecticut ranks so poorly: it comes in at #50, the state most hostile to homeschoolers. Maybe that&#8217;s why <a href="https://news.gallup.com/poll/168770/half-illinois-connecticut-move-elsewhere.aspx">everyone wants to leave</a>.</p>

<p>Anyway, if you&#8217;d like to download this table and play with it yourself, <a href="http://eatsquirrel.com/wp-content/uploads/2019/04/homeschool_popularity.csv.csv.lnk_.csv">click here</a>.</p>

<h2 id="sources">Sources</h2>

<ul>
<li>I got the number of homeschoolers by state from <a href="https://www.responsiblehomeschooling.org/homeschooling-101/homeschooling-numbers/">this website.</a></li>
<li>The population for each state I took <a href="https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population">off Wikipedia</a>. I used the percent of residents under 18, <a href="https://www.kff.org/other/state-indicator/distribution-by-age/?currentTimeframe=0&amp;sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D">from here</a>, to calculate the number of children for each state.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
