<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Credit Cards &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/vip/credit-cards/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Credit Cards</h1>
  <time datetime=2019-09-04T00:00:00-0500 class="post-date">Wed, Sep 4, 2019</time>
  

<h5 id="get-a-cash-back-credit-card-dot-use-it-for--approximately--everything-dot">Get a cash back credit card. Use it for (approximately) everything.</h5>

<p>When given the option to pay with either a credit card or debit card, it is
generally a mistake to use a debit card: credit cards are more secure <em>and</em>
credit card companies will literally pay you to use them.</p>

<p>Precisely how much they&rsquo;ll pay you is&hellip; complicated. Optimally exploiting
credit card rewards is a problem so-varied that it has spawned a community of
hobbyist money-launderers dedicated to answering it. They have a great many
spreadsheets. Want to spend a weekend (or six) modeling airline miles, travel
points, and your grocery spend in Excel? Welcome to the weird world of
<a href="https://old.reddit.com/r/churning/">/r/churning</a>. These are your people. Start with <a href="https://www.reddit.com/r/churning/wiki/index">the wiki</a> and <a href="https://i.imgur.com/Fl0KgFF.png">this flowchart</a>.</p>

<p>For everyone else, there&rsquo;s</p>

<h2 id="the-simplest-route">The simplest route</h2>

<ol>
<li>Sign up for Citi&rsquo;s &ldquo;Double Cash&rdquo; Card.</li>
<li>Set it to auto-pay your balance in full every month.</li>
<li>Pay for every transaction that accepts credit cards with it.</li>
</ol>

<p>Viola. You&rsquo;ll save 2% on every dollar of spending you shift to this card.</p>

<h4 id="what-s-the-catch">What&rsquo;s the catch?</h4>

<p>There isn&rsquo;t one, beside the standard, &ldquo;if you carry a balance, you&rsquo;ll pay back
your rewards and then some in interest.&rdquo; The card itself doesn&rsquo;t have any
gotchas to keep track of: no annual fees, no minimum spend, nothing like
that. Just use it in place of your debit card and pocket an extra 2%.</p>

<h4 id="or-just-pay-with-cash">(or just pay with cash)</h4>

<p>Do credit cards encourage more spending, compared to cash? At least <a href="https://graphics8.nytimes.com/packages/pdf/Alwaysleavehome-2.pdf">one study</a>
suggests the answer is &ldquo;yes, sometimes.&rdquo; In it, participants were willing to spend as
much as 100% more for items of uncertain value&ndash;in this case, sports
tickets&ndash;when using a credit card than they were when paying with cash.</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
