<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Links for March &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/links-march/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/links-march/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Links for March</h1>
  <time datetime=2014-03-06T20:20:50Z class="post-date">Thu, Mar 6, 2014</time>
  <ul>
<li><p><a href="http://www.cns.nyu.edu/~eero/NOTES/geomLinAlg.pdf">A review of linear algebra,</a> with pictures instead of matrix computation &#8212; which, if the Lord God had possessed a bit more foresight, would have been banned in Leviticus <a href="http://www.godhatesshrimp.com/">instead of shrimp</a>.</p></li>

<li><p><a href="http://genetics.thetech.org/ask-a-geneticist/polydactyly">The mutation for six instead of five fingers is dominant.</a> The good news: children of the future will type faster. The bad news: we will have to throw out all the old gloves. Discussion <a href="http://www.reddit.com/r/todayilearned/comments/1ysgcl/til_the_gene_for_having_six_fingers_is_a_dominant/">here.</a></p></li>

<li><p>Do people believe in free will in order to justify punishing immoral actions? <a href="http://blog.practicalethics.ox.ac.uk/2014/02/free-will-beliefs-and-motivation-to-punish/">Clark et al. think so.</a> &#8220;[E]xposure to immoral behaviour increases beliefs in free will, and that this increase is mediated in part by motivation to punish immoral behaviour.&#8221;</p></li>

<li><p><a href="http://www.sciencedirect.com/science/article/pii/S0191886914000919">Study finds jazz musicians are more creative than those in other genres.</a> I <em>was</em> going to use this as an opportunity to trumpet the innate superiority of jazz musicians over classicists, but then I thought hey &#8212; maybe they&#8217;re more creative because they practice being creative. Lo and behold, <a href="http://www.gwern.net/Drug%20heuristics">unlike IQ</a>, <a href="http://gettingsorted.homestead.com/Scott__et_al__2004_Creativity_Training.pdf">creativity can be improved with training and the gains are transferable.</a> HT: <a href="http://hbdchick.wordpress.com/">hbd* chick</a>.</p></li>

<li><p><a href="http://madcontrarian.wordpress.com/2014/02/20/quick-winter-olympics-digit-ratio-note/">Do Olympians have funny hands?</a></p></li>

<li><p><a href="http://www.npr.org/2013/12/29/257765543/a-campus-more-colorful-than-reality-beware-that-college-brochure">The whiter the college, the more diversity depicted in the brochures.</a></p></li>

<li><p>In the United Kingdom, <a href="http://www.sciencedirect.com/science/article/pii/S0160289610001315">attractive children score about 12 points higher on IQ tests than non-beautiful children</a>. However, non-standard body types do correlate with some measures of cognitive function &#8212; feminine men and masculine women showing stronger spatial performance <a href="http://psycnet.apa.org/journals/dev/12/6/524/">in one study</a>.</p></li>

<li><p>File this under, &#8220;What the fuck, evolution?&#8221; <a href="http://ts-si.org/files/ElliotNiestaRomanticRed.pdf">Men</a> and <a href="http://psycnet.apa.org/journals/xge/139/3/399?utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed:%20apa-journals-xge%20%28Journal%20of%20Experimental%20Psychology:%20General%29">women</a> both find the opposite sex more attractive when they wear the color red.</p></li>

<li><p>Publishers Springer and IEEE have been <a href="http://www.nature.com/news/publishers-withdraw-more-than-120-gibberish-papers-1.14763">forced to take down</a> more than 120 papers after discovering that they were fakes, generated by the program <a href="http://pdos.csail.mit.edu/scigen/">SCIgen</a>. How&#8217;s that peer review working out again?</p></li>

<li><p><a href="http://www.elsewhere.org/pomo/">This page</a> generates new postmodern works each time you refresh it, and you know what? Auto-generated postmodernism is still better than actual postmodernism.</p></li>

<li><p><a href="http://en.wikipedia.org/wiki/Buffalo_buffalo_Buffalo_buffalo_buffalo_buffalo_Buffalo_buffalo">&#8220;Buffalo buffalo Buffalo buffalo buffalo buffalo Buffalo buffalo&#8221;</a> is a grammatically correct sentence in American English. It means &#8220;Buffalo bison that other Buffalo bison bully, themselves bully Buffalo bison.&#8221; Maybe this illustrates the limits of grammatical correctness?  My third-grade teacher told me, &#8220;You can start a sentence with &#8216;and&#8217; when you&#8217;re a best-selling author.&#8221; And now I do it whenever I want.</p></li>

<li><p><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0085251#s1">Those who believe in hell are less satisfied</a> and less happy with their lives than their hell-denying counterparts, even after controlling for religiosity. I dated a girl once whose parents thought that bad dreams were spiritual warfare. If I thought that dreaming I was a giant donut was <em>literally the work of the devil</em>, I&#8217;d be freaked out, too.</p></li>

<li><p><a href="http://archinte.jamanetwork.com/article.aspx?articleid=1105943">Depression risk decreases with increased caffeine consumption among women.</a> You know what they say &#8212; &#8220;Happy wife, happy life.&#8221; Start dosing your spouse.</p></li>

<li><p><a href="http://www.medicalnewstoday.com/articles/273393.php">&#8220;When playing the dictator game, non-ovulating women shared 45% of their money with men, while ovulating women were willing to share 60% of their money with men.&#8221;</a></p></li>

<li><p>Education is politically polarizing: <a href="http://www.theatlantic.com/politics/archive/2014/02/why-americans-are-so-polarized-education-and-evolution/284098/">&#8220;Highly educated liberals become more liberal, while highly educated conservatives grow more conservative.&#8221;</a></p></li>

<li><p><a href="http://www.huffingtonpost.com/2012/04/30/college-dropout-jason-pad_n_1464835.html">Guy working at futon store gets kicked in the head and becomes a number theorist.</a></p></li>

<li><p><a href="http://web.mit.edu/nagaraj/files/copyright_nagaraj.pdf">The chilling effects of copyright law on reuse</a>: &#8220;a back-of-the envelope calculation suggests that a lower bound on the loss to social welfare from copyright is about $267,335 annually for Wikipedia.&#8221;</p></li>

<li><p><a href="http://www.livescience.com/36492-yellow-dye-5-tartrazine-mountain-dew-sperm.html">&#8220;It&#8217;s impossible to say how many, if any, couples relied solely on Mountain Dew for birth control.&#8221;</a></p></li>

<li><p>A psychology graduate student, three psychologists, a pediatrician, a psychiatrist, a painter and a housewife with no history of mental illness gain entrance into psychiatric hospitals around the country by pretending to hear voices. From that point on, they act normally. <a href="http://en.wikipedia.org/wiki/Rosenhan_experiment">&#8220;Despite constantly and openly taking extensive notes on the behavior of the staff and other patients, none of the pseudopatients were identified as impostors by the hospital staff, although many of the other psychiatric patients were able to identify them as impostors.&#8221;</a></p></li>

<li><p><a href="http://musicmachinery.com/2014/02/25/exploring-regional-listening-preferences/">A map of every state&#8217;s favorite band.</a></p></li>

<li><p><a href="http://www.reddit.com/r/math/comments/1z25ea/which_math_books_are_so_well_written_that_even_if/">Which math books are so well written that even if you did not like the subject before, you could still read and enjoy the book?</a></p></li>

<li><p><a href="http://imagine.gsfc.nasa.gov/docs/ask_astro/answers/970603.html">An astronaut can survive unprotected in space for about half a minute before suffering permanent damage.</a></p></li>

<li><p><a href="http://en.wikipedia.org/wiki/Sesame_Square">The Nigerian version of Sesame Street features an HIV positive muppet.</a> I would like to know how one gets a muppet HIV positive.</p></li>

<li><p><a href="http://www.bbc.co.uk/podcasts/series/maths">The BBC has a podcast on the history of mathematics</a> &#8212; episodes currently span Newton, Galois, Bourbaki, and ten others.</p></li>

<li><p><a href="http://languagelog.ldc.upenn.edu/nll/?p=10775">Universities, in an analog to patent trolls, are trademarking phrases like, &#8220;cure violence,&#8221; and &#8220;be the difference.&#8221;</a></p></li>

<li><p>Simon Peyton Jones has <a href="https://research.microsoft.com/en-us/um/people/simonpj/papers/giving-a-talk/writing-a-paper-slides.pdf">slides</a> up on how to write a research paper. My thinking after reading it: The aim of all writing is to infect the reader with an idea as if it were Marburg haemorrhagic fever.</p></li>

<li><p><a href="https://www.amstat.org/newsroom/pdfs/JustHowPredictablearetheOscars.pdf">How predictable are the Oscars?</a></p></li>

<li><p><a href="http://dartthrowingchimp.wordpress.com/2014/03/03/the-wisdom-of-crowds-oscars-edition/">Prediction markets call 21 out of 24 Oscar winners.</a></p></li>

<li><p><a href="http://lesswrong.com/r/discussion/lw/jsp/political_skills_which_increase_income/">What factors most correlate with salary?</a></p></li>

<li><p><a href="http://www.nickbostrom.com/papers/embryo.pdf">&#8220;We find that embryo selection, on its own, may have significant (but likely not drastic) impacts over the next 50 years, though large effects could accumulate over multiple generations.&#8221;</a></p></li>

<li><p><a href="https://www.google.com/search?site=&amp;tbm=isch&amp;source=hp&amp;biw=1280&amp;bih=691&amp;q=erotic+watches&amp;oq=erotic+watches&amp;gs_l=img.3...940.2642.0.2728.14.4.0.10.0.0.91.271.4.4.0....0...1ac.1.36.img..11.3.222.y49mpHqUuuk">So, erotic watches are a thing.</a></p></li>

<li><p>On Pokemon: <a href="http://thepunchlineismachismo.com/archives/comic/04052010">&#8220;I always just assumed Kanto screened all the dumb kids outta its schools by the age of ten and invented the sport to trick them into getting lost in the woods.&#8221;</a></p></li>

<li><p><a href="http://artent.net/">A couple of mathematicians at Penn blogging about AI.</a></p></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
