<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>I Hate My Phone &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/i-hate-my-phone/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>I Hate My Phone</h1>
  <time datetime=2011-10-19T03:26:51Z class="post-date">Wed, Oct 19, 2011</time>
  

<p>I read <a href="http://thisismynext.com/2011/10/18/exclusive-matias-duarte-ice-cream-sandwich-galaxy-nexus/">an interesting interview with Matias Duarte</a>, Android&#8217;s head of user experience, this morning. The article was pretty good, but that&#8217;s not what I want to talk about. This is what I want to talk about:</p>

<blockquote>
<p>&#8220;What we heard from everyone we talked to in the study was that they love</p>

<p>these things (smartphones), they are a part of their lives. They&#8217;re incredibly</p>

<p>passionate about them. They can&#8217;t live without them. That was awesome. But we</p>

<p>also heard a lot of things we didn&#8217;t like to hear.&#8221;</p>
</blockquote>

<p>This makes me sad because I feel like I&#8217;m supposed to love my smartphone, and I don&#8217;t.</p>

<p>See, I&#8217;m a geek &#8212; or a nerd or a technologist or what-have-you &#8212; and my life is fundamentally centered around interactions with computers, but here&#8217;s the thing: I don&#8217;t really a give a shit about my smartphone. My relationship with my smartphone is just plain <em>shallow</em>, decidedly so when compared with how I feel about my desktop or MacBook.</p>

<p>Actually, you know what, I hate my smartphone.</p>

<p>Before you start foaming at the mouth, gentle reader, my smartphone is running Android and not iOS, but &#8212; before owning an Atrix &#8212; I owned an iPhone 3G, and I hated that, too. This isn&#8217;t about iOS vs Android. I hate them both.</p>

<p>Now, I&#8217;m not saying that my smartphone isn&#8217;t useful. It is. My computer, though, isn&#8217;t just useful. It changes the way I interact with <em>everything</em>. If I felt the same way about my computer as I do about my Android device, I would be thinking &#8220;well, at least I don&#8217;t have to use the phonebook to look this up.&#8221;</p>

<h4 id="i-love-computers-but-hate-my-smartphone">I love computers, but hate my smartphone.</h4>

<p>It&#8217;s not that I don&#8217;t know how to use my smartphone. It&#8217;s true that I don&#8217;t know the full potential of the device: all the touch gestures, useful applications, power user stuff, but, really, what is there to it? You can call people, browse the web, take photos, send text messages, and play Angry Birds.</p>

<p>The block that I have is: I can&#8217;t do anything <em>useful</em> with a smartphone! I can&#8217;t do work with it. Text input is just a huge pain and the screen is too small to do any useful reading. It&#8217;s portable, sure, but I&#8217;d always rather use a PC or laptop than a smartphone, if given the option.</p>

<p>When I&#8217;m sitting on the couch, I don&#8217;t pull out my smartphone. I open up my MacBook. When I want to browse the web, I use my MacBook. If I&#8217;m going to do some writing, like this post, <em>I don&#8217;t use my smartphone</em>, I use my MacBook. When coding or listening to music, I use my desktop.</p>

<p>I do use my smartphone to browse the web, on occasion, so there&#8217;s that, but it&#8217;s whenever I don&#8217;t have my laptop or desktop handy. I only interact with one site at a time, and it&#8217;s just not very pleasant. It feels very limited, not at all empowering.</p>

<p>The rest of the ways that I interact with my smartphone, they&#8217;re all social and, as an introvert, it just doesn&#8217;t hold a whole lot of appeal for me. My text messaging skill and finesse, especially when compared to my typing ability, it&#8217;s pathetic. I hate trying to input text on the device, especially complex passwords: what a pain!</p>

<p>The least excusable failing of Android and iOS, I&#8217;ve realized while writing this, is that I can&#8217;t move from what I&#8217;m working on with my MacBook or desktop and then to my smartphone. That would be great, even if the transition between form factors would maybe be a little awkward. Imagine if you could just resume your browsing session on your laptop or desktop from your phone.</p>

<p>After all, the desktop and laptop markets, they&#8217;re going to go the way of the workstation (and the dodo). They might remain in certain niches but, fundamentally, those markets are going to be disrupted by more portable options. The desktop market is already disappearing, cannibalized by laptops. That&#8217;s why IBM got out of the PC market.</p>

<p>We&#8217;re going to keep the laptop form factor for a while, I believe, but I think that they&#8217;ll just be shells that you plug your smartphone into. The keyboard as input is still the best tool for the job, thus far, and there will always be a market for devices with screens larger than 4.2&#8243;, so it doesn&#8217;t make sense for that form factor to disappear.</p>

<p>That&#8217;s where Android and iOS should be headed: integration with the OS, empowering users, providing the means to create meaningful works on these devices. Computing isn&#8217;t just consuming media and talking with your friends!</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
