<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Thoughts On The Police Body Cameras Privacy Debate &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/police-body-cameras-privacy-debate/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Thoughts On The Police Body Cameras Privacy Debate</h1>
  <time datetime=2014-01-04T02:54:31Z class="post-date">Sat, Jan 4, 2014</time>
  <p>There&#8217;s a <a href="http://www.reddit.com/r/todayilearned/comments/1uegst/til_the_nypd_once_stripsearched_a_black_man/">link on Reddit</a> to the sort of story that the internet can&#8217;t get enough of: police abuse. This time, <a href="http://en.wikipedia.org/wiki/Abner_Louima">the NYPD sodomizing a black man with a plunger</a>.</p>

<p>People love to hear about the abuse of power. Something along the lines of it keying into our gossip reward centers with a side of moralizing. To indulge in creating my own evo-psych <a href="http://en.wikipedia.org/wiki/Just-so_story">just-so story</a>: gossiping about the misdeeds of your hated rival, head-chimp Heephop, might be a way of polling public sentiment as to your chances at a successful coup. Disrupt the existing peace, topple the power structure and, hey, maybe now you&#8217;re on top. Or at least higher up.</p>

<p>But I digress. I want to bring your attention to the top comment, which is:</p>

<blockquote>
<p>That is the reason I like the idea of all cops having to wear GoPros strapped to their chest.</p>
</blockquote>

<p>To which another user responded (also highly voted):</p>

<blockquote>
<p>Honest cops should be in favor of this too, because citizen complaints also drop to near zero (cops often say they get a lot if bullshit complaints from people who want to get back at them). Neither side has much of an argument when there&#8217;s video.</p>
</blockquote>

<p>This brings me to the <strong>police body cameras privacy debate</strong>.</p>

<p>The argument, then, is something like, &#8220;Police should be recorded because of all the abuse it will prevent. If you need to know what really happened, you can look at the recording.&#8221; Or, to lead you to the point of this post, surveillance of the police is an a-okay subset of surveillance more generally.</p>

<p>But these same arguments apply to recording everything! Want to stop people from murdering other people? (Yes.) Record everything, everyone, everywhere. If you need to know who murdered whom, or verify an alibi, go look it up in the archive.</p>

<p>At this point, the discussion we ought to be having is <em>how can surveillance be implemented effectively</em>. People worry, rightly, that the recent NSA revelations and that sort of thing are symptomatic of expanding executive power, which enables abuse. The question should not be how can we reverse surveillance, one might as profitably ask how to reverse the spinning of the earth on its axis. Instead, we should be thinking about questions like, &#8220;How ought surveillance be implemented? What sort of power structures are best?&#8221;</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
