<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>What affects your personal identity? You’re a sponge. &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/what-affects-your-personal-identity/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>What affects your personal identity? You’re a sponge.</h1>
  <time datetime=2014-03-10T21:54:13Z class="post-date">Mon, Mar 10, 2014</time>
  

<p><a href="https://rs.io/wp-content/uploads/2014/03/nudibranch.png"><img class="aligncenter size-full wp-image-387" src="https://rs.io/wp-content/uploads/2014/03/nudibranch.png" alt="nudibranch" width="492" height="478" srcset="https://rs.io/wp-content/uploads/2014/03/nudibranch.png 492w, https://rs.io/wp-content/uploads/2014/03/nudibranch-300x291.png 300w" sizes="(max-width: 492px) 100vw, 492px" /></a></p>

<p>That <em>thing</em> is the most badass of all sea slugs, the nudibranch. The nudibranch is more a family of sea slugs than one species, and the name comes from the Latin nudus, meaning naked, as it has no shell.</p>

<p>This slug is not remarkable for its nudity, although &#8220;naked sea slugs&#8221; would make a good name for a band. No, the remarkable thing about the nudibranch is that it eats jellyfish, digests their stinging cells, and then incorporates those same cells into its body as a defense mechanism.</p>

<p>It uses the same mechanism to absorb the chloroplasts from plant cells, enabling the <em>slug</em> to turn sunlight into food. It&#8217;s a <em>photosynthesizing slug</em>.</p>

<p>The nudibranch literally digests and absorbs the abilities of the creatures it eats. You, gentle reader, are like that nudibranch.</p>

<h2 id="identity-considered-harmful">Identity considered harmful</h2>

<p>Identity is <em>weird.</em> Take politics. I once met this dude and we had a lot in common. He was a software guy, working for the Obama campaign. We hit it off, talking about BitTorrent and evolution, and then he brought up politics.</p>

<p>That was a mistake. We disagreed about the desirability of government regulation, and that was the end of it. He avoided me for the rest of the day.</p>

<p>Politics is a dangerous subject. Revealing your political leanings on Facebook is a great way to alienate half (or more) of your friends. I&#8217;ve heard this officialized as dating advice &#8212; &#8220;Don&#8217;t R.A.P.E your date,&#8221; where each letter is a topic to avoid:</p>

<ul>
<li><strong>R</strong>eligion</li>
<li><strong>A</strong>bortion</li>
<li><strong>P</strong>olitics</li>
<li><strong>E</strong>xes</li>
</ul>

<p>Why are people so weird about religion and politics? Because they identify as one tribe or another. If you disagree with the politics of their favorite tribe, well, that feels like a personal attack.</p>

<h2 id="but-you-8217-re-a-sponge">But you&#8217;re a sponge</h2>

<p><a href="https://rs.io/wp-content/uploads/2014/03/sponge.png"><img class="aligncenter size-full wp-image-386" src="https://rs.io/wp-content/uploads/2014/03/sponge.png" alt="sponge" width="454" height="341" srcset="https://rs.io/wp-content/uploads/2014/03/sponge.png 454w, https://rs.io/wp-content/uploads/2014/03/sponge-300x225.png 300w" sizes="(max-width: 454px) 100vw, 454px" /></a></p>

<p>Not all identity sucks, though. One of the best: identity as a sponge.</p>

<p>The sponge is a duplicator, an absorber, like the nudibranch. Whenever a sponge notices someone doing something cool, he incorporates it into his own identity.</p>

<p>Consider style in writing. Where does it come from? Does it spring forth from the inner recesses or our minds, the product of a <em>true self</em>? Nah, fuck that. Style is a result of absorbing the awesome things you read.</p>

<p>Impressive works don&#8217;t fall out, wholly formed from some lucky stiff&#8217;s mind. Everyone has some sorta process and, if you figure it out, you can absorb and reproduce anything anyone else can do.</p>

<blockquote>
<p>What one fool can do, another can.</p>
</blockquote>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>I&#8217;ve written before about <a href="https://rs.io/core-human-values/">the weirdness of identity</a>.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
