<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Boy Girl Paradox Explained &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/the-boy-girl-paradox-explained/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/the-boy-girl-paradox-explained/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>The Boy Girl Paradox Explained</h1>
  <time datetime=2014-03-05T18:35:04Z class="post-date">Wed, Mar 5, 2014</time>
  

<p>Probability theory is notorious for violating human intuition. Consider the <strong>Boy Girl Paradox:</strong></p>

<blockquote>
<p>Mr. Smith has two children. At least one of them is a boy. What is the probability that both children are boys?</p>
</blockquote>

<p>Answer: <span style="background-color: #000000;">Of course, the brain thinks, it must be one half. Except it isn&#8217;t. It&#8217;s one in three.</span></p>

<p>(Edit: note that the problem can be interpreted in two ways, making it ambiguous as formulated. See the comments for details.)</p>

<h2 id="trust-but-verify">Trust, but Verify</h2>

<p>If the whole <a href="http://en.wikipedia.org/wiki/Monty_Hall_problem#Vos_Savant_and_the_media_furor">Monty Hall debacle</a> and my sister&#8217;s reaction (&#8220;That&#8217;s bullshit!&#8221;) are any indication, though, you will not believe me. We must force the intuition to see the error of its ways.</p>

<p>Let&#8217;s consider a set of 100 pairs of children and assume that it&#8217;s a perfect, representative sample. This means that &#92;(\frac{1}{4}&#92;) is &#92;(&#40;Boy, Boy&#41;&#92;), &#92;(\frac{1}{4}&#92;) is &#92;(&#40;Boy, Girl)&#92;), &#92;(\frac{1}{4}&#92;) is &#92;(&#40;Girl, Boy)&#92;), and &#92;(\frac{1}{4}&#92;) is &#92;(&#40;Girl, Girl&#41;&#92;).</p>

<p>Visually:</p>

<p><img src="https://rs.io/img/boy-girl-paradox-1.png" alt="&quot;Picture of pairs in the Boy Girl Paradox.&quot;" /></p>

<p>We don&#8217;t need to consider double girl sets, since the problem specifies at least one child is a boy.</p>

<p><img src="https://rs.io/img/boy-girl-paradox-2.png" alt="&quot;Picture of pairs in the Boy Girl Paradox, without girl pairs.&quot;" /></p>

<p>From the image, we can see that there are twice as many boy-girl pairs than double boy pairs &#8212; giving us &#92;(\frac{1}{3}&#92;).</p>

<p><img src="https://rs.io/img/boy-girl-paradox-3.png" alt="&quot;Picture of solution to the Boy Girl Paradox.&quot;" /></p>

<p>Examining this problem suggests a more general heuristic:</p>

<p><strong>Heuristic:</strong> <em>When considering a probability problem, consider all possible permutations. Draw a picture.</em></p>

<h2 id="the-other-problem">The Other Problem</h2>

<p>Usually, the problem is presented as a pair of problems, the second of which is:</p>

<blockquote>
<p>Mr. Jones has two children. The older child is a girl. What is the probability &gt; that both children are girls?</p>
</blockquote>

<p>Answer: <span style="background-color: #222222;">This time it is one half. Can you see why?</span></p>

<p>Consider the original image again:</p>

<p><img src="https://rs.io/img/boy-girl-paradox-1.png" alt="&quot;Picture of pairs in the Boy Girl Paradox.&quot;" /></p>

<p>Then eliminate all pairs where the eldest child is not a girl:</p>

<p><img src="https://rs.io/img/boy-girl-paradox-4.png" alt="&quot;Picture of eldest girl child pairs in the Boy Girl Paradox.&quot;" /></p>

<p>&#92;(\frac{1}{2}&#92;) of the pairs are &#92;(&#40;Girl,Girl&#41;&#92;).</p>

<h2 id="debugging-the-intuition">Debugging the Intuition</h2>

<p><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.99.1889&amp;rep=rep1&amp;type=pdf">When MBA students were presented with the first problem</a>, 83% of them gave an answer of &#92;(\frac{1}{2}&#92;). Why is this so tempting? Why does intuition lead us astray?</p>

<p>I&#8217;ve heard that teachers consider wrong answers on tests to be valuable feedback. They can see the sort of errors that children make and iron out the conceptual bugs, so to speak. Consider the process of coming up with wrong answer to the first problem. When I worked through it the first time, I thought, &#8220;Well, I know that one child is a boy, so there&#8217;s a 50% chance that the other child is a boy.&#8221; The trouble with this is that it implicitly fixes the first child as a boy &#8212; like the second problem does &#8212; but this is not a valid move.</p>

<p><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.99.1889&amp;rep=rep1&amp;type=pdf">Fox and Levav</a> argue that people have a faulty heuristic in their head, that works like this:</p>

<p><strong>Faulty Heuristic</strong>: <em>People split up the sample space in the simplest way necessary to accommodate the problem&#8217;s parameters.</em> In the boy or girl paradox, the simplest way of splitting up the problem space &#8212; whether or not there are two boys &#8212; is by halving it.</p>

<p>Finding the correct answer to the problem feels different. It&#8217;s more of a, &#8220;Wait, what are all the possibilities?&#8221; followed by listing them out, &#92;(&#40;Boy, Boy&#41;&#92;), &#92;(&#40;Boy, Girl&#41;&#92;), &#92;(&#40;Girl, Boy&#41;&#92;), &#92;(&#40;Girl, Girl&#41;&#92;). Once that&#8217;s done, the final step is taking care not to eliminate &#92;(&#40;Girl, Boy&#41;&#92;) by falsely assuming that only those in which &#92;(Boy&#92;) comes first are valid, at which point the solution is a matter of counting. This is much easier to avoid when everything is out on paper than it is when considering it mentally.</p>

<p>The trouble with the intuition may just be that it is too quick to compress the space of possibilities &#8212; &#8220;It can either be &#92;(Boy&#92;) or &#92;(Girl&#92;)!&#8221; thinks the fast, <a href="http://en.wikipedia.org/wiki/Dual_process_theory">system one</a> processor. By slowing it down, listing out all the possibilities, and only throwing out those that don&#8217;t apply &#8212; &#92;(&#40;Girl, Girl&#41;&#92;) &#8212; we avoid that failure mode and arrive at the right answer.</p>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li><p>If you enjoyed this, you may enjoy my articles on <a href="https://rs.io/the-secretary-problem-explained-dating/">the secretary problem exlained</a>, on</p>

<p><a href="https://rs.io/the-science-of-problem-solving/">the science of problem solving</a>, and maybe <a href="https://rs.io/what-makes-something-interesting/">what makes something interesting</a>.</p></li>

<li><p>If you&#8217;re still unconvinced, Wikipedia has more information on <a href="http://en.wikipedia.org/wiki/Boy_or_Girl_paradox">the Boy or Girl paradox</a>.</p></li>

<li><p>The canonical example of a counterintuitive probability problem is <a href="http://en.wikipedia.org/wiki/Monty_Hall_problem#Vos_Savant_and_the_media_furor">The Monty Hall Problem</a>, which tripped up even Paul Erdős. Wikipedia has a <a href="http://en.wikipedia.org/wiki/Category:Probability_theory_paradoxes">list</a> of others.</p></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
