<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Web Roundup: Links for September &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/web-roundup-links-september/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/web-roundup-links-september/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Web Roundup: Links for September</h1>
  <time datetime=2014-09-08T20:06:09Z class="post-date">Mon, Sep 8, 2014</time>
  <ul>
<li><p><a href="http://en.wikipedia.org/wiki/John_Sedgwick#Death">Famous last words</a>: &#8220;Why are you dodging &#91;bullets&#93; like this? They couldn&#8217;t hit an elephant at this distance.&#8221;</p></li>

<li><p><a href="http://www.slate.com/articles/health_and_science/science/2014/07/replication_controversy_in_psychology_bullying_file_drawer_effect_blog_posts.single.html">&#8220;A 2012 survey of the top 100 psychology journals found that barely 1 percent of papers published since 1900 were purely attempts to reproduce previous findings.&#8221;</a></p></li>

<li><p><a href="http://econlog.econlib.org/archives/2011/10/teachers_and_in.html">More evidence</a> that the standard education narrative (&#8220;more education, fewer problems&#8221;) is false.</p></li>

<li><p><a href="http://cseweb.ucsd.edu/~voelker/pubs/namevalue-weis14.pdf">&#8220;From the referrer logs in our data set, we found that 20 to 40 percent of sales from email spam arise from users who actively open their spam folder and click on links to pharmacy sites. Indeed, this user behavior is one of the reasons that blacklisted domains in our data set earn 87% of their revenue after being blacklisted.&#8221;</a></p></li>

<li><p>2000 study: <a href="http://journals.lww.com/cjsportsmed/Fulltext/2000/10000/Does_Sex_the_Night_Before_Competition_Decrease.1.aspx">Does Sex the Night Before Competition Decrease Performance?</a> Answer: no. I have heard this theory about art, too, that an artist needs to be sexually starved to create great work. I suspect the causality is wrong: those in relationships (and sexual) have less time for creation, therefore fewer great works.</p></li>

<li><p><a href="http://mlwave.com/reflecting-back-on-one-year-of-kaggle-contests/">Reflecting back on one year of Kaggle contests</a>.</p></li>

<li><p><a href="http://www.rd.com/slideshows/supermarket-tricks/#slideshow=slide2">&#8220;Shopping carts are getting larger because testing reveals that they encourage customers to buy more.&#8221;</a></p></li>

<li><p><a href="http://blog.netbsd.org/tnf/entry/an_internet_ready_os_from">&#8220;The most time-consuming part of operating system development is obtaining enough drivers to enable the OS to run real applications which interact with the real world. NetBSD&#8217;s rump kernels allow reducing that time to almost zero.&#8221;</a></p></li>

<li><p><a href="http://www.investopedia.com/financial-edge/0512/low-vs.-high-risk-investments-for-beginners.aspx">&#8220;The odds of any driver experiencing a car crash in their lifetime is quite high (25%)&#8221;</a></p></li>

<li><p><a href="http://cid.bcrp.gob.pe/biblio/Papers/NBER/2006/Octubre/w12546.pdf">The number of years spent as a European colony is strongly positively related to the island&#8217;s GDP per capita and negatively related to infant mortality. &#8230; Time spent as a colony after 1700 is more beneficial to modern income than years before 1700, consistent with a change in the nature of colonial relationships over time.</a></p></li>

<li><p><a href="http://www.futilitycloset.com/2014/08/09/king-of-the-jungle/">The mayor of Talkeetna, Alaska, is a cat named Stubbs.</a></p></li>

<li><p><a href="http://marginalrevolution.com/marginalrevolution/2014/08/the-education-premium-for-prostitutes.html">Prostitutes with a college degree earn more than those without.</a></p></li>

<li><p>From a write-up of Coursera reviews: <a href="http://augmentedtrader.com/2013/01/28/review-of-computational-investing-part-i-taught-by-tucker-balch/">&#8220;Of students who completed the course 92.0%  read the forums.  Of those who did not complete the course, only 66.0% read the forums.&#8221;</a></p></li>

<li><p>&#8220;Participants in a study published this year rated writing samples more favorably when the author’s name included a middle initial; they also <a href="http://www.theatlantic.com/magazine/archive/2014/09/how-to-look-smart/375062/">presumed people with middle initials to be of higher social status</a> than their uninitialed peers.&#8221; (via <a href="http://marginalrevolution.com/marginalrevolution/2014/08/how-to-look-smart.html">Marginal Revolution</a>)</p></li>

<li><p><a href="http://news.discovery.com/animals/giant-anteaters-can-kill-people-140731.htm">When giant ant eaters attack</a>. (via <a href="http://www.isegoria.net/2014/08/giant-anteaters-can-kill-people/">Isegoria</a>)</p></li>

<li><p><a href="https://peerj.com/preprints/447v1.pdf">P-hacking is accelerating and, as a corollary, scientific integrity deteriorating</a> &#8212; maybe this is a symptom of increased competition for tenure-track positions? With a glut of grad students fighting over a few available spots, it&#8217;s not surprising that 1) the less ethically constrained are more likely to succeed and 2) people are more likely to manipulate results. I can&#8217;t condemn this too much because I once gave the nod to this sort of thing, arguing that <a href="https://rs.io/when-is-it-ok-to-break-the-rules/">breaking the rules is part of the game</a>. (via <a href="http://slatestarcodex.com/2014/08/17/links-for-august-2014/">SlateStarCodex</a>)</p></li>

<li><p>I have been informed that <a href="http://www.railstutorial.org/book">this is the best way to learn Rails</a>.</p></li>

<li><p><a href="http://slatestarcodex.com/2014/08/28/more-links-for-august/">&#8220;Israeli wars should be thought of less as any attempt to change things, and more as some sort of horrible tension-release cycle like forest fires&#8221;</a></p></li>

<li><p><a href="http://articles.philly.com/1986-01-15/news/26052630_1_hostage-crisis-soviet-captives-islamic-liberation-organization">How the Soviet Union handled hostage negotiation.</a></p></li>

<li><p><a href="http://www.businessweek.com/articles/2014-08-12/only-45-percent-of-upper-middle-class-households-are-saving-money">&#8220;Just 45 percent of upper-middle-class households (income from $75,000 to $99,999) saved anything in 2012&#8221;</a></p></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
