  <p>I have done some informal polling and found that only those in the very tippy
top percentile Wonderfulness, the
very-official-psychological-category-that-I&rsquo;m-definitely-not-making-up-right-now,
ever make it here. Statistically, if you&rsquo;re reading this you are among the most
wonderful people in the world.  This may be hard to believe but, well, that&rsquo;s
science for you. The calculations I&rsquo;ve done are very rigorous and the results
are inarguable: You are wonderful.</p>

<p>To commemerate your <del>initiation</del> subscription, I&rsquo;ve painstakingly knit you this
virtual t-shirt:</p>
<div class="highlight"><pre class="chroma"><code class="language-text" data-lang="text">              ._      _.
             /  `&#34;&#34;&#34;&#34;`  \
        .-&#34;&#34;`&#39;-..____..-&#39;`&#34;&#34;-.
      /`\                    /`\
    /`   |                  |   `\
   /`    |    _official_    |    `\
  /      |                  |      \
 /       /      rs.io       \       \
/        |                  |        \
&#39;-._____.|    best friend   |._____.-&#39;
         |                  |
         |                  |
         |                  |
         \                  |
         /                  |
         |                  \
         |                  |
         &#39;._              _.&#39;
            `&#34;&#34;--------&#34;&#34;`</code></pre></div>
<p>Since you were cool enough to trust me with your email, I&rsquo;ll tell you something
embarrassing about me: the first time I ate cannabis, I called 911 because I
thought I was going to die. I&rsquo;ll tell you all about it in a future email,
maybe. I&rsquo;ve got a bunch of other cool stuff planned first, though.</p>

<p>Talk soon,
robb</p>

<p>P.S. If you gotta know it was <a href="https://www.reddit.com/r/Drugs/comments/47b9y8/eating%5Fhash%5Fin%5F1857/"><strong>exactly</strong> like this</a>.</p>

