<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Web Roundup: Links For August &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/web-roundup-links-august/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Web Roundup: Links For August</h1>
  <time datetime=2014-07-31T00:41:49Z class="post-date">Thu, Jul 31, 2014</time>
  

<ul>
<li><a href="http://usefulscience.org/">Useful Science</a> is a super cool website, aimed at summarizing instrumentally useful science. Example <a href="http://usefulscience.org/post/morning-sunlight-exposure-makes-it-easier-wake-early-next-day">from the site</a>: &#8220;Thirty minutes of sunlight exposure in the morning makes it easier to wake up early the next day.&#8221; Bonus: my <a href="https://rs.io/software-writers-tools-improve-writing/">software tools to improve writing</a> post is referenced in the site&#8217;s style guide.</li>
</ul>

<h2 id="economics">Economics</h2>

<ul>
<li><p><a href="http://fivethirtyeight.com/datalab/the-most-shocking-result-in-world-cup-history/">Betting markets beat statistical models when it came to predicting Germany&#8217;s 7-1 win over Brazil.</a></p></li>

<li><p>&#8220;The growth of incarceration rates among black men in recent decades combined with the sharp drop in black employment rates during the Great Recession have left most black men in a position relative to white men that is really <a href="https://www.google.com/search?q=position+relative+to+white+men+that+is+really+no+better+than+the+position+they+occupied+only+a+few+years+after+the+Civil+Rights+Act+of+1965.+-+See+more+at%3A+http%3A%2F%2F127.0.0.1%3A4000%2F%23sthash.pjKM4UTR.dpuf&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;rls=org.mozilla:en-US:official&amp;client=firefox-a&amp;channel=sb#channel=sb&amp;q=position+relative+to+white+men+that+is+really+no+better+than+the+position+they+occupied+only+a+few+years+after+the+Civil+Rights+Act+of+1965.&amp;rls=org.mozilla:en-US:official">no better than the position they occupied only a few years after the Civil Rights Act of 1965</a>.&#8221;</p></li>

<li><p>Greg Mankiw (economist)&#8217;s <a href="http://gregmankiw.blogspot.com/2006/05/summer-reading-list.html">reading list</a>.</p></li>

<li><p>Self-perceived unattractive people are [more inclined to care about equality issues</p>

<p>.]<a href="http://www.gsb.stanford.edu/sites/gsb/files/publication-pdf/Belmi%20Neale%20Mirror%20Mirror%20OBHDP.pdf">7</a> The implication being, naturally, that everyone on Tumblr has very poor self-image.</p></li>

<li><p>Why are large companies so inefficient? Because they lack an internal price mechanism &#8212; From <a href="http://blogs.valvesoftware.com/economics/why-valve-or-what-do-we-need-corporations-for-and-how-does-valves-management-structure-fit-into-todays-corporate-world/">Valve&#8217;s economist</a>: &#8220;And yet, quite paradoxically, firms can be thought of as market-free zones. Within their realm, firms (like societies) allocate scarce resources (between different productive activities and processes). Nevertheless they do so by means of some non-price, more often than not hierarchical, mechanism!&#8221;</p></li>

<li><p><a href="http://money.stackexchange.com/questions/3787/how-common-is-counterfeit-money-in-circulation">$1 out of every $10,000 is counterfeit.</a></p></li>

<li><p><a href="http://www.overcomingbias.com/2014/07/bets-as-loyalty-signals.html">How to use bets to signal devotion.</a></p></li>

<li><p>Self-publishing continues to take over the book market: <a href="http://authorearnings.com/july-2014-author-earnings-report/">&#8220;We can now say that self-published authors earn more in royalties than Big 5 authors, combined.&#8221;</a></p></li>

<li><p>I&#8217;ll take <a href="http://en.wikipedia.org/wiki/Rent-seeking">rent seeking</a> for $350, Alex: <a href="http://licensetowork.ij.org/50">Make-up artist is the 22nd most regulated occupation,</a> with some states requiring 280 days of schooling and several exams.</p></li>

<li><p><a href="http://sethbannon.com/mistakes-you-should-never-make">Amicus founder on mistakes and lessons learned.</a></p></li>

<li><p>Marginal Revolution has this recurring category of post, &#8220;Markets in Everything,&#8221; which documents the outlandish things that people will pay for. Now I have one of my own: <a href="https://www.etsy.com/shop/RearGear">butt covers for your dog.</a></p></li>

<li><p>In 2011, Paul Buchheit (gmail creator) shared <a href="http://paulbuchheit.blogspot.com/2011/01/angel-investing-my-first-three-years.html?m=1">his angel investing returns after 3 years</a>. 10%.</p></li>
</ul>

<h2 id="religion">Religion</h2>

<ul>
<li><p>&#8220;In the United States, <a href="http://www.overcomingbias.com/2014/07/more-stories-as-religion.html">38% of people</a> who identified themselves as atheist or agnostic went on to claim to believe in a God or a Higher Power.&#8221;</p></li>

<li><p><a href="http://www.pewforum.org/2014/07/16/how-americans-feel-about-religious-groups/">Pew: Americans love Jews, hate atheists and muslims.</a></p></li>
</ul>

<h2 id="computers">Computers</h2>

<ul>
<li><p>&#8220;nearly <a href="http://lemire.me/blog/archives/2014/07/07/true-success-is-more-than-winning-a-zero-sum-game/">half of the Gödel Prize winners (given to the best CS theory papers after they’ve appeared in journals) were initially rejected</a> or didn’t appear at all in the top theoretical computer science conferences.&#8221;</p></li>

<li><p>Alan Winfield has <a href="http://alanwinfield.blogspot.com/2014/07/estimating-energy-cost-of-evolution.html">a new paper out</a> (<a href="http://mitpress.mit.edu/sites/default/files/titles/content/alife14/ch143.html">link to actual paper</a>) where he Fermi estimates how much power it would take for us to evolve a human-level artificial intelligence, you know, inside of a computer, via genetic programming. The number he comes up with? 100,000 EJ. Or about 185x the energy humans consumed last year.</p></li>

<li><p><a href="http://googleblog.blogspot.com/2014/05/better-data-centers-through-machine.html">Using neural networks to save energy at Google.</a></p></li>

<li><p><a href="http://lowendbox.com/">Need a cheap server?</a></p></li>
</ul>

<h2 id="health-exercise-sports">Health, Exercise, Sports</h2>

<ul>
<li><p>&#8220;<a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0081098">Epidemiological studies of walkers</a>, for instance, have found that those whose usual pace is brisk tend to live longer than those who move at a more leisurely rate, even if their overall energy expenditure is similar.&#8221; (via <a href="http://well.blogs.nytimes.com/2014/06/25/for-fitness-push-yourself/?_php=true&amp;_type=blogs&amp;_php=true&amp;_type=blogs&amp;_php=true&amp;_type=blogs&amp;partner=rss&amp;emc=rss&amp;smid=tw-nytimes&amp;_r=2&amp;">Gretchen Reynolds</a>)</p></li>

<li><p>During the Hardrock 100, a 100-mile trail race, <a href="http://running.competitor.com/2014/07/trail-running/runner-struck-lightning-keeps-running_107955">Adam Campbell was struck by lightning</a>. At about mile 85. And then ran the remaining 15 miles and finished the race.</p></li>
</ul>

<h2 id="sex">Sex</h2>

<ul>
<li><p>&#8220;The idea that men are naturally more interested in sex than women is [so] ubiquitous that it’s difficult to imagine that people ever believed differently. And yet for most of Western history, from ancient Greece to beginning of the nineteenth century, <a href="http://www.alternet.org/when-women-wanted-sex-much-more-men?paging=off&amp;current_page=1#bookmark">women were assumed to be the sex-crazed porn fiends of their day</a>.&#8221;</p></li>

<li><p>&#8220;<a href="http://en.wikipedia.org/wiki/Telegony_%28pregnancy%29">Telegony</a> is the ancient and medieval idea that a woman’s children could inherit characteristics not only from their father, but from all the woman’s previous sexual partners. It was seriously defended right up until the real mechanisms of genetics were pinned down in the late 19th and early 20th centuries.&#8221; (via <a href="http://slatestarcodex.com/2014/07/11/links-for-july-2014/">SlateStarCodex</a>)</p></li>
</ul>

<h2 id="trivia">Trivia</h2>

<ul>
<li><p>&#8220;O. J. Simpson was considered briefly [for the part of Terminator], but producers felt <a href="http://www.ign.com/articles/2009/05/20/ign-presents-the-history-of-terminator">he seemed too nice to play a killer</a>.&#8221;</p></li>

<li><p>There are no nations with an older minimum drinking age than the United States (the Puritans are still at work, I guess). No entire nations, anyways. <a href="http://en.wikipedia.org/wiki/Alcohol_laws_of_India#Legal_drinking_age">In some Indian states, you must be 25 to purchase alcohol.</a></p></li>

<li><p><a href="http://en.wikipedia.org/wiki/Bamboo">Within a  24 hour period, bamboo can grow four feet.</a></p></li>

<li><p>To create the murmur of a crowd, extras are told to repeat the phrase <a href="http://en.wikipedia.org/wiki/Walla">&#8220;watermelon&#8221; or &#8220;walla&#8221;</a> over and over. In the UK, they use rhubarb.</p></li>

<li><p>Before 1958, a troop of monkeys would wash their sweet potatoes in fresh water. Then they discovered that washing them in salt water tasted better. <a href="http://books.google.com/books?id=RiOgcvMEioUC&amp;pg=PA46&amp;lpg=PA46&amp;dq=monkeys+that+washed+potatoes+in+salt+water&amp;source=bl&amp;ots=bxK7S8eGym&amp;sig=dkZPDnBLBHMJw5P5wByQOw0OsYo&amp;hl=en&amp;sa=X&amp;ei=MGrEU8TXMYeSyATak4LgCA&amp;ved=0CCsQ6AEwBQ#v=onepage&amp;q=monkeys%20that%20washed%20potatoes%20in%20salt%20water&amp;f=false">They never looked back.</a></p></li>

<li><p>The <a href="https://en.wikipedia.org/wiki/Grain_of_salt">phrase &#8220;with a grain of salt&#8221;</a> originates from Pliny the Elder&#8217;s <em>Naturalis Historia</em>, which reported that a grain of salt was an ingredient for a poison antidote. Thus, if a meal was poisoned, you&#8217;d take it &#8220;with a grain of salt.&#8221;</p></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
