<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Who initiates divorce the most? Men or women? &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/who-initiates-divorce-the-most-plus-breakups/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Who initiates divorce the most? Men or women?</h1>
  <time datetime=2014-03-14T22:11:25Z class="post-date">Fri, Mar 14, 2014</time>
  <p>Pop quiz. Who initiates divorces and break-ups? Men or women?</p>

<p>The answer is women. <strong>Women are more likely than men to initiate a break-up.</strong></p>

<blockquote>
<p>First, men are less likely than women to initiate break-ups (Hegelson, 1994; Hill, Rubin, and Peplau, 1976), and noninitiators of a break-up are more likely than initiators to experience distress (Sprecher, Felmlee, Metts, Fehr, &amp; Vanni, 1998).</p>

<p><span id="quote-attribute">—<em>Handbook of Gender Research in Psychology, Volume 2</em> (pg. 297)</span></p>
</blockquote>

<p>But what&#8217;s the effect size, I can hear you shout. I don&#8217;t know because both papers are paywalled.</p>

<p>Which sex suffers more from a breakup? Men or women?</p>

<blockquote>
<p>Exploratory data analyses revealed that <strong>women more than men reported experiencing negative emotions after a breakup,</strong> particularly feeling sad, confused, and scared.</p>

<p><span id="quote-attribute">—<a href="http://www.epjournal.net/wp-content/uploads/EP06164181.pdf">Breaking up Romantic Relationships: Costs Experienced and Coping Strategies Deployed</a></span></p>
</blockquote>

<p>But not so fast! From the same paper:</p>

<blockquote>
<p>Previous research using various inventories of emotions suggests that <strong>women experience more positive valence emotions and less initial distress</strong> following a breakup than men (Choo, Levine, and Hatfield, 1996; Hill et al., 1976; Sprecher, 1994; Sprecher et al., 1998).</p>
</blockquote>

<p>If I want to abuse the evo-psych habit of fabricating <a href="http://en.wikipedia.org/wiki/Just-so_story">just-so stories</a>, I can reason:</p>

<ul>
<li>Women suffer more because it&#8217;s harder for them to find a committed man than vice versa.</li>
<li>Men suffer more during a break-up to signal emotional involvement plus commitment which, ideally, halts the process. (&#8220;All this pain proves I love you! Don&#8217;t leave me.&#8221;) Thus their distress is greater and it&#8217;s <em>all part of evolution&#8217;s depraved plan</em>.</li>
</ul>

<p>Symmetrical to that second point, I&#8217;d expect women to escalate sexual commitment if their long-term partner starts sending I&#8217;m-thinking-about-leaving-you vibrations.</p>

<p>Buss anticipates my second point and writes:</p>

<blockquote>
<p>Because women value emotional commitment so highly in their mates, men may deploy a counter-strategy to exploit this desire: he may attempt to maintain sexual access to a woman by signaling an increase in his emotional investment to her. In the modern world, men can accomplish this by suggesting they become exclusive to one another, cohabit, obtain a mutual pet, get married, or have children.</p>
</blockquote>

<p>How romantic! Thanks evolution.</p>

<p>Right, but as I was going to say &#8212; before being distracted by Buss and Perilloux&#8217;s paper &#8212; this first result makes a lot of sense if you already know that <a href="http://www.psychologytoday.com/blog/homo-consumericus/201311/are-men-or-women-more-likely-file-divorce">women initiate 70% of all divorces</a>. So it&#8217;s nice to see that this trend isn&#8217;t some strange artifact of marriage and holds for romantic relationships generally.</p>

<p>Last fun thing. If you dump a woman, yeah, she&#8217;s gon&#8217; be mad:</p>

<blockquote>
<p>Davis et al. (2003) found that women who did not initiate the break-up reported more anger, hostility, and violence directed at their partner than did men.</p>

<p><span id="quote-attribute">—<em>Handbook of Gender Research in Psychology, Volume 2</em> (pg. 297)</span></p>
</blockquote>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
