<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>long time no email &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/emails/reboot/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>long time no email</h1>
  <time datetime=2019-09-04T00:00:00-0500 class="post-date">Wed, Sep 4, 2019</time>
  

<p>Hi, hey, hello!</p>

<p>This is Robb from rs.io and you are receiving this email because, well, you
signed up for it. If you&rsquo;ve forgotten doing this I don&rsquo;t blame you: I had to put
the email-ing software on pause because it was costing me too much money, and
then I spent, um, heh heh heh, two years procrastinating on fixing it. (By the
way, if you ever change your mind about receiving these you can opt out. I&rsquo;ll
include at least one link in each e-mail.)</p>

<p>However, as you may have deduced given the existence of this correspondence, I&rsquo;m
back baby! Huzzah! I&rsquo;ve duct-taped together a cheaper setup out of
open source software. Probably I added a lot of bugs too, so you may receive
something wonky. Please be understanding. Your e-mail delivery guy is a
Frankenstein-style monster.</p>

<h2 id="plans">plans</h2>

<p>Remember as a kid when the new school year rolled around and
a new math class and teacher with it, and how they&rsquo;d open the first day of Real
Learning with pointed statements like, &ldquo;This ought
to look familiar from last year, from when you were <em>supposed</em> to learn
it,&ldquo;&ndash;remember that?</p>

<p>I&rsquo;d been agonizing over what, exactly, to reboot these e-mails with, until <em>eureka!</em>, it
came to me&ndash;I&rsquo;ll begin like one of those math teachers: by reviewing the
category someone-really-ought-to-have-already-told-you-this-but-in-case-they-haven&rsquo;t-here-it-is-again-it&rsquo;s-that-useful.</p>

<p>At the top of my list is Sci-Hub / Library Genesis&ndash;have you heard? It&rsquo;s a
website where you can freely download books and papers. But then I thought, &ldquo;why
stop at books and pdfs? Why not cover how to find files on the web, in general?&rdquo; [[<a href="https://rs.io/email/finding-info/">https://rs.io/email/finding-info/</a>][</p>

<p>This guide is the result.]]</p>

<p>If you haven&rsquo;t visited the site in a while, the first thing you&rsquo;ll notice is her
new skin&ndash;ain&rsquo;t she pretty? Greatly improved bones lie beneath the
makeover. If you&rsquo;re interested in the details, there&rsquo;s a new
page about how the site is generated.</p>

<p>With the changes it&rsquo;s now much more natural to write articles that combine prose
and code in interesting ways. The flowchart in the finding info guide, for
instance, was created that way. I&rsquo;m using it a ton in another series I&rsquo;m in the
middle of, too, one about generative art&ndash;specifically, training a computer to
draw pictures of Pepe the Frog.</p>

<p>I&rsquo;m also working on modifying the site so that content learns and dynamically
improves over time as visitors interact with it. Statistical website
optimization is intellectually fascinating <em>and</em> lucrative. Expect a
tutorial about this in the future.</p>

<p>P.S. E-mail is exciting because you can reply to it. noreply@bigco.com</p>

<h2 id="what-i-ll-be-sending-you">What I&rsquo;ll be sending you</h2>

<p>Remember as a kid when the new school year rolled around and
a new math class and teacher with it, and how they&rsquo;d open the first day of Real
Learning with pointed statements like, &ldquo;This ought
to look familiar from last year, from when you were <em>supposed</em> to learn
it,&rdquo;<sup class="footnote-ref" id="fnref:fn-1"><a href="#fn:fn-1">1</a></sup>&ndash;remember that?</p>

<p>You&rsquo;d nod to placate her &ldquo;yes, of course I recognize this&rdquo;, head bobbing in sync with the rest of the class, but internally
there was just a scrambled <em>oh shit, oh shit, oh shit, I&rsquo;ve never seen any of this before in my
life.</em></p>

<p>Later, you&rsquo;d reflect that maybe you <em>had</em> learned it&ndash;after
the Review Packet&rsquo;s thorough
gaslighting, who could say?
<em>Quadratic formulas, Pythagorean theorems, Stockholm syndromes.</em> Maybe&hellip; maybe.</p>

<p><strong>Whatever&ndash;it was immaterial anyway, right?</strong> You could no more recall last year&rsquo;s
math than conjure forth memories from a past life, and that&rsquo;s what was
being asked, really, wasn&rsquo;t it? The calculations had been
mastered a summer, a lifetime, many rivers<sup class="footnote-ref" id="fnref:fn-2"><a href="#fn:fn-2">2</a></sup> ago, after all, <em>if</em> ever.</p>

<hr />

<p>See, I&rsquo;d been agonizing over what, exactly,
to e-mail to
you, until
<em>eureka!</em>, it came to me&ndash;I&rsquo;ll begin like one of those math
teachers: with review. It&rsquo;ll be the stuff you were supposed to learn last year
except, you know, <em>actually useful</em> because unlike school teachers I&rsquo;m not a
petty authoritarian employed by a system designed to produce pliant factory
workers.</p>

<h6 id="i-dot-someone-really-ought-to-have-already-taught-you-this-but-in-case-they-haven-t-here-it-is-again">I. Someone really ought to have already taught you this but in case they haven&rsquo;t here it is again</h6>

<ul>
<li>How to find it&ndash;the flowchart / Inter-library
loans / Cheap books / BitTorrent / Public trackers / Pre-databases / Private
trackers / Usenet</li>
<li>Lies you were taught</li>
</ul>

<h4 id="do-me-this-one-favor">Do me this one favor</h4>
<div class="footnotes">

<hr />

<ol>
<li id="fn:fn-1">&ldquo;Weren&rsquo;t you just on a 12-week vacation? What is your problem?&rdquo;
 <a class="footnote-return" href="#fnref:fn-1"><sup>[return]</sup></a></li>
<li id="fn:fn-2"><em>No man ever steps in the same river twice, for it’s not the same river and he’s not the same man.</em>&ndash;Heraclitus
 <a class="footnote-return" href="#fnref:fn-2"><sup>[return]</sup></a></li>
</ol>
</div>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
