<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Web Roundup: More Links For April &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/web-roundup-links-april-2/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Web Roundup: More Links For April</h1>
  <time datetime=2014-04-19T22:11:57Z class="post-date">Sat, Apr 19, 2014</time>
  <ul>
<li><p>Andrew Drucker has <a href="http://people.csail.mit.edu/andyd/rec_method">a paper</a> where he mentally multiplies ten-digit numbers by exploiting human image recognition.</p></li>

<li><p><a href="http://rationalconspiracy.com/2014/04/17/money-doesnt-matter-in-politics/">Does money matter in politics?</a> A much needed critical examination of a popular narrative.</p></li>

<li><p>Cousin marriage is a <a href="http://en.wikipedia.org/wiki/Cousin_marriage_in_the_Middle_East">common practice</a> in the Middle East. Steve Sailer <a href="http://www.isteve.com/cousin_marriage_conundrum.htm">details</a> how this may explain some of the difficulty of forcing Democracy on these nations.</p></li>

<li><p>A <a href="http://i.crackedcdn.com/phpimages/article/2/5/3/235253_v1.gif">flying snake</a>. It&#8217;s called a <a href="https://en.wikipedia.org/wiki/Chrysopelea">Chrysopelea</a>.</p></li>

<li><p>Recent welfare reform <a href="http://marginalrevolution.com/marginalrevolution/2014/04/is-the-safety-net-failing-the-poor.html">has siphoned money</a> from the very poor to the almost-poor.</p></li>

<li><p>Divorce is contagious: <a href="https://www.um.edu.mt/__data/assets/pdf_file/0005/126464/breakingupishardtodo.pdf">We find that divorce can spread between friends, siblings, and coworkers, and there are clusters of divorcees that extend two degrees of separation in the network</a>.</p></li>

<li><p>New hobby: <a href="https://twitter.com/search?q=white%20people&amp;src=typd">searching twitter for the phrase &#8220;white people.&#8221;</a></p></li>

<li><p><a href="http://hbdchick.wordpress.com/2014/04/09/suicide-by-death-penalty/">&#8220;In early eighteenth-century Stockholm, women not only accounted for more than 60 percent of property crime offenders but also 45 percent of murder and manslaughter offenders and 41 percent of assault offenders (Andersson 1995).&#8221;</a></p></li>

<li><p>A (fortunately?) hypothetical human-chimp hybrid is called a <a href="http://en.wikipedia.org/wiki/Humanzee">humanzee</a>.</p></li>

<li><p><a href="http://en.wikipedia.org/wiki/Letting_the_cat_out_of_the_bag">&#8220;anyone who has ever gotten a cat into a bag knows that once out, it will not go back, suggesting the irreversibility of a told secret&#8221;</a></p></li>

<li><p><a href="http://paulstovell.com/blog/reactive-programming">Introduction to reactive programming.</a> Exciting stuff.</p></li>

<li><p><a href="http://marginalrevolution.com/marginalrevolution/2014/04/is-an-internship-worth-more-than-majoring-in-business.html">&#8220;Despite applying exclusively to business-related job openings, we find no evidence that business degrees improve employment prospects. Furthermore, we find no evidence linking particular degrees to interview-request rates.&#8221;</a></p></li>

<li><p><a href="http://www.pbs.org/wgbh/nova/blogs/physics/2014/04/is-there-anything-beyond-quantum-computing/">Is there anything beyond quantum computing?</a> (Answer: Not as far as we know.)</p></li>

<li><p><a href="http://www.ams.org/notices/200510/comm-fowler.pdf">The mathematics autodidact&#8217;s aid.</a></p></li>

<li><p><a href="http://en.wikipedia.org/wiki/Animal_sexual_behaviour">&#8220;perhaps the most creative form of animal masturbation is that of the male bottlenose dolphin, which has been observed to wrap a live, wriggling eel around its penis.&#8221;</a></p></li>

<li><p><a href="http://marginalrevolution.com/marginalrevolution/2005/05/why_dont_people.html">Why are humans such prudes?</a> &#8220;Given that studies show that women and men enjoy it (sex) more than most other activities (on average, not on the margin I’ll grant), and given its intrinsically low cost, it appears that even a crude approximation of a utility maximizing person would probably spend much more time having sex than most do.&#8221;</p></li>

<li><p>Children with Williams syndrome display no racial bias. <a href="http://www.scientificamerican.com/podcast/episode/williams-syndrome-kids-show-no-raci-10-04-13/">&#8220;True to form, the control group preferred their own race and gender. The children with Williams syndrome, however, had no racial preference—although they still discriminated by gender.&#8221;</a></p></li>

<li><p>Entrepreneurs capture about 7% of the value that they create: <a href="http://www.nber.org/papers/w10433">&#8220;We conclude that only a minuscule fraction of the social returns from technological advances over the 1948-2001 period was captured by producers, indicating that most of the benefits of technological change are passed on to consumers rather than captured by producers.&#8221;</a> (HT: <a href="http://www.benkuhn.net/links">Ben Kuhn</a>.)</p></li>

<li><p>Genome sequence is improving <a href="http://www.nature.com/news/technology-the-1-000-genome-1.14901#/falling">faster than Moore&#8217;s law</a>. (HT: <a href="http://slatestarcodex.com./">Scott Alexander</a>)</p></li>

<li><p>&#8220;Since August 20, 2007, <a href="http://en.wikipedia.org/wiki/Salish_Sea_human_foot_discoveries">several detached human feet have been discovered</a> on the coasts of the Salish Sea in British Columbia (Canada) and Washington (United States)&#8230; The series of discoveries has been called &#8216;astounding&#8217; and &#8216;almost beyond explanation&#8217;, as no other body parts have turned up.&#8221;</p></li>

<li><p><a href="https://en.wikipedia.org/wiki/List_of_statues_by_height#Existing">The 3 largest existing statues each depict Buddha.</a></p></li>

<li><p>There are <a href="http://williamsinstitute.law.ucla.edu/research/census-lgbt-demographics-studies/how-many-people-are-lesbian-gay-bisexual-and-transgender/">700,000 people in the United States who identify as transgender</a>, .2% of the population.</p></li>

<li><p><a href="http://www.cell.com/current-biology/abstract/S0960-9822%2814%2900260-7">Divorce rate among <em>birds</em> depends on the number of available females</a>: &#8220;mate change by pair members and/or breaking of pair bonds by unmated individuals is more frequent when females outnumber males.&#8221;</p></li>

<li><p><a href="https://kerbalspaceprogram.com/">Kerbal Space Program</a> is a game where the players create and manage their own space program. xkcd calls it <a href="http://xkcd.com/1356/">the best way to learn orbital mechanics</a>.</p></li>

<li><p><a href="http://www.cs.utexas.edu/users/EWD/transcriptions/EWD10xx/EWD1036.html">On the cruelty of really teaching computing science:</a> &#8220;needless to say, refusal to exploit this power of down-to-earth mathematics amounts to intellectual and technological suicide.&#8221;</p></li>

<li><p><a href="http://programmers.stackexchange.com/questions/10358/if-you-learned-formal-methods-for-software-how-useful-have-you-found-it">&#8220;If you learned formal methods for software, how useful have you found it?&#8221;</a> (Answer: worthless.)</p></li>

<li><p><a href="https://news.ycombinator.com/item?id=7602237">What source code is worth studying?</a> One insightful commenter points to <a href="http://www.gigamonkeys.com/code-reading/">this gem from Peter Siebel</a>: &#8220;Code is not literature and we are not readers. Rather, interesting pieces of code are specimens and we are naturalists.&#8221; (Algorithms seem like a good candidate for interesting specimen.)</p></li>

<li><p>Wikipedia <a href="https://www.mediawiki.org/wiki/Navigation_Popups_%28Restyling_and_Enhancements%29">has a beta &#8220;hovercard&#8221; feature</a>, where one can hover over a link to view a portion of the article. Here&#8217;s <a href="http://blog.assaflavie.com/wikipedia/">why you might want such thing</a>.</p></li>

<li><p>Sea otters are sometimes observed <a href="http://skeptics.stackexchange.com/questions/15928/do-sea-otters-rape-baby-seals-to-death">raping baby seals to death</a>.</p></li>

<li><p>All of Edsger W. Dijkstra&#8217;s manuscripts (his &#8220;EWDs&#8221;) are <a href="http://www.cs.utexas.edu/users/EWD/">online</a>.</p></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
