<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Where are the women in the IT industry? &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/women-in-the-it-industry-sexism/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Where are the women in the IT industry?</h1>
  <time datetime=2014-02-11T22:46:19Z class="post-date">Tue, Feb 11, 2014</time>
  

<p>It has become fashionable as of late for media outlets like Gawker and others to attack Silicon Valley, math, computer science, and the hard sciences generally for being unfriendly to women. This does not strike me as much different than the bullying of math and computer nerds during high school, except now we&#8217;ve exchanged jocks for journalists, and it&#8217;s covered in a not-very-convincing veneer of social justice-y but-we&#8217;re-bullying-nerds-because-oppression.</p>

<p>The most convincing challenge to this narrative was written by <a href="http://slatestarcodex.com/">Scott Alexander</a> in <a href="http://www.benkuhn.net/inclusivity#comment-333">a comment</a>, which was a response to many other specific concerns not likely to appeal to most readers. I&#8217;m reproducing the relevant bits here in an attempt to, well, fight obscurity with a little less obscurity.</p>

<blockquote>
<p>I worry you’re swallowing a narrative uncritically here. How do we know that computer science has unfriendly discourse? Because we hear lots of stories about the unfriendly discourse in computer science, and we know that there are few women in computer science.</p>

<p>But consider an alternative narrative. In 1920, women weren’t allowed pretty much anywhere except maybe nursing and teaching. There were stereotypes that women would be terrible doctors, terrible lawyers, terrible business people, terrible politicians, terrible mathematicians, terrible philosophers, and all these fields were at least moderately unfriendly to the first women to enter.</p>

<p>But enter they did, and now women are at, near, or above parity in medicine, law, business, politics, and philosophy. Yet for some reason, they didn’t get near parity in math and its later descendant computer science. And so everyone said “Aha! Computer science must have lots of unfriendly stereotypes about women!” And then every single incident of someone making a joke about the word “dongle” was televised to the world, and it was agreed that obviously computer scientists are unfriendly to women, with ample wringing of the “creepy nerd” stereotype for all it’s worth.</p>

<p>We compare this to a field like medicine, which is super-toxic and abusive to everyone, where seniors have pretty much absolute power over younger doctors and the extent to which they abuse it is famous, and which has an extremely tight-knit and masculine culture of working super-long hours all the time and making fun of anyone who complains. And in which 47% of beginning med students are now women, because women are interested in the field and people will totally ignore the odd joke in a field they are interested in.</p>

<p>(The abuse suffered by Jackie Robinson when he entered baseball is legendary, but fifty years later African-Americans were over-represented in baseball at almost twice their rate in the general population. Yet a climate of subtle unconscious sexism is supposed to make women suddenly rush away from computing in droves?)</p>

<p>If women hadn’t flocked to medicine, every incident of someone in medicine making a slightly sexist comment would have gone viral, and it would now be a known fact that medicine “suffers from unfriendly discourse”. Since women in fact flocked to medicine, it was never necessary to deploy that argument.</p>

<p>If you think that computer science is unfriendly to women, you need an explanation of why much more macho fields that are much more subjective and therefore have much stronger ability to discriminate against people they don’t like &#8211; medicine, politics, business, law, etc &#8211; didn’t develop cultures unfriendly toward women &#8211; yet quiet, soft-spoken, pure-abstract-objective-mathematics computer science did.</p>

<p>I’ve never heard such an explanation and it seems much more likely to me that culture-of-unfriendliness-toward-group driving-group-away narrative looms a lot larger in discourse than in reality. This seems broadly consonant with the new research suggesting stereotype threat doesn’t really happen in the real world to any significant degree.</p>
</blockquote>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>Scott&#8217;s blog is <a href="http://slatestarcodex.com/">here</a>, check it out. It&#8217;s filled with excellent writing like the above.</li>
<li>I have written about gender issues before, including an article on <a href="https://rs.io/vegan-women/">the strange tendency of vegans to be women</a>, on how <a href="https://rs.io/love/">men are more likely to kill themselves after the death of a spouse</a>, a <a href="https://rs.io/women-friends/">few troubling excerpts from my notes</a>, and in <a href="https://rs.io/polya-urn-model-dissolves-gender-war/">&#8220;Boy&#8217;s Clubs and Polya&#8217;s Urn&#8221;</a>,</li>
<li>As a balm for the sort of drivel that Gawker (and the Huffington Post, and the New York Times, and so on&#8230;) have been pushing, I&#8217;m reminded of <a href="http://unqualified-reservations.blogspot.com/2013/11/mr-jones-is-rather-concerned.html">this Moldbug piece</a>, specifically, &#8220;No, obviously no one should ever respond to a journalist. (Or a Stasi-Mann.) It&#8217;s a mistake to think these people have opinions. They have careers. They&#8217;re paid by the click and not paid well.&#8221;</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
