<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Zach Weinersmith On The Importance Of Reading Books &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/zach-weinersmith-on-the-importance-of-reading-books/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Zach Weinersmith On The Importance Of Reading Books</h1>
  <time datetime=2014-04-07T21:06:28Z class="post-date">Mon, Apr 7, 2014</time>
  <p>Zach Weinersmith writes <a href="http://www.smbc-comics.com/">Saturday Morning Breakfast Cereal</a>, my current favorite webcomic. I wanted to know: Where&#8217;s this creativity spring from?</p>

<p>Turns out, he reads. A lot.</p>

<blockquote>
<p>I try to read 3-5 books a week in many different subjects. Whenever I stop that, I run out of ideas reaaallll fast.</p>
</blockquote>

<p>When asked about his writing process:</p>

<blockquote>
<p>Usually I just read a lot (at LEAST 4-6 hours a day) then sit myself in front of a blank google doc and try to write.</p>
</blockquote>

<p>Or how to overcome writer&#8217;s block:</p>

<blockquote>
<p>If you can&#8217;t write, read more. In my experience, writer&#8217;s block is not a condition, but a result. Lots of people seem to think they can play video games 12 hours a day, then one day happen upon a great idea. It doesn&#8217;t work that way. You&#8217;ve got to put in time on input if you want good output.</p>
</blockquote>

<p>When someone asked how he manages to publish everyday:</p>

<blockquote>
<p>I try very hard to read a lot and write a lot.</p>
</blockquote>

<p>And when asked about his inspiration:</p>

<blockquote>
<p>I really just try to read a lot, think a lot, then write for an hour a day. I also schedule my life a lot. So far that seems to be working all right.</p>
</blockquote>

<p>On what to read:</p>

<blockquote>
<p>It&#8217;s very liberating to read a book on a subject you think is boring. You might end up surprised.</p>

<p>I read pretttty much anything.</p>
</blockquote>

<p>His broader philosophy here:</p>

<blockquote>
<p>Most people tend to like what they like. I try to like things I dislike.</p>
</blockquote>

<p>Why does he read so much?</p>

<blockquote>
<p>Also, in general, if you&#8217;re an entertainer, you have precisely one job &#8211; be more interesting than the people you are entertaining. Otherwise why should they listen to you. That&#8217;s why if you want to improve at your work, self-cultivation is the best route.</p>

<p>Remember, you get paid to be more insightful than people who don&#8217;t write. That means you have to read more and think more.</p>
</blockquote>

<p>He&#8217;s not the first to push the virtues of reading. Warren Buffet says his secret is <a href="http://theweek.com/article/index/248655/the-warren-buffett-formula-how-you-can-get-smarter">&#8220;reading 500 pages a day.&#8221;</a> Alan Kay reportedly attempts to <a href="https://news.ycombinator.com/item?id=7547300">read a book a day</a>. Who knows how much Chomsky reads? Stephen King says, “If you want to be a writer, you must do two things above all others: read a lot and write a lot.” And so on.</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
