<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Influences &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/influences-inspirations/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/influences-inspirations/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li><li><a href="https://rs.io/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Influences</h1>
  <time datetime=2019-06-17T17:07:00Z class="post-date">Mon, Jun 17, 2019</time>
  

<blockquote class="wp-block-quote">
  <p>
    With the gathering force of an essential thing realizing itself out of early ground, I faced in myself a passionate and tenacious longing—to put away thought forever, and all the trouble it brings, all but the nearest desire, direct and searching. To take the trail and not look back. Whether on foot, on showshoes or by sled, into the summer hills and their late freezing shadows—a high blaze, a runner track in the snow would show where I had gone. Let the rest of mankind find me if it could.
  </p>
  
  <p>
    –John Haines
  </p>
</blockquote>

<p>This is a collection of the influences and inspirations that have gone into this site. It&#8217;s not finished&#8211;I update it whenever another occurs to me.</p>

<p>Each of the links is well worth exploring.</p>

<div id="outline-container-orgeeb7ce8" class="outline-2">
  <h2 id="orgeeb7ce8">
    Essays
  </h2>
  
  <div id="text-orgeeb7ce8" class="outline-text-2">
    <ul class="org-ul">
      <li>
        <a href="http://www.primitivism.com/emptiness.htm">&#8220;Running on Emptiness&#8221;</a>
      </li>
      <li>
        <a href="https://theanarchistlibrary.org/library/ted-kaczynski-the-truth-about-primitive-life-a-critique-of-anarchoprimitivism">&#8220;The Truth About Primitive Life&#8221;</a>
      </li>
      <li>
        <a href="https://theanarchistlibrary.org/library/feral-faun-essays#toc3">&#8220;Nature as spectacle. The image of wilderness vs. wildness&#8221;</a>
      </li>
      <li>
        <a href="https://theanarchistlibrary.org/library/margaret-killjoy-take-what-you-need-and-compost-the-rest-an-introduction-to-post-civilized-theo">&#8220;Take What You Need And Compost The Rest&#8221;</a>
      </li>
      <li>
        <a href="http://www.ranprieur.com/essays/dropout.html">&#8220;How to Drop Out&#8221;</a>
      </li>
      <li>
        <a href="http://xroads.virginia.edu/~HYPER2/thoreau/civil.html">&#8220;Civil Disobedience&#8221;</a>
      </li>
      <li>
        <a href="https://www.econlib.org/library/Essays/hykKnw.html">&#8220;The Use of Knowledge in Society&#8221;</a>
      </li>
    </ul>
    
    <h2>
      Short Stories
    </h2>
    
    <ul>
      <li>
        <a href="https://genius.com/Nick-land-meltdown-annotated">&#8220;Meltdown&#8221;</a>
      </li>
      <li>
        <a href="https://zerohplovecraft.wordpress.com/2018/05/11/the-gig-economy-2/">&#8220;The Gig Economy&#8221;</a>
      </li>
    </ul>
  </div>
</div>

<div id="outline-container-orgd9d9b2c" class="outline-2">
  <h2 id="orgd9d9b2c">
    Interviews
  </h2>
  
  <div id="text-orgd9d9b2c" class="outline-text-2">
    <ul class="org-ul">
      <li>
        <a href="http://web.cs.ucdavis.edu/%7Erogaway/classes/188/spring07/mcluhan.pdf">Marshall McLuhan&#8217;s <i>Playboy</i> interview</a>
      </li>
    </ul>
  </div>
</div>

<div id="outline-container-orgc06280c" class="outline-2">
  <h2 id="orgc06280c">
    Concepts, Ideologies, Philosophies
  </h2>
  
  <div id="text-orgc06280c" class="outline-text-2">
    <ul class="org-ul">
      <li>
        <a href="https://en.wikipedia.org/wiki/Wu_wei">Wu wei</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Hacker_ethic">Hacker ethic</a>, <a href="https://en.wikipedia.org/wiki/Free_software">free software</a>, <a href="https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it">YAGNI</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Punk_rock#Philosophy">Punk rock&#8217;s DIY ethos</a>, <a href="https://en.wikipedia.org/wiki/Worse_is_better">worse is better</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Simple_living">Simple living</a>, <a href="https://en.wikipedia.org/wiki/Freeganism">freeganism</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Distributism">Distributism</a>, <a href="https://en.wikipedia.org/wiki/Back-to-the-land_movement">back-to-the-land movement</a>, <a href="https://en.wikipedia.org/wiki/Three_acres_and_a_cow">3 acres and a cow</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Agorism">Agorism</a>
      </li>
    </ul>
  </div>
</div>

<h2 id="saints-h2saints-h2">Saints<h2saints< h2=""></h2>

<div id="text-org7aa708c" class="outline-text-2">
  <ul class="org-ul">
    <li>
      <a href="https://imgur.com/a/DT9is">The girl who lived in a windmill</a>
    </li>
    <li>
      <a href="https://www.survivalistboards.com/showthread.php?t=319968">sarco2000, who cut, milled and built a cabin from lumber on his land in Montana</a>
    </li>
    <li>
      <a href="https://www.homesteadingtoday.com/threads/extreme-composting.342651/">Forerunner&#8217;s extreme composting</a>
    </li>
    <li>
      <a href="https://www.reddit.com/r/simpleliving/comments/3izfac/i_gave_up_my_6figure_desk_job_to_live_in_a_cabin/">&#8220;I gave up my 6-figure desk job to live in a cabin with no electricity and no running water. I live on about $2,000 a year doing odd jobs here and there, the rest of my time is devoted to my hobbies. I love my life. AMA&#8221;</a>
    </li>
    <li>
      <a href="https://www.reddit.com/user/PleaseCallMeTall?sort=top">The many adventures of vagabond Tall Sam Jones</a>
    </li>
    <li>
      <a href="https://sites.google.com/site/livingwithoutmoney/">Daniel Suelo, who lives without money entirely</a>
    </li>
    <li>
      <a href="https://en.wikipedia.org/wiki/Diogenes">Diogenes</a>
    </li>
    <li>
      <a href="https://en.wikipedia.org/wiki/Johnny_Appleseed">Johnny Appleseed</a>
    </li>
  </ul>
</div>

<div id="outline-container-orge049fbe" class="outline-2">
  <h2 id="orge049fbe">
    YouTube
  </h2>
  
  <div id="text-orge049fbe" class="outline-text-2">
    <ul class="org-ul">
      <li>
        <a href="https://www.youtube.com/channel/UC5rT7F0PGNuD54rJ9kzgWzw">Kris Harbour</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=21j_OCNLuYg&t=22s">Life is easy. Why do we make it so hard?</a>
      </li>
    </ul>
  </div>
</div>

<div id="outline-container-orgcd1cbe9" class="outline-2">
  <h2 id="orgcd1cbe9">
    Movies
  </h2>
  
  <div id="text-orgcd1cbe9" class="outline-text-2">
    <ul class="org-ul">
      <li>
        <a href="https://www.youtube.com/watch?v=fbhPIK-oBvA"><i>Happy People: A Year in the Tiaga</i></a>
      </li>
      <li>
        <a href="https://amzn.to/31AJiwa"><i>Alone in the Wilderness</i></a>
      </li>
      <li>
        <a href="https://www.netflix.com/fr-en/title/80107737"><i>Peter and the Farm</i></a>
      </li>
    </ul>
  </div>
</div>

<p><div id="outline-container-org6ffa976" class="outline-2">
  <h2 id="org6ffa976">
    Books
  </h2></p>

<p><div id="text-org6ffa976" class="outline-text-2">
    <ul class="org-ul">
      <li>
        <a href="https://www.gutenberg.org/ebooks/1717"><i>What&#8217;s Wrong With the World</i></a>
      </li>
      <li>
        <a href="https://web.archive.org/web/20160420083455/http://www.riverbendnelligen.com/tomneale/anislandtooneself1.html"><i>An Island to Oneself</i></a>
      </li>
      <li>
        <a href="https://amzn.to/31FvHUs"><i>Desert Solitaire</i></a>
      </li>
      <li>
        <a href="https://amzn.to/2ZAK4Yl"><i>One Straw Revolution</i></a>
      </li>
      <li>
        <a href="https://amzn.to/2ZvfWgJ"><i>Possum Living</i></a>
      </li>
      <li>
        <a href="https://amzn.to/2RkLHq1"><i>One Man&#8217;s Wilderness</i></a>
      </li>
      <li>
        <a href="https://amzn.to/2RmBg5f"><i>Into the Wild</i></a>
      </li>
    </ul>
  </div>
</div></h2saints<></p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
