<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Creative Process Demystified &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/creative-process-demystified/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>The Creative Process Demystified</h1>
  <time datetime=2014-03-24T20:38:28Z class="post-date">Mon, Mar 24, 2014</time>
  

<p>Jack Kerouac is a liar.</p>

<p>Okay, let me rewind. I don&#8217;t know how much experience you&#8217;ve had with creative writing types &#8212; pale, imaginative creatures &#8212; but let me tell you how they talk about Jack Kerouac. They say his name in sort of hushed, reverent tones, and whisper things like, &#8220;Can you <em>believe</em> that he wrote <em>On the Road</em> in one sitting?&#8221; Like great authors are some sort of gods. We, you and me, on this blog, we know better. There are no gods and his name is Richard Feynman.</p>

<p>Except Kerouac didn&#8217;t even write <em>On the Road</em> in one sitting. He spent <em>three years</em> writing pieces of it and, eventually, spent three weeks writing a first draft from that material. He then spent a couple of years revising that draft, which became <em>On the Road</em>. But this doesn&#8217;t make as good of a story, so instead Jack told everyone that he wrote it all at once because, as we&#8217;ve established, he was a liar.</p>

<p>Now, what&#8217;s the significance of this story? The answer is incrementalism: <strong>Great works are the result of a process of incremental growth and improvement.</strong></p>

<p>Consider the Christian creation native. In the beginning, God created the heavens and the earth. Now, God is an omnipotent, all powerful dude, so presumably the heavens and earth are less impressive than he. The implicit assumption is that you need something complicated to create something else complicated.</p>

<p>We were more or less speculating in the dark with this narrative until Charles Darwin and Alfred Russel Wallace came along with evolution. It turns out that something as complex as the human mind is not a miracle from on high, but the result of millions of years of selective pressure.</p>

<p>Or, to put it another way, simple things grow into complicated things if you expend enough energy on them.<a href="#citation-1"><sup>1</sup></a></p>

<p>Creating something is more like evolution than like God creating the heavens and the earth. It&#8217;s not a process of flipping a switch, or letting it all fall out of your mind. You have to grow a book or a blog post. Write a rough draft and filter it into something better. Hill-climb until the quality is twice what it was before.</p>

<h2 id="no-magic">No magic</h2>

<p>There is nothing magical behind the creative process. Sure, authors and poets will sometimes wax romantic about writing and play up the mystery, but this is misdirection.</p>

<p>Look, I can do it, too:</p>

<p>Writing is, in its essence, the soul&#8217;s interpretation of the signs that are revealed to it. The ability to write well, the gift of a soul, is something innate. One must be born into it. Just as not all men possess the capacity for reading tea leaves or interpreting the whims of the spirit realm, few are born with that devil&#8217;s touch that brands one <em>writer</em>.</p>

<p>Except, you know, that&#8217;s all bullshit. There&#8217;s no magic. You get an idea. You think about the idea. Maybe write an outline. Write a rough draft. Delete a lot. Write another draft. Repeat until good. With a liberal sprinkling of self-loathing and lots of doubt, that&#8217;s creativity.</p>

<p>Indeed, to create something good:</p>

<ol>
<li>Come up with an idea.</li>
<li>Create a rough version.</li>
<li>Refine it until it&#8217;s good.</li>
</ol>

<p>That&#8217;s it. That&#8217;s how books are written. I mean, sure, there are some specifics, like how to keep everything organized and whatever, but this is the gist of it. Create a prototype and then refine it over and over. That&#8217;s incrementalism. That&#8217;s what I mean when I say that great works are grown. It&#8217;s not magical. It&#8217;s algorithmic. Follow these instructions and you&#8217;re golden.</p>

<p><em>Most</em> of the difficulty in creating something worthwhile is not because of the complexity of the process, but rather the difficulty in maintaining effort over time. We get bored and frustrated and quit. The trick to writing or creating something great is figuring out how to tame those tendencies and continue exerting yourself in pursuit of that goal.</p>

<p><a name="citation-1"></a></p>

<ol>
<li>Evolution, however, is not a race towards greater complexity. Single-celled organisms rule the world.</li>
</ol>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
