<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Pareto Principle Examples and History &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/pareto-principle-examples-history/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/pareto-principle-examples-history/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Pareto Principle Examples and History</h1>
  <time datetime=2014-06-30T03:09:49Z class="post-date">Mon, Jun 30, 2014</time>
  

<blockquote>
<p>Economics consists of theoretical laws which nobody has verified and of empirical laws which nobody can explain.</p>

<p><span id="quote-attribute">—Michal Kalecki</span></p>

<p>For a very long time, the Pareto law has lumbered the economic scene like an erratic block on the landscape; an empirical law which nobody can explain.</p>

<p><span id="quote-attribute">—Josef Steindl</span></p>
</blockquote>

<p>In the book that I&#8217;ve been writing on keeping up in the information age (<a href="http://eepurl.com/Ufpgr">subscribe via email</a> to receive a copy when it&#8217;s finished), I&#8217;ve touched on both Sturgeon&#8217;s Law (&#8220;90% of everything is crap&#8221;) and the Pareto principle, as part of a section on filtering information. But I needed a good example. So here we are.</p>

<p>The main idea behind the Pareto principle, sometimes called the 80-20 rule, is that 80% of the effect of something comes from 20% of the cause. Or more broadly, it&#8217;s the principle of the &#8220;vital few and trivial many.&#8221; A few things make most of the difference.</p>

<p><a href="https://rs.io/wp-content/uploads/2014/06/example-of-pareto-principle.png"><img class="aligncenter size-full wp-image-608" src="https://rs.io/wp-content/uploads/2014/06/example-of-pareto-principle.png" alt="example-of-pareto-principle" width="446" height="266" srcset="https://rs.io/wp-content/uploads/2014/06/example-of-pareto-principle.png 446w, https://rs.io/wp-content/uploads/2014/06/example-of-pareto-principle-300x178.png 300w" sizes="(max-width: 446px) 100vw, 446px" /></a>Oh, and, by the way, if this is the first time you&#8217;ve been exposed to this concept, the amount of value you&#8217;ll get out of having it in your cognitive toolkit is, well, to quote the Beastie Boys, &#8220;it&#8217;s wack,&#8221; yo. I suspect the Pareto principle obeys the Pareto principle &#8212; that is, you can get 80% cognitive value out of 20% of concepts, and the Pareto principle is one of those 20%.</p>

<p>So, consider dating, for instance. (Relevant given the continued popularity of my earlier post on <a href="https://rs.io/prolonged-eye-contact-attraction-science-tells-us/">prolonged eye contact</a>.)</p>

<p>When it comes to dating, considering the Pareto principle, we should expect that 80% of the value of all dating advice, techniques, etc. can be had from only 20% of the tips. And I think this is true. <strong>In fact, I&#8217;m pretty confident that all dating wisdom can be boiled down to six words: approach more of the opposite sex</strong>, or maybe just two: approach more.</p>

<p>(In fact, I think you could model relationships satisfactorily via <a href="http://austingwalters.com/introduction-to-markov-processes/">Markov processes</a>, but that&#8217;s a separate post.)</p>

<h2 id="real-examples-of-the-pareto-principle">Real Examples of the Pareto Principle</h2>

<p>So, okay, right, now you know what the Pareto principle is all about, which brings me to my main motivation for writing this, which is: what&#8217;s a cool empirical example of the Pareto principle in action? The dating example is okay, but it&#8217;s also more-or-less fabricated from whatever imagination is made out of.</p>

<p>Empirical is perhaps the wrong word. What we want are examples with rigor. Maybe we actually live in some bizarre world where there&#8217;s a 1:1 correspondence between the value you get out of dating advice and the amount you read, such that 80% of the advice gives 80% of the value.</p>

<p>Or maybe we live in a world where the more you know about dating, the more valuable the next piece you learn becomes &#8212; since you have more context or something. In that case, the last 20% might be worth 80% of the value, via some clearly Satanic reverse Pareto principle.</p>

<p>So, real examples.</p>

<ul>
<li>Wikipedia <a href="http://en.wikipedia.org/wiki/Pareto_principle">would have you believe</a> that the Pareto principle was born during Vilfredo Pareto&#8217;s study of <strong>Italian landowners &#8212; 20% of them owned 80% of the land.</strong></p></li>
<li>The article alternatively suggest that it stemmed out of the study of pea pods &#8212; that Pareto noticed <strong>20% of the pea pods in his garden produced 80% of the peas.</strong></li>
</ul>

<p>Which of these is true? Probably neither.</p>

<p>Looking past this deep seated and shocking inequality in the pea kingdom, the reality of the discovery of the Pareto principle is not so clear cut. The principle itself was not so much the discovery of Pareto, but Joseph Juran, who repurposed some of Pareto&#8217;s ideas. He writes about this in a 1975 paper, <a href="http://img.projectsmart.co.uk/docs/the-non-pareto-principle.pdf">&#8220;The non-Pareto principle; mea culpa&#8221;</a>:</p>

<blockquote>
<p>The Pareto principle as a universal was not original with Pareto.</p>

<p>Where then did the universal originate? To my knowledge, the first exposition was by myself. Had I been structured along different lines, assuredly I would have called it the Juran principle. However, I was not structured that way. Yet I did need a shorthand designation, and I had no qualms about Pareto&#8217;s name. Hence the Pareto principle.</p>
</blockquote>

<p>More examples:</p>

<ul>
<li>He recounts, in the same paper, that he first noticed the idea when working on quality control as a young engineer: <strong>20% of reported defects accounted for 80% of the defectiveness.</strong></li>
<li>This finding is echoed by a 2002 report from Microsoft, which reports that <a href="http://www.crn.com/news/security/18821726/microsofts-ceo-80-20-rule-applies-to-bugs-not-just-features.htm">&#8220;<strong>80 percent of the errors and crashes in Windows and Office are caused by 20 percent of the entire pool of bugs detected.</strong>&#8220;</a></p></li>

<li><p>Another still-pretty-prosaic example comes from world GDP numbers, with <a href="http://en.wikipedia.org/wiki/Pareto_principle#In_economics"><strong>20% of the world&#8217;s population controlling 82.7% of the world&#8217;s income</strong></a>.</p></li>

<li><p>A 1997 book, <a href="http://www.amazon.com/gp/product/0415887240/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0415887240&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=W2CSH7FH422CHBHQ"><em>The Book Publishing Industry</em></a>, similarly observes that <strong>the bulk of book sales come a few authors.</strong></p></li>

<li><p>I suspect books are more imbalanced than <sup>80</sup>&frasl;<sub>20</sub>. In film, for instance, <a href="http://www.independent.co.uk/news/chaos-theory-explodes-hollywood-hype-1275802.html"><strong>80% of box office revenue goes to just 1.3% of all movies</strong></a>.</p></li>

<li><p>Another book, <a href="http://www.amazon.com/gp/product/0385491743/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0385491743&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=AJUYPEXQRXYSHI7A"><em>The <sup>80</sup>&frasl;<sub>20</sub> Principle</em></a>, gives the example of carpet wear: <strong>20% of carpet receives 80% of the wear</strong> but, like most Pareto examples, this one seems made up.</p></li>

<li><p>Similarly, the book reports that, <strong>in a 20 block area in Philadelphia in 1931, 70% of all marriages occurred between people who lived within 30% of the distance.</strong></p></li>

<li><p>Indeed, the law seems to apply to the internet as well, with <a href="http://shell.cas.usf.edu/~simon/documents/Network%20Theory.pdf">one paper</a> reporting that <strong>80% of links go to 20% of web pages.</strong> (Although, somewhat troublingly, the paper provides no source.)</p></li>

<li><p>Actually, looking at the traffic and analytics for this website, <strong>the top 1.7% of pages &#8212; namely, the <a href="https://rs.io/100-interesting-data-sets-for-statistics/">list of cool data sets</a>, <a href="https://rs.io/the-science-of-problem-solving/">the science of problem solving</a>, and the post on <a href="https://rs.io/prolonged-eye-contact-attraction-science-tells-us/">prolonged eye contact</a> &#8212; account for 82% of page views</strong>.</p></li>
</ul>

<p>Which makes me wonder: could you get 80% of the value of this article by reading 20% of the words?</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
