<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Why Psychology Is Not A Science &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/why-psychology-is-not-a-science/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Why Psychology Is Not A Science</h1>
  <time datetime=2014-02-25T15:50:06Z class="post-date">Tue, Feb 25, 2014</time>
  <blockquote>
<p>Doubt is not a pleasant condition, but certainty is absurd.</p>

<p><span id="quote-attribute">—Voltaire</span></p>
</blockquote>

<p>I was on Reddit earlier, and an exchange went like this (perfectly illustrating <strong>why psychology is not a science</strong>):</p>

<p><strong>Bob</strong>: Psychology isn&#8217;t a science. (downvoted)</p>

<p><strong>Alice</strong>: I&#8217;m a neuroscientist and while a lot of psychology isn&#8217;t very good, you&#8217;re just not looking at the right sort of psychology. The media doesn&#8217;t report on the right sort of psychology because it&#8217;s hard to understand. (upvotes)</p>

<p><strong>Jack</strong>: What sort of studies are good studies in psychology?</p>

<p><strong>Larry</strong>: One of my favorites is <a href="https://my.psychologytoday.com/files/attachments/584/baumeisteretal1998.pdf">Baumeister&#8217;s work on ego depletion</a> &#8212; willpower as a fixed resource. It&#8217;s a model of what psychology ought to look like. It&#8217;s applicable and replicable. (upvotes)</p>

<p>Except, you know, the much venerated model that is Baumeister&#8217;s work on ego depletion &#8212; nearing 2000 citations &#8212; has <a href="http://www.edge.org/panel/headcon-13-part-iv-p-hacking-and-the-replication-crisis">failed to replicate a bunch of times</a>, makes little sense from a computational model of mind, and is probably false.</p>

<p>At least most published research isn&#8217;t false, right? <a href="http://marginalrevolution.com/marginalrevolution/2005/09/why_most_publis.html">I have some bad news.</a></p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
