<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Web Roundup: Links For July &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/web-roundup-links-july/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Web Roundup: Links For July</h1>
  <time datetime=2014-07-01T03:15:18Z class="post-date">Tue, Jul 1, 2014</time>
  <ul>
<li><a href="http://www.businessinsider.com/jeff-bezos-favorite-business-books-2013-9">3 book recommendations</a> straight from Amazon&#8217;s CEO, Jeff Bezos: <a href="http://www.amazon.com/gp/product/0884271951/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0884271951&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=DH7ISYAWKPBDPZZS">The Goal</a>, <a href="http://www.amazon.com/gp/product/1422196577/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1422196577&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=4GGSW4PWIWRKNF22">The Innovator&#8217;s Solution</a>, and <a href="http://www.amazon.com/gp/product/0060833459/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0060833459&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=UWHYYTSMFCS24TFD">The Effective Executive</a>.</p></li>

<li><p>Remember that <a href="https://rs.io/100-interesting-data-sets-for-statistics/">list of data sets</a>? Noel at The Armchair Scholar has put together <a href="http://www.armchairscholar.com/us-crime-rate-analysis-60s-to-10s/">a visualization of some of the crime data</a>.</p></li>

<li><p>Speaking of which, my friend Benn Stancil and the rest of the team at <a href="https://modeanalytics.com/">Mode Analytics</a> have officially launched. The service enables users to easily visualize and analyze a number of different data sets, including quite a few of those in <a href="https://rs.io/100-interesting-data-sets-for-statistics/">my list</a>, so <a href="https://modeanalytics.com/">check it out</a>.</p></li>

<li><p>If you place rats into a cage with a morphine drip, as expected, they become addicted. If you place rats in a larger cage, along with other rats and plenty of social stimulation, they will <a href="http://www.stuartmcmillen.com/comics_en/rat-park/">refuse to drink from the morphine drip.</a> (via <a href="http://rockstarresearch.com/">RockstarResearch</a>)</p></li>

<li><p>&#8220;Echoing a recent disturbing conclusion in the medical literature, we argue that <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2249314">most claimed research findings in financial economics are likely false</a>.&#8221; (via <a href="http://marginalrevolution.com/marginalrevolution/2014/06/can-we-really-trust-published-results-in-finance.html">Tyler Cowen</a>)</p></li>

<li><p>57% of Americans <a href="http://www.publicpolicypolling.com/pdf/2011/HalloweenRelease+Results.pdf">believe that demonic possession is a real phenomenon</a>, while 37% of voters believe in ghosts &#8212; 26% even report that they&#8217;ve seen these elusive creatures. (Given so many sightings, maybe elusive isn&#8217;t the right word.) Oh, and chocolate bars are <em>by far</em> the Halloween candy of choice, a preference echoed by some 62% of respondees. Candy corn, the runner up, received only 11% of the vote. (via <a href="http://www.alternet.org/belief/almost-two-thirds-americans-18-29-years-old-believe-demon-possession-and-number-growing">Alternet</a>)</p></li>

<li><p>Did Pol Pot&#8217;s genocide of intellectuals in Cambodia <a href="http://humanvarieties.org/2014/06/12/hvgiq-cambodia/">lower the average IQ</a>? Answer: probably, but not by much. (via <a href="http://slatestarcodex.com/2014/06/18/more-links-for-june-2014/">slatestarcodex</a> for this and the next couple)</p></li>

<li><p>Attitudes towards premarital sex <a href="http://www.psychologytoday.com/blog/strictly-casual/201404/is-casual-sex-the-rise-in-america">haven&#8217;t shifted over the last 26 years</a>:</p></li>
</ul>

<p><a href="https://rs.io/wp-content/uploads/2014/07/attitude-toward-premarital-sex-over-time.png"><img class="aligncenter size-full wp-image-611" src="https://rs.io/wp-content/uploads/2014/07/attitude-toward-premarital-sex-over-time.png" alt="attitude-toward-premarital-sex-over-time" width="460" height="280" srcset="https://rs.io/wp-content/uploads/2014/07/attitude-toward-premarital-sex-over-time.png 460w, https://rs.io/wp-content/uploads/2014/07/attitude-toward-premarital-sex-over-time-300x182.png 300w" sizes="(max-width: 460px) 100vw, 460px" /></a></p>

<ul>
<li><p>If your self-driving car is in a situation where it can save your life, or save the most lives, what should it do? Only 28% of IEET readers opted for saving the most lives in <a href="http://ieet.org/index.php/IEET/more/poll20140614#When:16:29:00Z">this poll</a>. If I taught an ethics class (and boy do I wish I taught an ethics class) they would all fail.</p></li>

<li><p>So&#8230; it used to be pretty popular to <a href="http://en.wikipedia.org/wiki/Execution_by_elephant">use elephants as executioners</a>. &#8220;Elephants (unlike horses) can be trained to execute prisoners in a variety of ways, and can be taught to prolong the agony of the victim by inflicting a slow death by torture or to kill the condemned quickly by stepping on the head.&#8221;</p></li>

<li><p>In 1746, two identical twins were sentenced to die. Their sentences were commuted to life imprisonment &#8212; on one condition: one twin had to drink two pots of coffee each day, the other two pots of tea. The tea drinker was <a href="http://en.wikipedia.org/wiki/Gustav_III_of_Sweden%27s_coffee_experiment">the first to die</a>.</p></li>

<li><p>Mr. Money Mustache is known as an authority on, well, money-saving. I checked out <a href="http://www.mrmoneymustache.com/the-mmm-reading-list/">his recommended reading list</a> and, from what I&#8217;ve read on the list, it looks surprisingly good, although I cringed when I read that there&#8217;s an economics book, <a href="http://www.amazon.com/gp/product/B003NX6TYC/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B003NX6TYC&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=EBLC3Q2VAC73NHDX"><em>Naked Economics</em></a>, whose &#8220;claim to fame is that it uses absolutely no graphs or numbers when explaining economics.&#8221; The whole trend of a book bragging about not including equations makes me want to start a riot. (I&#8217;ll have you know that the ebook I&#8217;m working on contains a gratuitous, not strictly necessary copy of one of the Navier-Stokes equations.)</p></li>

<li><p>If you know what the words codec, golem, paladin, or biped mean, <a href="http://marginalrevolution.com/marginalrevolution/2014/06/words-that-men-are-most-likely-to-recognize-over-women.html">you&#8217;re probably a guy</a>. If you know the words taffeta (my sister laughed at me for mispronouncing this, I have no idea what it means) or wisteria mean, you&#8217;re probably not.</p></li>

<li><p>&#8220;Mensa is a club restricted to high-IQ individuals, and one must pass IQ-type tests to be admitted. Yet <a href="http://lukemuehlhauser.com/stanovich-on-intelligence-enhancement/">44 percent of the members of this club believed in astrology</a>, 51 percent believed in biorhythms, and 56 percent believed in the existence of extraterrestrial visitors-all beliefs for which there is not a shred of evidence.&#8221;</p></li>

<li><p><a href="http://lukemuehlhauser.com/wp-content/uploads/Scannell-Diagnosing-hte-decline-in-pharmaceutical-RD-efficiency.pdf">“The number of new drugs approved per billion US dollars spent on R&amp;D has halved roughly every 9 years since 1950…”</a> (via <a href="http://lukemuehlhauser.com/">Luke Muehlhauser</a> for this and the next.)</p></li>

<li><p><a href="http://www.technologyreview.com/view/519581/how-google-converted-language-translation-into-a-problem-of-vector-space-mathematics/">Using linear algebra to translate between languages without labeled data.</a></p></li>

<li><p><a href="http://www.effective-altruism.com/will-we-eventually-be-able-to-colonize-other-stars-notes-from-a-preliminary-review/">Will we eventually be able to colonize the stars?</a> &#8220;My impression is that the most informed people thinking about these issues believe that space colonization will eventually be possible, and that they believe this for reasons that make sense to me.&#8221;</p></li>

<li><p>One of the more creative weight-loss approaches I&#8217;ve heard (female readers only!): <a href="http://rockstarresearch.com/the-lac-diet/">Artificially induce lactation.</a></p></li>

<li><p><a href="http://bost.ocks.org/mike/algorithms/">The best set of algorithm visualizations I&#8217;ve seen.</a></p></li>

<li><p>Iceland consumes <a href="http://en.wikipedia.org/wiki/List_of_countries_by_electricity_consumption">5837 watts of electricity per person</a>, more than twice that of the #2 spot, Norway, and more than 4x that of the average US citizen. The majority of this power (68.4%) is being <a href="http://www.nea.is/media/jardhiti/popup/10-elcetricityconsumption.jpg">consumed by their aluminum industry</a> and <a href="http://en.wikipedia.org/wiki/Renewable_energy_in_Iceland">85% of their energy is from renewable resources</a>, via a mix of geothermal energy (65%) and hydropower (20%).</p></li>

<li><p>File this under results-I&#8217;ll-believe-after-12-replications: <a href="http://esciencenews.com/articles/2014/06/26/chimps.listening.music.with.a.different.beat.research.finds">Monkeys hate Western music, but enjoy music from Africa and India.</a></p></li>

<li><p>Some nice looking <a href="http://simplesharingbuttons.com/">social share buttons</a>. I&#8217;ll have to test if these are more effective than the current sorta ugly solution, in the same vein as <a href="https://rs.io/results-first-split-test/">the first split test post</a>.</p></li>

<li><p><a href="http://onlinelibrary.wiley.com/doi/10.1002/ab.21499/full">&#8220;Contrary to theory, women were found to be more physically aggressive to their partners than men were&#8221;</a></p></li>

<li><p>You know how Rome salted the earth after conquering Carthage so nothing would ever grow there again? <a href="http://www.straightdope.com/columns/read/2698/did-ancient-conquerors-punish-their-enemies-by-sowing-captured-fields-with-salt">Well-l-l, that never happened.</a></p></li>

<li><p>Is everyone getting dumber? <a href="https://docs.google.com/file/d/0B3c4TxciNeJZN29lSlpmdmlOcVE/edit">&#8220;Based on 13 age-matched studies from Western countries conducted between 1884 and 2004 yielding 16 data points we estimated a decline of −13.35 IQ points.&#8221;</a> (via <a href="http://hbdchick.wordpress.com/2014/06/30/linkfest-063014">hbd* chick</a> for this and the next)</p></li>

<li><p>Being a criminal may be reproductively adaptive: &#8220;Convicted criminal offenders <a href="http://www.ehbonline.org/article/S1090-5138%2814%2900077-4/abstract">had more children than individuals never convicted of a criminal offense</a>. Criminal offenders also had more reproductive partners, were less often married, more likely to get remarried if ever married, and had more often contracted a sexually transmitted disease than non-offenders.&#8221;</p></li>

<li><p><a href="http://opinion.financialpost.com/2012/09/21/lawrence-solomon-evacuation-a-worse-killer-than-radiation/">More people died during the evacuation of Fukushima than will die from the radiation.</a></p></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
