<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Worldbuilding, Worldbuilders, and Mathematics &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/worldbuilding-worldbuilders-mathematics/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Worldbuilding, Worldbuilders, and Mathematics</h1>
  <time datetime=2014-02-28T17:53:07Z class="post-date">Fri, Feb 28, 2014</time>
  

<p>This week, I was introduced to <a href="http://www.reddit.com/r/worldbuilding">the hobby of worldbuilding</a> &#8212; inventing imaginary places, making maps, elaborating histories. (The platonist in me prefers to think of worldbuilding as the <em>discovery</em> of fictional universes, rather than an act of invention.)</p>

<h2 id="tolkien">Tolkien</h2>

<p>There is a (perhaps apocryphal) tale that J. R. R. Tolkien got into a fight with his publisher over using the words &#8220;elves&#8221; and &#8220;dwarves&#8221; instead of &#8220;elfs&#8221; and &#8220;dwarfs&#8221;. The publisher argued that the latter was how the dictionary did it. &#8220;I know,&#8221; Tolkien responded, &#8220;I wrote the dictionary.&#8221; Tolkien had, in fact, spent several years as an assistant working on the Oxford English Dictionary.</p>

<p>Although most known for his fiction, Tolkien was a linguist at heart, even <a href="http://en.wikipedia.org/wiki/Languages_constructed_by_J._R._R._Tolkien">inventing some eleven fictional languages</a> along with a number of variations on those languages.</p>

<p>The remarkable degree of internal consistency of some Tolkien&#8217;s language use in <em>The Lord of the Rings</em> is perhaps unsurprising, then. The prefix &#8220;mor&#8221; in his work translates literally to black and is used consistently &#8212; Mordor is black land, moria is black pit, and morranon is black gate. The &#8220;dor&#8221; in Mordor means land. Gondor, as you might expect, means stone land.</p>

<p>Of his languages and <em>Lord of the Rings</em>, Tolkien wrote &#8220;The invention of languages is the foundation. The &#8216;stories&#8217; were made rather to provide a world for the languages than the reverse.&#8221;</p>

<h2 id="foundations">Foundations</h2>

<blockquote>
<p>It’s very far away,</p>

<p>It takes about half a day</p>

<p>to get there</p>

<p>if we travel by my, uh, dragonfly.</p>

<p><span id="quote-attribute">—Jimi Hendrix, &#8220;Spanish Castle Magic&#8221;</span></p>
</blockquote>

<p>I have no such patience for languages. I have little interesting in learning a new one, except perhaps Lojban, and less still in attempting to invent my own, unless we&#8217;re speaking of programming.</p>

<p>But it does suggest a question: Where would I start with discovering a fictional universe? If I wanted to maximize the believability of a fictional universe, on what rock would I put it?</p>

<p>I&#8217;m thinking maybe economics. Robin Hanson <a href="https://www.google.com/search?q=her+movie+robin+hanson&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;rls=org.mozilla:en-US:official&amp;client=firefox-a&amp;channel=sb">recently pointed out</a> that the movie <em>Her</em>, while enjoyable, is far from realistic. Humans invent human-level &#8220;strong&#8221; AI and use it&#8230; <em>to chat with.</em></p>

<p>I doubt that&#8217;s how it&#8217;s going to play out in the real world. Why bother hiring a human to do <em>any</em> sort of computer work when an AI can do it faster, better, and cheaper? Newspaper reporter? Computer has it covered. Secretary? Computer. Author? Computer. Researcher? Computer. Teacher? Computer. Customer support? Computer.</p>

<p>Talk about a fuck up. In the real world, everything makes a perverted sort of sense. A causes B causes C, <em>ad infinitum</em>. In the real world, physics makes the rules, and we, well, we&#8217;re an expression of them. When worldbuilding, there is no <em>physics</em> ensuring that what you write is consistent. It&#8217;s up to you.</p>

<p>Discovering a coherent world draws on the same skills that are necessary for understanding our own world. When the movie <em>Gravity</em> was released, it was <a href="http://ideas.time.com/2013/10/02/astronaut-gravity-gets-me-down/">criticized</a> for fucking up a whole lot of physics &#8212; vehicles in impossible orbits, backpacks with unlimited fuel supplies, and indestructible space suits.</p>

<p>That&#8217;s all ignoring messy details like relationship mechanics, attraction, and how language works. The movie <em>Ted</em> drives me up the wall &#8212; <em>not</em> because there is a magical, talking teddy bear, but because Mark Wahlburg and Mila Kunis&#8217;s relationship strikes me as absurd. A chick like that, decent career, and she&#8217;s with this unemployed man-child? <em>Ri-ght</em>.</p>

<p>All of which is to suggest that the skills and knowledge necessary to understand this world are the same needed to build your own: economics, game theory, physics, social dynamics, and so on. The converse is true, too: <strong>to understand this world, consider the sort of things you&#8217;d need to know to build your own.</strong> Or, as Feynman put it, &#8220;What I cannot create, I do not understand.&#8221;</p>

<h2 id="the-fractal-nature-of-worldbuilding">The Fractal Nature of Worldbuilding</h2>

<p>Worldbuilders often go out of their way to produce natural looking maps &#8212; like by spilling coffee on paper. Here&#8217;s an example:</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/coffee-stain-world.png"><img class="aligncenter size-full wp-image-352" src="https://rs.io/wp-content/uploads/2014/08/coffee-stain-world.png" alt="coffee-stain-world" width="490" height="367" srcset="https://rs.io/wp-content/uploads/2014/08/coffee-stain-world.png 490w, https://rs.io/wp-content/uploads/2014/08/coffee-stain-world-300x224.png 300w" sizes="(max-width: 490px) 100vw, 490px" /></a></p>

<p>Another technique for generating maps: taking pictures of rusted fire hydrants.</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/world-building-rusted-fire-hydrant.png"><img class="aligncenter size-full wp-image-351" src="https://rs.io/wp-content/uploads/2014/08/world-building-rusted-fire-hydrant.png" alt="world-building-rusted-fire-hydrant" width="475" height="549" srcset="https://rs.io/wp-content/uploads/2014/08/world-building-rusted-fire-hydrant.png 475w, https://rs.io/wp-content/uploads/2014/08/world-building-rusted-fire-hydrant-259x300.png 259w" sizes="(max-width: 475px) 100vw, 475px" /></a></p>

<p>But there&#8217;s a whole branch of mathematics for this sorta thing, fractals! Ever notice the self-similar nature of trees? Each branch looks like a small tree unto itself. Or coastlines &#8212; each &#8220;crevice&#8221; of a coastline itself looks like a coastline. Branches, snowflakes, crystals &#8212; all like this.</p>

<p>Indeed, ever after reading Benoit Mandelbrot&#8217;s <em>The Fractal Geometry of Nature</em>, I sometimes catch myself seeing fractals superimposed on clouds when I unfocus my eyes.</p>

<h2 id="mathematics-and-worldbuilding">Mathematics and Worldbuilding</h2>

<p>Okay, confession: I wasn&#8217;t 100% honest with you. While this is my first brush with groups of other worldbuilders, I&#8217;ve toyed with the idea in the past &#8212; after colliding with Tegmark&#8217;s <a href="http://en.wikipedia.org/wiki/Mathematical_universe_hypothesis">mathematical universe hypothesis</a> and reading <em>Permutation City</em>.</p>

<p>I wasn&#8217;t thinking about making maps. I was wondering: How could I model the essentials of emergent behavior? Is it Conway&#8217;s game of life &#8212; or something simpler? How could I simulate a universe? What do the fundamental laws of our universe look like?</p>

<p>And I started wondering if mathematics wasn&#8217;t a sort of world unto itself. A set of axioms with implications of <a href="http://mathoverflow.net/questions/18100/theorems-with-unexpected-conclusions">the sort we could never anticipate</a> &#8212; implications we are still discovering, who knows what it could lead to? And not one system of axioms, but infinitely many &#8212; each with different definitions, objects, theorems, branches, and applications.</p>

<p>In short, I started to think of the work of a mathematician as being a whole lot like worldbuilding. Discovering some object that obeys certain rules of logic and nothing more, and asking, &#8220;What does it do? Is such and such true of this thing? How does it behave here?&#8221;</p>

<p>I&#8217;m reminded of János Bolyai. Of non-euclidean geometry, he wrote, &#8220;Out of nothing I have created a strange new universe.&#8221;</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
