<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Machine Evolution &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/machine-evolution/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/machine-evolution/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li><li><a href="https://rs.io/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Machine Evolution</h1>
  <time datetime=2019-08-01T02:12:00Z class="post-date">Thu, Aug 1, 2019</time>
  <div id="outline-container-orge26ed4b" class="outline-2">
  <div id="text-orge26ed4b" class="outline-text-2">
    <blockquote>
      <p>
        The next logical step is to see this reality as part of the process leading to the eventual displacement of carbon-based life by machines (Wesley 1974). Evolutionary parallels between the two entities are intriguing.
      </p>
      
      <p>
        Machines are thermodynamically alive, and their diffusion conforms to natural selection: failures do not reproduce, new species proliferate, and they tend toward maximum supportable mass; successive generations are also progressively more efficient (recall all those impressively lower mass/ power ratios!), more mobile, and have longer life spans. These parallels can be dismissed as merely intriguing biomorphizations, but the ascendance of machines has been an undeniable fact.
      </p>
      
      <p>
        They have already replaced enormous areas of natural ecosystems with the infrastructures needed for their making, motion, and storage (mines, railroads, roads, factories, parking lots); man’s time has been increasingly spent by serving them; their waste products have caused extensive degradation of soils, waters, and the atmosphere; and the global mass of automobiles alone is already much higher than that of all of humanity. The finiteness of fossil fuel resources may do little to stop the ascent of machines. In the near term they can adapt by becoming more efficient; in the long term they can rely on renewable flows.
      </p>
      
      <p>
        – Vaclav Smil in <a href="https://amzn.to/2YytHPa"><i>Energy and Civilization: A History</i></a>
      </p>
    </blockquote>
  </div>
</div>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
