<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Anki Tips: What I Learned Making 10,000 Flashcards &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/anki-tips/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/anki-tips/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Anki Tips: What I Learned Making 10,000 Flashcards</h1>
  <time datetime=2014-04-05T20:57:14Z class="post-date">Sat, Apr 5, 2014</time>
  

<p><img class="aligncenter size-full wp-image-429" src="https://rs.io/wp-content/uploads/2014/09/anki.png" alt="anki" width="678" height="377" srcset="https://rs.io/wp-content/uploads/2014/09/anki.png 678w, https://rs.io/wp-content/uploads/2014/09/anki-300x166.png 300w" sizes="(max-width: 678px) 100vw, 678px" /></p>

<p>If you don&#8217;t know what Anki or spaced repetition is, start by reading <a href="http://www.gwern.net/Spaced%20repetition">gwern&#8217;s excellent introduction</a>.</p>

<p>This month, I created my ten thousandth virtual flashcard. When I started using Anki, I worried that I&#8217;d do the wrong thing, but decided that the only way to acquire Anki expertise was to make a lot of mistakes.</p>

<p>Here&#8217;s how my Anki usage has evolved.</p>

<h3 id="why-questions">Why questions</h3>

<p>Cards that answer the question &#8220;Why?&#8221; are more valuable than factual cards. (See also <a href="https://rs.io/effective-study-skills-for-college-students-why-questions/">this post</a>.) It&#8217;s easy to memorize that QuickSort has a lower bound of O(n lg n), but better to know <em>why</em> it has such a lower bound, and even better still to understand why comparison-based sorts can&#8217;t be faster than O(n lg n).</p>

<p>Of course, it&#8217;s best to know all of these.</p>

<p>My emerging perspective here is that it&#8217;s important to understand all the context of an idea to <em>really</em> know it. How it emerged, how to invent it, what it&#8217;s for, and so on.</p>

<h3 id="images">Images</h3>

<p>My original Anki decks were <em>all</em> words. Now, I lean on images as heavily as possible. I find, at least for my sort of mind, that most of understanding something is learning to visualize and manipulate it mentally. Google image search is one of my first stops. In a pinch, I also make crude drawings of my own. As long as it captures the main idea, it&#8217;ll do:</p>

<p><a href="https://rs.io/wp-content/uploads/2014/09/crude-anki.png"><img class="aligncenter size-full wp-image-428" src="https://rs.io/wp-content/uploads/2014/09/crude-anki.png" alt="crude-anki" width="408" height="256" srcset="https://rs.io/wp-content/uploads/2014/09/crude-anki.png 408w, https://rs.io/wp-content/uploads/2014/09/crude-anki-300x188.png 300w" sizes="(max-width: 408px) 100vw, 408px" /></a>As an unintended consequence, my thought itself has shifted towards more imagery. The repetition makes an image representation of a concept more available mentally than its equivalent in words.</p>

<h3 id="connections">Connections</h3>

<p>The biggest problem with Anki is the tendency for cards to become disconnected, so that a lot of knowledge is only available with the right cue and, even then, it&#8217;s a sort of impoverished thing.</p>

<p>I&#8217;m not aware of any silver bullet for this problem, but I now construct more cards that enforce links between knowledge. I might ask, &#8220;How is this concept different from that concept?&#8221; Or how a concept explains something from my personal life, or what an idea is reminiscent of.</p>

<p>The main limitation here is the general unavailability of a piece of information. With the right cue, I can recall it, but it&#8217;s not as if I can just sit down and brain dump every single one of my memories.</p>

<p>Mnemonics, at least the <a href="http://en.wikipedia.org/wiki/Method_of_loci">method of loci</a>, are a bit better in this regard, as I can think myself to a place if I need to retrieve something.</p>

<h3 id="single-deck">Single deck</h3>

<p>Currently, I have decks organized by topic and subtopic. However, I now think this is backwards. Given <a href="http://en.wikipedia.org/wiki/Hebbian_theory">Hebbian learning</a> &#8212; neurons that fire together wire together &#8212; I&#8217;m convinced that mixing everything is superior.</p>

<p>Take the production of insight, for instance. I find that insight often arises when two ideas that have been recently activated in memory collide and I think, &#8220;Oh, wait, that&#8217;s related to that.&#8221;</p>

<p>If everything is carefully partitioned, you limit opportunities for this serendipity. Topic organization says &#8220;ideas about computer science don&#8217;t belong with those about economics,&#8221; except applying ideas across disciplines is precisely where the insights are likely to be most fertile.</p>

<h3 id="two-way-connections">Two-way connections</h3>

<p>Here&#8217;s a mistake I&#8217;ve made a couple of times. You&#8217;ll be reading a text and it&#8217;ll define something, like the Martin-Löf-Chaitin thesis, and you&#8217;ll create a card saying, &#8220;What&#8217;s the Martin-Löf-Chaitin thesis?&#8221;</p>

<p>Then, sometime in your life, you&#8217;ll be sitting and thinking, &#8220;Hey, what&#8217;s that mathematical theory of randomness called?&#8221; and you won&#8217;t know, because you didn&#8217;t make a card like that, and your mind only learned the connection one way.</p>

<p>This has also happened with cuckoo hashing and I&#8217;m sure other things too, so now I make more of an effort to learn something forwards and backwards, like &#8220;What&#8217;s cuckoo hashing?&#8221; and &#8220;What&#8217;s the name of that probabilistic version of hashing?&#8221;</p>

<p>In general, poor models of how memory and mind work hinder Anki effectiveness. You might think, hey, knowing something is all there is to knowing. Wrong. A lot of knowing is creating different cues and representations of that knowledge so that you can recall it when needed.</p>

<p>A great deal of an effective knowledge base is engineering it so that it&#8217;ll be useful in the sort of situations where you expect to apply it.</p>

<h3 id="adding-whatever">Adding whatever</h3>

<p>My philosophy when I started using Anki was to add whatever, to just adopt a trifling barrier to entry. I didn&#8217;t worry about whether a fact is useful or not or anything like that. If something appealed to me, I&#8217;d add it.</p>

<p>This core is remains. The main change this philosophy has undergone is to shift away from setting a specific study time and making cards during that study time. Instead, I add anything interesting, regardless of when it happens, and random connections and insight that occur to me throughout the day.</p>

<p>For example, each morning I go through my RSS reader and check the news for the day. Whenever I come across something interesting or insightful, I add it.</p>

<p>Or here&#8217;s a common hangup people have, and that I had, when starting with spaced repetition. It&#8217;s the question, &#8220;What ought I memorize?&#8221; and people think, well, maybe the presidents or something, because that&#8217;s what they&#8217;ve associated memorization with.</p>

<p>It&#8217;s the wrong question. Ask &#8220;What&#8217;s interesting?&#8221; and start ankifying that.</p>

<p>People also really like it when you can recall minutia about them, too, which is sort of fun. If someone mentions their favorite type of cheese, or a pet&#8217;s name, make it into an Anki card. It&#8217;s like free social points. Memorizing birthdays works.</p>

<h2 id="thoughts-on-the-value-of-anki">Thoughts on the value of Anki</h2>

<p>I remain, more than a year later, enthusiastic about Anki. The honeymoon period is over and I still think it&#8217;s awesome.</p>

<p>Anki-powered studying has become my new normal. Whenever I regress to trying to memorize something spontaneously, without software assistance, like command line flags or some bit of HTML, it&#8217;s frustrating. It feels like something is wrong, like it ought to be so much easier, because with Anki it is.</p>

<p>Which is not to say that Anki is a panacea. Just as it&#8217;s a good idea to diversify your stock portfolio, it&#8217;s a good idea to diversify learning methods.</p>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>I&#8217;ve written before about <a href="https://rs.io/effective-study-skills-for-college-students-why-questions/">the importance of &#8220;Why?&#8221; questions</a>, on <a href="https://rs.io/developing-good-research-skills-compressing-knowledge/">structuring knowledge</a>, and on <a href="https://rs.io/reading-math/">different modes of thinking about mathematics</a> (but which are broadly applicable).</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
