<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Great Math Quotes &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/great-math-quotes/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/great-math-quotes/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Great Math Quotes</h1>
  <time datetime=2013-09-19T19:07:50Z class="post-date">Thu, Sep 19, 2013</time>
  

<p>I don&#8217;t collect many things, who needs that junk? But I do have a collection of great math quotes that I&#8217;d like to share with you.</p>

<h2 id="great-math-quotes">Great Math Quotes</h2>

<blockquote>
<p>We must not believe those, who today, with philosophical bearing and deliberative tone, prophesy the fall of culture and accept the ignorabimus. For us there is no <em>ignorabimus</em>, and in my opinion none whatever in natural science. In opposition to the foolish ignorabimus our slogan shall be: We must know — we will know!</p>

<p><span id="quote-attribute">—David Hilbert</span></p>

<p>If I feel unhappy, I do mathematics to become happy. If I am happy, I do mathematics to keep happy.</p>

<p><span id="quote-attribute">—P. Turan, &#8220;The Work of Alfred Renyi&#8221;</span></p>

<p>One must make a start in any line of research, and this beginning almost always has to be a very imperfect attempt, often unsuccessful. There are truths that are unknown in the way that there are countries the best road to which can only be learned after having tried them all. Some persons have to take the risk of getting off the track in order to show the right road to others&#8230;. We are almost always condemned to experience errors in order to arrive at truth.<a href="#citation-1"><sup>1</sup></a></p>

<p><span id="quote-attribute">—Denis Diderot</span></p>
</blockquote>

<h2 id="what-is-mathematics">What is mathematics?</h2>

<blockquote>
<p>We often hear that mathematics consists mainly of &#8220;proving theorems.&#8221; Is a writer&#8217;s job mainly that of &#8220;writing sentences?&#8221;</p>

<p><span id="quote-attribute">—Gian-Carlo Rota</span></p>

<p>Last time, I asked: &#8220;What does mathematics mean to you?&#8221; And some people answered: &#8220;The manipulation of numbers, the manipulation of structures.&#8221; And if I had asked what music means to you, would you have answered: &#8220;The manipulation of notes?&#8221;</p>

<p><span id="quote-attribute">—Serge Lang</span></p>

<p>The purpose of computing is insight, not numbers.</p>

<p><span id="quote-attribute">—Richard W. Hamming</span></p>

<p>Why are numbers beautiful? It&#8217;s like asking why is Beethoven&#8217;s Ninth Symphony beautiful. If you don&#8217;t see why, someone can&#8217;t tell you. I know numbers are beautiful. If they aren&#8217;t beautiful, nothing is.</p>

<p><span id="quote-attribute">—Paul Erdős</span></p>

<p>If people do not believe that mathematics is simple, it is only because they do not realize how complicated life is.</p>

<p><span id="quote-attribute">—John von Neumann</span></p>
</blockquote>

<h2 id="analysis">Analysis</h2>

<blockquote>
<p>I recoil with fear and loathing from that deplorable evil, continuous functions with no derivative.<a href="#citation-1"><sup>1</sup></a></p>

<p><span id="quote-attribute">—Charles Hermite, on the <a href="http://en.wikipedia.org/wiki/Weierstrass_function">Weierstrass function</a></span></p>
</blockquote>

<h2 id="combinatorics">Combinatorics</h2>

<blockquote>
<p>Combinatorics is an honest subject. No adèles, no sigma-algebras. You count balls in a box, and you either have the right number or you haven’t. You get the feeling that the result you have discovered is forever, because it’s concrete. Other branches of mathematics are not so clear-cut. Functional analysis of infinite-dimensional spaces is never fully convincing; you don’t get a feeling of having done an honest day’s work. Don’t get the wrong idea – combinatorics is not just putting balls into boxes. Counting finite sets can be a highbrow undertaking, with sophisticated techniques.</p>

<p><span id="quote-attribute"><a href="http://www.fas.org/sgp/othergov/doe/lanl/pubs/00326965.pdf">—Gian-Carlo Rota</a></span></p>
</blockquote>

<h2 id="analytic-geometry">Analytic Geometry</h2>

<blockquote>
<p>The introduction of numbers as coordinates is an act of violence.</p>

<p><span id="quote-attribute">—Hermann Weyl, <a href="http://www.amazon.com/gp/product/B003LH2L10/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B003LH2L10&linkCode=as2&tag=rsio-20&linkId=FW6VMURWM7AQTAMG"><em>Philosophy of Mathematics and Natural Science</em></a></span></p>
</blockquote>

<h2 id="non-euclidean-geometry">Non-Euclidean Geometry</h2>

<blockquote>
<p>Out of nothing I have created a strange new universe.</p>

<p><span id="quote-attribute">—János Bolyai</span></p>

<p>I have made such wonderful discoveries that I am myself lost in astonishment.</p>

<p><span id="quote-attribute">—János Bolyai</span></p>

<p>For God&#8217;s sake, please give it up. Fear it no less than the sensual passion, because it, too, may take up all your time and deprive you of your health, peace of mind and happiness in life.</p>

<p><span id="quote-attribute">—Farkas Bolyai, quoted in <a href="http://www.amazon.com/gp/product/0395929687/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0395929687&linkCode=as2&tag=rsio-20&linkId=WWIT6L7H2N6MKRFW"><em>The Mathematical Experience </em></a>(very recommended, <a href="http://www.amazon.com/gp/product/0395929687/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0395929687&linkCode=as2&tag=rsio-20&linkId=WWIT6L7H2N6MKRFW">buy a copy</a>)<em><br /> </em></span></p>

<p>The assumption that the angle sum of a triangle is less than 180° leads to a curious geometry, quite different from ours but thoroughly consistent, which I have developed to my entire satisfaction. The theorems of this geometry appear to be paradoxical, and, to the uninitiated, absurd, but calm, steady reflection reveals that they contain nothing at all impossible.<a href="#citation-1"><sup>1</sup></a></p>

<p><span id="quote-attribute">—Carl Friedrich Gauss</span></p>
</blockquote>

<h2 id="foundations-and-certainty">Foundations and Certainty</h2>

<blockquote>
<p>I shall persevere until I find something that is certain or, at least, until I find for certain that nothing is certain.[<sup>1</sup>][2]</p>

<p><span id="quote-attribute">—René Descartes</span></p>

<p>&#91;This&#93; science is the work of the human mind, which is destined rather to study than to know, to seek the truth rather than to find it.</p>

<p><span id="quote-attribute">— Évariste Galois</span></p>

<p>Persist and faith will come to you.</p>

<p><span id="quote-attribute">— Jean le Rond d&#8217;Alembert</span></p>

<p>I wanted certainty in the kind of way in which people want religious faith. I thought that certainty is more likely to be found in mathematics than elsewhere. But I discovered that many mathematical demonstrations, which my teachers expected me to accept, were full of fallacies, and that, if certainty were indeed discoverable in mathematics; it would be in a new field of mathematics, with more solid foundations than those that had hitherto been thought secure. But as the work proceeded, I was continually reminded of the fable about the elephant and the tortoise. Having constructed an elephant upon which the mathematical world could rest, I found the elephant tottering, and proceeded to construct a tortoise to keep the elephant from falling. But.. the tortoise was no more secure than the elephant, and after some twenty years of very arduous toil, I came to the conclusion that there was nothing more that I could do in the way of making mathematical knowledge indubitable.</p>

<p><span id="quote-attribute">—Bertrand Russel, <a href="http://www.amazon.com/gp/product/B0000CJHS6/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0000CJHS6&linkCode=as2&tag=rsio-20&linkId=LZPLKZE47BDXDHJC"><em>Portraits from Memory</em></a></span></p>

<p>The splendid certainty which I had always hoped to find in mathematics was lost in a bewildering maze&#8230;.It is truly a complicated conceptual labyrinth.</p>

<p><span id="quote-attribute">— Bertrand Russel, <a href="http://www.amazon.com/gp/product/0851247369/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0851247369&linkCode=as2&tag=rsio-20&linkId=7UB6AOMKTG6TUUT7"><em>My Philosophical Development</em></a></span></p>

<p>But does mathematics need absolute certainty for its justification? In particular, why do we need to be sure a theory is consistent or that it can be derived by an absolutely certain intuition of pure time, before we use it? In no other science do we make such demands. In physics all theorems are hypothetical; we adopt a theory so long as it makes useful predictions and modify or discard it as soon as it does not. This is what happened to mathematical theories in the past, where the discovery of contradictions has led to modification in the mathematical doctrines accepted up to the time of that discovery. Why should we not do the same in the future?</p>

<p><span id="quote-attribute">—Haskell B. Curry, <a href="http://www.amazon.com/gp/product/B00CWR4RR6/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00CWR4RR6&linkCode=as2&tag=rsio-20&linkId=SR4SFIONCO7MBBMX"><em>Foundations of Mathematical Logic</em></a></span></p>

<p>We are less certain than ever about the ultimate foundations of mathematics and logic. Like everybody and everything in the world today, we have our &#8220;crisis&#8230;&#8221; We have had it for nearly fifty years. Outwardly it does not seem to hamper our daily work, and yet I for one confess that it has had a considerable practical influence on my mathematical life; it directed my interests to fields I considered relatively &#8220;safe,&#8221; and has been a constant drain on the enthusiasm and determination with which I pursued my research work. This experience is probably shared by other mathematicians who are not indifferent to what their scientific endeavors mean in the context of man&#8217;s whole caring and knowing, suffering and creative existence in the world.<a href="#citation-1"><sup>1</sup></a></p>

<p><span id="quote-attribute">—Hermann Weyl</span></p>

<p>The method of postulating what we want has many advantages; they are the same as the advantages of theft over honest toil.<a href="#citation-1"><sup>1</sup></a></p>

<p><span id="quote-attribute">—Bertrand Russel</span></p>

<p>The recent research on foundations has broken through frontiers only to encounter a wilderness.</p>

<p><span id="quote-attribute">—Morris Kline,<a href="http://www.amazon.com/gp/product/0195030850/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0195030850&linkCode=as2&tag=rsio-20&linkId=EDZK2I6747GPORIC"> <em>Mathematics: The Loss of Certainty</em></a></span>, (recommended, <a href="http://www.amazon.com/gp/product/0195030850/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0195030850&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=EDZK2I6747GPORIC">buy a copy</a>)</p>

<p>We have put a fence around the herd to protect it from the wolves but we do not know whether some wolves were already enclosed within the fence.</p>

<p><span id="quote-attribute">Henri Poincaré</span></p>
</blockquote>

<h2 id="applications">Applications</h2>

<blockquote>
<p>This science &#91;mathematics&#93; does not have for its unique objective to eternally contemplate its own navel; it touches nature and some day it will make contact with it. On this day it will be necessary to discard the purely verbal definitions and not any more be the dupe of empty words.</p>

<p><span id="quote-attribute">—Henri Poincaré, <a href="http://www.gutenberg.org/files/39713/39713-h/39713-h.htm"><em>The Foundations of Science</em></a></span></p>

<p>It would be necessary to have completely forgotten the history of science not to remember that the desire to understand nature has had on the development of mathematics the most important and happiest influence&#8230; The pure mathematician who should forget the existence of the exterior world would be like a painter who knows how to harmoniously combine colors and forms, but who lacked models. His creative power would soon be exhausted.</p>

<p><span id="quote-attribute">—Henri Poincare, <a href="http://www.amazon.com/gp/product/B008ZPG6JQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B008ZPG6JQ&linkCode=as2&tag=rsio-20&linkId=SHVYNPOT7PS35YBR"><em>The Value of Science</em></a></span></p>

<p>The mathematics of our day seems to be like a great weapons factory in peace time. The show window is filled with parade pieces whose ingenious, skillful, eye-appealing execution attracts the connoisseur. The proper motivation for and purpose of these objects, to battle and conquer the enemy, has receded to the background of consciousness to the extent of having been forgotten.</p>

<p><span id="quote-attribute">—Felix Klein, <a href="http://www.amazon.com/gp/product/0915692287/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0915692287&linkCode=as2&tag=rsio-20&linkId=CBG7NE5SRKHVCBSC"><em>Development of Mathematics in the Nineteenth Century</em></a></span></p>

<p>Nature does not offer her problems ready formulated. They must be dug up with pick and shovel, and he who will not soil his hands will never see them.<a href="#citation-1"><sup>1</sup></a></p>

<p><span id="quote-attribute">—John L. Synge</span></p>
</blockquote>

<h2 id="platonism">Platonism</h2>

<blockquote>
<p>God eternally geometrizes.<a href="#citation-1"><sup>1</sup></a></p>

<p><span id="quote-attribute">—Plato</span></p>

<p>The chief aim of all investigations of the external world should be to discover the rational order and harmony which has been imposed on it by God and which He revealed to us in the language of mathematics.<a href="#citation-1"><sup>1</sup></a></p>

<p><span id="quote-attribute">—Johannes Kepler</span></p>
</blockquote>

<h2 id="formalism">Formalism</h2>

<blockquote>
<p>A serious threat to the very life of science is implied in the assertion that mathematics is nothing but a system of conclusions drawn from the definitions and postulates that must be consistent but otherwise may be created by the free will of mathematicians. If this description were accurate, mathematics could not attract any intelligent person.<a href="#citation-1"><sup>1</sup></a></p>

<p><span id="quote-attribute">—Richard Courant</span></p>
</blockquote>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>There are more math quotes <a href="http://mathoverflow.net/questions/7155/famous-mathematical-quotes?page=1&amp;tab=votes#tab-top">here</a> and <a href="http://math.sfsu.edu/beck/quotes.html">here (with comics!)</a>. <a href="https://www.math.okstate.edu/~wli/teach/fmq.html">This</a> is a good list, too.</li>
<li>For computer science quotes, try <a href="http://en.wikiquote.org/wiki/Computer_science">here</a>. The nazis at StackOverflow deleted a great collection of quotes, but you can find an archive <a href="http://web.archive.org/web/20100818203850/http://stackoverflow.com/questions/58640/great-programming-quotes">here</a>.</li>
<li>For more general quotes, <a href="http://people.mokk.bme.hu/~daniel/rationality_quotes_2012/rq.html">this page</a> is my favorite.</li>
</ul>

<h2 id="sources">Sources</h2>

<p><a name="citation-1"></a></p>

<ol>
<li>Quoted in <em><a href="http://www.amazon.com/gp/product/0195030850/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0195030850&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=EDZK2I6747GPORIC">Mathematics: The Loss of Certainty</a></em>.</li>
</ol>

<p>[2]: #citation 1</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
