<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Life Satisfaction of Economists &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/life-satisfaction-of-economists/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>The Life Satisfaction of Economists</h1>
  <time datetime=2013-12-06T18:44:04Z class="post-date">Fri, Dec 6, 2013</time>
  <p>Tyler Cowen has written <a href="http://marginalrevolution.com/marginalrevolution/2013/12/the-happiness-of-economists.html">a post</a> on <a href="http://econstor.eu/bitstream/10419/88111/1/772165831.pdf">a paper</a> about the life satisfaction of economists. It&#8217;s a horrible paper. I don&#8217;t like it at all.</p>

<p>Here are some reasons:</p>

<ul>
<li>The authors use satisfaction and happiness interchangeably. <a href="http://link.springer.com/article/10.1023/A:1006806601848#page-1">They are not the same construct</a> and it will confuse those not familiar with the existing literature.</li>
<li>The sample is taken from a few mailing lists of European economists.</li>
<li>The study measures life satisfaction with a single question.</li>
<li>The life satisfaction question is part of a broader survey focused on scientific misbehavior, which means that such information is going to be primed before the life satisfaction question.</li>
<li>Meditation: Imagine that you conduct two studies: one in which you ask participants to reflect on all the good things that have happened to them in the past three months, followed by a life satisfaction question, and one in which you just ask them about life satisfaction. Is there a difference?</li>
<li>I remain unconvinced that numeric ratings of life satisfaction can be meaningfully compared across populations. <a href="https://www.princeton.edu/~kahneman/docs/Publications/Living_DK_JR_2005.pdf">The French rate themselves as less healthy than Americans, but live an average of 3 years longer.</a></li>
</ul>

<p>Still not convinced? <a href="http://en.wikipedia.org/wiki/Maasai_people">The Maasai</a> are a semi-nomadic African people in Kenya and <a href="http://link.springer.com/article/10.1007/s10902-005-5683-8#page-1">the average Maasai is as satisfied as the economists in this study</a>.</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
