<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Book Summary: The Psychology of Happiness &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/the-psychology-of-happiness-summary/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Book Summary: The Psychology of Happiness</h1>
  <time datetime=2013-08-05T15:41:15Z class="post-date">Mon, Aug 5, 2013</time>
  

<p><a href="http://www.amazon.com/gp/product/0415226651/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0415226651&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=3BLEABNVVAEQQB2A"><img class="alignleft size-medium wp-image-45" src="https://rs.io/wp-content/uploads/2013/08/psychology-happiness-michael-argyle-paperback-cover-art-199x300.jpg" alt="A picture of the cover of Michael Argyle's <em>The Psychology of Happiness.</em>&rdquo; width=&ldquo;199&rdquo; height=&ldquo;300&rdquo; srcset=&ldquo;https://rs.io/wp-content/uploads/2013/08/psychology-happiness-michael-argyle-paperback-cover-art-199x300.jpg 199w, https://rs.io/wp-content/uploads/2013/08/psychology-happiness-michael-argyle-paperback-cover-art.jpg 200w&rdquo; sizes=&ldquo;(max-width: 199px) 100vw, 199px&rdquo; /&gt;</a>This is my <a href="http://www.amazon.com/gp/product/0415226651/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0415226651&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=3BLEABNVVAEQQB2A"><em>The Psychology of Happiness</em></a> summary. The book is by Michael Argyle.</p>

<h3 id="notes-on-notes">Notes on notes</h3>

<p>I didn&#8217;t bother taking notes on parts of the book that contained information covered more thoroughly elsewhere or where the author&#8217;s claims struck me as dubious. I also spent a while hunting down citations and then quit about half way through, figuring blogging ought to be fun.</p>

<h2 id="the-psychology-of-happiness-summary-by-chapter"><em>The Psychology of Happiness</em> Summary By Chapter</h2>

<h3 id="introduction">Introduction</h3>

<p>Happiness and meaning in life were rated as much more important in producing the good life than moral goodness and going to heaven.<a href="#1-citation"><sup>1</sup></a></p>

<p>Happiness has sometimes been measured by an answer to a single question, but this has led to some very improbable results.</p>

<p>According to one survey, there are 17 papers on depression for every one paper on happiness.</p>

<p>Well-being is different from subjective well-being in that well-being usually considers objective measures of things such as health or income.</p>

<p>Argyle believes that the main causes of happiness are relationships, work, and leisure.</p>

<p>The main motivation of leisure activity is often to enjoy social relations, real or imaginary.</p>

<p>Watching television can have positive effects for the socially isolated.</p>

<p>Soldiers expect more fear of a difficult parachute jump than actually happens. Dental patients expect more pain from a procedure than actually happens.</p>

<p>People say that money is not important to happiness and they are correct. However, their behavior suggests that they think money is very important.<a href="#citation-2"><sup>2</sup></a></p>

<p>Social skills training is an effective intervention for depression and for improving social relationships among the non-depressed.</p>

<p>Increased exercise can improve the happiness of both depressed and normal populations.</p>

<p>Smaller organizations with flatter hierarchies and more employee input on decisions have greater well-being.</p>

<h3 id="how-to-measure-and-study-happiness">How to measure and study happiness</h3>

<p>Brandstatter (1991) using experience sampling found that people are in a positive emotional state 68% of the time. (pg. 8)<a href="#citation-3"><sup>3</sup></a></p>

<p>Single question job satisfaction correlates .67 with longer scales. (pg. 9)</p>

<p>The Oxford Happiness Inventory has better retest validity than the Beck Depression Inventory, correlates with rating by friends, and has strong and predicted relations with personality dimensions, stress, and social support. (pg. 11)</p>

<p>Andrews and McKennel (1980) found that happiness correlated more affective factors than cognitive factors (satisfaction).<a href="#citation-4"><sup>4</sup></a></p>

<p>Suh et al. (1998) reported that the average correlation for affect balance and satisfaction was .41, but higher for individualist nations, where it was over .50.<a href="#citation-5"><sup>5</sup></a></p>

<p>Positive affect and negative affect correlate at about -.43. (pg. 14)<a href="#citation-6"><sup>6</sup></a></p>

<p>Headey and Wearing (1992) found that depression and anxiety correlated at .50, suggesting that negative affect consists of separable components. (pg. 14)<a href="#citation-7"><sup>7</sup></a></p>

<p>Most people are well above average happiness, 6 or 7 on a 9 point ladder. (pg. 17)<a href="#citation-8"><sup>8</sup></a></p>

<p>Most people in Britain say they are happily married, but half will get divorced. (pg. 17)</p>

<p>Life satisfaction has been found to correlate with measures of self-deception.<a href="#citation-9"><sup>9</sup></a></p>

<p>Austria and Nigeria had the same level of subjective satisfaction, but Austria scored 71 and Nigeria 30 on the Quality of Life Index. (Diener and Suh 1997a) (pg. 19)<a href="#citation-10"><sup>10</sup></a></p>

<p>Clark and Oswald (1996) found that satisfaction with income had no relation to actual income, but satisfaction was greater for those who expected less. (pg. 20)<a href="#citation-11"><sup>11</sup></a></p>

<p>Unemployment affects mental health and mental health affects likelihood of unemployment, but causation is stronger in the direction of unemployment-mental heal. (pg. 21)</p>

<p>High levels of well-being increase extraversion. (Headey, Holmstrom, and Wearing, 1984). (pg. 21) <a href="#citation-12"><sup>12</sup></a></p>

<h3 id="joy-and-other-positive-emotions">Joy and other positive emotions</h3>

<p>People have a number of negative moods, but really only one positive mood, joy. (pg.23)</p>

<p>Emotions can be plotted on two axis: happy-sad and excited-calm. (pg. 24)</p>

<p>The intensity of positive emotions correlated with extraversion at .41 and the intensity of negative emotions with neuroticism at .64. (pg. 26)</p>

<p>Thinking about and talking to others about positive events produces positive meed&#8217;s (Argyle and Martin, 1991).<a href="#citation-13"><sup>13</sup></a></p>

<p>Seven emotions can be reliably discriminated by others in most cultures. (pg. 28)</p>

<p>Monkeys reared in isolation can recognize happy versus angry. (pg. 28)</p>

<p>It is an increasingly widely held view that there are a limited number of basic emotion, perhaps seven, that have been hardwired into the brain by evolution. (Ekman, 1982) (pg. 28) <a href="#citation-14"><sup>14</sup></a></p>

<p>In Japan there is a rule about not showing negative faces in public. (pg. 29)</p>

<p>Smiles and frowns leads to enhancement of the corresponding moods. (pg. 29)</p>

<p>Facial expressions may express emotions, but their real purpose may to be to communicate with others. Facial expressions occur when people are alone, but they are much weaker. (pg. 29)</p>

<p>Voice tone leaks more emotions than the face. (pg. 30)</p>

<p>There is no particular body posture corresponding to joy. (pg. 30)</p>

<p>Frequency of contact with friends, and of sexual intercourse, come out strongly related to happiness. (Veenhoven, 1994). <a href="#citation-15"><sup>15</sup></a></p>

<p>The most common sources of joy (pg. 31): * Eating * Social activities and sex * Exercise and sport * Alcohol and other drugs * Success and social approval * Use of skills * Music, the other arts and religion * Weather and environment * Rest and relaxation</p>

<p>Social activities and sex are the most common sources of positive emotion. (pg. 31)</p>

<p>Exercise is the easiest and most powerful way of inducing positive emotion in experimental conditions. (pg. 32)</p>

<p>People are in a better mood when the sun is shining, it is warm but not too warm, and humidity is low, <a href="#citation-16"><sup>16</sup></a>, but there is a high degree of adaptation to the weather. (pg. 33)</p>

<p>Larson et al. (1984) found that alcohol produced positive emotions along all the scales they used. (pg. 36) <a href="#citation-17"><sup>17</sup></a></p>

<h3 id="satisfaction">Satisfaction</h3>

<p>Cummins (1998) concluded that most studies report an average of 70% of the maximum of the satisfaction scale. <a href="#citation-18"><sup>18</sup></a></p>

<p>The effect of life satisfaction on job satisfaction is stronger than vice versa. (Diener et al., 1999), (pg. 44) <a href="#citation-19"><sup>19</sup></a></p>

<p>In one study, asked if they would choose the same profession again, 91% of mathematicians and 82% of lawyers said they would, compared with 16% of unskilled steel workers. (pg. 44)</p>

<p>Widows are about four times more likely (42% vs 10%) to be depressed than the married. (pg. 44)</p>

<p>Leisure satisfaction has been found to be more related to total satisfaction than any other domain in some studies. (pg. 45)</p>

<p>Watching TV is sometimes found to have a negative relationship with satisfaction, probably because those watching TV have nothing better to do. (pg. 45)</p>

<p>Adams (1997) found that objective indicators for Black Americans declined from 1980 to 1992, but life satisfaction increased. <a href="#citation-20"><sup>20</sup></a> (pg. 46)</p>

<p>Strack et al. (1990) found that being with a handicapped confederate who seemed to be on a kidney dialysis machine increased the well-being of real subjects. <a href="#citation-21"><sup>21</sup></a> (pg. 46)</p>

<p>For individuals with the same income, living in a richer or poorer area had no effect on subjective well-being.</p>

<p>Schulz and Decker (1985) found, in a study of 100 disabled individuals, reported satisfaction was lower than the general population 20 years after the accident. (pg. 48) <a href="#citation-22"><sup>22</sup></a></p>

<p>The disabled are less satisfied than those who acquired their injuries at birth or early in life. (Mehnert et al., 1990) (pg. 48) <a href="#citation-23"><sup>23</sup></a></p>

<p>Strack et al. (1985) found that asking subjects to think about pleasant events in the present or recent past, but for past events there was more effect on well-being from thinking about negative events. Past events are used to contrast, while present events are used as evidence of well-being. (pg. 50) <a href="#citation-24"><sup>24</sup></a></p>

<h3 id="humour-and-laughter">Humour and laughter</h3>

<p>Finding things funny happens about 18 times a day, most often in spontaneous response to situations in the presence of others. (Martin and Kuiper, 1999) (pg. 54) <a href="#citation-25"><sup>25</sup></a></p>

<p>There are different kinds of jokes, but so far no agreed classification of them. (pg. 54)</p>

<p>Ruch and Carrell (1998), using 263 American and 151 German adults, found very high correlations, .80 or more, between a cheerfulness inventory and Ruch&#8217;s sense of humor scale. (pg. 54) <a href="#citation-26"><sup>26</sup></a></p>

<p>Extraverts laugh more. (pg. 54)</p>

<p>Houston et al. (1998) found that a laughter-inducing sing-song in an old people&#8217;s home led to reduced levels of anxiety and depression. (pg. 55) <a href="#citation-27"><sup>27</sup></a></p>

<p>It seems that only in the apes that have had a lot of human contact and been taught sign-language can something like humor can be seen. (pg. 55)</p>

<p>Most adult humor contains sexual, aggressive, or hostile components. (pg. 57)</p>

<p>By age 6 there is a gender difference; boys tell more jokes and fool about more than girls. (pg. 57)</p>

<p>The central feature of events that makes them funny is incongruity. (pg. 58)</p>

<p>Extraversion is usually found to correlate with sense of humor as measured by the 3WD test, and extraverts like sexual jokes the most. (pg. 60)</p>

<p>Humour makes young people more attractive to one another. (Lundy et al. 1998) <a href="#citation-28"><sup>28</sup></a></p>

<p>Keltner et al. (1998) found that in romantic couples teasing led to increased flirtation and positive affect. (pg. 62) <a href="#citation-30"><sup>30</sup></a></p>

<p>For males who laughed a lot, stressful events led to an increase in positive affect. Kuiper et al. 1992 (pg. 62) <a href="#citation-31"><sup>31</sup></a></p>

<p>Children who initiate a lot of humor have often experienced a period of rejection early in life. (pg. 65)</p>

<p>Jokes were found funnier when they esteemed a subject&#8217;s own group or one with which he identified, and when they disparaged groups to which he did not belong or identify with. La Fave et al. (1976) <a href="#citation-32"><sup>32</sup></a></p>

<p>Jokes may be an indirect way of expressing hostile attitudes. (pg. 66)</p>

<p>Graham (1995) asked pairs of stranger to talk for 30 minutes; a strong sense of humor led to reduction of social distance between them. (pg. 68) <a href="#citation-33"><sup>33</sup></a></p>

<p>Grammer (1990) found that young men indicated their sexual interest by laughter combined with bodily posture. (pg. 68) <a href="#citation-34"><sup>34</sup></a></p>

<p>Decker and Rotondo (1999) found that job satisfaction as greater when supervisors were rated as having a good sense of humor, especially female supervisors. (pg. 68) <a href="#citation-35"><sup>35</sup></a></p>

<p>When humor is used in public speaking, the speaker is liked more, the audience are in a better mood, and the speech is found more interesting. (pg. 69)</p>

<p>Teachers are like more if they use humor. (pg. 69)</p>

<p>The key to most humor is entertaining two versions of events, or stories, where the second and unexpected one is less worthy, e.g. ruder, than the first. (pg. 69)</p>

<h2 id="social-relationships">Social relationships</h2>

<p>Infant monkeys rared in total isolation start to discriminate friendly and threatening faces at 2 months, so this ability must be largely innate. (Sackett, 1966) (pg. 74) <a href="#citation-36"><sup>36</sup></a></p>

<p>Lu and Argyle (1992b) found that extraverts gave more social support than introverts did. (pg. 74) <a href="#citation-37"><sup>37</sup></a></p>

<p>Weiss (1973) found that to avoid loneliness people needed a single close relationship and also a network of relationships. (pg. 75) <a href="#citation-38"><sup>38</sup></a></p>

<p>Wheeler et al. (1983) fond that a number of students who had plenty of friends and spent a lot of time with them were still lonely because they talked about impersonal topics. (pg. 75) <a href="#citation-39"><sup>39</sup></a></p>

<p>Friendships were most often lose by individuals breaking such &#8220;third party rules&#8221; as keeping confidences and standing up for friends in their absence. (Argyle and Henderson, 1985). (pg. 75) <a href="#citation-40"><sup>40</sup></a></p>

<p>The best predictor of not being lonely is the frequency of interaction with women; time spent with men made no difference. (Wheeler at al. 1983). (pg. 75)<a href="#citation-39"><sup>39</sup></a></p>

<p>Extraverts are more assertive and more cooperative, making them able to manage their relationships better (Argyle and Lu, 1990). <a href="#citation-41"><sup>41</sup></a></p>

<p>Ross and Mirowsky (1989) found that social support led to less depression, but that intimate conversations about problems made things worse since this meant talking about problems, or complaining, rather than solving them. (pg. 76) <a href="#citation-42"><sup>42</sup></a></p>

<p>Bereavement is more damaging for men than women. (pg. 79)</p>

<p>Being in love is good for health. Smith and Hoklund (1988) found that Danish students who were in love had a higher white blood cell count, and had fewer sore throats, colds, or afters-effects of drinking than those not in love. (pg. 80) <a href="#citation-43"><sup>43</sup></a></p>

<p>The overall effect of having children on the happiness of their parents is zero (Veenhoven, 1994). (pg. 82)<a href="#citation-15"><sup>15</sup></a></p>

<p>There are two bad periods for marital happiness: when there are very young children and when they are adolescents. (pg. 82)</p>

<p>Favorite cousins in later life are those who were childhood playmates (Adams, 1968). (pg. 84) <a href="#citation-44"><sup>44</sup></a></p>

<p>Couples with children live longer. (Kobrin and Hendershot, 1977), (pg. 84). <a href="#citation-45"><sup>45</sup></a></p>

<p>Headey (1999) found that only 11% of those who had dogs were on some medication compared with 19% of those with no pets; the pets owners went to the doctor less too. (pg. 85) <a href="#citation-46"><sup>46</sup></a></p>

<p>Hall and Nelson (1996) found that the well-being of a sample of patients depended on the percentage of women in their networks, providing social support. (pg. 86) <a href="#citation-47"><sup>47</sup></a></p>

<p>Argyle and Furnham (1983) found that the spouse was the greatest source of conflict as well as of satisfaction. (pg. 86) <a href="#citation-48"><sup>48</sup></a></p>

<h2 id="work-and-employment">Work and employment</h2>

<p>In a survey of 7000 workers from nine European countries, Clark (1998a) found that 42% reported having high job satisfaction. (pg. 89) <a href="#citation-49"><sup>49</sup></a></p>

<p>The overall correlation between pay and job satisfaction is low, typically .15 to .17, so pay is not an important cause of job satisfaction. (pg. 91)</p>

<p>Those doing voluntary work ares sometimes found to enjoy their work as much or more than paid workers (Furnham and Argyle, 1998). (pg. 91) <a href="#citation-50"><sup>50</sup></a></p>

<p>A meta-analysis of job status found a rather modest overall correlation of .18 with job satisfaction (Haring et al., 1984). <a href="#citation-51"><sup>51</sup></a></p>

<p>For European workers, having &#8220;good relations&#8221; at work, with management and colleagues, was the strongest predictor of job satisfaction. (pg. 93)</p>

<p>There is a U-shaped curve to job satisfaction, such that the young and the old tend to be more satisfied with their jobs (Clark et al., 1996) (pg. 95). <a href="#citation-52"><sup>52</sup></a></p>

<p>Arvey et al. (1994) studied 2200 pairs of twins and found that 30% of the variability of in job satisfaction could be explained by genetic factors (pg. 96). <a href="#citation-53"><sup>53</sup></a></p>

<p>Furnham and Schaeffer (1984) found there was more satisfaction if an individual&#8217;s profile of needs matched the profile of rewards offered by the job. (pg. 96) <a href="#citation-54"><sup>54</sup></a></p>

<p>American surveys have found that 10-12% of the unemployed described themselves as &#8220;very happy&#8221; compared with 30% of the general population. This effect is causal. (Warr, 1978) (pg. 103) <a href="#citation-55"><sup>55</sup></a></p>

<p>Clark et al. (1996) conclude that the effect of job loss on general mental health is worse than that of divorce. (pg. 104)<a href="#citation-52"><sup>52</sup></a></p>

<p>Murphy and Athanasou (1999) carried out a meta-analysis and found that starting work led to increased mental health with an effect size of .54, while losing a job led to deterioration with an effect size of .36. (pg. 104) <a href="#citation-56"><sup>56</sup></a></p>

<p>In Britain it has been found that income explains less than a quarter of the reduction of GHQ scores for the unemployed (Clark, 1998b). <a href="#citation-57"><sup>57</sup></a></p>

<p>Unemployment creates more distress for those high in neuroticism (Payne, 1988), introversion, and for type A personalities. (pg. 105) <a href="#citation-58"><sup>58</sup></a></p>

<p>The unemployed structure their time less (Feather and Bond, 1983) <a href="#citation-59"><sup>59</sup></a> and this is a cause of lower psychological health (Wanberg et al, 1997). <a href="#citation-60"><sup>60</sup></a></p>

<p>When voluntary workers are compared with paid workers doing the same work, the voluntary workers have been found to have higher job satisfaction (Pearce, 1993). <a href="#citation-61"><sup>61</sup></a></p>

<p>On average the retired are happier than those at work. (pg. 107)</p>

<p>American studies find no difference in mental health before and after retirement (Kasl, 1980). <a href="#citation-62"><sup>62</sup></a></p>

<h2 id="leisure">Leisure</h2>

<p>Several studies have found a negative relation between TV watching and happiness. (pg. 112)</p>

<p>Thayer (1989) found that a 10-minute brisk walk resulted n less tiredness, more energy, and less tension 2 hours later. Other studies found that after an hour&#8217;s exercise, such as aerobics, those involved felt less tense, depressed, angry, tired or confused, and had more vigor, for the rest of the day and, in some, for the next day (Maroulakis and Zervas, 1993). (pg. 113)</p>

<p>Paffenbarger el at. (1991) followed up 17,000 Harvard alumni over a period of 16 years and found fewer heart attacks for those who did more exercise. Thirty minutes a day was enough to give maximum benefits. There were 31% fewer deaths. (pg. 115)</p>

<p>Former athletes have been found to live longer than non-athletes (Shepherd, 1997). (pg. 115)</p>

<p>Koneci (1982) fond that playing simple melodies at a low volume led to insulted subjects being less aggressive. (pg. 121)</p>

<p>People listen to about 1.25 hours of music a day on average. (pg. 121)</p>

<p>There is no evidence that music can create enduring happiness or satisfaction. (pg. 121)</p>

<p>Watching videos of wilderness has been found to lower blood pressure. (pg. 122)</p>

<p>A number of leisure activities were thought to satisfy social needs that are not obviously social, such as serious reading and meditation. (Hills et al., 2000), (pg. 126)</p>

<p>There is a strong correlation between intrinsic motivation and positive affect. (Graef et al., 1983) (pg. 128)</p>

<p>Zuckerman (1979) found that those who engage in dangerous sports are high on his sensation-seeking scale, which correlates with extraversion and psychoticism. (pg. 129)</p>

<p>Eyesneck et al. (1982) found that successful sportsmen have a special personality, they are high on extraversion and psychoticism. They do particularly well at, and presumably enjoy, rough sports because they don&#8217;t mind injuring other people. (pg. 129)</p>

<h2 id="money-class-and-education">Money, class and education</h2>

<p>Campbell et al. (1976) in their <em>Quality of American Life</em> study found that &#8220;financial situation&#8221; was rated 11th out of 12 possible sources of life satisfaction. (pg. 131)</p>

<p>King and Napa (1998) found that their subjects estimated money as worth one-fifth of the effect of happiness and one-sixth of meaning as components of the good life. (pg. 131)</p>

<p>Kessler (1982) analyzed data from eight American surveys with 16,000 subjects. He found that for men income, especially earned income, was the strongest predictor of depression; occupational status was much weaker. For women education was a stronger predictor. (pg. 134)</p>

<p>For men the benefits of income leveled off at $75,000, but for women the richest were more depressed than those in the next lowest income band. (West, Reed, and Gildengorin, 1998). (pg. 135)</p>

<p>Blaxter (1990) found that the poor were in much worse health than the better off, but there was an upturn in bad health for the very rich, which she concluded was mainly due to drinking too much. (pg. 135)</p>

<p>Clark (1996) studied data from 9000 British adults and found that job satisfaction was greater for those who had the largest pay raises during the past year. However, their data suggested that the gains in satisfaction were in the short term only, and some kind of habituation sets in. (pg. 138)</p>

<p>It looks as if suddenly acquiring large sums of money does not make people very happy. (pg. 138)</p>

<p>In 1987 Americans wanted $50,000 per annum to fulfill their dreams, in 1994 they wanted $102,000 (Schor, 1998) (pg. 140).</p>

<p>With income held constant those with the lowest expectations had the highest job satisfaction. (Clark and Oswald, 1996) (pg. 141).</p>

<p>Berkowitz and his colleagues (1987), in a survey in Wisconsin, found that inequiity was the strongest predictor of (low) pay satisfaction. (pg. 141)</p>

<p>Do people compare their present situation with the past, are they happier if their financial situation has improved? There are immediate effects, but these do not last very long, and there seem to be no reliable effects of comparisons with the past. (pg. 141)</p>

<p>The effect of education on happiness is greater in poorer countries. (pg. 146)</p>

<h2 id="personality-age-and-gender">Personality, age and gender</h2>

<p>Argyle (1994) found that the socially unskilled avoid many situations that others enjoy. (pg. 149)</p>

<p>Headey et al. (1985) found that good social relations over a period of time produced increased levels of extraversion, and this in turn led to increased well-being. (pg 149)</p>

<p>Watson and Clark (1984) concluded that the relation between neuroticism and negative affect is so strong that the two variables can be regarded as equivalent. (pg. 152)</p>

<p>Self-esteem correlates with measures of well-being more strongly than extraversion. (pg. 154)</p>

<p>Internal control has consistently been found to be a predictor of happiness. (pg. 155)</p>

<p>Positive affect increases with age and negative affect decreases, at least through early and middle adulthood. Mroczak and Kolanz (1998) found that increases in positive affect held only for male introverts, while the decline in negative affect in women only held for those who were married. (pg. 160)</p>

<p>A meta-analysis carried out by Wood et al. (1989) found that women were on average a little happier than men. (pg. 161)</p>

<h2 id="religion">Religion</h2>

<p>The benefits of church may due to the social support it provides. (pg. 167)</p>

<p>Poloma and Pendleton (1991) found that peak experiences and prayer experience were the best predictors of well-being, especially existential well-being. (pg. 167)</p>

<p>Existential well-being is the aspect of SWB most influenced by religion (e.g. Charmberlain and Zika, 1988). (pg. 167)</p>

<p>Kirkpatrick (1992) suggested that the relation with God via prayer, private devotions, and religious experiences, can be experienced in much the same way as relations with humans, and and can give similar benefits. (pg. 167)</p>

<p>The effect of religiosity on subjective well-being is strongest for Black Americans. (pg. 167)</p>

<p>The benefits of religion on objective health (e.g. longevity) are largely due to church members abstaining from risky behaviors and increased social support as a result of church attendance. (pg. 170)</p>

<p>Booth et al (1997) carried out a careful longitudinal study of 1005 married people and found that over a 12-year period increases in religious activity did not lead to increased marital happiness or decreased conflict. (pg. 173)</p>

<p>Intense religious experiences usually occur in isolation. (pg. 173)</p>

<p>Pahnke (1966) induced religious experience by means of drugs and the effects on positive outlook were still there 6 months afterwards, described as &#8220;joy, blessedness and peace&#8221;.</p>

<p>Prayer produces enhanced happiness and existential well-being. Poloma and Pendleton (1991) found that this was greatest when religious experiences occurred during prayer, and these were brought on by meditative prayer. (pg. 173)</p>

<p>In Jerusalem a number of visitors become emotionally disturbed simply by the strong religious presence of holy places and religious symbolism, and end up in the hospital ward kept for those with &#8220;Jerusalem syndrome.&#8221; (pg. 175)</p>

<p>Intrinsic religiosity may reduce the fear of death. (Osarchuk and Tate, 1973). (pg. 175)</p>

<h2 id="national-differences-in-happiness">National differences in happiness</h2>

<p>Collectivism is beneficial for poor nations, while individualism is beneficial for rich nations. (Veenhoven, 2000). (pg. 185)</p>

<p>Overall freedom correlated with national happiness .49, but for the poor countries is was non-significant. (Veenhonven, 2000) (pg. 186)</p>

<p>It has been suggested that the high satisfaction and happiness scores in the US are due in part to the social norms that demand the appearance of cheerfulness. (pg. 189)</p>

<p>The Ifaluk tribe live on a small Pacific island. In this culture, looking happy is not socially acceptable. (Lutz, 1998) (pg. 190)</p>

<p>Lists of objective indicators for well-being appear to be very arbitrary. Becker at al. (1987) found that for 329 American cities, 134 of them could come first depending on different weighting of the indicators. (pg. 192)</p>

<h2 id="happiness-enhancement">Happiness enhancement</h2>

<p>Exercise is one of the easiest and most effective methods of inducing positive moods. (pg. 202)</p>

<p>Forms of cognitive therapy have been used for normals with success. Lichter et al. (1980) devised a course of eight 2-hour sessions over 4 weeks, focusing on improving insight and understanding and correcting irrational beliefs. Those trained in this way improved in happiness and satisfaction. (pg. 210)</p>

<p>Depressed patients and many other mental patients have been found to display defective social skills such as low rewardingness (Hollin and Trower, 1986). (pg. 212)</p>

<h2 id="the-effects-of-positive-moods-and-happiness">The effects of positive moods and happiness</h2>

<p>When positive moods have been induced in subjects, they feel very sociable. (pg. 215)</p>

<p>Happy people have higher quality social interactions. (pg. 215)</p>

<p>When people are in a positive mood they have a less cautious social style. (pg. 215)</p>

<p>Couples coming out of a happy movie, or who had seen one in the lab, evaluated their relationships more positively, and reported greater admiration for each other and more self-disclosure than those coming out of a sad movie. (Forgas et al., 1994) (pg. 216)</p>

<p>Those in positive moods are sexually aroused more readily. (pg. 216)</p>

<p>Happy people like others morel they are also more liked by others, who will spend more time with them, sit nearer, say they would like to meet them again, compared with depressed individuals for example (Howes and Hokanson, 1979) (pg. 216).</p>

<p>When individuals have had a lot of positive life events they become more extraverted, which in turn makes them happier, as Headry and Wearing (1992( found in their longitudinal study in Australia. (pg. 216)</p>

<p>O&#8217;Malley and Andrews (1983) found that 47% of subjects who had been put in a good mood by recalling happy past event offered to give blood, compared with 17% in a control condition. (pg. 216)</p>

<p>Isen and Levin (1972) found that children who had been allowed to win at bowling gave three times as much to poor children. (pg. 216)</p>

<p>Weisenverg et al. (1998) found that after seeing a humorous film subjects could stand more pain, 51 minutes with a had in cold water, compared with only 31 minutes after a sad film. (pg. 220)</p>

<h2 id="conclusions">Conclusions</h2>

<p>Social relations are probably the greatest single cause of happiness and other aspects of well-being. (pg. 224)</p>

<p>Friends are very important but how do we find and keep them? Part of the answer lies in social skills training, part of it lies in joining leisure groups. (pg. 225)</p>

<p>Purpose in life and a sense of meaning can be generated by commitment to goals. (pg. 225)</p>

<p>Intelligence has almost no effect on happiness. (pg. 226)</p>

<p>It is sometimes said that you can&#8217;t seek happiness, it has to come as a by-product of other activities. But depressed patients certainly seek happiness for themselves, and mental health workers seek it for them, successfully, and there seems to be no objection to that. (pg. 229)</p>

<p>Okay, that&#8217;s my <em>The Psychology of Happiness</em> summary. If you enjoyed this, consider <a href="http://www.amazon.com/gp/product/0415226651/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0415226651&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=3BLEABNVVAEQQB2A">buying a copy of the book</a>.</p>

<h2 id="sources">Sources</h2>

<p><a name="1-citation"></a></p>

<ol>
<li>King, Laura A., and Christie K. Napa. <a href="http://www.mysmu.edu/faculty/cscollon/King_Napa_1998.pdf">&#8220;What makes a life good?.&#8221;</a> Journal of personality and social psychology 75.1 (1998): 156.
<br /></li>
</ol>

<p><a name="citation-2"></a></p>

<ol>
<li>Loewenstein, George, and David Schkade. <a href="http://128.32.105.3/eml/nsf97/loewenstein.pdf">&#8220;Wouldn’t it be nice? Predicting future feelings.&#8221;</a> Well-being: The foundations of hedonic psychology (1999): 85-105.
<br /></li>
</ol>

<p><a name="citation-3"></a></p>

<ol>
<li>Brandstatter, H. <a href="http://wy2x05.psychologie.uni-wuerzburg.de/PSY2-PHP/paper/Kapitel_9.pdf">&#8220;Emotions in everyday life situations: Time sampling of subjective experience.&#8221;</a> Subjective well-being: An interdisciplinary perspective (1991): 173-92.
<br /></li>
</ol>

<p><a name="citation-4"></a></p>

<ol>
<li>Andrews, Frank M., and Aubrey C. McKennell. <a href="http://deepblue.lib.umich.edu/bitstream/handle/2027.42/43702/11205_2004_Article_BF00286474.pdf?sequence=1">&#8220;Measures of self-reported well-being: Their affective, cognitive, and other components.&#8221;</a> Social Indicators Research 8.2 (1980): 127-155.
<br /></li>
</ol>

<p><a name="citation-5"></a></p>

<ol>
<li><p>Suh, Eunkook, et al. <a href="http://web.yonsei.ac.kr/suh/file/The%20shifting%20basis%20of%20life%20satisfaction%20judgments%20across%20cultures_Emotions%20versus%20norms.pdf">&#8220;The shifting basis of life satisfaction judgments across cultures: Emotions versus norms.&#8221;</a> Journal of Personality and Social Psychology 74.2 (1998): 482.<a name="citation-6"></a></p></li>

<li><p>Tellegen, Auke, et al. <a href="http://www.rc.usf.edu/~jdorio/Personality/Personality%20Similarity%20in%20Twins%20Reared%20Apart%20and%20Together.pdf">&#8220;Personality similarity in twins reared apart and together.&#8221;</a> Journal of personality and social psychology 54.6 (1988): 1031.<a name="citation-7"></a></p></li>

<li><p>Headey, Bruce, and Alexander James Wearing. Understanding happiness: A theory of subjective well-being. Longman Cheshire, 1992.</p></li>
</ol>

<p><a name="citation-8"></a></p>

<ol>
<li>Andrews, Frank M., and Stephen Bassett Withey. &#8220;Social indicators of well-being: Americans&#8217; perceptions of life quality.&#8221; (1976): 19-35.
<br /></li>
</ol>

<p><a name="citation-9"></a></p>

<ol>
<li>Hagedorn, James W. &#8220;Happiness and self-deception: An old question examined by a new measure of subjective well-being.&#8221; Social indicators research 38.2 (1996): 139-160.
<br /></li>
</ol>

<p><a name="citation-10"></a></p>

<ol>
<li>Diener, Ed, and Eunkook Suh. <a href="http://www.forschungsnetzwerk.at/downloadpub/1997_Measuring_%20quality_life_suh.pdf">&#8220;Measuring quality of life: Economic, social, and subjective indicators.&#8221;</a> Social indicators research 40.1-2 (1997): 189-216.
<br /></li>
</ol>

<p><a name="citation-11"></a></p>

<ol>
<li>Clark, Andrew E., and Andrew J. Oswald. <a href="http://www.andrewoswald.com/docs/jpub.pdf">&#8220;Satisfaction and comparison income.&#8221;</a> Journal of public economics 61.3 (1996): 359-381.
<br /></li>
</ol>

<p><a name="citation-12"></a></p>

<ol>
<li><p>Headey, Bruce, Elsie Holmström, and Alexander Wearing. &#8220;Well-being and ill-being: Different dimensions?.&#8221; Social Indicators Research 14.2 (1984): 115-139.<a name="citation-13"></a></p></li>

<li><p>Argyle, Michael, and Maryanne Martin. <a href="http://opus.bibliothek.uni-wuerzburg.de/volltexte/2007/2170/pdf/subjwellbeing.pdf?q=manu-vs-bayern#page=85">&#8220;The psychological causes of happiness.&#8221;</a> Subjective well-being: An interdisciplinary perspective (1991): 77-100.</p></li>
</ol>

<p><a name="citation-14"></a></p>

<ol>
<li>Ekman, P. (1982) Emotion in the human face New York: Cambridge University Press.
<br /></li>
</ol>

<p><a name="citation-15"></a></p>

<ol>
<li>Veenhoven, Ruut. World database of happiness: Correlates of happiness: 7837 findings from 603 studies in 69 nations 1911–1994, Vols. 1–3. Erasmus University Rotterdam, 1994.
<br /></li>
</ol>

<p><a name="citation-16"></a></p>

<ol>
<li><p>Cunningham, Michael R. &#8220;Weather, mood, and helping behavior: Quasi experiments with the sunshine samaritan.&#8221; Journal of Personality and Social Psychology 37.11 (1979): 1947.<a name="citation-17"></a></p></li>

<li><p>Larson, Reed, Mihaly Csikszentmihalyi, and Mark Freeman. &#8220;Alcohol and marijuana use in adolescents&#8217; daily lives: a random sample of experiences.&#8221; Substance Use &amp; Misuse 19.4 (1984): 367-381.<a name="citation-18"></a></p></li>

<li><p>Cummins, Robert A. &#8220;On the trail of the gold standard for subjective well-being.&#8221; Social Indicators Research 35.2 (1995): 179-200.<a name="citation-19"></a></p></li>

<li><p>Diener, Ed, et al. <a href="http://stat.psych.uiuc.edu/~ediener/Documents/Diener-Suh-Lucas-Smith_1999.pdf">&#8220;Subjective well-being: Three decades of progress.&#8221;</a> Psychological bulletin 125.2 (1999): 276.</p></li>
</ol>

<p><a name="citation-20"></a></p>

<ol>
<li><p>Adams III, Virgil H. &#8220;A paradox in African American quality of life.&#8221; Social Indicators Research 42.2 (1997): 205-219.<a name="citation-21"></a></p></li>

<li><p>Strack, Fritz, et al. &#8220;Salience of comparison standards and the activation of social norms: Consequences for judgements of happiness and their communication.&#8221; British Journal of Social Psychology 29.4 (1990): 303-314.<a name="citation-22"></a></p></li>

<li><p>Schulz, Richard, and Susan Decker. &#8220;Long-term adjustment to physical disability: the role of social support, perceived control, and self-blame.&#8221; Journal of personality and social psychology 48.5 (1985): 1162.<a name="citation-23"></a></p></li>

<li><p>Mehnert, Thomas, et al. &#8220;Correlates of life satisfaction in those with disabling conditions.&#8221; Rehabilitation Psychology 35.1 (1990): 3.<a name="citation-24"></a></p></li>

<li><p>Strack, Fritz, Norbert Schwarz, and Elisabeth Gschneidinger. <a href="http://jshellman-reminiscence.wiki.uml.edu/file/view/reminiscing.pdf">&#8220;Happiness and reminiscing: The role of time perspective, affect, and mode of thinking.&#8221;</a> Journal of Personality and Social Psychology 49.6 (1985): 1460.</p></li>
</ol>

<p><a name="citation-25"></a></p>

<ol>
<li>Martin, Rod A., and Nicholas A. Kuiper. &#8220;Daily occurrence of laughter: Relationships with age, gender, and Type A personality.&#8221; Humor 12 (1999): 355-384.
<br /></li>
</ol>

<p><a name="citation-26"></a></p>

<ol>
<li>Ruch, Willibald, and Amy Carrell. &#8220;Trait cheerfulness and the sense of humour.&#8221; Personality and Individual Differences 24.4 (1998): 551-558.
<br /></li>
</ol>

<p><a name="citation-27"></a></p>

<ol>
<li>Houston, Diane M., et al. &#8220;Using humour to promote psychological wellbeing in residential homes for older people.&#8221; Aging &amp; Mental Health 2.4 (1998): 328-332.
<br /></li>
</ol>

<p><a name="citation-28"></a></p>

<ol>
<li>Lundy, Duane E., Josephine Tan, and Michael R. Cunningham. &#8220;Heterosexual romantic preferences: The importance of humor and physical attractiveness for different types of relationships.&#8221; Personal Relationships 5.3 (1998): 311-325.
<br /></li>
</ol>

<p><a name="citation-30"></a></p>

<ol>
<li>Keltner, Dacher, et al. <a href="http://greatergood.berkeley.edu/dacherkeltner/docs/keltner.teasing.jpsp.1998.pdf">&#8220;Teasing in hierarchical and intimate relations.&#8221;</a> Journal of personality and social psychology 75.5 (1998): 1231.
<br /></li>
</ol>

<p><a name="citation-31"></a></p>

<ol>
<li>Kuiper, N. A., R. A. Martin, and K. A. Dance. &#8220;Sense of humour and enhanced quality of life.&#8221; Personality and Individual Differences 13.12 (1992): 1273-1283.
<br /></li>
</ol>

<p><a name="citation-32"></a></p>

<ol>
<li>La Fave, Lawrence, Jay Haddad, and William A. Maesen. &#8220;Superiority, enhanced self-esteem, and perceived incongruity humour theory.&#8221; (1976).
<br /></li>
</ol>

<p><a name="citation-33"></a></p>

<ol>
<li>Graham, Elizabeth E. &#8220;The involvement of sense of humor in the development of social relationships.&#8221; Communication Reports 8.2 (1995): 158-169.
<br /></li>
</ol>

<p><a name="citation-34"></a></p>

<ol>
<li>Grammer, Karl. &#8220;Strangers meet: Laughter and nonverbal signs of interest in opposite-sex encounters.&#8221; Journal of Nonverbal Behavior 14.4 (1990): 209-236.
<br /></li>
</ol>

<p><a name="citation-35"></a></p>

<ol>
<li>DECKER, WAYNE H., and DENISE M. ROTONDO. &#8220;Use of humor at work: predictors and implications.&#8221; Psychological reports 84.3 (1999): 961-968.
<br /></li>
</ol>

<p><a name="citation-36"></a></p>

<ol>
<li>Sackett, Gene P. &#8220;Monkeys reared in isolation with pictures as visual input: Evidence for an innate releasing mechanism.&#8221; Science 154.3755 (1966): 1468-1473.
<br /></li>
</ol>

<p><a name="citation-37"></a></p>

<ol>
<li>Lu, Luo, and Michael Argyle. &#8220;Receiving and giving support: Effects on relationships and well-being.&#8221; Counselling Psychology Quarterly 5.2 (1992): 123-133.
<br /></li>
</ol>

<p><a name="citation-38"></a></p>

<ol>
<li>Weiss, Robert S. &#8220;Loneliness: The experience of emotional and social isolation.&#8221; (1973).
<br /></li>
</ol>

<p><a name="citation-39"></a></p>

<ol>
<li>Wheeler, Ladd, Harry Reis, and John B. Nezlek. &#8220;Loneliness, social interaction, and sex roles.&#8221; Journal of Personality and social Psychology 45.4 (1983): 943.
<br /></li>
</ol>

<p><a name="citation-40"></a></p>

<ol>
<li>Argyle, Michael, and Monika Henderson. The anatomy of relationships. Penguin books, 1985.
<br /></li>
</ol>

<p><a name="citation-41"></a></p>

<ol>
<li>Argyle, Michael, and Luo Lu. &#8220;The happiness of extraverts.&#8221; Personality and individual differences 11.10 (1990): 1011-1017.
<br /></li>
</ol>

<p><a name="citation-42"></a></p>

<ol>
<li>Ross, Catherine E., and John Mirowsky. &#8220;Explaining the social patterns of depression: control and problem solving&#8211;or support and talking?.&#8221; Journal of Health and Social Behavior (1989): 206-219.
<br /></li>
</ol>

<p><a name="citation-43"></a></p>

<ol>
<li>Smith, Donald F., and Marianne Hokland. &#8220;Love and salutogenesis in late adolescence: A preliminary investigation.&#8221; Psychology: A Journal of Human Behavior (1988).
<br /></li>
</ol>

<p><a name="citation-44"></a></p>

<ol>
<li>Adams, Bert N. Kinship in an urban setting. Chicago: Markham Publishing Company, 1968.
<br /></li>
</ol>

<p><a name="citation-45"></a></p>

<ol>
<li>Kobrin, Frances E., and Gerry E. Hendershot. &#8220;Do family ties reduce mortality? Evidence from the United States, 1966-1968.&#8221; Journal of Marriage and the Family (1977): 737-745.
<br /></li>
</ol>

<p><a name="citation-46"></a></p>

<ol>
<li>Headey, Bruce. &#8220;Health benefits and health cost savings due to pets: preliminary estimates from an Australian national survey.&#8221; Social Indicators Research 47.2 (1999): 233-243.
<br /></li>
</ol>

<p><a name="citation-47"></a></p>

<ol>
<li>Hall, G. Brent, and Geoffrey Nelson. &#8220;Social networks, social support, personal empowerment, and the adaptation of psychiatric consumers/survivors: Path analytic models.&#8221; Social Science &amp; Medicine 43.12 (1996): 1743-1754.
<br /></li>
</ol>

<p><a name="citation-48"></a></p>

<ol>
<li>Argyle, Michael, and Adrian Furnham. &#8220;Sources of satisfaction and conflict in long-term relationships.&#8221; Journal of Marriage and the Family (1983): 481-493.
<br /></li>
</ol>

<p><a name="citation-49"></a></p>

<ol>
<li>Clark, Andrew E. <a href="http://www.csls.ca/events/oct98/clark.pdf"><em>What Makes a Good Job?: Evidence from OECD Countries.</em></a> LEO-CRESEP, 1998.
<br /></li>
</ol>

<p><a name="citation-50"></a></p>

<ol>
<li>Furnham, Adrian, and Michael Argyle. <em>The psychology of money.</em> Psychology Press, 1998.
<br /></li>
</ol>

<p><a name="citation-51"></a></p>

<ol>
<li>Haring, Marilyn J., William A. Stock, and Morris A. Okun. &#8220;A research synthesis of gender and social class as correlates of subjective well-being.&#8221; Human Relations 37.8 (1984): 645-657.
<br /></li>
</ol>

<p><a name="citation-52"></a></p>

<ol>
<li>Clark, Andrew, Andrew Oswald, and Peter Warr. <a href="http://iweb.swufe.edu.cn/jiarui/Management_Resources/%E4%BC%81%E4%B8%9A%E7%AE%A1%E7%90%86/Is%20job%20satisfaction%20u-shaped%20in%20age.pdf">&#8220;Is job satisfaction U‐shaped in age?.&#8221;</a> Journal of occupational and organizational psychology 69.1 (1996): 57-81.
<br /></li>
</ol>

<p><a name="citation-53"></a></p>

<ol>
<li>Arvey, Richard D., et al. &#8220;Genetic influences on job satisfaction and work values.&#8221; Personality and Individual Differences 17.1 (1994): 21-33.
<br /></li>
</ol>

<p><a name="citation-54"></a></p>

<ol>
<li>Furnham, Adrian, and Rosemary Schaeffer. &#8220;Person‐environment fit, job satisfaction and mental health.&#8221; Journal of Occupational Psychology 57.4 (1984): 295-307.
<br /></li>
</ol>

<p><a name="citation-55"></a></p>

<ol>
<li>Warr, Peter. &#8220;A study of psychological well‐being.&#8221; British Journal of Psychology 69.1 (1978): 111-121.
<br /></li>
</ol>

<p><a name="citation-53"></a></p>

<ol>
<li>Murphy, Gregory C., and James A. Athanasou. &#8220;The effect of unemployment on mental health.&#8221; Journal of Occupational and organizational Psychology 72.1 (1999): 83-99.
<br /></li>
</ol>

<p><a name="citation-57"></a></p>

<ol>
<li>Clark, A. E. &#8220;The positive externalities of higher unemployment: Evidence from household data.&#8221; Research Paper (CNRS and LEO-CRESEP, UniversitÈ d OrlÈans, France) (1998).
<br /></li>
</ol>

<p><a name="citation-58"></a></p>

<ol>
<li>Payne, Roy. &#8220;A longitudinal study of the psychological well-being of unemployed men and the mediating effect of neuroticism.&#8221; Human relations 41.2 (1988): 119-138.
<br /></li>
</ol>

<p><a name="citation-59"></a></p>

<ol>
<li>Feather, N. T., and M. J. Bond. &#8220;Time structure and purposeful activity among employed and unemployed university graduates.&#8221; Journal of Occupational Psychology 56.3 (1983): 241-254.
<br /></li>
</ol>

<p><a name="citation-60"></a></p>

<ol>
<li>Wanberg, Connie R. &#8220;Antecedents and outcomes of coping behaviors among unemployed and reemployed individuals.&#8221; Journal of Applied psychology 82.5 (1997): 731.
<br /></li>
</ol>

<p><a name="citation-61"></a></p>

<ol>
<li>Pearce, Jone L. Volunteers: The organizational behavior of unpaid workers. London: Routledge, 1993.
<br /></li>
</ol>

<p><a name="citation-62"></a></p>

<ol>
<li>Kasl, Stanislav V. &#8220;The impact of retirement.&#8221; Current concerns in occupational stress (1980): 137-86.</li>
</ol>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
