<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>How To Get Started With Anything &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/how-to-get-started-with-anything/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/how-to-get-started-with-anything/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>How To Get Started With Anything</h1>
  <time datetime=2013-10-18T02:34:32Z class="post-date">Fri, Oct 18, 2013</time>
  

<blockquote>
<p>A complex system that works is invariably found to have evolved from a simple system that worked. The inverse proposition also appears to be true: A complex system designed from scratch never works and cannot be made to work. You have to start over, beginning with a working simple system.</p>

<p><span id="quote-attribute">—Gall&#8217;s law</span></p>

<p>All life is an experiment. The more experiments you make the better.</p>

<p><span id="quote-attribute">—Ralph Waldo Emerson</span></p>
</blockquote>

<p>The point of the post is this:</p>

<ol>
<li><p><strong>Try the dumbest thing that could work.</strong></p></li>

<li><p><strong>Start experimenting as soon as possible.</strong></p></li>
</ol>

<p>That&#8217;s it. Now I&#8217;m just going to go through examples to hammer the point home.</p>

<h2 id="get-start-with-anything-concrete-examples">Get start with anything: Concrete examples</h2>

<p>How do you train a dolphin to perform a backflip? You reward it for the right behaviors, which reinforces those, until you can chain it all together and get a backflip.</p>

<p>Thanks to Darwin, we know that humans are animals, too, and we know that a lot of the infrastructure our minds run on is shared with other animals. This means that a significant part of what makes you <em>you</em> is also what makes a chimpanzee a chimpanzee.</p>

<p>The takeaway, then, is that humans can be trained in a similar way to every other animal, with rewards for behavior. That&#8217;s positive reinforcement.</p>

<p>Okay, so here&#8217;s the scenario. You want to learn more math and intend to do this through solving math problems. You enjoy this once you get started, but you&#8217;re lazy. Your brain protests when you pull out the textbook. It just wants to watch television. So, you decide to use positive reinforcement to help reinforce studying behavior.</p>

<p>How do you do it? What reinforcer are you going to use? What are you going to reinforce? What if you reinforce the wrong behavior? Who&#8217;s going to dole out the rewards? Start thinking like this and you will become overwhelmed and implement nothing.</p>

<p>Try the dumbest thing that could work. Buy a bag of M&amp;Ms and eat one whenever you solve a problem. If that doesn&#8217;t work, iterate and try something different.</p>

<h3 id="waking-up-in-the-morning">Waking up in the morning</h3>

<p>Getting out of bed in the morning is the bane of humans everywhere. What&#8217;s a guy to do? Informed by this post, you know the answer. What&#8217;s the dumbest thing that could work?</p>

<p>Download <a href="https://play.google.com/store/apps/details?id=com.lslk.sleepbot&amp;hl=en">one of the dozens of Android alarm clock apps</a> and try that. If that doesn&#8217;t work, iterate. Reduce caffeine in the evening or increase it in the morning (via caffeine pills). Install bright lights. Fast after dinner. Try melatonin.</p>

<h3 id="building-a-chess-bot">Building a chess bot</h3>

<p>Want to write a program that plays chess? It&#8217;s only overwhelming when you&#8217;re thinking: how can I write a program that wins at chess? Wrong goal! First write a program that loses at chess every time. It could pick a move at random, or always move a pawn. Then, iterate from there.</p>

<h3 id="learning-math">Learning math</h3>

<p>Maybe you want to learn more math, but you don&#8217;t know where to start. Doesn&#8217;t matter. Go find a book about math and start reading, or start working through <a href="https://www.khanacademy.org/">Khan Academy</a>, or watch some video lectures. Don&#8217;t like it? Find another book or something else. Keep experimenting.</p>

<h3 id="memorizing-stuff">Memorizing stuff</h3>

<p>Or it seems like a lot of people have trouble <a href="http://www.gwern.net/Spaced%20repetition">getting started with Anki</a>. They wonder: what should I memorize? What should I use this for? It&#8217;s a hard question so they get stuck. Waste of time. Just add anything that you want to remember or learn. Keep adding, keep experimenting. You&#8217;ll figure out what works as you go along.</p>

<p>By the way, don&#8217;t miss the writeup of <a href="https://rs.io/anki-tips/-10000-cards-later.html">my experience memorizing more than 10,000 flashcards with Anki</a>.</p>

<h3 id="exercise">Exercise</h3>

<p>In general, a little bit of data is going to be more enlightening than just thinking about it. Maybe you want to start exercising more, but you&#8217;re not sure whether or not you want to run or lift weights. Go out and start running. Don&#8217;t like it? Okay, try something else.</p>

<p>The alternative is that you spend a bunch of time googling and trying to figure out which is better for you or which you think you&#8217;ll enjoy more. Don&#8217;t worry about it. Just go try something. See what sticks.</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
