<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>4chan Is What Free Speech On The Internet Looks Like &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/4chan-is-free-speech-on-the-internet/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>4chan Is What Free Speech On The Internet Looks Like</h1>
  <time datetime=2014-01-29T02:31:28Z class="post-date">Wed, Jan 29, 2014</time>
  <p><strong>Meditation</strong>: <em>If there are true things that no one is allowed to say, how will you know them?</em></p>

<blockquote>
<p>Where there are humans,</p>

<p>You&#8217;ll find flies,</p>

<p>And Buddhas.</p>
</blockquote>

<p><span id="quote-attribute">—Kobayashi Issa</span></p>

<p>Friend, I have a confession. I like <a href="http://en.wikipedia.org/wiki/4chan">4chan</a>. Whenever I see someone call 4chan the cesspool of the internet or disgusting or whatever, I shake with excitement. I&#8217;ve found the King of Fools! At long last, I can kill him and the Fool people will scatter forever.</p>

<p><em>Woe.</em> It&#8217;s never the case that I&#8217;ve found the king of fools because &#8212; sometimes only minutes later &#8212; I stumble across a still greater fool, and I wonder if I&#8217;m the King of Fools for believing that I&#8217;ll ever find His Fooliness.</p>

<p>You see, friend, if you cannot see the redeeming value of 4chan, I weep for you. It must be difficult to live without eyes. If you think you are Mr-oh-so-sophisticated, I ask you: where do you think memes come from? Yes, friend. Memes come from 4chan. All of them.</p>

<p>But it&#8217;s more than memes. 4chan is a place where people can say whatever they please, or at least the closest to such a place I&#8217;ve yet to find on the internet. There is no one pretending to be offended in order to score points on the I&#8217;m-the-most-offended game.<a href="#citation-1"><sup>1</sup></a> On 4chan, if you are a racist, a woman-hater, a man-hater, a fascist, a communist, a Jew or an anti-semite, you can be <em>you</em>. There is no Cathedral,<a href="#citation-2"><sup>2</sup></a> no social-hate-machine poised to vilify you for speaking your mind. On 4chan, if you wish to spew hate, spew hate, and if you wish to spew love, spew love.</p>

<p>Forced anonymity is an amazing medium. People can be real with you in a way that they can&#8217;t in any other venue. I have shared and received support from anons on different 4chan boards &#8212; people with no reason to give a fuck about me, people I will never knowingly interact with again. This, more than anything, ought to be evidence of some capacity for human decency.</p>

<p><a name="citation-1"></a> 1. There is another game people like to play. It&#8217;s called <a href="http://en.wikipedia.org/wiki/Slacktivism">I&#8217;m-a-good-person-sleight-of-hand</a>. Whoever has the most virtue points wins the game. To score virtue points, you need to convince other people that you&#8217;re a good, moral being without lifting a finger to improve the world. I have written about this before <a href="https://rs.io/core-human-values/">here</a>.</p>

<p><a name="citation-2"></a> 2. A term coined by Mencius Moldbug, representing the self-organizing consensus of society as a whole &#8212; through the media and other institutions. Specifically, that part of society which condemns opposing ideologies as evil.</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
