<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>What Savant Memory Says About The Limits of Memory &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/savant-memory-limits-of-memory/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/savant-memory-limits-of-memory/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>What Savant Memory Says About The Limits of Memory</h1>
  <time datetime=2014-02-26T15:57:33Z class="post-date">Wed, Feb 26, 2014</time>
  

<p>Scientific American has published an <a href="http://blogs.scientificamerican.com/beautiful-minds/2014/02/25/where-do-savant-skills-come-from/">article on savantism</a>, which rattled a few ideas loose in my head. A savant is roughly defined as someone with cognitive deficiencies &#8212; usually on the autism spectrum &#8212; who displays superior performance in one area. A savant may be unable to speak or dress without assistance, but able to play the piano. Savantism comes in degrees &#8212; one can be a savant by being an average piano player, given that they&#8217;re functionally disabled in all other activities.</p>

<p>More interesting, though, are savants who are prodigiously gifted &#8212; the sort that display skills that are by any measure incredible, all while experiencing severe disability.</p>

<p>Consider Kim Peek, the real life inspiration for Dustin Hoffman&#8217;s role in <em>Rain Man</em> and, as such, the most famous savant. (Wikipedia <a href="http://en.wikipedia.org/wiki/Kim_Peek">calls him a megasavant</a>.) He passed away five years ago. The remarkable thing about Peek was his ability to immediately transfer information from short into long-term memory.</p>

<p>Compare Peek with <a href="https://rs.io/expert-memory/">some</a> <a href="https://rs.io/the-science-of-problem-solving/">of</a> <a href="https://rs.io/what-makes-something-interesting/">the</a> computational models of mind that I&#8217;ve built and borrowed from cognitive science on this blog. We can imagine the human mind as a sort of computer that takes in information from the environment, processes it, and the stores it in long-term memory. Notice that there are two distinct components here: a memory store and a reasoning component that operates on and processes mental structures.</p>

<p>In such a model, Peek looks sort of like a machine that has an excellent memory store but limited reasoning capacity. The article provides some evidence for such a view:</p>

<blockquote>
<p>Peek’s abnormal brain wiring certainly came at a cost. Though he was able to immediately move new information from short-term memory to long-term memory, there wasn’t much processing going on in between. His adult fluid reasoning ability and verbal comprehension skills were on par with a child of 5, and he could barely understand the meaning in proverbs or metaphors.</p>
</blockquote>

<h2 id="limits-of-memory">Limits of Memory</h2>

<p>In the Sherlock Holmes novels, there is a memorable passage where Watson is shocked that Sherlock doesn&#8217;t know that the Earth revolves around the sun. When Watson tells him that the Earth does, indeed, revolve around the sun, Sherlock informs him that he&#8217;ll try to forget this at once. While Sherlock&#8217;s memory problems are probably the result of his copious drug use, he explains it to Watson by means of a metaphor &#8212; the mind is a room and if one fills it with junk, one will never be able to find anything.</p>

<p>Does human memory have fixed limits? Is it a hard drive that runs out of space with time? The life of Kim Peek suggests not. From the Scientific American article, &#8220;His repertoire included the Bible, the complete works of Shakespeare, U.S. area codes and zip codes, and roughly 12,000 other books.&#8221;</p>

<p>To put that into perspective, let&#8217;s assume that the average human lifetime is 75 years and that one begins reading in earnest at the age of 10. This gives you 65 years of reading, or at the rate of a book a week, 3391 and a half books at the time of your death &#8212; or about <em>a fourth</em> of what Kim Peek had packed in long-term memory. The dude remembered every word &#8212; I&#8217;m lucky if I recall a vague sense of what the plot of a book was a year later.</p>

<h2 id="savants-as-technical-masters">Savants as Technical Masters</h2>

<p>One characteristic that savants &#8212; even the prodigiously gifted &#8212; share is technical, rote mastery rather than creative performance. Musical savants might be able to memorize and play back a piece of music after one hearing, but unable to produce anything original. (Maybe originality is the realm of the reasoning component.)</p>

<p>Indeed, the &#8220;creative&#8221; achievements of most savants are boring. They may be able to recall a nature scene and sketch it from memory, but who cares? That&#8217;s what cameras are for. The Scientific American article put it this way:</p>

<blockquote>
<p>The paintings that the patients produced were generally realistic or surrealistic without symbolism or abstraction, and the patients approached their art in a compulsive way, repeating the same design many times.</p>
</blockquote>

<p>Contrast this with the artwork of schizophrenics (<a href="http://karensearchformeaning.blogspot.com/2014/02/de-koonings-alzheimers-my-alzheimers_12.html">neat example here</a>). Maybe I romanticize mental illness a too much, but if it&#8217;s one thing that schizophrenics have in spades, it&#8217;s symbolism and abstraction &#8212; the polar opposite of autism. There is even <a href="http://the-mouse-trap.blogspot.com/2008/01/psychosis-and-autism-as-diametrical.html">some evidence</a> that autism and schizophrenia may be opposite sides of the same spectrum.</p>

<p>The Scientific American article likes to tease, however, suggesting that intense technical mastery and prodigious memory may eventually give way to improvisation:</p>

<blockquote>
<p>Toward the end of Peek’s life, Peek showed a marked improvement in his engagement with people. He also began playing the piano, made puns, and even started becoming more self-aware. During one presentation at Oxford University, a woman asked him if he was happy, to which he responded: “I’m happy just to look at you.”</p>
</blockquote>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>The <a href="http://blogs.scientificamerican.com/beautiful-minds/2014/02/25/where-do-savant-skills-come-from/">original article</a>.</li>
<li><a href="http://www.huffingtonpost.com/2012/04/30/college-dropout-jason-pad_n_1464835.html">Guy working at futon store gets kicked in the head and becomes a number theorist.</a></li>
<li><a href="http://economix.blogs.nytimes.com/2012/01/31/college-major-and-family-mental-illness/?_php=true&amp;_type=blogs&amp;_r=0">Familial patterns of mental illness predict choice of undergraduate major.</a></li>
<li>Examples of <a href="http://karensearchformeaning.blogspot.com/">schizophrenic art</a> and <a href="http://i.dailymail.co.uk/i/pix/2009/10/29/article-1223790-070133B6000005DC-861_964x662.jpg">autistic art</a>.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
