<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>What Are Quantum Computers Used For? &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/quantum-computers-used/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/quantum-computers-used/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>What Are Quantum Computers Used For?</h1>
  <time datetime=2014-03-14T22:26:32Z class="post-date">Fri, Mar 14, 2014</time>
  

<p>The literal answer to the question, &#8220;What are quantum computers used for?&#8221; is well, nothing, since we can&#8217;t build them yet &#8212; but maybe you want to know the answer to the question, &#8220;What will quantum computers be used for?&#8221;</p>

<p>That I can answer.</p>

<p>There is a lot of magical thinking around quantum computers. That they&#8217;re the next big thing in computing, that they&#8217;ll replace classical computers, that they&#8217;ll be impossibly fast and small. There&#8217;s <a href="http://www.reddit.com/r/explainlikeimfive/comments/1cs062/eli5how_a_quantum_computer_works_and_why_it_is/c9jh0zx">at least one</a> quantum physicist who doesn&#8217;t know any better. <strong>Most problems receive no sort of &#8220;quantum speedup.&#8221;</strong></p>

<p>Here&#8217;s what Scott Aaronson, a theoretical computer science guy who works on quantum computing at MIT, has to say:</p>

<blockquote>
<p>To be clear, I think it’s entirely possible that I’ll see practical quantum computers in my lifetime (and also possible, of course, that I won’t see them). And if we do get scalable, universal quantum computers, then they’ll almost certainly find real applications (not even counting codebreaking): mostly, I think, for specialized tasks like quantum simulation, but to a lesser extent for solving combinatorial optimization problems.</p>

<p><span id="quote-attribute">—<a href="http://amzn.to/2hLhrSz"><em>Quantum Computing Since Democritus</em></a></span></p>
</blockquote>

<p>Sure, quantum computing will be useful, but no, they won&#8217;t enable us to replace classical architecture machines with fingernails that &#8212; I don&#8217;t know &#8212; pass the Turing test.</p>

<p>Here&#8217;s <a href="http://www.cs.virginia.edu/~robins/The_Limits_of_Quantum_Computers.pdf">Aaronson himself in Scientific American</a> with a bit more on quantum computers for simulation:</p>

<blockquote>
<p>If quantum computers ever become a reality, the “killer app” for them will most likely not be code breaking but rather something so obvious it is rarely even mentioned: simulating quantum physics. This is a fundamental problem for chemistry, nanotechnology and other fields, important enough that Nobel Prizes have been awarded even for partial progress.</p>
</blockquote>

<h2 id="problems-fit-for-a-quantum-computer">Problems fit for a quantum computer</h2>

<p><center>
  <img src="https://rs.io/img/complexity-classes.png" alt="" />
</center>On what sort of specific problems quantum computers will be used for, well, that&#8217;s a complexity class:</p>

<p><a href="http://en.wikipedia.org/wiki/BQP">BQP</a>. A quantum computer &#8212; should they prove physically realizable &#8212; can outperform a classical computer at problems outside of P (another complexity class) but in BQP.</p>

<p>The main suspected problems in that class are:</p>

<ul>
<li>Integer factorization (important for crypto)</li>
<li>Quantum-level simulations of physical stuff.</li>
</ul>

<p>So, you know, what Aaronson already told us.</p>

<p>So, classical machines are here to stay. Quantum computers are not a silver bullet. Hard problems remain hard, or as Aaronson puts it (again from his Scientific American piece):</p>

<blockquote>
<p>I predict that the hardness of NP-complete problems will someday be seen the same way: as a fundamental principle that describes part of the essential nature of our universe. There is no way of telling what theoretical enlightenment or what practical consequences might come from future application of this kind of fundamental principle.</p>
</blockquote>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>Scott has a book, <em>Quantum Computing Since Democritus.</em> It&#8217;s excellent. I recommend it. You should <a href="http://amzn.to/2hLhrSz">buy a copy</a>.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
