<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Does race exist? &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/does-race-exist/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Does race exist?</h1>
  <time datetime=2014-01-24T02:07:52Z class="post-date">Fri, Jan 24, 2014</time>
  <blockquote>
<p>No one in her left brain could reject reductionism.</p>

<p><span id="quote-attribute">—Douglas Hofstadter</span></p>
</blockquote>

<p>Dear friend,</p>

<p>I read your <a href="http://www.edge.org/response-detail/25534">recent response on edge.org</a>, arguing that the concept of race ought to be retired. Race, you argued, has no place in science, being a messy concept with no clear genetic basis. You said things like &#8212; I&#8217;m paraphrasing here &#8211;, &#8220;the apparent homogeneity of races is a product of the environmental factors, not genetic determinism and DNA.&#8221;</p>

<p>Friend, when I read your ideas, I let out a hoot of delight. I have long felt the same way. Only I didn&#8217;t realize it until now. You see, friend, not only does race not exist, I&#8217;m certain that humans don&#8217;t exist, either.</p>

<p>I know, I know. No humans? But hear me out. It sounds absurd, but surely not so much more absurd than your own ideas at first appear. I <em>feel</em> like some people are White and some are Asian, but I now understand that race &#8212; invented by immoral racists &#8212; is an imprecise, messy, non-scientific notion and ought to be abandoned.</p>

<p>You see, friend, the concept of human is messy, too. You can&#8217;t say, &#8220;all two-legged, two-armed things are human.&#8221; There are some humans with one arm or no arms and there are chimpanzees with two arms and two legs. Messy!</p>

<p>But maybe this is not enough. You might demand to compare our DNA and say, &#8220;Look, humans have different DNA than chimpanzees. What a scientific comparison!&#8221; After all, that&#8217;s why you rejected race. DNA didn&#8217;t support its existence.</p>

<p>Ah, but friend, you have not gone far enough. DNA is not a scientific concept, either. It&#8217;s messy. You can tell it apart by its higher level characteristics, it&#8217;s structure, sure, but race is the same &#8212; you tell races apart by characteristics like skin color or whether they own a Faith Hill CD. You see, with DNA, when you go down a level, down to subatomic particles, all DNA is the same. You can&#8217;t tell it apart, not scientifically.</p>

<p>The notion of human, then, along with the notion of DNA ought to be abandoned. The means of telling them apart &#8212; relying on subjective judgment regarding high level structure &#8212; are vague, messy, and not science. Just like you reduced race to DNA, you need to reduce humans to subatomic particles, and those are all the same. Humans, like race, can&#8217;t exist.</p>

<p>But that&#8217;s not all, friend. You see, I&#8217;ve been a little dishonest with you. Not only do humans not exist, neither do chairs, squash, love, or happiness and, well, anything that is made out of other things. All of these rely on unscientific categories to distinguish them, invented by confused humans, no doubt most of them racists. They&#8217;re all made out of subatomic particles and, as you know, <a href="http://en.wikipedia.org/wiki/Identical_particles">subatomic particles are all the same</a>.</p>

<p>In fact, friend, only subatomic particles and fundamental forces exist. The rest, well, as you said, it&#8217;s a &#8220;social construct.&#8221; Just as &#8220;racial skeptics see no racial patterns,&#8221; I see no patterns at all, only subatomic particles. I hope you see what violent agreement we are in. Just as &#8220;race today is best considered a belief system that &#8216;produces consistencies in perception and practice at a particular social and historical moment&#8217;,&#8221; chairs, squash, humans, and concepts generally are best considered a belief system that produces consistencies in perception and practice at a particular social and historical moment (invented by &#8212; like race and racists &#8212; immoral categorizers, no less!).</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
