<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Spengler’s Man &amp; Technics (1931) &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/spenglers-man-technics-1931/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/spenglers-man-technics-1931/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li><li><a href="https://rs.io/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Spengler’s Man &amp; Technics (1931)</h1>
  <time datetime=2019-08-06T04:54:00Z class="post-date">Tue, Aug 6, 2019</time>
  <blockquote>
<p>In reality, however, it is out of the power either of heads or of hands to alter in any way the destiny of machine-technics, for this has developed out of inward spiritual necessities and is now correspondingly maturing towards its fulfilment and end. Today we stand on the summit, at the point when the fifth act is beginning. The last decisions are taking place, the tragedy is closing.</p>

<p>Every high Culture is a tragedy. The history of mankind as a whole is tragic. But the sacrilege and the catastrophe of the Faustian are greater than all others, greater than anything Æschylus or Shakespeare ever imagined. The creature is rising up against its creator. As once the microcosm Man against Nature, so now the microcosm Machine is revolting against Nordic Man. The lord of the World is becoming the slave of the Machine, which is forcing him — forcing us all, whether we are aware of it or not — to follow its course. The victor, crashed, is dragged to death by the team.</p>

<p>[…]</p>

<p>All things organic are dying in the grip of organization. An artificial world is permeating and poisoning the natural. The Civilization itself has become a machine that does, or tries to do, everything in mechanical fashion. We think only in horsepower now; we cannot look at a waterfall without mentally turning it into electric power; we cannot survey a countryside full of pasturing cattle without thinking of its exploitation as a source of meat-supply; we cannot look at the beautiful old handwork of an unspoilt primitive people without wishing to replace it by a modern technical process.</p>

<p>[…]</p>

<p>But all this is changing in the last decades, in all the countries where large-scale industry is of old standing. The Faustian thought begins to be sick of machines. A weariness is spreading, a sort of pacifism of the battle with Nature. Men are returning to forms of life simpler and nearer to Nature; they are spending their time in sport instead of technical experiments. The great cities are becoming hateful to them, and they would fain get away from the pressure of soulless facts and the clear cold atmosphere of technical organization. And it is precisely the strong and creative talents that are turning away from practical problems and sciences and towards pure speculation. Occultism and Spiritualism, Hindu philosophies, metaphysical inquisitiveness under Christian or pagan colouring, all of which were despised in the Darwinian period, are coming up again. It is the spirit of Rome in the Age of Augustus. Out of satiety of life, men take refuge from civilization in the more primitive parts of the earth, in vagabondage, in suicide. <em>The flight of the born leader from the Machine is beginning.</em></p>

<p>–Oswald Spengler, <a href="http://fatuma.net/text/Spengler_Man-Technics.pdf"><em>Man &amp; Technics</em></a></p>
</blockquote>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
