<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Web Roundup: Links For June &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/web-roundup-links-june/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Web Roundup: Links For June</h1>
  <time datetime=2014-06-02T02:20:58Z class="post-date">Mon, Jun 2, 2014</time>
  <ul>
<li><p>Regarding MMOs: <a href="http://tmi.kotaku.com/im-a-man-who-plays-as-a-woman-in-games-and-im-definite-1576592743">23 percent of men play as women, but only 7 percent of women try taking a walk on the hairier side.</a></p></li>

<li><p>If you&#8217;re interested in artificial general intelligence (strong AI), several researchers in the field have put together &#8220;course recommendations&#8221;, including one from <a href="http://wp.goertzel.org/?page_id=325">Ben Goertzel</a>, one from <a href="https://sites.google.com/site/narswang/home/agi-introduction/agi-education">Pei Wang</a>, and one from <a href="http://www.hutter1.net/ai/introref.htm">Marcus Hutter</a>.</p></li>

<li><p>The <a href="http://www.bbc.com/news/science-environment-27441156">largest dinosaur yet</a> has been discovered: &#8220;Based on its huge thigh bones, it was 40m (130ft) long and 20m (65ft) tall. Weighing in at 77 tonnes, it was as heavy as 14 African elephants, and seven tonnes heavier than the previous record holder, Argentinosaurus.&#8221;</p></li>

<li><p>Randal Olson has a post up examining <a href="http://www.randalolson.com/2014/05/16/popular-subreddits-have-predictable-cycles-of-virality/">when Reddit posts are most likely to go viral</a>, providing some evidence that the early bird really does get the worm. Between 8 to 12 EST seems to be the best time to maximize influence.</p></li>

<li><p>One might imagine that great mathematicians simply stumble across brilliant conjectures. (Perhaps <a href="http://www.reddit.com/r/showerthoughts">in the shower</a>?) But this is a myth. Gauss, for instance, conjectured the prime number theorem after <a href="http://www.math.sunysb.edu/~moira/mat331-spr10/papers/1973%20GoldsteinA%20History%20of%20the%20Prime.pdf">laboriously collecting and studying tables of prime numbers</a>. There may have been a moment of insight, but it was the result of priming the subconscious mind with thousands upon thousands of primes.</p></li>

<li><p>According to Google, <a href="http://mashable.com/2012/06/13/google-search-infographic-2/">16% of queries have never been seen before</a>.</p></li>

<li><p><a href="https://twitter.com/pentametron">Pentametron</a> is a Twitter bot that retweets in iambic pentameter. It writes non-sensical (but well-formed!) poetry.</p></li>

<li><p>I&#8217;ve been skeptical about innovation inducement prizes, like the Clay Institute&#8217;s million dollars for anyone who can best one of the <a href="http://www.claymath.org/millennium-problems">millennium problems</a>. A 2013 review finds that, although research is scarce, <a href="http://www.nesta.org.uk/sites/default/files/impact_of_innovation_inducement_prizes.pdf">a 10 million dollar prize does lead to ~100 million dollars in additional investment</a>. On this evidence, along with the low risks for prize-givers (you only need to pay out when someone solves the problem), I&#8217;ve updated in the direction of innovation prizes being useful.</p></li>

<li><p>It turns out that dictionaries used to be way more useful, but have been <a href="http://jsomers.net/blog/dictionary">pared down into a husk of their former selves in the name of efficiency</a>. For the definition of flash, for instance, Google returns &#8220;the lights started flashing.&#8221; In contrast, Webster&#8217;s 1913 edition contains this gem: &#8220;A thought flashed through me, which I clothed in act.&#8221;</p></li>

<li><p>During a storm this week, I wanted to know <em>why</em> lightning insists on the path that it does (which is a very interesting sort of pattern, as documented <a href="http://vimeo.com/28457062">here</a>). After searching through a sea of &#8220;explanations,&#8221; I stumbled across <a href="http://www.ira.usf.edu/cam/exhibitions/1998_12_McCollum/supplemental_didactics/25.Uman10.pdf">this lightning textbook</a>, which says, &#8220;Why is the lightning channel so tortuous? The answer is not known&#8230; As is probably becoming more and more apparent with each succeeding chapter in this book, there is an awful lot we still don’t know about lightning.&#8221;</p></li>

<li><p>When you first learn about prisoner&#8217;s dilemmas, you tend to <a href="http://xkcd.com/1016/">see them everywhere</a>. There&#8217;s a <a href="http://www2.units.it/etica/2013_2/RUSCH.pdf">new paper</a> out by Hannes Rusch arguing that this is illusory, &#8220;It is highlighted that only 2 of the 726 combinatorially possible strategically unique ordinal 2&#215;2 games have the detrimental characteristics of a PD and that the frequency of PD-type games in a space of games with random payoffs does not exceed about 3.5%.&#8221;</p></li>

<li><p>If, tomorrow, everyone just stopped dying (by some miracle, perhaps), population growth would still be <a href="http://lesswrong.com/r/discussion/lw/k94/open_thread_may_19_25_2014/axdi">about half of what it was during the 1950s baby boom.</a></p></li>

<li><p>Talk about persistence: <a href="http://www.entrepreneur.com/blog/224855">&#8220;When Dyson invented his first Dual Cyclone vacuum cleaner, which hit stores in 1993, he spent 15 years creating 5,126 versions that failed before he made one that worked.&#8221;</a></p></li>

<li><p>The Spanish navy commissioned four submarines for a cool 3 billion USD, only to now discover a serious design flaw: <a href="http://www.telegraph.co.uk/news/worldnews/europe/spain/10073951/2-billion-Spanish-navy-submarine-will-sink-to-bottom-of-sea.html">they&#8217;re too heavy to float</a>.</p></li>

<li><p>JP Morgan <a href="http://finance.fortune.cnn.com/2013/01/18/jpmorgan-london-whale-investigation/">lost $6 billion after</a> &#8220;An unnamed overworked staffer in London copied and pasted the wrong figures into an Excel spreadsheet, throwing the firm&#8217;s risk models out of whack.&#8221;</p></li>

<li><p><a href="http://en.wikipedia.org/wiki/Wojtek_%28bear%29#Private_Wojtek">Wojtek the bear</a> was &#8220;officially drafted into the Polish Army as a Private.&#8221; Favorite drink? Beer.</p></li>

<li><p><a href="http://blog.matthen.com/">matthen</a> of math visualization fame has a very cool interactive Fourier transform demo <a href="http://toxicdump.org/stuff/FourierToy.swf">here</a>. I can thank it for a more intuitive understanding of how to combine circles to create periodic functions.</p></li>

<li><p>So magnetars are super-dense neutron stars. How dense? Well, you would have to collapse our sun into a few kilometers to match the density of a neutron star. The nearest one, at 50,000 light years away, experienced <a href="http://blogs.discovermagazine.com/badastronomy/2009/06/18/ok-so-maybe-we-can-be-a-little-frightened/#.U4FzKy-DHUA">a &#8220;starquake,&#8221; which would register at 32 on the richter scale</a>. The almost-craziest part? We felt it here on Earth. The craziest part? I lied. There&#8217;s a closer magnetar a mere 15,000 light years away.</p></li>

<li><p>Chinese men grow long fingernails as a status symbol. It signals that <a href="http://www.vagabondjourney.com/why-chinese-men-grow-long-fingernails/">they don&#8217;t have to do manual labor</a>.</p></li>

<li><p>You know what warms <em>my</em> heart? Replication, and not the baby making kind. I mean scientific replication &#8212; <a href="http://bps-research-digest.blogspot.fi/2014/05/a-replication-tour-de-force.html">&#8220;For instance, there appears to be no evidence that making people feel physically warm promotes social warmth, that asking people to recall immoral behavior makes the environment seem darker, or for the Romeo and Juliet effect.&#8221;</a> (via <a href="http://kajsotala.fi/">Kaj Sotala</a>)</p></li>

<li><p>A Stradivarius is a type of 300-ish year old violin. They have a reputation for producing the best sound and, as a result, are super expensive. (One sold at auction in 2010 for $3,600,000.) But how good are they? Turns out &#8212; when suitably blinded &#8212; <a href="http://en.wikipedia.org/wiki/Stradivarius#Comparisons_in_sound_quality">no one can tell the difference between a &#8220;Strat&#8221; and a modern violin</a>, which command a fraction of the price.</p></li>

<li><p><a href="http://www.pnas.org/content/early/2014/05/14/1321426111.abstract">Married couples are more genetically similar than chance.</a> (via <a href="http://hbdchick.wordpress.com/2014/05/27/linkfest-052714/">hbd* chick</a> for this and the next few)</p></li>

<li><p>I&#8217;ve often wondered if there&#8217;s room for some kind of genetic calculus, where you figure out just how much you love your relatives based on shared genes, so I was excited when I read this in the NY Times: <a href="http://www.nytimes.com/2014/05/25/opinion/sunday/the-closest-of-strangers.html?_r=0">&#8220;More recently, I showed that identical twins who are aunts and uncles invest more in caring for the children of their twins (their &#8216;genetic&#8217; sons and daughters) than do fraternal twins.&#8221;</a> It is sad, in a way, that I was born without a twin. I feel robbed. I&#8217;ll never experience what might be the deepest connection any human can have for another. I guess there&#8217;s always cloning or forked ems (whole brain emulations), right guys? Guys?</p></li>

<li><p>There are <a href="http://en.wikipedia.org/wiki/Multiple_birth">around 70 sets of all-identical quadruplets worldwide</a>.</p></li>

<li><p>Speaking of the weirdness of the genetic calculus: If you love someone if they share more genes with you, you&#8217;d expect that a child born to two genetically similar parents would be loved more than one born to two dissimilar parents, as the first would share more genes. This might be related to this next study: <a href="http://www.livescience.com/45777-marrying-your-cousin-may-pay-off.html">&#8220;But paradoxically, in some societies, marrying a related spouse is linked to having more surviving children, research suggests.&#8221;</a></p></li>

<li><p>And, while on the subject of marrying relatives, a <a href="http://journal.sjdm.org/14/14226/jdm14226.pdf">new research paper</a> in <em>Judgment and Decision Making</em> suggests that better reasoners are less likely to condemn consensual incestuous acts as morally wrong.</p></li>

<li><p><a href="http://www.unz.com/gnxp/why-the-japanese-think-westerners-smell-bad-well-one-reason/">People with wet earwax have stronger body odor.</a> The more you know, I guess.</p></li>

<li><p>A family buys a house. Pretty nice, right? And then a Brown Recluse Spider comes out of the wall. Not so nice, but no big deal. And then another. And another. Until finally an expert comes in and estimates that there are about 5000 of them living in the house. The new owners are <a href="http://www.kmov.com/news/investigates/Family-sues-previous-homeowners--149557785.html">suing</a> the old ones.</p></li>

<li><p>High-ranking Google pages <a href="http://blog.serpiq.com/how-important-is-content-length-why-data-driven-seo-trumps-guru-opinions/">average ~2400 words</a>.</p></li>

<li><p><a href="http://pets.webmd.com/cats/guide/cats-and-dairy-get-the-facts">Cats are lactose intolerant</a> and shouldn&#8217;t be given milk. Thanks for the lies, every children&#8217;s book ever. (via <a href="http://austingwalters.com/">Austin</a>)</p></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
