<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Depressed? Try Plastic Surgery &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/plastic-surgery-depression/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Depressed? Try Plastic Surgery</h1>
  <time datetime=2013-09-26T01:08:25Z class="post-date">Thu, Sep 26, 2013</time>
  

<blockquote>
<p>Ohlsen, Ponten, and Hamburt (1978) noted that twenty-five of seventy-one women in their study were receiving psychiatric treatment prior to a breast augmentation procedure, whereas only three continued to do so after the operation.<a href="#citation-1"><sup>1</sup></a> Klassen and his colleagues (1996) also found substantial reductions in psychiatric symptomatology among people receiving plastic surgery.<a href="#citation-2"><sup>2</sup></a> Cole and his colleagues (1994) reported that 73 percent of their patients reported a higher quality of life after cosmetic surgery, compared to only 6 percent who reported a lower quality of life.<a href="#citation-3"><sup>3</sup></a> The largest gains were for cosmetic breast surgery (both reductions and enlargements), with slightly smaller gains for abdominoplasty (tummy tucks) and only slight gains for rhinoplasty (nose jobs).</p>

<p><span id="quote-attribute">—<a href="https://www.amazon.com/Well-Being-Foundations-Psychology-Daniel-Kahneman/dp/0871544237/ref=as_li_ss_tl?s=books/likes/well-being-foundations-of-hedonic-psychologyie=UTF8/likes/well-being-foundations-of-hedonic-psychologyqid=1482871899/likes/well-being-foundations-of-hedonic-psychologysr=1-1/likes/well-being-foundations-of-hedonic-psychologykeywords=well+being+foundations+of+hedonic/likes/well-being-foundations-of-hedonic-psychologylinkCode=ll1/likes/well-being-foundations-of-hedonic-psychologytag=rsio0c-20/likes/well-being-foundations-of-hedonic-psychologylinkId=cc5a705b3072c43fa019b0134a536bcc "><em>Well-Being: Foundations of Hedonic Psychology</em></a></span></p>
</blockquote>

<p>Looking for something less invasive? Try Botox.</p>

<blockquote>
<p>Ten depressed patients were treated with botulinum toxin A, and 9 of 10 patients were no longer depressed 2 months after treatment. The tenth patient had an improvement in mood.<a href="#citation-4"><sup>4</sup></a></p>
</blockquote>

<h2 id="sources">Sources</h2>

<p><a name="citation-1"></a></p>

<ol>
<li>Ohlsen, Lennart, Bengt Ponten, and Gunnar Hambert. &#8220;Augmentation mammaplasty: A surgical and psychiatric evaluation of the results.&#8221; <em>Annals of plastic surgery</em> 2.1 (1979): 42-52.
<br /></li>
</ol>

<p><a name="citation-2"></a></p>

<ol>
<li>Klassen, A., et al. &#8220;Patients&#8217; health related quality of life before and after aesthetic surgery.&#8221; <em>British journal of plastic surgery</em> 49.7 (1996): 433-438.
<br /></li>
</ol>

<p><a name="citation-3"></a></p>

<ol>
<li>Cole, Richard P., et al. &#8220;Measuring outcome in low-priority plastic surgery patients using quality of life indices.&#8221; <em>British journal of plastic surgery</em> 47.2 (1994): 117-121.
<br /></li>
</ol>

<p><a name="citation-4"></a></p>

<ol>
<li>Finzi, Eric, and Erika Wasserman. <a href="http://www.drfinzi.com/Portals/0/docs/botox.pdf">&#8220;Treatment of depression with botulinum toxin A: a case series.&#8221;</a> <em>Dermatologic Surgery</em> 32.5 (2006): 645-650.</li>
</ol>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
