<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Book &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>

  
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/book/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Book</h1>
  <time datetime=2019-09-04T00:00:00-0500 class="post-date">Wed, Sep 4, 2019</time>
  

<blockquote>
<p class="verse">
Blind is the world;<br />
Few see clearly here.<br />
As birds who escape from nets are few,<br />
Few go to heaven.<br />
</p>

<p>&ndash;The Dhammapada</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p class="verse">
Those who believe that what appears is real<br />
Are stupid, like cows.<br />
Those who believe that emptiness is real<br />
Are even stupider.<br />
</p>

<p>&ndash;Saraha</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>I have always imagined Paradise as a kind of library.</p>

<p>&ndash;Jorge Luis Borges, &ldquo;Poem of the Gifts&rdquo;</p>
</blockquote>

<p>If Heaven is a library, what&rsquo;s Hell?</p>

<p>A bigger library, answers Borges in his short story, <a href="https://urbigenous.net/library/library%5Fof%5Fbabel.html">&ldquo;The Library of Babel&rdquo;</a>,
which imagines one endless, so vast it&rsquo;s infinite, the whole of the universe.</p>

<blockquote>
<p>The universe (which others call the Library) is composed of an indefinite and
perhaps infinite number of hexagonal galleries, with vast air shafts between,
surrounded by very low railings.</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>[T]he Library is &ldquo;total&rdquo;-perfect, complete, and whole-and that its
bookshelves contain all possible combinations of the twenty-two orthographic
symbols (a number which, though unimaginably vast, is not infinite)-that is,
all that is able to be expressed, in every language.</p>
</blockquote>

<p>This totality renders it monstrous.</p>

<blockquote>
<p>For every rational line or forthright statement there are leagues of senseless
cacophony, verbal nonsense, and incoherency.</p>
</blockquote>

<p>It cannot be sorted.</p>

<blockquote>
<p>The Library is so huge that any reduction by human hands must be infinitesimal.</p>
</blockquote>

<p>There must exist a master index, some guide&ndash;the library, after all,
contains everything.</p>

<p>Tragically, the same <em>everything</em> which guarantees it must
exist also ensures it will never be found.</p>

<blockquote>
<p>On some shelf in some hexagon, it was argued, there must exist a book that is
the cipher and perfect compendium of all other books, and some librarian must
have examined that book; this librarian is analogous to a god. In the language
of this zone there are still vestiges of the sect that worshiped that distant
librarian.  Many have gone in search of Him.  For a hundred years, men beat
every possible path and every path in vain. How was one to locate the idolized
secret hexagon that sheltered Him?</p>
</blockquote>

<p>In the end, the Library&rsquo;s completeness is its uselessness&ndash;its indiscriminate inclusion
of everything informs nothing. Its books &ldquo;affirm all things, deny all things,
and confound and confuse all things, like some mad and hallucinating deity.&rdquo;</p>

<blockquote>
<p>the young people prostrate themselves before books and like savages kiss their
pages, though they cannot read a letter [&hellip;] the suicides are more and more
frequent every year [&hellip;] the human species&ndash;the <em>only</em> species&ndash;teeters at the verge of extinction</p>
</blockquote>

<p>It&rsquo;s Hell, built out of too many books.</p>

<p>You know, just like the Internet.</p>

<p><strong>YOU ARE IN A MAZE OF TWISTY LITTLE PASSAGES, ALL ALIKE</strong></p>

<blockquote>
<p>The baby, assailed by eyes, ears, nose, skin, and entrails at once, feels it all
as one great blooming, buzzing confusion.</p>

<p>&ndash;William James</p>
</blockquote>

<p>information gain = the Kullback–Leibler divergence (also called relative entropy) is a measure of how one probability distribution is different from a second, reference probability distribution.</p>

<h2 id="information-gain-surprise">Information gain, surprise</h2>

<h2 id="when-is-information-valuable">When is information valuable?</h2>

<p>Each moment again, you are faced with a choice: do you keep reading <em>this</em>, or
do you shift</p>

<ul>
<li>Schmidhuber&rsquo;s theory of what&rsquo;s interesting</li>
<li>Multi-Armed Bandits</li>
<li>Information Foraging</li>
<li><a href="https://en.wikipedia.org/wiki/Value%5Fof%5Finformation">Value of information</a> (VOI or VoI) is the amount a decision maker would be willing to pay for information prior to making a decision.</li>
<li>Kalman filter</li>
<li>Compression &amp; prediction</li>
</ul>

<h2 id="papers">Papers</h2>

<h3 id="pure-reasoning-in-12-month-old-infants-as-probabilistic-inference">Pure Reasoning in 12-Month-Old Infants as Probabilistic Inference</h3>

<p>This paper showed infants movies in which four objects of two types bounce
inside a container, then cover it from view, then reveal the final
outcome. Measuring infant looking time assessed how surprising the outcome was
to the infant.</p>

<p>Researchers compared this to an ideal Bayesian observer and found such a model
explained 88% of the variance in infants&rsquo; mean looking times.</p>

<blockquote>
<p>Infants’ reasoning abilities are typically studied by measuring their looking
times to visually presented events as an index of surprise: Longer looking
indicates greater violation of infants’ expectations relative to their prior
knowledge or greater novelty relative to their interpretation of habituation
stimuli. Lookingtime studies suggest that preverbal infants can reason about
novel events depending on certain physical outcomes (11, 12); object
numerosities (13); other agents’ beliefs, goals and behaviors (14–16); and the
likely outcomes of simple random processes (17, 18).</p>
</blockquote>

<h3 id="perceptions-as-hypotheses-saccades-as-experiments">Perceptions as hypotheses: saccades as experiments</h3>

<p>Theory paper about the weird free energy model.</p>

<blockquote>
<p>We will see that prior beliefs about the active
sampling of salient features are exactly consistent with the maximization of Bayesian surprise (Itti and Baldi, 2009), optimizing
signal detection (Morgan, 2011),the principle of minimum redundancy (Barlow, 1961), and the principle of maximum information
transfer (Linsker, 1990; Bialek et al., 2001).</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>Bayesian surprise is a measure of salience based on the Kullback–
Leibler divergence between the conditional density (which encodes
posterior beliefs) and the prior density (Itti and Baldi, 2009).
It measures the information in the data that can be recognized.
Empirically, humans direct their gaze toward visual features with
high Bayesian surprise: “subjects are strongly attracted toward
surprising locations, with 72% of all human gaze shifts directed
toward locations more surprising than the average, a figure which
rises to 84% when considering only gaze targets simultaneously
selected by all subjects” (Itti and Baldi, 2009).</p>
</blockquote>

<h3 id="information-seeking-curiosity-and-attention-computation-and-neural-mechanisms">Information seeking, curiosity and attention: computation and neural mechanisms</h3>

<p>Readable overview of different approaches to human information seeking.</p>

<blockquote>
<p>information seeking in its
many manifestations is related to the ability of an observer to estimate his or
her uncertainty and to find strategies that reduce that uncertainty.</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>Many computational approaches can model this type of information seeking in a sound way,
and a commonly used one relies on partially-observable Markov decision processes
(POMDPs)(Kaelbling, Littman et al. 1998; Dayan and Daw 2008) (see (Bialek, Nemenman
et al. 2001; Singh, James et al. 2004) for alternative representations). A POMDP is a
mathematical formalism that describes a task as a series of states, each with its set of
possible actions and immediate or future outcomes (rewards or punishments). The states are
“partially observable”, in the sense that their identities are not deterministic but described by
probability distributions, making POMDPs useful tools for measuring uncertainty and the
value of new information.</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>It is clear from this POMDP-based analysis that, as an intermediate step in a sequence, an
observing action is only valuable if it increases the likelihood of reward of subsequent
actions. In the short term, the observing action delivers no reward but has a cost in terms of
the time and effort needed to discriminate the information (indicated by ro &lt; 0 in Fig. 1A).</p>
</blockquote>

<ul>
<li>What is a POMDP?</li>
</ul>

<blockquote>
<p>A second factor that determines information value is the observer’s momentary uncertainty.</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>Converging evidence suggests that, when deployed in the service of a task, eye movements
may be explained by the simple imperative to sample information in order to reduce
uncertainty regarding future states (Tatler, Hayhoe et al. 2011; Friston and Ao 2012). In
well-practiced tasks that involve visuo-manual coordination (such as moving an object to a
target point) the eyes move ahead of the hand to critical locations such as potential collision
or target points, and wait there until the hand has cleared those locations (Johansson,
Westling et al. 2001) (Fig. 1B). Notably, the eyes never track the hand, which relies on
motor and proprioceptive guidance and, for short periods of time, follows a predictable path;
instead, they are strategically deployed to acquire new information. Additional evidence that
gaze is proactively guided by estimates of uncertainty comes from a virtual reality study
where groups of observers walked along a track (Jovancevic-Misic and Hayhoe 2009).
Subjects preferentially deployed gaze to oncoming pedestrians whose trajectory was
expected to be uncertain (i.e., who had a history of veering onto a collision course) relative
to those who had never shown such deviations. This suggests that the observers monitor the
uncertainty or predictability of external items and use these quantities proactively to deploy
gaze (i.e., before and regardless of an actual collision). Finally, the eye movements patterns
made while acquiring a task differ greatly from those made after learning (Sailer, Flanagan
et al. 2005; Land 2006), suggesting that eye movements are also coupled with
exploring for a task strategy.</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>To explain such behaviors and the high degree of motivation
associated with them, it seems necessary to assume that the brain generates intrinsic rewards
related to learning or acquiring information (Berlyne 1960). Some support for this idea
comes from the observation that the dopaminergic system, the brain’s chief reward system,
is sensitive to intrinsic rewards (Redgrave, Gurney et al. 2008), responds to anticipated
information about rewards in monkeys (Bromberg-Martin and Hikosaka 2009) and is
activated by paradigms that induce curiosity in humans (Kang, Hsu et al. 2009; Jepma,
Verdonschot et al. 2012).</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>A second salient fact regarding this question is that, while sampling this very large space,
the child must avoid becoming trapped in unlearnable situations, i.e. where it cannot detect
regularities or improve. In stark distinction with controlled laboratory conditions where
subjects are given solvable tasks, in real world environments many of the activities that an
agent can choose are inherently unlearnable either because of the learner’s own limitations
or because of irreducible uncertainty in the problem itself. For instance, a child is bound to
fail if she tries to learn to run before learning to stand, and she is bound to fail if she tries to
predict the details of white noise pattern on a television screen. Thus, the challenge of an
information seeking mechanism is to learn efficiently a large repertoire of diverse skills
given its limited resources, and avoid being trapped in unlearnable situations.</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>Sensory novelty, defined as a small number of stimulus exposures, is known to enhance
neural responses throughout visual, frontal and temporal areas (Ranganath and Rainer 2003)
and activate reward responsive dopamine-recipient areas. This is consistent with the
theoretical notion that novelty acts as an intrinsic reward for actions and states that had not
been recently explored or that produce high empirical prediction errors (Duzel, Bunzeck et
al. 2010). A more complex form of “contextual novelty” (also called surprise) has been
suggested to account for attentional attraction toward salient events (Boehnke,
Berg et al. 2011) and may be quantified using Bayesian inference as a difference between a prior and
posterior world model (Itti and Baldi 2009) or as a high prediction error for high-confidence
states (Oudeyer and Kaplan 2007).</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>The mere fact that
an event is novel or surprising does not guarantee that it contains regularities that are
detectable, generalizable or useful. Therefore, heuristics based on novelty can guide efficient
learning in small and closed spaces, where the number of tasks is small (Thrun 1995) but are
very inefficient in large open ended spaces, where they only allow the agent to collect very
sparse data and risk trapping him in unlearnable tasks (Oudeyer, Kaplan et al. 2007;
Oudeyer, Baranes et al. 2013; Schmidhuber 2013). This motivates the search for additional
solutions that use more targeted mechanisms designed to maximize learning per se.</p>
</blockquote>

<h4 id="learning-progress-models--aka-schmidhuber">Learning progress models (aka Schmidhuber)</h4>

<blockquote>
<p>A system that has been particularly successful in this regard
explicitly measures the agent’s learning progress in an activity (defined as an improvement
in its predictions of the consequences of its actions (Oudeyer, Kaplan et al. 2007) or in its
ability to solve self-generated problems over time (Baranes and Oudeyer 2013; Srivastava,
Steunebrink et al. 2013)), and rewards activities in proportion to their ability to produce
learning progress (see legend to Fig. 2).</p>
</blockquote>

<ul>
<li>What is the Infomax principle?</li>
</ul>

<h3 id="bayesian-surprise-attracts-human-attention">Bayesian Surprise Attracts Human Attention</h3>

<blockquote>
<p>We find that subjects are strongly attracted towards surprising locations, with
72% of all human gaze shifts directed towards locations more surprising than the
average, a figure which rises to 84% when considering only gaze targets
simultaneously selected by all subjects.</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>In sensory neuroscience, it has been suggested that only the unexpected at one
stage is transmitted to the next stage [2]. Hence, sensory cortex may have
evolved to adapt to, to predict, and to quiet down the expected statistical
regularities of the world [3, 4, 5, 6], focusing instead on events that are
unpredictable or surprising.  Electrophysiological evidence for this early
sensory emphasis onto surprising stimuli exists from studies of adaptation in
visual [7, 8, 4, 9], olfactory [10, 11], and auditory cortices [12], subcortical
structures like the LGN [13], and even retinal ganglion cells [14, 15] and
cochlear hair cells [16]: neural response greatly attenuates with repeated or
prolonged exposure to an initially novel stimulus.</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>Surprise and novelty are
also central to learning and memory formation [1], to the point that surprise is
believed to be a necessary trigger for associative learning [17, 18], as
supported by mounting evidence for a role of the hippocampus as a novelty
detector [19, 20, 21].</p>
</blockquote>

<h3 id="planning-to-be-surprised-optimal-bayesian-exploration-in-dynamic-environments">Planning to Be Surprised: Optimal Bayesian Exploration in Dynamic Environments</h3>

<p>Math is too hard. Maximizes Shannon information gain.</p>

<h3 id="of-bits-and-wows-a-bayesian-theory-of-surprise-with-applications-to-attention">Of Bits and Wows: A Bayesian Theory of Surprise with Applications to Attention</h3>

<ul>
<li>Amount of information in a piece of data can be measured by the effect this
data has on its observer.</li>
<li>During sequential Bayesian learning, surprise decreases like the inverse of
the number of training examples.</li>
</ul>

<blockquote>
<p>Hypothesizing that surprising data ought to attract natural or artificial
attention systems, the output of this architecture is used in a psychophysical experiment to analyze
human eye movements in the presence of natural video stimuli. Surprise is found to yield robust
performance at predicting human gaze (ROC-like ordinal dominance score ∼ 0.7 compared to ∼
0.8 for human inter-observer repeatability, ∼ 0.6 for simpler intensity contrast-based predictor, and
0.5 for chance).</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>As a system learns from examples with a static distribution,
new data points ought to become less and less surprising. Thus in this case we can expect on
average surprise to decrease after each iteration.</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>Highly surprising data could signal that learning is required and
highly unsurprising data could signal that learning is completed, or adaptation no longer
necessary</p>

<p>A surprising training set is a prerequisite for learning. The amount of surprise in training
data, however, should not be so excessive as to overwhelm the learning system. Thus
information surprise in the training set ought to be calibrated to the capacity of the learning
system. Furthermore, when the degree of surprise of the data with respect to the model class
becomes low, the data is no longer informative for the given model class.</p>
</blockquote>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
