<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Unreasonable Doubt: Legal Certainty is Impossible &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/unreasonable-doubt/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Unreasonable Doubt: Legal Certainty is Impossible</h1>
  <time datetime=2013-11-25T04:21:37Z class="post-date">Mon, Nov 25, 2013</time>
  <blockquote>
<p>The line about &#8220;what if he&#8217;s guilty?&#8221; made me almost throw my laptop across the room. Who the fuck cares? It&#8217;s better to ensure 0 innocent men face punishment than to ensure all those guilty go to prison.</p>

<p><span id="quote-attribute">—<a href="http://www.reddit.com/r/news/comments/1qjtxw/over_3000_us_prisoners_serving_life_without/cddw8m6">User RPIAero on Reddit, 172 upvotes</a></span></p>
</blockquote>

<p>You&#8217;ve been called for jury duty and you&#8217;re sitting in on a murder trial. The evidence is strong and you feel that, even after correcting for overconfidence and coming at the issue from every possible point of view you can think of, there&#8217;s a 99 percent chance that &#8220;he done it.&#8221;</p>

<p>Is 99 percent confidence enough to send a man to prison for the rest of his life? What if it&#8217;s a death penalty case? Then how much evidence do you need? I suspect, for most, 99 percent sounds pretty good. It sounds like enough to put a man in prison or even sentence a man to death. 99 percent is beyond a reasonable doubt.</p>

<p>But, of course, it&#8217;s never that simple and, like the quote above, there will be intelligent-but-confused people who will claim that one needs absolute certainty in order to sentence a man to death. You need to be 100 percent certain, or else you must vote not-guilty.</p>

<blockquote>
<p>When a man tells you that he knows the exact truth about anything, you are safe in inferring that he is an inexact man. <span id="quote-attribute">—Bertrand Russel</span></p>
</blockquote>

<p>They have a point. After all, on the scale of bad-things, sending an innocent man to his death is up there: worse than cheating on your husband, but not &#8220;literally worse than Hitler.&#8221; It&#8217;s easy to imagine standing before Saint Peter at the pearly gates, and Saint Peter going through the list of your sins and saying, &#8220;Oh, yeah, <a href="http://www.deathpenaltyinfo.org/executed-possibly-innocent">Troy Davis was innocent</a>, and section 3.a.III.j of the Heavenly code says that sentencing an innocent man to death is unforgivable, unless you&#8217;re a 7th Day Adventist. Tell Judas I said hey,&#8221; because, you know, heaven is full of bureaucrats and what-do-you-know, now you&#8217;re spending eternity in hell.</p>

<p>But these people are confused. There is no absolute certainty. There&#8217;s always some absurd, highly improbable way in which you might be wrong about everything. When people say that absolute certainty is necessary for sentencing a man to death, they really mean that you need to be closer to 99.999% certain than 99% certain of guilt in a death penalty case. If someone insists on absolute certainty of the 100% variety, no one can be convicted of anything. We&#8217;ll have to let all prisoners go. There&#8217;s that one in a trillion chance that everything you think you know is the product of a vast conspiracy, like in the movie <em>The Truman Show</em>.</p>

<p>All is not lost, though. Presumably, people don&#8217;t care so much about absolute certainty, but rather about not convicting people of crimes they did not commit. You don&#8217;t have to be absolutely certain, just certain enough that only criminals go to jail.</p>

<p>How certain do you need to be to prevent an innocent man from being imprisoned? What about 99 percent? Well, that doesn&#8217;t work because, on average, one out of a hundred prisoners is going to be innocent and, remember, our goal is no innocent people in prison whatsoever.</p>

<p>We want a level of certainty such that, given all of the people in the prison system, we can be confident that none of them are innocent. As of 2011, there are 2,266,800 adults incarcerated in the United States. With a bit of math, we find that even if, on every single trial, the jury was 99.999956% (1 in 2,266,800) certain of the defendant&#8217;s guilt, there&#8217;s a 37% chance that at least one innocent man will be sent to prison.</p>

<p>Now, I don&#8217;t know if you&#8217;ve ever met a human before, but none of them are 99.999956% right about anything. There is no way for someone to reach that level of certainty in every single trial. It&#8217;s an unpleasant truth that it&#8217;s more-or-less impossible to prevent innocent people from being convicted.</p>

<p>Instead, it&#8217;s a tradeoff. If we only require 85% certainty before convicting someone, more innocent people go to prison, but we also catch more guilty people. Or we can push the necessary evidence in the other direction: if we want 99% certainty, fewer innocents will go to prison, but more criminals will walk. The only possible system where no innocent men go to prison is one where no one at all goes to prison.</p>

<blockquote>
<p>Well, we have to end apartheid for one. And slow down the nuclear arms race, stop  terrorism and world hunger. We have to provide food and shelter for the homeless, and oppose racial discrimination and promote civil rights, while also promoting equal rights for women. We have to encourage a return to traditional moral values. Most importantly, we have to promote general social concern and less materialism in young people.</p>

<p><span id="quote-attribute">—Patrick Bateman, <a href="https://www.amazon.com/gp/product/B008Y5Q7SW/ref=as_li_ss_tl?ie=UTF8/likes/american-psycholinkCode=ll1/likes/american-psychotag=rsio0c-20/likes/american-psycholinkId=f9cde15fe023aa70ed382d8cc756bdfa"><em>American Psycho</em></a></span></p>
</blockquote>

<p>But despair not, gentle reader! There is hope yet on the horizon. Why is it wrong to send innocent people to prison? Because it leads to suffering. The wrongness of something is decided by the amount of harm that it does to the world. While you can&#8217;t prevent every innocent person from going to jail, it&#8217;s within your power to <a href="http://www.givewell.org/international/top-charities/AMF">prevent someone from dying of malaria</a>. Hell, a kind word is enough to reduce suffering. The possibilities for doing good and improving the world are endless, and no doubt there are easier ways to go about it than fixing the justice system. Go find them.</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
