<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Science of Habit &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/the-science-of-habit/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/the-science-of-habit/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>The Science of Habit</h1>
  <time datetime=2014-02-08T22:21:54Z class="post-date">Sat, Feb 8, 2014</time>
  

<blockquote>
<p>The truth is that everyone is bored, and devotes himself to cultivating habits.</p>

<p><span id="quote-attribute">—Albert Camus, <em>The Plague</em></span></p>
</blockquote>

<p>To my perpetual dismay, I&#8217;m not a rational agent with limitless willpower. I&#8217;m not every moment brimming with novel insight and original computation. No. I&#8217;m a habit machine, a behavior-executor, on autopilot &#8212; a creature of habit. (Or &#8220;habbit,&#8221; for illiterate googlers.) I do the things that I do because that&#8217;s how I&#8217;ve done them in the past.</p>

<p>How horrible &#8212; but no, habits are adaptive. They are a <em>good thing</em>. Don&#8217;t believe the popular wisdom. We&#8217;re habit machines. Embrace it. Without habit, you would have to think through all the small things &#8212; will I have coffee with breakfast? Should I brush my teeth before or after showering? How do I tie my shoes? <em>Ad infinitum</em>.</p>

<p>Something like this does happen with Parkinson&#8217;s patients. The disease damages regions key to habit formation &#8212; the basal ganglia and company. This interference results in sufferers performing poorly on a number of laboratory tasks. Less habity-ness than a healthy brain: not positive, not a good thing, not beneficial.</p>

<p>Too much habity-ness is a problem, too. The drugs used to treat Parkinson&#8217;s can lead sufferers to develop gambling or sex addictions. Some of the symptoms of OCD look an awful lot like problems with habit &#8212; repetitive thoughts, urges to engage in certain rituals, grooming behaviors (hand washing), and more. (Wikipedia lists hair-pulling as a symptom of OCD. I dated a chick with OCD once and she would pull out her hair, so I can very scientifically confirm the truth of this.) The compulsions of OCD are the result of taking the &#8220;force&#8221; in &#8220;force of habit&#8221; and amplifying it.</p>

<p>There is a habit spectrum with those who have trouble establishing habits &#8212; Parkinson&#8217;s disease patients &#8212; on one end and those who form habits too easily &#8212; OCD &#8212; on the other end. In fact, <a href="http://onlinelibrary.wiley.com/doi/10.1002/ejsp.674/abstract;jsessionid=AFD6656FE993FF468FB63450874B9883.f02t01?deniedAccessCustomisedMessage=&amp;userIsAuthenticated=false">Lally et al.</a> found that there is significant individual variation in habity-ness. For a habit to reach its peak, it took subjects anywhere from 18 to 254 days, with a median of 66 days.</p>

<p>We can visualize this as a probability distribution, in which it takes most people around 66 days to establish a new habit, but with significant variation. The tails of the distribution are characterized by pathology, e.g. OCD and Parkinson&#8217;s.</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/habit-curve.png"><img class="aligncenter size-full wp-image-263" src="https://rs.io/wp-content/uploads/2014/08/habit-curve.png" alt="habit-curve" width="797" height="316" srcset="https://rs.io/wp-content/uploads/2014/08/habit-curve.png 797w, https://rs.io/wp-content/uploads/2014/08/habit-curve-300x118.png 300w" sizes="(max-width: 797px) 100vw, 797px" /></a></p>

<h2 id="why-should-i-care">Why Should I Care?</h2>

<p>Human behavior is like a natural disaster, an avalanche or a forest fire. You can nudge the Titanic, schedule a <a href="http://en.wikipedia.org/wiki/Controlled_burn">controlled burn</a>, and build <a href="http://en.wikipedia.org/wiki/Avalanche_control#Active_interventions">avalanche barriers</a>, but that&#8217;s about the extent of it. These are the equivalent of establishing the right habits during periods of high motivation and control. With consistent nudging, you can set yourself onto a new path.</p>

<p>Consider the man gracing the one-hundred dollar bill, Benjamin Franklin. He was interested in cultivating virtue &#8212; contrast with our modern obsession with personality &#8212; and developed a system for doing so, writing in his autobiography, &#8220;the contrary habits must be broken, and good ones acquired and established.&#8221;</p>

<p>He created a weekly chart, marking it &#8220;by a little black spot&#8221; whenever he failed to live up to one of his 13 virtues. On any given week, he would focus on just one of the virtues. Of his system, he writes, <a href="http://books.google.com/books?id=qmMFAAAAQAAJ&amp;pg=PA112&amp;dq=I+was+surprised+to+find+myself+so+much+fuller+of+faults+than+I+had+imagined;+but+I+had+the+satisfaction+of+seeing+them+diminish.+benjamin+franklin&amp;hl=en&amp;sa=X&amp;ei=AKjyUt3LJenYyQH_0IHADA&amp;ved=0CCkQ6AEwAA#v=onepage&amp;q=I%20was%20surprised%20to%20find%20myself%20so%20much%20fuller%20of%20faults%20than%20I%20had%20imagined%3B%20but%20I%20had%20the%20satisfaction%20of%20seeing%20them%20diminish.%20benjamin%20franklin&amp;f=false">&#8220;I was surprised to find myself so much fuller of faults than I had imagined; but I had the satisfaction of seeing them diminish.&#8221;</a></p>

<p>This is all to say that the essence of a man is, in some sense, what he does out of habit. A mathematician is defined by his habit of doing math, a programmer by his habit of programming, and a writer of his habit for writing. To be a kind person, be kind out of habit. To the extent that enduring personality can be shaped and modified, habit is the way.</p>

<p>Consider competence. Excellence in anything is <a href="https://rs.io/expert-memory/">the result of practice</a>. How does one chew through a mountain of practice? Out of habit. If you develop a habit of setting aside a few hours each day to push through your boundaries, this habit will propel you to excellence. This is what the development of expertise looks like. It looks like a habit of waking up at 5 in the morning to do laps in the pool.</p>

<h2 id="what-is-a-habit">What is a Habit?</h2>

<blockquote>
<p>My friends were wise men of the first rank, and we found the problem soon enough: coffee wanted its victim.</p>

<p><span id="quote-attribute">—Honore de Balzac, <em><a href="http://blissbat.net/balzac.html">The Pleasures and Pains of Coffee</a></em></span></p>
</blockquote>

<p>A habit is an automatic behavior, repeated often. There is often a cue that prompts it. I have a coffee habit, triggered by sleepiness, waiters asking if I would like coffee, the smell of coffee, reading about coffee and, as I&#8217;m just now discovering, also writing about coffee. The caffeine barricades my adenosine receptors and releases a flood of dopamine, reinforcing the behavior. A habit is born.</p>

<p>We can take nervous habits as an example as well, such as stroking the neck. These sort of self-soothing gestures are cued by internal feelings of distress, which launches the behavior (neck rubbing). The reinforcement here is the resulting decrease in distress.</p>

<p>Cigarette smoking works in much the same way. Many people smoke when they wish to relax, so it can be cued by internal feelings of tension. This triggers getting out the cigarette and smoking it, which provides a hit of nicotine. The nicotine acts on the brains reward system, which reinforces the behavior. (Nicotine&#8217;s role in encouraging habit formation is why it can be so difficult to quit.)</p>

<p>However, this process is not carved in stone. There are some habits which don&#8217;t have clear cues or rewards. As part of writing this, I set my phone to buzz at random intervals during the day, at which point I&#8217;ve been reciting the poem <a href="http://en.wikipedia.org/wiki/Invictus">&#8220;Invictus.&#8221;</a> There&#8217;s no clear reward, but habit formation has been chugging along nonetheless.</p>

<p>As my Invictus example implies, there are mental habits, too, and they function in the same way. When you mention Illinois State University, my mother &#8212; without fail &#8212; will say, &#8220;Go salukis!&#8221; (Her alma mater&#8217;s mascot.) When I hear someone say &#8220;Turn it up&#8221;, a Filip Nikolic remix of &#8220;Bring the Noise&#8221; hijacks the helm of my consciousness and steers it to the melody of that beat.</p>

<p>Somewhat troubling is the realization that most of our thought is not internally generated, but scripts that run as a result of external cues. Patients presenting with transient global amnesia are a dramatic example of this. Unable to commit anything to long term memory, they continue to execute the same loop of behavior, repeating the same conversations over and over. Radiolab has <a href="http://www.radiolab.org/story/161754-repeat/">great coverage of one case</a> in their &#8220;Loops&#8221; episode.</p>

<h2 id="habit-formation">Habit Formation</h2>

<p>When a habit is first being formed, it consists of deliberate, effortful, goal-based activity. This is supported by brain scans, which show activity in the prefrontal cortex &#8212; the front brain, sometimes called the seat of reason. For those familiar with <a href="http://en.wikipedia.org/wiki/Dual_process_theory">dual process theory</a>, this is system 2 behavior.</p>

<p>In the beginning stages, behavior is flexible. Each act of the behavior in question can be thought of as an original (and thus effortful) computation.</p>

<p>As the behavior is repeated, it becomes less effortful, and brain activity begins to shift. Activity in the prefrontal cortex dies down and activity moves into lower, more central brain regions &#8212; mainly the basal ganglia. The behavior itself becomes less flexible. The process is much like the life-cycle of a clay bowl: first, wet clay is malleable, but &#8212; once fired in a kiln &#8212; it hardens and is ready for use.</p>

<div id="attachment_262" style="width: 910px" class="wp-caption aligncenter">
  <a href="https://rs.io/wp-content/uploads/2014/08/habit-search-graph.png"><img class="size-full wp-image-262" src="https://rs.io/wp-content/uploads/2014/08/habit-search-graph.png" alt="Habit formation as a progression from effortful search to retrieving one path." width="900" height="375" srcset="https://rs.io/wp-content/uploads/2014/08/habit-search-graph.png 900w, https://rs.io/wp-content/uploads/2014/08/habit-search-graph-300x125.png 300w" sizes="(max-width: 900px) 100vw, 900px" /></a>
  
  <p class="wp-caption-text">
    Habit formation as a progression from effortful search to retrieving one path.
  </p>
</div>

<p>For those comfortable with computational metaphors, we can imagine habit formation first as a sort of graph search &#8212; trying to find the right sequence of actions that lead to some reward, like alpha-beta search in a chess engine. With time, the brain learns when one path is often retrieved. It &#8220;saves&#8221; that path and executes that in the future, avoiding a whole lot of computation, but at the cost of flexibility. The graph search corresponds to activity in the prefrontal cortex, while the saved path is executed by the basal ganglia.</p>

<h3 id="the-progress-of-habit">The Progress of Habit</h3>

<div id="attachment_261" style="width: 910px" class="wp-caption aligncenter">
  <a href="https://rs.io/wp-content/uploads/2014/08/habit-over-time.png"><img class="size-full wp-image-261" src="https://rs.io/wp-content/uploads/2014/08/habit-over-time.png" alt="The interplay between automaticity and repeated behavior gives us a visual of habit formation over time." width="900" height="375" srcset="https://rs.io/wp-content/uploads/2014/08/habit-over-time.png 900w, https://rs.io/wp-content/uploads/2014/08/habit-over-time-300x125.png 300w" sizes="(max-width: 900px) 100vw, 900px" /></a>
  
  <p class="wp-caption-text">
    The interplay between automaticity and repeated behavior gives us a visual of habit formation over time.
  </p>
</div>

<p>The picture above is what an activity looks like over time as it solidifies into a habit. It starts hard and effortful. With each execution of the behavior, it becomes more automatic and natural, until it reaches an asymptote. At this point, it levels off and has become a bona fide habit.</p>

<h2 id="cultivating-good-habits">Cultivating Good Habits</h2>

<p>Thus far, the discussion has been theoretical. We are interested in habits, though, in what they can do for us. We would like to cultivate the right sort of habits in order to become the person that we would like to be.</p>

<p>The science suggests a few guidelines.</p>

<ul>
<li>First, everything becomes easier with practice. This alone is motivating.</li>
<li>To cultivate a habit, do that thing as often as possible. The time to enact new habits is in when a high motivation state.</li>
<li>Create some cue to prompt the habit. A cell phone alarm is good for this. You can use the <a href="https://play.google.com/store/apps/details?id=bsoule.tagtime&amp;hl=en">TagTime Android application</a> to set up random pinging throughout the day.</li>
<li>After the good habit has been executed, reward it in some way. M&amp;M&#8217;s are a popular reinforcer, but even positive self-talk can be effective. Some people <a href="http://www.gwern.net/Nicotine#habit-formation">even use nicotine</a>.</li>
<li>There are a number of productivity tools that make habit formation easier, like <a href="https://habitrpg.com/#/tasks">HabitRPG</a>, <a href="https://chains.cc/">chains.cc</a>, <a href="http://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro timers</a>, and <a href="https://www.beeminder.com/">BeeMinder</a>.</li>
</ul>

<h2 id="breaking-a-bad-habit">Breaking a Bad Habit</h2>

<p>The way that people often go about stopping a bad habit is by attempting to just &#8220;use their free will&#8221; to quit doing it. This does not often work, as evidenced by all of the people who have such difficulty with their fitness goals or quitting smoking.</p>

<p>If you have a specific habit you would like to stop, I would first suggest looking for resources specific to those habits. There are already good resources for those trying to <a href="http://smokefree.gov/steps-on-quit-day">quit smoking</a>, but I&#8217;ll admit that I looked around and most guides were not that compelling.</p>

<p>There are a few ways to tame a bad habit. The first is to understand the context of the habit. What&#8217;s the cue? What&#8217;s the reward? Once you&#8217;re able to notice this, it becomes possible to gain some measure of control over it. You can try to figure out a path to removing the cue or the reward, or even replacing it with a disincentive, like when nail-biters coat their nails in something bitter.</p>

<p>Alternatively, and I think this is the best option, is to establish a new habit in place of another, to fight fire with fire. Eating junk food is a habit that many would like to stop, but this is the wrong way of looking at things. One ought to try to eat more healthy food. The junk food will fall by the wayside. For <a href="https://rs.io/vegan-women/">those who wish to stop eating meat</a>, frame it not as &#8220;stop eating meat&#8221; but instead as eating more plant-based meals.</p>

<p>This is the difference between approach and avoidance goals. Approach goals are framed as something you want to do, while avoidance goals are framed as something you want to avoid. Approach goals (such as eat more vegetables) are more energized over time and more likely to be achieved. Reason #45820 the human brain is hack: just reframing your goals as approach instead of avoidance can improve your odds of completing those goals.</p>

<h2 id="putting-it-all-together">Putting it All Together</h2>

<p>To recap:</p>

<ul>
<li>A habit is a behavior that becomes automatic and effortless with repetition.</li>
<li>Habits are important because so much of our behavior happens outside of conscious control. Developing the right habits allows us to modify who we are.</li>
<li>A habit consists of a cue which triggers a behavior which is then reinforced.</li>
<li>Habits start effortful and goal-directed, but become effortless and automatic with repetition.</li>
<li>Habitual behavior becomes less flexible over time and can be conceptualized as the migration from graph search to a fixed sequence of behavior. This is computationally cheaper.</li>
<li>There are several technologies available that can aid in habit formation.</li>
<li>To conquer a bad habit, notice what cues the habit and then try replacing it with a new, better habit or by removing those cues.</li>
</ul>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>I have written a similar post <a href="https://rs.io/expert-memory/">on human expertise</a>.</li>
<li>For information on different brain structures involved in habit formation, see the paper <a href="http://www.researchgate.net/publication/5297571_Habits_rituals_and_the_evaluative_brain/file/d912f51238f46eae3d.pdf">&#8220;Habits, Rituals, and the Evaluative Brain.&#8221;</a></li>
<li>For a more in-depth overview of the computational model of habit creation presented here, see the paper <a href="https://www.princeton.edu/~yael/Publications/DawEtAl2005.pdf">&#8220;Uncertainty-based competition between prefrontal and dorsolateral striatal systems for behavioral control.&#8221;</a></li>
<li>There is a book called <a href="http://amzn.to/2hL4054"><em>The Power of Habit</em></a> which you <em>could</em> check out, or you could read <a href="http://lesswrong.com/lw/ita/how_habits_work_and_how_you_may_control_them/">this summary</a> and get most of the value in a fraction of the time.</li>
<li>The book <a href="http://amzn.to/2huySL4"><em>Don&#8217;t Shoot the Dog</em></a> has lots of good information on reinforcement strategies and behavior change. There is a summary <a href="http://fiddlemath.net/?p=41">here</a>.</li>
<li>For techniques on overcoming procrastination (that black dog!), there is valuable information <a href="http://lesswrong.com/lw/3w3/how_to_beat_procrastination/">here</a> and I also recommend Piers Steel&#8217;s book <a href="http://amzn.to/2iB4rTK"><em>The Procrastination Equation.</em></a></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
