<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>What Is Wisdom? &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/what-is-wisdom/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>What Is Wisdom?</h1>
  <time datetime=2013-12-24T04:30:18Z class="post-date">Tue, Dec 24, 2013</time>
  <blockquote>
<p>There&#8217;s an art to knowing when;<br />
Never try to guess.<br />
Toast until it smokes &amp; then<br />
20 seconds less.<br />
<span id="quote-attribute">—Piet Hein, &#8220;Timing Toast&#8221;</span></p>
</blockquote>

<p>When one first learns a theory, one tends to take it a bit too seriously. I&#8217;ve heard that people who later convert to Christianity tend to be much more fervent believers than those who are raised with it, for example, or note the brain damage that first exposure to libertarianism and Ayn Rand seems to do to young people, the same with economics, or the phenomenon where people who have just taken a psychology course tend to see disorder everywhere.</p>

<p>These are each characterized by a lack of sophistication. It&#8217;s taking a theory, like the efficient markets hypothesis or utilitarianism, and attempting to interpret everything through that lens until you realize that something has gone very wrong, and then modifying your understanding so that it becomes more nuanced. One might abandon utilitarianism for preference utilitarianism, or realize that no, markets are not magic.</p>

<p>This is characteristic of what it means to be wise: not only to understand a theory, but also to understand its limitations and when it ought be applied. A psychology student who has just learned that happier people tend to engage in positive reframing will have a bad time if they try to point out the bright side at a funeral. One who has meditated on, lived with, and been burned by a theory will not make such mistakes.</p>

<p>But it&#8217;s not right to say that more sophistication is better, as it can be a symptom of salvage, of belief-bandaging. Take Christian apologetics, for example, the act of trying to reconcile Christianity with all of the evidence, scientific and otherwise. This field piles excuse upon excuse, explanation upon explanation, each less believable than the last. It&#8217;s a constant stream of apologies and rationalizations for all the mistakes in the Bible.</p>

<p>This isn&#8217;t wisdom. This isn&#8217;t a case of a useful theory being saved by an understanding of its limits, but one where a dying belief is kept alive by scheduled transfusions of excuses. Or we can trot out the proverbial dragon-in-the-garage. Let&#8217;s say someone claims that there is a dragon in their garage but, when you ask to see it, they say that it&#8217;s invisible, and then you propose throwing flour on it to reveal the shape of the dragon, but then they say that the dragon just happens to be permeable to flour. This person is not becoming more wise thanks to the increased sophistication, but rather propping up a falsehood.</p>

<p>I haven&#8217;t any real solution, though, other than to warn you to watch out for excess sophistication and to quote Feynman:</p>

<blockquote>
<p>The first principle is that you must not fool yourself and you are the easiest person to fool.</p>
</blockquote>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
