<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Reading Math: Tips and Heuristics &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/reading-math/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/reading-math/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Reading Math: Tips and Heuristics</h1>
  <time datetime=2013-10-08T04:26:47Z class="post-date">Tue, Oct 8, 2013</time>
  <p><strong>Reading math</strong> is tough. So tough that even Fields Medal winner Bill Thurston wrote about his near-constant confusion. To make it a bit easier, try out these heuristics.</p>

<blockquote>
<p>The difference between the poet and the mathematician is that the poet tries to get his head into the heavens while the mathematician tries to get the heavens into his head.</p>

<p><span id="quote-attribute">—G.K. Chesterton</span></p>
</blockquote>

<p><strong>Visualize it</strong>: Build a mental image. Lines, triangles, donuts. Add one thing at a time. A significant amount of your brain mass is devoted to imagery. Repurpose it for mathematics. Don&#8217;t understand what a function does? It takes an input and produces an output, but that&#8217;s too vague. It makes mathematical sausage.</p>

<blockquote>
<p>Do I contradict myself? Very well, then I contradict myself, I am large, I contain multitudes.</p>

<p><span id="quote-attribute">—Walt Whitman</span></p>
</blockquote>

<p><strong>Metaphorize it</strong>: Walt Whitman contains multitudes. So does the number line. Walt Whitman is the number line. The number line is made of numbers. Walt Whitman is made of molecules. Numbers are molecules. Every number can be uniquely factored into a set of primes. Each of Walt Whitman&#8217;s molecules can be constructed out of atoms. Prime numbers are atoms.</p>

<blockquote>
<p>What did your face look like before your parents were born?</p>

<p><span id="quote-attribute">—Zen koan</span></p>
</blockquote>

<p><strong>Kinethesticize it</strong>: Grab it, stretch it, tear it, move it, bend it. Zoom in on it. Stack one number line on top of another line. Shift the bottom number line. Compress the line on top of itself. Motion. Feel the equation. What does a summation feel like? What is its original face?</p>

<p><strong>Debug it</strong>: Debug yourself. What step does not make sense? What can you not follow? Make it concrete. What&#8217;s the simplest case? Plug in numbers. Write it down.</p>

<blockquote>
<p>Don&#8217;t just read it; fight it!</p>

<p><span id="quote-attribute">—Paul Halmos</span></p>
</blockquote>

<p><strong>Fight it!</strong>: Unwieldy definitions, holds for all numbers <em>but zero</em>, bah! Why does the author show me something so grotesque? Why can&#8217;t I divide by zero? Find out.</p>

<p><strong>What do you know?</strong>: You know something like this! What is it?</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
