<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Web Roundup: More Links for June &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/web-roundup-links-june-2/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Web Roundup: More Links for June</h1>
  <time datetime=2014-06-15T02:44:20Z class="post-date">Sun, Jun 15, 2014</time>
  <blockquote>
<p>Let others praise ancient times; I am glad I was born in these.</p>

<p><span id="quote-attribute">—Ovid</span></p>
</blockquote>

<ul>
<li><p>From 1995 to 1998, during the daytime on rural roads, Montana had no numeric speed limit. The policy was that one should drive as fast as is &#8220;reasonable and proper.&#8221; In 1999, they threw this out, implemented proper speed limits, and&#8230; <a href="http://www.motorists.org/press/montana-no-speed-limit-safety-paradox">accidents <em>increased</em></a>.</p></li>

<li><p>Markets are great at aggregating information, which is then reflected in the price. (This is part of <a href="http://www.gwern.net/Prediction%20markets">why prediction markets are so exciting</a>). So I&#8217;ve wondered: How can I, as an individual, get that information back out of the price? If I look at, say, the price of Tesla, and it goes up, what does that tell me about the world? Here&#8217;s one interesting application: using market mood to predict if the president will be reelected. And, indeed, <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1987160">positive stock market gains predict an incumbent re-election.</a></p></li>

<li><p>But that was just the setup. In 1954, the United States detonated the &#8220;Castle Bravo&#8221; nuclear device, the largest in US history, on Bikini Atoll. (This is the origin of Bikini Bottom in Spongebob &#8212; the characters can speak because of the radioactivity.) At the time, the bomb&#8217;s construction was a closely guarded state secret (and much of the assembly of hydrogen bombs still is a state secret), but there were a few likely contenders for materials: thorium, beryllium, thallium, and so on. So how can we figure out what went into the bomb? Well, Armen A. Alchian thinks something like, &#8220;I&#8217;ll just look at stock prices of the guys making this stuff.&#8221; He <a href="http://www.terry.uga.edu/media/events/documents/Newhard_paper-9-6-13.pdf">writes</a>, &#8220;One firm’s stock price rose, as best I can recall, from about $2 or $3 per share in August to about $13 per share in December. It was the Lithium Corp. of America. In January, I wrote and circulated within RAND a memorandum titled &#8216;The Stock Market Speaks.&rsquo;&#8221; Two days later, government officials forced him to withdraw the paper because of, you know, national security and stuff.</p></li>

<li><p>In World Cup news: Apparently the iconic soccer ball (you know, the one you&#8217;re imagining right now) has only been the iconic soccer ball since 1970. Before then, <a href="http://www.isegoria.net/2014/06/the-iconic-soccer-ball/">it was orange.</a></p></li>

<li><p><a href="http://phenomena.nationalgeographic.com/2014/06/02/why-have-female-hurricanes-killed-more-people-than-male-ones/">&#8220;historically, hurricanes with female names have, on average, killed more people than those with male ones.&#8221;</a></p></li>

<li><p>Downvotes make online communities worse. <a href="http://arxiv.org/abs/1405.1429">&#8220;Not only do authors of negatively-evaluated content contribute more, but also their future posts are of lower quality, and are perceived by the community as such. Moreover, these authors are more likely to subsequently evaluate their fellow users negatively, percolating these effects through the community.&#8221;</a></p></li>

<li><p>Okay, so a male water strider, in order to mate, climbs on the back of a female, but the female controls the whole process via a sort of &#8220;hatch&#8221; &#8212; if she doesn&#8217;t want to mate, it&#8217;s not going to happen. Except now, male water striders <a href="http://blogs.discovermagazine.com/notrocketscience/2010/08/10/male-water-striders-summon-predators-to-blackmail-females-into-having-sex/#.U44JHC-DHUB">have evolved to produce vibrations</a> (which attract predators) until the female consents to mating, a sort of animal kingdom blackmail.</p></li>

<li><p>As far as I can tell, <a href="http://www.isegoria.net/2014/06/one-bullet-can-kill-but-sometimes-20-dont/comment-page-1/#comment-1293831">Howard Morgan holds the record for &#8220;most times shot and still survived,&#8221; at 28</a>. In fact, a single gunshot wound is &#8220;only&#8221; fatal in about 20% of cases. (via <a href="http://www.isegoria.net/">Isegoria</a>)</p></li>

<li><p>Credentialism is the new taxation: <a href="http://www.aei-ideas.org/2014/05/almost-13-of-us-workers-now-need-a-permission-slip-from-the-government-to-work-it-raises-prices-slows-job-growth/">almost 30% of the work force need a government license</a>. Mark Perry calls them &#8220;permission slips.&#8221;</p></li>

<li><p><a href="https://math.stackexchange.com/questions/820686/obvious-theorems-that-are-actually-false">&#8216;Obvious&#8217; theorems that are actually false.</a></p></li>

<li><p><a href="http://marginalrevolution.com/marginalrevolution/2014/06/chimps-rock-at-game-theory.html">Chimps are pretty good game theorists.</a></p></li>

<li><p><a href="http://www.scientificamerican.com/article/why-walking-through-doorway-makes-you-forget/">Why walking through doorways makes you forget.</a></p></li>

<li><p><a href="http://srconstantin.wordpress.com/2014/06/09/do-rationalists-exist/">&#8220;Is there a sub-population of individuals who consistently exhibit less cognitive bias and better judgment under uncertainty than average people?&#8221;</a> (Answer: for some certain biases, yes.)</p></li>

<li><p><a href="http://marginalrevolution.com/marginalrevolution/2014/06/women-wealth-and-mobility.html">&#8220;the share of women among the very wealthy in the United States peaked in the late 1960s at nearly one-half and then declined to one-third.&#8221;</a></p></li>

<li><p><a href="https://en.wikipedia.org/w/index.php?title=Oath_of_office_of_the_President_of_the_United_States#Use_of_Bibles">John Quincy Adams chose to be sworn in as President of the United States on a book of law instead of the Bible. He wanted to swear upon the Constitution.</a></p></li>

<li><p>Civil wars are almost always hijacked and funded by foreign governments, suggesting that they should <a href="http://dartthrowingchimp.wordpress.com/2014/06/13/there-is-no-such-thing-as-civil-war/">be thought of as just an extension of international politics</a>.</p></li>

<li><p><a href="http://www.futilitycloset.com/2014/06/13/bard-to-worse/">“Shakespeare never had six lines together without a fault. Perhaps you may find seven, but this does not refute my general assertion.&#8221;</a></p></li>

<li><p><a href="http://insightsblog.oecdcode.org/?p=6762">&#8220;people in the United States now make more &#91;phone&#93; calls to India than to Western Europe&#8221;</a> (via <a href="http://marginalrevolution.com/marginalrevolution/2014/06/america-fact-of-the-day-2.html">Tyler Cowen</a>)</p></li>

<li><p>What will the US have first: a gay president, a female president, or an atheist president? Well, probably not an atheist, says a new paper from <em>The Journal of Applied Psychology</em>: <a href="http://onlinelibrary.wiley.com/doi/10.1111/jasp.12259/abstract">&#8220;the affective content of anti-atheist prejudice is both broader and more extreme than prejudice against other historically disadvantaged groups.&#8221;</a></p></li>

<li><p><a href="http://en.wikipedia.org/w/index.php?title=Gigantopithecus">Gigantopithecus</a> is the largest ape known to have ever lived (now unfortunately extinct). It towered some 9.8 feet and weighed up to 1,190 pounds (540 kg).</p></li>

<li><p>Do you like your name? Yeah, that <a href="http://www.sciencedirect.com/science/article/pii/S0191886914003092">might be genetic.</a></p></li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
