<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Why Do We Think The Way We Do? &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/why-do-we-think-the-way-we-do/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/why-do-we-think-the-way-we-do/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Why Do We Think The Way We Do?</h1>
  <time datetime=2014-03-06T20:22:58Z class="post-date">Thu, Mar 6, 2014</time>
  

<p>I sometimes experience a sort of mental disconnect &#8212; a sense of knowing what I&#8217;m going to think before I bother to think it. Sort of like an experience of &#8220;pure thought&#8221; that is followed by a mental translation into words. It happens maybe a couple times a day and I wonder, &#8220;Why do I bother thinking at all? At least in words. Why not stick to the stuff of pure thought?&#8221;</p>

<p>After realizing this sort of thing, I started to pay more attention to the specifics of my thought processes. Just what, I wondered, is going on in my head? And I realized: Much of my thought is not in words, but images and motion. I&#8217;m no longer even certain that most of my thought happens in English &#8212; maybe it&#8217;s all meaningness that is converted into words when I throw a mental spotlight onto it.</p>

<p>Indeed, <a href="http://en.wikipedia.org/wiki/Visual_thinking">research by Linda Silverman</a> reports that some portion of the population thinks exclusively in words (estimated at 25%), another portion strongly prefers imagery (30%) and, like me, most prefer a mix of the two (45%). There may even be sex differences. In <a href="http://psycnet.apa.org/psycinfo/1994-12324-001">one study</a>, female participants reported more vivid mental imagery than their male counterparts.</p>

<h2 id="why-do-we-bother">Why do we bother?</h2>

<p>What&#8217;s the point of thought? What&#8217;s my mind doing all day long?</p>

<p>There are (at least) two levels we can pursue this on. We can consider the differences between humans and, say, chimpanzees, and speculate as to the general nature of intelligence. Why do some of us have more of it than others and what is it good for? Why did intellect evolve?</p>

<p>The other tact we might pursue, the <em>other</em> set of questions, is: Why is there consciousness? Why do we have a &#8220;mental space&#8221; and self-awareness? Why couldn&#8217;t it all happen, you know, elsewhere &#8212; like a reflex? What&#8217;s the point of these words and images in my head?</p>

<h3 id="the-evolution-of-intelligence">The Evolution of Intelligence</h3>

<p>There is no clear scientific consensus on why intelligence evolved. Wikipedia is <a href="http://en.wikipedia.org/wiki/Evolution_of_human_intelligence#Models">maybe the most useful resource</a> &#8212; better than the review article in <em>The Cambridge Handbook of Intelligence</em> &#8212; but it only goes so far as to list the different theories, not evaluate the plausibility of each.</p>

<p>However, I am a man on a blog, which means I have free rein to speculate. I&#8217;m partial to the notion that intelligence evolved, fundamentally, to be weaponized in disputes against other humans.</p>

<p>Consider the social structure of the violent, yet much beloved, chimpanzee. He lives in a group of some 15 to 125 individuals. He has a definite place in the community&#8217;s pecking order &#8212; submitting to those more powerful and dominating those less.</p>

<p>Bizarrely, the &#8220;top dog&#8221; chimpanzee, the leader of the group, is not always the strongest male. Rather, he&#8217;s the one who is the most politically suave &#8212; forming alliances in a crude chimp analog to <em>House of Cards</em>. Alliances which allow two lesser chimps to dominate a greater chimp.</p>

<p>Given that the most powerful chimpanzee has, more or less, free access to the females of community, he will pass his genes down to more children than other, less dominant males. This means that political savvy and the chimp equivalent of social skills are of no small reproductive benefit. If we assume that there is a significant correlation between intelligence and the sort of strategic thinking required to become and stay top chimp, then we can begin to see a path through which intelligence might have been selected for.</p>

<p>In such a scenario, then, intelligence starts to look like a sort of arms race. If I can outsmart my fellow chimps, I&#8217;m more likely to reproduce and, thus, my genes survive another generation. This would mean that intelligence&#8217;s purpose, at least in the sense of <em>what it evolved for</em>, is the manipulation of social hierarchies.</p>

<p>However, if this is the case, it doesn&#8217;t seem to align all that well with what we see in modern society. President Obama, the top of our monkey social pyramid, is not the most intelligent man I can name &#8212; <a href="http://terrytao.wordpress.com/">Terry Tao</a>, <a href="http://www.scottaaronson.com/blog/">Scott Aaronson</a>, <a href="http://johncarlosbaez.wordpress.com/">John Baez</a>, and <em>those</em> are just people in my RSS feed.</p>

<p>But maybe that&#8217;s too harsh a demand on the theory. I&#8217;m not proposing that intelligence perfectly correlates with reproductive success, just that the more intelligent were more likely to reproduce than those of average intelligence, thanks to their throne at the top of monkey pile.</p>

<p>In that case, presidents fare better. George Bush, who everyone likes to hate on as <em>so dumb</em>, still scored <a href="http://www.straightdope.com/columns/read/2310/who-was-the-stupidest-u-s-president">above the 85th percentile on both the math and verbal portions of the SAT</a>, putting him more than a standard deviation above the mean. If we&#8217;re willing to concede that most presidents are at least as intelligent as my boy George, this means that the average leader of the free world has at least a standard deviation on average folk.</p>

<p>A separate trouble with the theory is that, currently, intelligence and reproductive success are <a href="http://en.wikipedia.org/wiki/Fertility_and_intelligence">negatively correlated</a> &#8212; the smarter you are, the fewer children you&#8217;re likely to have. But this is almost certainly a symptom of modernity &#8212; after all, if it held <em>throughout the ages</em>, how could intelligence possibly have evolved in the first place? We exist, so this seems more like a glimpse of the face of that Cthulhu which is modernity.</p>

<h3 id="the-utility-of-intelligence">The utility of intelligence</h3>

<p>Here is a famous thought experiment that comes to me by way of Roger Crisp:</p>

<blockquote>
<p>You are a soul in heaven waiting to be allocated a life on Earth. It is late Friday afternoon, and you watch anxiously as the supply of available lives dwindles. When your turn comes, the angel in charge offers you a choice between two lives, that of the composer Joseph Haydn and that of an oyster. Besides composing some wonderful music and influencing the evolution of the symphony, Haydn will meet with success and honour in his own lifetime, be cheerful and popular, travel and gain much enjoyment from field sports. The oyster&#8217;s life is far less exciting. Though this is rather a sophisticated oyster, its life will consist only of mild sensual pleasure, rather like that experienced by humans when floating very drunk in a warm bath. When you request the life of Haydn, the angel sighs, ‘I&#8217;ll never get rid of this oyster life. It&#8217;s been hanging around for ages. Look, I&#8217;ll offer you a special deal. Haydn will die at the age of seventy-seven. But I&#8217;ll make the oyster life as long as you like&#8230;</p>
</blockquote>

<p>Presumably, you would rather be Haydn than the oyster (and, if not, you&#8217;re probably a hedonist and I&#8217;d like to party with you.) It&#8217;s better to be smart than to be dumb. If Pfizer tomorrow comes up with +50 IQ pills, I&#8217;ll be first in line.</p>

<p>But why? What&#8217;s good about intelligence?</p>

<p>It helps us achieve our goals, whatever those goals may be. Well, except <a href="http://psycnet.apa.org/journals/bul/67/4/294/">happiness</a> and <a href="http://www.gnxp.com/blog/2007/04/intercourse-and-intelligence.php">maybe sex</a>, but I think the sex result is <a href="https://rs.io/testosterone-and-math/">probably a hormone thing</a>. I expect a genius would have little trouble learning pick-up. Case in point: the weird section in <em>Surely You&#8217;re Joking, Mr. Feynman</em> where Feynman talks about negging women in bars so that they&#8217;ll sleep with him.</p>

<p>Other goals are amenable to the application of intelligence &#8212; finding food, housing, becoming president, that sort of thing. Smarter people have an easier time finding information &#8212; what to eat, how to lose weight, and so on, and they use this to shape their plans. Smarter people are even <a href="http://jech.bmj.com/content/57/6/464.full">more likely to successfully quit smoking.</a></p>

<p>Yay, intelligence.</p>

<h2 id="but-why-thoughts">But Why Thoughts?</h2>

<p>What&#8217;s the point of conscious reasoning? The sort of thought that is available to introspection &#8212; that which I&#8217;m aware of taking place, at least sometimes. Why?</p>

<p>Last night, I was working on one of the puzzles in <em>To Mock a Mockingbird</em> and paying attention to what was going on in my head. A possible solution would spring from the unconscious or as a result of the reasoning process. Then, I would work through the implications of the idea &#8212; does it solve the puzzle? What happens in this case? What about if I try this?</p>

<p>Thought seems to be related to this sort of mental simulation, this <strong>considering of consequences and verification of intuition</strong>. Indeed, we might think of intuitive, unconscious thought as a sort of tennis partner with slower, conscious reasoning &#8212; a back and forth. The intuition provides material to the conscious mind and the conscious mind processes that information, which <a href="http://terrytao.wordpress.com/career-advice/there%E2%80%99s-more-to-mathematics-than-rigour-and-proofs/">sculpts and corrects the intuition</a>.</p>

<p>Try sitting for a moment and thinking about nothing at all. It&#8217;s impossible to maintain for long &#8212; you&#8217;ll find thoughts popping unbidden into your mind. The control that the self, the &#8220;I&#8221;, has seems to be related to working with what pops into mental space. I can let go of a thought and wait for something else to occur to me, or I can grab onto that thought and work through the implications of it &#8212; sorta leaping from one thought to the next, each a related procession of mental experience, a bit like jumping from one train car to the next in an action film.</p>

<p>That, I think, is the point of human thought, of reason. If I do this, what will happen? If this is true, what are the implications?</p>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>I&#8217;ve written a bit before about conscious processes and their role in <a href="https://rs.io/developing-good-research-skills-compressing-knowledge/">compressing knowledge</a>.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
