<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Criticism of Economics &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/criticism-of-economics/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Criticism of Economics</h1>
  <time datetime=2013-11-29T04:16:06Z class="post-date">Fri, Nov 29, 2013</time>
  <p>I don&#8217;t have the requisite expertise to lay out compelling <strong>criticism of economics</strong> as a whole, and I suspect such an endeavor would be profitless (heh). The thrust of such an argument, though &#8212; its quintessence &#8212; is captured in this quote by Richard Feynman:</p>

<blockquote>
<p>See, I have the advantage of having found out how hard it is to get to really know something, how careful you have to be about checking the experiments, how easy it is to make mistakes and fool yourself. I know what it means to know something and therefore, I see how they get their information and I can&#8217;t believe that they know it.</p>
</blockquote>

<p>A useful heuristic I employ (<a href="https://rs.io/reading-math/">among others</a>) when evaluating the trustworthiness of knowledge is to ask myself the question, &#8220;How confident am I that this will still be true in fifteen years?&#8221; Note the progress and effectiveness of the natural sciences, e.g. physics, when compared with the softer sciences, e.g. psychology. The results of physics are solid. You can build on the knowledge. Building on psychology, on the other hand, is building on top of a swamp; constructing a home on quicksand.</p>

<p>Now, economics is more like quicksand than concrete, and most economic reasoning is vulnerable to dismissals based on this. You might say something like: well, such and such assumption is untenable. The world is too complex to be boiled down and understood via simple economic models.</p>

<p>The problem with such arguments, with the skeptic dismissal, is that they&#8217;re a means of filtering out just the things that you don&#8217;t like. If you read an economic argument that you don&#8217;t like, you say, &#8220;Boo! Economics!&#8221; and dismiss it outright, instead of engaging with it.</p>

<p>Further, even though <a href="http://en.wikipedia.org/wiki/Economics">economics</a> doesn&#8217;t work all that well, there are no good alternatives. You can have either not terribly effective models or no models at all, and you&#8217;re going to be much better off trying to reason with some model than no model.</p>

<p>Right, so what I&#8217;m getting at: it&#8217;s a failure mode to take economics too seriously, but it&#8217;s another failure mode to dismiss it entirely. There is a middle way; one must reach a certain Zen understanding of the limits of knowledge.</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
