<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Spinach, unhealthy? Reflections on one month vegan &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/spinach-unhealthy-reflections-one-month-vegan/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/spinach-unhealthy-reflections-one-month-vegan/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Spinach, unhealthy? Reflections on one month vegan</h1>
  <time datetime=2014-07-21T03:47:24Z class="post-date">Mon, Jul 21, 2014</time>
  

<p><a href="https://rs.io/wp-content/uploads/2014/07/green-eggs-and-scram.jpg"><img src="https://rs.io/wp-content/uploads/2014/07/green-eggs-and-scram.jpg" alt="green-eggs-and-scram" width="500" height="426" class="aligncenter size-full wp-image-565" srcset="https://rs.io/wp-content/uploads/2014/07/green-eggs-and-scram.jpg 500w, https://rs.io/wp-content/uploads/2014/07/green-eggs-and-scram-300x255.jpg 300w" sizes="(max-width: 500px) 100vw, 500px" /></a></p>

<p>Rewind. It&#8217;s August of last year. I&#8217;ve just published a post on <a href="https://rs.io/weird-beliefs/">the reasoning behind certain &#8220;strange&#8221; beliefs</a>. It covers <a href="https://rs.io/weird-beliefs/">veganism, cryonics, existential risk, simulationism, polyamory, and singularitarianism</a>.</p>

<p>Then, in September, I write about the curious gender imbalance among vegans &#8212; that <a href="https://rs.io/vegan-women/">there are 3 woman-vegans for every man-vegan</a>.</p>

<p>If we take those as indicative of the feelings of past-me, I&#8217;ve been open to the idea of veganism for about 10 months now. Sort of admiring vegans from afar, while the ideas have percolated somewhere in the recesses of my mind, far from the light of day.</p>

<p>It wasn&#8217;t until exactly a month ago, though, that I received the push necessary for dietary change.</p>

<p>My mother and sister are, like all women, perpetually dieting. And my sister has recently been on a Netflix documentary spree, with a teen-girl-level-emphasis on those about mistreated marine creatures. Dolphins in <a href="http://www.amazon.com/gp/product/B002YEWLUM/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B002YEWLUM&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=DBZHGXO3FNDGZKE4"><em>The Cove</em></a> and killer whales in <a href="http://www.amazon.com/gp/product/B00G4I1CLS/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00G4I1CLS&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=TGQNQ6BM2Z66RMTO"><em>Blackfish</em></a>, (both of which I recommend, if you&#8217;re into that sorta thing.)</p>

<p>So, right, my sister decides, well, she&#8217;s going to watch <a href="http://www.amazon.com/gp/product/B006LZSF8M/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B006LZSF8M&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=K54PW3ND5RURSUS5"><em>Vegucated</em></a> next. I told her that, after watching it, if she wanted, I&#8217;d go vegan with her.</p>

<p>Not going to happen, she said.</p>

<p>And then I left to do something &#8212; <a href="https://rs.io/born-to-run-book-review-summary/">maybe run</a>. And she watched it. And then she was like, &#8220;Okay. Let&#8217;s be vegan now.&#8221; And my mom thought, hey, yeah, I&#8217;ll do this, too. And my father was like, wow-you&#8217;re-so-weird-how-could-I-ever-give-up-meat, playing into the whole <a href="https://rs.io/vegan-women/">women are vegans and men aren&#8217;t</a> cliche &#8212; which I have a new theory about, but I&#8217;ll get into that later.</p>

<h2 id="groundwork">Groundwork</h2>

<p>You know those ridiculous trigger warnings that everyone tangentially associated with Tumblr has been prefacing their writing with?</p>

<p>Maybe this post could use one, because there are a few topics that turn people into lunatics. Like politics, and religion, and racism, and gender, and <a href="https://rs.io/what-affects-your-personal-identity/">anything that people absorb into their identity</a>.</p>

<p>Like meat eating.</p>

<p>There is a <em>significant</em> subset of the male population who are really attached to eating meat. Or think that talking about eating right is low-status.</p>

<p>Maybe it is.</p>

<p>But I have a stronger preference for preventing heart disease than for not-talking-about-healthy-eating.</p>

<p>These people should maybe not read this post.</p>

<h2 id="definitions-and-whatever">Definitions and whatever</h2>

<p>A vegan is someone who refrains from consuming animal products. Here&#8217;s what vegetus.org says about veganism:</p>

<blockquote>
<p>Unlike the word vegetarian, the word vegan specifically implies moral concern for animals, and this concern extends to all areas of life, not just diet. If you do not believe in animal equality, please consider referring to yourself as someone who doesn&#8217;t eat animal products, as one who follows a plant-based diet, or as one who follows a vegan diet. Or, continue to educate yourself about veganism, and perhaps you will choose to practice veganism.</p>
</blockquote>

<p>Yeah-h-h, this chick can 100% go fuck herself.</p>

<p>Unless you&#8217;re Humpty Dumpty,<a href="#citation-1"><sup>1</sup></a> you don&#8217;t get to put up a web page and decides what a word means. This would be as stupid as someone deciding that atheism doesn&#8217;t just mean disbelief in a God, and it instead requires dedication to &#8220;social justice, feminism, anti-racism, and combating homophobia and transphobia.&#8221;</p>

<p>Oh, wait, <a href="http://rationalwiki.org/wiki/Atheism_Plus">that already happened.</a></p>

<p>There are some connotations of veganism that I&#8217;d like to throw out, too: the woo around GMOs, sympathy for hippy-cluster stuff in belief space (crystal healing, homeopathy, etc.), tattoos. Too much reverence for animals. (Humans have greater moral weight than non-humans, speciesism be damned.)</p>

<p>Maybe I&#8217;ll start my own brand of veganism. Punk rock veganism. Where we eat vegetables because we&#8217;re mad as fuck at evolution for programming us to love fatty, sugary, animal protein-y foods and to also then die of heart disease.</p>

<p>Or self-interested veganism, for people who eat vegan only because of the health benefits. Ayn Rand veganism. I like the sound of that.</p>

<p>Stuff like that.</p>

<h2 id="but-8230-why">But&#8230; why?</h2>

<blockquote>
<p>Diogenes was knee deep in a stream washing vegetables. Coming up to him, Plato said, &#8220;My good Diogenes, if you knew how to pay court to kings, you wouldn&#8217;t have to wash vegetables.&#8221;</p>

<p>&#8220;And,&#8221; replied Diogenes, &#8220;If you knew how to wash vegetables, you wouldn&#8217;t have to pay court to kings.&#8221;</p>

<p><span id="quote-attribute">—<a href="http://members.optushome.com.au/davidquinn000/Diogenes%20Folder/Diogenes.html">Teachings of Diogenes</a></span></p>
</blockquote>

<p>I&#8217;m not going to delve too deep into the different benefits of veganism, because I promised that I wouldn&#8217;t try to convert readers. But there seem to be three sort of pillars of veganism &#8212; the major justifications for avoiding animal products:</p>

<ul>
<li>Creating a sustainable planet. Meat is a very inefficient source of calories &#8212; only about a quarter of the nutritional value of the grain fed to a cow is captured as meat. There&#8217;s also a new paper out in <em>Climatic Change</em>, which found that <a href="http://link.springer.com/article/10.1007%2Fs10584-014-1169-1/fulltext.html">the dietary carbon footprint of vegans is about half that of meat eaters</a>.</li>
<li>Reducing animal suffering. This one is pretty straightforward. I know there are a lot of non-vegans out there (men, generally) who claim that they don&#8217;t care about what happens to, say, a cow. I suspect these individuals are just confused about their own values, and actually would prefer a world without animal suffering to one with it.</li>
<li>Health. <a href="http://www.amazon.com/gp/product/1932100385/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1932100385&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=WXX6XEYIYZFK5RUS"><em>The China Study</em></a> is probably the strongest evidence that we have for the efficacy of a plant-based diet on preventing heart disease and all the other problems that come with affluence. There are a lot of people who argue against this by setting up some straw argument, that veganism is not a perfect diet &#8212; I think this is asinine in the extreme. Not perfect? Okay: I still bet it&#8217;s better than yours.</li>
</ul>

<p>Anyways, my general feeling is that if you took two diets, veganism and whatever your preferred diet is, and wrote down a list of pros and cons of each, veganism would be a no-brainer.</p>

<h2 id="restrictive">Restrictive?</h2>

<blockquote>
<p>I have never been able to deny myself anything, not even a cup of coffee if I wanted it.</p>

<p><span id="quote-attribute">—Wittgenstein</span></p>
</blockquote>

<p>So, right, one of the, uh, concerns I hear echoed most about veganism from people is that it&#8217;s a very restrictive diet. No animal products! How can someone live like that?</p>

<p>I&#8217;ve not found that to be the case. There was a period of about two days where I had to get used to the fact that yes, now I&#8217;m not going to eat certain things anymore. There was a sort of profound, alienness to it at first.</p>

<p>I began to think about food in a different manner, too. I mean, before, I just had one real category for food: stuff that&#8217;s edible. When I was going through the transition, though, I had to start paying more attention to what foods aren&#8217;t animal products.</p>

<p>Which seems pretty basic, but it&#8217;s just not something that you pay attention to during your day-to-day life, so, yeah. It felt sorta strange at first.</p>

<p>But after a few days, that all went away, and eating is back to feeling normal.</p>

<p>As far as restrictiveness, it&#8217;s really only a problem if you want to eat out, or go to eat at someone&#8217;s place where they&#8217;re non-vegan. (I&#8217;m looking at you, <a href="http://austingwalters.com/">Austin Walters</a>.) Like, if want to eat not-animal products at McDonald&#8217;s, you&#8217;re limited to like apple wedges and coffee.</p>

<p>Really, this seems sorta messed up. Do we really need meat in every <em>salad</em>? I don&#8217;t think so.</p>

<p>So, eating out has been the only real difficulty in sticking with veganism. I&#8217;ve &#8220;solved&#8221; this problem by basically just eating whatever I want when I&#8217;m out, veganism be damned.</p>

<p>I figure I don&#8217;t want to get too radical about the whole thing and, hey, what&#8217;s one marginal burger?</p>

<h2 id="recreating-meat-with-vegetables">Recreating meat with vegetables</h2>

<p>Oh, and here&#8217;s one weird side effect of this diet: recreating meat with vegetables seems vaguely immoral &#8212; like it&#8217;s cheating or something.</p>

<p>I mean, a veggie burger can never be better than a normal burger, so long as it&#8217;s classed as an imitation. It will always be comparing to a normal burger &#8212; but if you create something on its own terms, then it&#8217;s not limited like that.</p>

<p>Or think of it this way: it&#8217;s sort of like, after being a painter your entire life, you discover the power of clay. And instead of sculpting, you recreate all your old paintings, but instead of your old paint, you use clay on the canvas.</p>

<p>Plus, faux meat just does not taste that great.</p>

<h2 id="a-world-of-questions">A world of questions</h2>

<p>I have been tossed, with no small amount of violence, into a pit of questions that I never thought I&#8217;d have to answer.</p>

<p>&#8230;like, did you know that <a href="http://www.peta.org/about-peta/faq/are-animal-ingredients-included-in-white-sugar/">animal bones are sometimes used to refine sugar</a>? So, sugar doesn&#8217;t technically contain animal products, but some of it is the product of animal suffering, and I&#8217;ve already professed a preference for non-animal suffering, so doesn&#8217;t that mean I ought to avoid sugar?</p>

<p>Or what about fair trade coffee: I have a preference for humans not to suffer &#8212; hence caring about the environment &#8212; so doesn&#8217;t this imply I should stop consuming products that are built on too-cheap labor?</p>

<p>On the other hand, if I can&#8217;t eat anything that causes some social harm, I&#8217;ll starve.</p>

<p>How about health? Many simple carbs (white bread, white rice, etc) are technically vegan, and delicious, but I also would like to not have diabetes, so I shouldn&#8217;t eat those either.</p>

<p>And if I&#8217;m avoiding carbs, where am I going to get my calories? Protein is out &#8212; it&#8217;d be difficult to live off vegetable protein. I could stick to fat, but isn&#8217;t that bad? At least the saturated sort.</p>

<p>Which brings me to my broader point about healthy eating, which is that <em>there are no universally agreed upon healthy foods.</em> Like bread? Well, that has gluten. Eating animal products? Yeah, they have been linked to all sorts of cancers. What about spinach? Google it &#8212; there are people claiming that spinach is unhealthy. Soy? Yeah, that&#8217;s bad for you. And so on, ad infinitum.</p>

<h2 id="why-are-women-vegans-the-helpless-man-model">Why are women vegans? The helpless man model</h2>

<p>Now, I&#8217;d like to update my old post on <a href="https://rs.io/vegan-women/">why women are more likely than men to be vegans</a> with a new theory: the average man, when it comes to changing his diet, is helpless.</p>

<p>The idea is simple: to successfully transition to a vegan diet, you need above-average cooking skills &#8212; and most men don&#8217;t pass this test. I mean, you can cry and gnash your teeth all you want about stereotyping, but the median woman is still a more skilled cook than the median man.</p>

<p>It all fits together: why aren&#8217;t men vegans? They lack the prerequisite skills. If you can&#8217;t cook a variety of different vegetables, etc., you&#8217;re going to have a bad time. And it&#8217;s not like you can go out to McDonald&#8217;s and order off their vegan menu.</p>

<p>That&#8217;s my thinking right now: women are vegans not because of different values than men, but because they have lower barriers to veganism. They can already cook.</p>

<p>Not that the median woman is much of a cook &#8212; my sister watched <em>Vegucated</em>. Now I cook all the food.</p>

<p><a name="citation-1"></a></p>

<ol>
<li>&#8220;&#8216;When I use a word,&#8217; Humpty Dumpty said in rather a scornful tone, &#8216;it means just what I choose it to mean — neither more nor less.&rsquo;&#8221;</li>
</ol>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
