<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Stable Marriage Problem Explained &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/stable-marriage-problem-explained/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>The Stable Marriage Problem Explained</h1>
  <time datetime=2014-03-15T03:16:04Z class="post-date">Sat, Mar 15, 2014</time>
  

<p>You are out in a thunderstorm. You look up, at the rolling thunderheads painting the sky, and wonder, &#8220;Why am I here? What&#8217;s the point of all of <em>this</em>? What difference can I make in a world of 7 billion?&#8221;</p>

<p>Your weekly scheduled existential angst is interrupted by a flash. It&#8217;s lightning, six-ish bolts. The yellow branches cross and, for a moment, spell out your name. &#8220;What are the odds?&#8221; you wonder.</p>

<p>It&#8217;s not a sign, though. You&#8217;re not falling for that one. Your worn copy of Dawkins has earned you that much. The mind, you know, has a tendency of seeing patterns where there are none.</p>

<p>You soon tire of the diversion and go back to fretting about existence. At least until a boom interrupts your reverie. You look up again. The clouds are parting.</p>

<p>You wonder if this is some sort of freak weather system and why, exactly, you thought it would be a good idea to be out in a thunderstorm.</p>

<p>Light filters through as the clouds continue to part. A shy blue sky reveals herself. Trumpets sound. There are winged creatures in the sky. A man in white floats down from the heavens.</p>

<p>You figure it&#8217;s a brain tumor &#8212; hopefully benign.</p>

<p>The man approaches you and says, &#8220;There&#8217;s been an administrative mix up.&#8221;</p>

<p>Fast forward an hour. It&#8217;s explained to you that Nietzsche was almost right. God isn&#8217;t dead, not <em>exactly</em>. He&#8217;s disappeared. Maybe on vacation or maybe this is part of one of his weird plans. (&#8220;Oh, <em>God</em>. I know the one. Luminous fellow. Always coming up with those crazy schemes.&#8221;) The angels, in their wisdom, figure that the best way to choose a new God to serve while the real one is out is via a lottery. They assign a number to every living soul and then choose one at random.</p>

<p>The angels, you see, are nihilists &#8212; and you are the chosen one.</p>

<h2 id="first-act-as-god">First act as God</h2>

<p>Now you&#8217;re God and, boy, if you thought you had responsibilities before, you&#8217;ve <em>really</em> got &#8217;em now, and all the angels are waiting. Or, at least, you feel like they <em>ought</em> to be waiting. That&#8217;s how people on Earth behave after electing a new president &#8212; waiting for him to do something, anything.</p>

<p>But the angels aren&#8217;t really like that. They speak in Zen koans. Stuff like, &#8220;Do something. Do nothing. Be one hand clapping,&#8221; and &#8220;A cow is hanging from a tree by its teeth. A river rushes below. Does the cow <em>mu</em>?&#8221;</p>

<p>Mostly they just sit around, shrugging at each other. You figure they are sort of like what cats would be like if they were human-shaped and had wings.</p>

<p>Still, you suppose you ought to make some huge gesture to, you know, your people. Maybe not let them outright know that God is back &#8212; save a little mystery for further on in the relationship &#8212; but <em>something</em>.</p>

<p>So you ponder for a while and think, &#8220;Hey, what about that whole divorce epidemic going on? As God, I ought to be able to do something about that. Solve that <em>romance thing</em>.&#8221;</p>

<p>Your first act of God, you announce to the angels, will be to solve the Stable Marriage Problem.</p>

<h2 id="the-stable-marriage-problem">The Stable Marriage Problem</h2>

<p>Mathematics is a game of the imagination. There is but one rule: you may not contradict yourself &#8212; and I&#8217;m not even sure about that rule. Maybe there&#8217;s a neat looking branch of math waiting to be discovered where sometimes contradictions are allowed.</p>

<p>For every 100 human girls born, <a href="http://en.wikipedia.org/wiki/Human_sex_ratio">106 boys are born</a>, but the sex ratio for the global population is 101 males for every female &#8212; which means that, even if &#8220;true love&#8221; were a real thing, fated by God, some people would end up alone.</p>

<p>But with mathematics, I get to be the God, and I decide that I&#8217;m doing mathematics in a platonic reality where there is a man for every woman and a woman for every man.</p>

<p>Now consider these men and women living in this platonic mathematical universe. The women have some men they would prefer to be with &#8212; the Johnny Depps and George Clooneys &#8212; and the men have their own preferences &#8212; the Scarlett Johanssons and, well, more Scarlett Johanssons.</p>

<p>However, if God matches me with Scarlett Johansson, there is a problem. It&#8217;ll end in divorce. A smarter, better looking, more successful, all-around-wonderful guy will come along and, well, I&#8217;m out. And our twelve children will be devastated.</p>

<p>No, this will not do at all.</p>

<p>What I&#8217;m after is an equilibrium where no individual has a better option, a stable pairing. Like let&#8217;s say I&#8217;m with Casey Anthony &#8212; who is pretty cute but also maybe a murderess &#8212; and some other non-possible-murderess comes along who prefers me over her husband. If I prefer this new woman over the constant threat of death-by-angry-wife, then a <em>better option</em> exists.</p>

<p>An ideal couple is one with no options &#8212; people who cannot do any better than each other. If you marry someone, you both probably prefer someone else (at least when not blinded by infatuation), like Brad Pitt or Angelina Jolie. But none of those people want you more than their spouse, so you&#8217;re stuck together. And that&#8217;s true love.</p>

<h3 id="is-there-a-stable-pairing">Is there a stable pairing?</h3>

<p>But it&#8217;s not obvious that there is always a stable pairing. Maybe there is some way to set things up so that there&#8217;s an infinite cycle &#8212; one where people keep getting divorced and then remarried and then divorced again. I can sort of imagine such a scenario. Look at all the people getting divorced and then remarried <em>today</em>.</p>

<p>Every introduction to this problem that I&#8217;ve read papers over this concern. It says, &#8220;Well, there <em>is</em> a stable pairing for every set of preferences. Just analyze this algorithm I&#8217;m about to give.&#8221; This is totally unsatisfying &#8212; I don&#8217;t want to just know something. I want to know how I could reinvent it.</p>

<p>But alas. I&#8217;m not that clever, so you will have to put up with the traditional style of presentation.</p>

<h2 id="a-first-algorithm">A first algorithm</h2>

<p>Since you&#8217;re God, you can just use the nicest algorithm that you can invent, which would go like this:</p>

<ol>
<li>Given all men and women, generate all possible matches.</li>
<li>Filter out all the non-stable matches.</li>
<li>Pick your favorite one.</li>
</ol>

<p>So let&#8217;s say you whip this up and you recognize that it has some seriously nasty algorithmic complexity. It grows exponentially and, on a conventional computer will take longer than the age of the universe for inputs larger than ~50.</p>

<p>But that&#8217;s fine, right? Now that you&#8217;re omnipotent, you&#8217;d think that you wouldn&#8217;t need to deal with any of this computational complexity nonsense. Except one of those damned angels chimes in and lets you know that even God isn&#8217;t allowed to use exponential algorithms for large inputs.</p>

<p>So, if we want to have stable marriages <em>and</em> more than 50 happy souls in our platonic mathematical reality, we&#8217;re going to have to come up with something better.</p>

<h2 id="gale-shapely-algorithm">Gale-Shapely algorithm</h2>

<p>For inspiration, consider how dating actually works. Bob approaches Alice and says something like, &#8220;Let&#8217;s hang out sometime.&#8221; or &#8220;Want to get dinner sometime?&#8221; or, for college students, the always popular, &#8220;We should watch Netflix together.&#8221;</p>

<p>Alice says &#8220;yes&#8221; if she finds Bob acceptable and &#8220;no&#8221; otherwise. Then they date until someone better comes along, at which point one of them &#8220;falls of out love,&#8221; which is <a href="https://rs.io/love-is-not-a-choice/">really evolution nudging them to go pursue someone else</a>. And the relationship ends. Usually, <a href="https://rs.io/who-initiates-divorce-the-most-plus-breakups/">the woman is the rejecter and the man the rejectee</a>.</p>

<p>So in the real world, the algorithm looks sorta like:</p>

<ol>
<li>A man asks out a woman he likes.</li>
<li>The woman accepts or rejects the man.</li>

<li><p>If the woman accepts the man, the woman dates the man until a suitor she</p>

<p>prefers comes along. At this point, the relationship ends.</p></li>

<li><p>The woman dates the new man and the old man asks out a new woman.</p></li>
</ol>

<p>Rinse and repeat.</p>

<p>This is basically what the solution to The Stable Marriage Problem &#8212; the Gale-Shapely algorithm &#8212; looks like.</p>

<ol>
<li>Each man proposes to his first choice.</li>
<li>Each woman (provisionally) accepts the best man who proposed to her. We could say that they&#8217;re engaged.</li>
<li>Each non-engaged man proposes to his next-best choice.</li>

<li><p>Each woman accepts the best man who proposed to her and rejects the</p>

<p>rest. This may entail breaking off her current engagement and &#8220;trading up.&#8221;</p></li>

<li><p>Repeat until everyone pairs off.</p></li>
</ol>

<p>Looks sorta like dating in real life, huh?</p>

<h3 id="proving-stability">Proving stability</h3>

<p>How do we know that this algorithm produces a stable match?</p>

<p>Let&#8217;s consider two couples: Fred + Wilma and Barney + Betty. Is it possible that there is a <em>better option</em>? That Barney prefers Wilma over Betty and Wilma prefers Barney over Fred?</p>

<p>No. If Barney preferred Wilma over Betty, he would have proposed to her before Betty, as each man proposes in order of most preferred. In such a case, either Wilma accepted and later kicked him out because she traded up for Fred, or she didn&#8217;t accept him because she was already engaged to someone better &#8212; Fred or someone worse than Fred. In either case, it&#8217;s impossible that Wilma prefers Barney over Fred.</p>

<h2 id="smashing-the-patriarchy">Smashing the Patriarchy</h2>

<p>But wait! We&#8217;ve discovered a sexist algorithm. All the men are matched with the best possible woman <em>from their point of view</em>, while the women get their worst stable match! It&#8217;s stable only because all the men are too happy to agree to swap with any woman.</p>

<p>If we reverse the algorithm so that the women ask the men out, then we get a female optimal algorithm &#8212; &#8220;proving&#8221; that there&#8217;s more than one stable match.</p>

<h3 id="how-many-possible-stable-matches-are-there">How many possible stable matches are there?</h3>

<p>Lots. It turns out that the upper bound is something like &#92;(O&#40;n!^{\frac{2}{3}}&#92;)) and a lower bound of &#92;(\Omega(2.28^n)&#92;). Or, you know, <em>lots</em>.</p>

<p>This means that we can probably find a more egalitarian one than the male-optimal version. And indeed we can, except the algorithm is fairly complicated, relying on more knowledge of graph theory than I currently possess.</p>

<p>But as long as you&#8217;re omniscient, surely <a href="http://www.corelab.ntua.gr/courses/netalg/pres2013/xatzidimitriou.pdf">you can figure it out</a>.</p>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>If you&#8217;re interested in this sort of thing, I&#8217;ve also written up <a href="https://rs.io/the-secretary-problem-explained-dating/">the Secretary Problem</a> and <a href="https://rs.io/the-boy-girl-paradox-explained/">the Boy Girl Paradox</a>.</li>
<li>For more on this problem, try <a href="http://140.123.102.14:8080/reportSys/file/paper/scfu/scfu_21_paper.pdf">&#8220;A survey of the stable marriage problem and its variants,&#8221;</a>. Don Knuth has a book, too, <a href="http://amzn.to/2hqLzoQ"><em>Stable Marriage and Its Relation to Other Combinatorial Problems: An Introduction to the Mathematical Analysis of Algorithms</em></a>, and there&#8217;s always <a href="http://en.wikipedia.org/wiki/Stable_marriage_problem">Wikipedia</a>.</li>
<li>While the Stable Marriage problem always has a solution, the <a href="http://en.wikipedia.org/wiki/Stable_roommates_problem">Stable Roommates problem</a> &#8212; one awful similar &#8212; doesn&#8217;t.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
