<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Analogical Thinking: Concepts as Example Bundles &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/analogical-thinking-concepts-example-bundles/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/analogical-thinking-concepts-example-bundles/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Analogical Thinking: Concepts as Example Bundles</h1>
  <time datetime=2014-08-12T01:41:30Z class="post-date">Tue, Aug 12, 2014</time>
  

<blockquote>
<p>Analogy is our best guide in all philosophical investigations; and all discoveries, which were not made by mere accident, have been made by the help of it.</p>

<p><span id="quote-attribute">—Joseph Priestley</span></p>
</blockquote>

<p>Words are not the stuff of thought.</p>

<p>This is straightforward to demonstrate. Present someone with a quote &#8212; it can be anything, but for concreteness let&#8217;s say you go with a bit of Thoreau: &#8220;I was not designed to be forced. I will breathe after my own fashion. Let us see who is the strongest.&#8221;</p>

<p>So, you present this line to someone, and then you let some time pass, say an hour. Then, ask them to repeat the quote back to you. What do they tell you?</p>

<p>I&#8217;d wager that you don&#8217;t get the exact quote back, but the gist of the thing. Sort of like when reading this, you will come away not with an exact memory of each word and every comma, but instead a general idea of what it is that I&#8217;m talking about &#8212; a summary. Almost as if your mind were a lossy compression algorithm.</p>

<p>If words were the stuff of thought, or at least of memory, you&#8217;d expect the mind to store words as, well, words. If words were the stuff of thought, when presented with a quote, on recall you&#8217;d repeat the exact quote back.</p>

<p>But, instead, there seems to be some kind of mental translation that goes on. You don&#8217;t remember the exact quote but, instead, it gets stored as a &#8220;gist,&#8221; as if your mind translated it to meaningness.</p>

<p>So, words are not the stuff of thought.</p>

<p>Let me put it another way. What I&#8217;m saying is that, <strong>when you are offered some concept in words, you store that concept in meaning-nese. And, then, when you communicate it with someone, you translate that meaning-nese back into words.</strong></p>

<p>This explains why the quotes are not exact, but become garbled &#8212; the words have to undergo translation: first, from words to meaning-nese to be stored, and then from meaning-nese back into words during recall. It&#8217;s like taking English, translating it into Chinese, and then translating it back into English.</p>

<p>You won&#8217;t end up with the original English.</p>

<h2 id="how-this-relates-to-metaphor">How this relates to metaphor</h2>

<blockquote>
<p>Analogy is anything but a bitty blip — rather, it’s the very blue that fills the whole sky of cognition — analogy is everything, or very nearly so, in my view.</p>

<p><span id="quote-attribute">—Doug Hofstadter</span></p>
</blockquote>

<p>Now, with this in mind, let&#8217;s consider the problem of communication. To make this easier, let&#8217;s restrict ourselves to idealized communication &#8212; comminucation where the goal really is communication. This is different from communication &#8220;in the wild&#8221;, where a lot of talking is not about substance, but about expressing friendliness or (perhaps unconsciously!) furthering one&#8217;s agenda.</p>

<p>So, idealized communication, where discussion really is about the transfer of ideas. Given this idea of meaningness translation, what can we say about this transfer?</p>

<p>Well, the goal of communication is for the speaker to translate some useful structure she has in her mind, encoded in meaning-nese, and to re-encode it in some other form &#8212; typically language, but it could also be art, or movement, whatever.</p>

<p>Then, the task of the listener, is to take this language-encoded structure and to decode it back into the original meaning-nese &#8212; or, at least, some dialect of meaning-nese compatible with the listener&#8217;s mind.</p>

<p>Thus, <strong>communication is really about the transfer of useful mind structures between speakers &#8212; but, since we can&#8217;t directly transfer from one brain to another via an uplink ala <em>The Matrix</em>, there&#8217;s an intermediate encoding and decoding step.</strong></p>

<p>Visually:</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/analogical-thinking1.jpg"><img class="aligncenter size-full wp-image-606" src="https://rs.io/wp-content/uploads/2014/08/analogical-thinking1.jpg" alt="analogical-thinking" width="648" height="216" srcset="https://rs.io/wp-content/uploads/2014/08/analogical-thinking1.jpg 648w, https://rs.io/wp-content/uploads/2014/08/analogical-thinking1-300x100.jpg 300w" sizes="(max-width: 648px) 100vw, 648px" /></a></p>

<h2 id="what-labels-imply">What labels imply</h2>

<p>Okay, let&#8217;s take a step back then and consider the implications. What does it mean when you encounter a word or a phrase that you don&#8217;t understand? What does that indicate?</p>

<p>If we take the encode-decode dance literally, it&#8217;s an indication that the speaker has some useful cognitive structure in her head, with which you&#8217;re unfamiliar. So, concretely, I recently learned the word &#8220;ostensibly&#8221; which means &#8220;as it seems on the surface, but perhaps not actually.&#8221;</p>

<p>I have found this a gratifying label to have in my head, now that I&#8217;ve gone through the effort of re-building the cognitive structure that it represents. I can say something like, &#8220;Big business is ostensibly pro-immigration reform because they care about the welfare of would-be immigrants.&#8221; And &#8220;ostensibly&#8221; here acts as a sort of wink that says, yeah, that&#8217;s one explanation, but maybe there&#8217;s something more to it. In this example, this something more would be that maybe business just cares about cheap labor.</p>

<p>So, what am I trying to say here? What&#8217;s the practical interpretation? When you come across some equation, word, phrase, or whatever, that strikes you as foreign, <strong>this signals that the person has some useful cognitive structure that you don&#8217;t.</strong></p>

<h2 id="what-does-this-have-to-do-with-analogy">What does this have to do with analogy</h2>

<p>Now, in a section that is about analogical thinking, you are maybe wondering why I&#8217;ve taken you through this detour into communication and cognitive structures. The idea is that, in some sense, all language acts as a metaphor.</p>

<p>This notion has recently been making the rounds with the endorsement of Doug Hofstadter, of <a href="http://www.amazon.com/gp/product/0465026567/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0465026567&amp;linkCode=as2&amp;tag=rsio-20"><em>Gödel, Escher, Bach</em></a> (very recommended) fame, but the idea is at least as old as Lakoff and Johnson&#8217;s <a href="http://www.amazon.com/gp/product/0226468011/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0226468011&amp;linkCode=as2&amp;tag=rsio-20"><em>Metaphors We Live By</em></a> (and, no doubt, older still than that.)</p>

<p>Here is what I mean when I say that all communication is analogy. Consider again the encode-decode theory I just told you about: it&#8217;s about taking meaning-nese, mapping it into words, and then unmapping it back into meaning-nese.</p>

<p>What do you call a mapping between two different things? An analogy. So, in a sense, <strong>all communication is about constructing an analogy between cognitive structures and words, and then the task of the listeners is to decode that analogy into their own mental model.</strong></p>

<p>Essentially, that&#8217;s what&#8217;s happening right now: I&#8217;m encoding my ideas here, as words, and you, the reader, are decoding them. And, if everything is going as planned, you&#8217;re building a cognitive structure in your head right now which is similar to the one that I have in mind.</p>

<p>This is what separates a good exposition from a bad one: with a good one, it&#8217;s easy to decode and build up the writer&#8217;s cognitive structures in your own mind. With bad exposition, you either end up with no structure or a damaged one, a misunderstanding.</p>

<h2 id="concepts-as-analogical-bundles">Concepts as analogical bundles</h2>

<p>In fact, we can go even a little further than this, and say, what is a concept, <em>really</em>? That is, what are these cognitive structures that I have in my mind?</p>

<p>As a concrete example, let&#8217;s consider the number three. What is the idea of three-ness?</p>

<p>Well, with the concept, if you wanted to transfer it to a young child, you&#8217;d give concrete examples. A group of three rocks, three bananas, and so on, except of course you wouldn&#8217;t say &#8220;three&#8221; &#8212; you would show them three rocks, three bananas, and you&#8217;d ask them, so, what do these things have in common?</p>

<p>With enough examples, they would catch on, or at least so I suspect. I&#8217;ve been unable to acquire the necessary funding to experiment on young children.</p>

<p>The idea, though, is that with any concept, when you start unbundling it, you find that it&#8217;s really just a bunch of examples with some common core &#8212; some hidden structure, that isn&#8217;t immediately obvious when you consider just one thing in isolation, but becomes apparent with the study of tangible examples.</p>

<p>That is, <strong>a concept is a bundle of examples.</strong> The process of abstraction, of obtaining a useful cognitive structure, is ultimately one of comparing and contrasting these examples, until have built up this structure in your mind.</p>

<h2 id="some-evidence-regarding-analogical-thinking">Some evidence regarding analogical thinking</h2>

<p>So, let&#8217;s recap for a moment:</p>

<ul>
<li>Communication is the process of translating a cognitive structure into words, and then from words back into a cognitive structure.</li>
<li>This mapping and unmapping is an analogy: setting up an isomorphism between cognitive structures and words.</li>
<li>A concept is a bundle of concrete examples. Each example contains some common core, with is captured in the concept. Thus, every concept is itself an analogy.</li>
</ul>

<p>So, really, here we have two different uses of analogy: a concept/cognitive</p>

<p>structure is an analogy, and we use a process of analogy to transfer them</p>

<p>between people.</p>

<p>If this is really true, if I&#8217;m not just spinning you a nice story, we ought to expect that the study of concrete examples is the best way to go about learning a new concept. Really, it&#8217;s probably the only way to build a new cognitive castle in your head.</p>

<p>Is there any evidence to support this view? Well, yes. There&#8217;s <a href="http://psycnet.apa.org/journals/edu/95/2/393/">significant evidence</a> suggesting that <strong>comparing and contrasting examples is a powerful technique when it comes to understanding something new.</strong></p>

<p>Consider the inert knowledge problem. This is when you&#8217;re in a situation, and you have relevant, applicable knowledge, but you fail to apply that knowledge. So, concretely, say you&#8217;ve taken a basic calculus class, and you&#8217;re arguing with someone about population growth. You get in this heated disagreement. They say that our current growth is unsustainable, and we&#8217;re headed towards an inevitable collapse because there is not enough food to go around &#8212; a Malthusian catastrophe.</p>

<p>You take a contrary position, and point out that, as nations develop, birth rates fall, such that population growth is below the replacement rate in some developed nations, like Japan and Germany. At a certain tipping point of prosperity, population plateaus and then actually begins to fall.</p>

<p>If your calculus knowledge transferred, here you might realize that this is an argument about the shape of the derivative of population growth. And, if you so realized, you might both draw out curves of what you think it looks like, and then compare that to real-world data.</p>

<p>The inert knowledge problem would be 1) knowing calculus, 2) having this argument, and 3) not realizing that you&#8217;re actually arguing about derivatives.</p>

<p>Now, depending on the amount of learning you&#8217;ve done in the past, you may or may not have noticed that inert knowledge is the devil. Why learn something if you fail to apply it? What can be done about this?</p>

<p>Well, okay, learning something is about the acquisition of concepts, right? So calculus knowledge is about building up calculus structures in your head.</p>

<p>If, as I&#8217;ve argued, this is the case, we might expect that comparing and contrasting examples (and thusly promoting concept acquisition) would help us overcome the inert knowledge problem.</p>

<p>Is this the case?</p>

<p>Yes. <strong>There&#8217;s even some evidence that comparing and contrasting examples, &#8220;analogical encoding&#8221;, is potentially the only effective technique at dealing with this inert knowledge plague.</strong> One review <a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1551-6709.2009.01070.x/full">put it this way</a>: &#8220;The best-established way of promoting relational transfer is for the learner to compare analogous examples during learning (Catrambone &amp; Holyoak, 1989; Gentner, Loewenstein, &amp; Thompson, 2003; Gick &amp; Holyoak, 1983; Reeves &amp; Weisberg, 1994; Ross &amp; Kennedy, 1990; Seifert et al., 1986, Experiments 1 and 2).&#8221;</p>

<p>The quoted study further finds that analogical encoding &#8212; comparing and contrasting examples &#8212; not only promotes future transfer, but actually works backwards, too.</p>

<p>What do I mean by this? I mean that, if you sit down and compare and contrast examples, you&#8217;re going to be much more effective at coming up with past, relevant experiences of the principle in question. You can use this to transform inert knowledge into animated knowledge. To piece together the once dead into a new Frankenstein&#8217;s monster.</p>

<p>To use our calculus example again, if you&#8217;re reading about the jerk (the rate of change in acceleration), and you compare and contrast real-world examples, you&#8217;re more likely to spontaneously realize that, when learning to drive, the jerk you felt when stopping too quickly was an example of, you know, the jerk in physics.</p>

<h2 id="benefits-for-the-acquisition-of-expertise">Benefits for the acquisition of expertise</h2>

<p>So, at this point, I hope you&#8217;re convinced that comparing and contrasting examples is <em>the</em> way to go about acquiring a new concept &#8212; it&#8217;s how to absorb a bundle of concrete examples and distill them into a useful cognitive structure.</p>

<p>But that&#8217;s not all! This is not the only benefit. Consider what it means to be an expert at something. One of <a href="http://eric.ed.gov/?id=ED215899">the most cited studies on expertise</a> compared how graduate students in physics categorized physics problems, versus how novices did.</p>

<p>The finding? Physics experts were more likely to pick out the underlying physical principle, while novices tended to focus on irrelevant surface characteristics. Presumably, physics experts had built up a cognitive structure that they recognized in the problem. The novices, lacking this mental structure, were unable to spot it.</p>

<p>If the theory I have sketched here is correct, then we ought to expect that <strong>comparing and contrasting examples will accelerate the acquisition of concepts and therefore expertise</strong>. Analogical encoding allows one to swim out from shallow seas and into the depths &#8212; &#8220;<a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1551-6709.2009.01070.x/full">comparison between two analogous examples acts to make their common relational structure more salient</a> (Gentner &amp; Medina, 1998; Gentner &amp; Namy, 1999; Markman &amp; Gentner, 1993).&#8221;</p>

<h2 id="practical-implications">Practical implications</h2>

<p>Okay, then, we&#8217;ve just breezed through the core ideas of analogical thinking. To sum it up:</p>

<ul>
<li>Words are not the stuff of thought. Our minds translate words into something else (meaning-nese).</li>
<li>Communication is essentially about analogy: it&#8217;s about mapping a cognitive structure (&#8220;meaning-nese&#8221;) into words, and then the listener unpacks that back into a cognitive structure.</li>
<li>Thus, successful communication is about setting up understandable analogies.</li>
</ul>

<p>Then, I covered the relationship between concepts and analogy:</p>

<ul>
<li>A concept is a bundle of concrete examples that illustrate some core relationship between those examples. The concept of three-ness can be understood as the relation between concrete instances of three things (bananas, rocks, years).</li>
<li>Given that a concept is a bundle of examples, we should expect that the best way to acquire a useful cognitive structure is to compare and contrast examples (&#8220;analogical encoding&#8221;).</li>
<li>There is a significant body of evidence that suggests that this is the case: comparing and contrasting examples is a powerful way to acquire a concept.</li>
</ul>

<p>I also touched on the inert knowledge problem, and how analogical encoding</p>

<p>allows us to overcome it:</p>

<ul>
<li>The inert knowledge problem is when you have relevant knowledge but fail to take advantage of it. Example: failing to realize that an argument about population growth is an argument about the shape of a derivative.</li>
<li>The only consistently supported method of overcoming the inert knowledge problem, and promoting the application of a concept in new situations (&#8220;transfer&#8221;), is analogical encoding &#8212; by comparing and contrasting examples. &#8220;When subjects explicitly compared the analogs and then immediately attempted to solve the target problem in the context of a single experiment, transfer was obtained with significant frequency even without a hint that the analogs and target were related. (Holyoak and Catrambone)&#8221;</li>
</ul>

<p>Finally, I mentioned how this relates to expertise:</p>

<ul>
<li>Experts are distinguished by better developed cognitive structures. Physics experts, for example, are able to pick up on the underlying structure of physics problem, while novices focus on surface characteristics.</li>
<li>How can we acquire such a cognitive structure? By analogical encoding &#8212; comparing and contrasting examples. Contrasting examples fosters a focus on deeper structures.</li>
<li>Thus, to accelerate the acquisition of expertise, one should take advantage of analogical encoding.</li>
</ul>

<p>So, practically speaking, how can you, as an individual put this into practice? This method, analogical encoding, is both simple and powerful. <strong>To acquire a new cognitive structure, gather together a bunch of examples of the concept, and then compare and contrast those examples.</strong></p>

<p>If you would like to improve your calculus skill, you should Google for real-world examples of derivatives or integrals or any concept that you&#8217;d like to acquire. Then, write them down, and then list how each is similar and each is different.</p>

<p>You can also use these principles to improve your communication and teaching skills. If you want someone to obtain a cognitive structure that you have, illustrate the principle with examples, and then bring their attention to the underlying similarity connecting the examples. In the case of this section, the principle behind all of these examples has been that learning and communication is about the transfer of concepts, which are bundles of examples, and can be acquired by contrasting concrete examples.</p>

<p>Now, what was that Thoreau quote, again?</p>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>If you enjoyed this, check out a copy of <a href="http://www.amazon.com/gp/product/0226468011/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0226468011&amp;linkCode=as2&amp;tag=rsio-20"><em>Metaphors We Live By</em></a>, <a href="http://www.amazon.com/gp/product/B00BE65086/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00BE65086&amp;linkCode=as2&amp;tag=rsio-20"><em>Surfaces and Essences</em></a>, or <a href="http://worrydream.com/refs/Hofstadter%20-%20Analogy%20as%20the%20Core%20of%20Cognition.pdf">&#8220;Analogy as the core of cognition.&#8221;</a></li>
<li>This is far from the first time that I&#8217;ve written about learning and expertise. Check out my articles on <a href="https://rs.io/the-science-of-problem-solving/">the science of problem solving</a>, <a href="https://rs.io/effective-study-skills-for-college-students-why-questions/">the importance of &#8220;why?&#8221; questions</a>, <a href="https://rs.io/developing-good-research-skills-compressing-knowledge/">compressing knowledge</a>, and the <a href="https://rs.io/expert-memory/">role of memory in human expertise</a>. Oh, and if you just want to enjoy a metaphor, none of mine have resonated more with the internet at large than <a href="https://rs.io/online-community-building/">online communities as vampire bat colonies</a>.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
