<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Being a Good Person Does Not Depend On Perfection &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/being-a-good-person/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/being-a-good-person/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Being a Good Person Does Not Depend On Perfection</h1>
  <time datetime=2013-09-30T04:15:25Z class="post-date">Mon, Sep 30, 2013</time>
  

<blockquote>
<p>The difficulty lies, not in the new ideas, but in escaping from the old ones, which ramify, for those brought up as most of us have been, into every corner of our minds.</p>

<p><span id="quote-attribute">John Maynard Keynes</span></p>
</blockquote>

<p>Ah, <strong>being a good person</strong>. Consider the following.</p>

<p>A man who only restrains from murdering people most of the time will not be considered a good man. He&#8217;s a murderer, even though he doesn&#8217;t always murder the people he meets. Slip up one time and <em>bam</em>, you&#8217;re a murderer. In contrast, saving one life isn&#8217;t enough to make a man a saint.</p>

<p>The point is this: in general, to be a bad person, you only have to be bad some of the time, but to be a good person, you have to be good all of the time. Consider: you can be regarded as a thief even if you do not <em>usually</em> steal, but to be regarded as an honest man you can never steal. To be faithful to your wife means that you are faithful all of the time, while you only have to be unfaithful some of the time to be regarded as unfaithful.</p>

<p>There is an asymmetry here, then. To be good requires perfect goodness, while being bad does not require perfect badness.</p>

<p>This is absurd. Abandon the notion that you need to be perfectly good all of the time. It&#8217;s impossible. You need a healthier relationship with the good or you&#8217;ll never be able to think straight.</p>

<p>What does this have to do with thinking straight? Most people believe themselves to be good people. This is part of their identity. As I&#8217;ve pointed out above, this entails &#8212; usually implicitly &#8212; that they are perfectly good, or pretty close. If they are confronted by a new idea about what it means to be good, then, and they do not conform to that idea, they will be motivated to reject that idea because it threatens their self-image.</p>

<blockquote>
<p>Speaking to someone about renunciation is like hitting a pig on the nose with  a stick. He doesn&#8217;t like it at all.</p>
</blockquote>

<p><span id="quote-attribute">–Tibetan proverb</span></p>

<p>Let&#8217;s make it concrete. When I talk with people and point out that a harm of omission is still a harm, they don&#8217;t like this at all, even though it&#8217;s pretty straightforward. Here are a few scenarios:</p>

<ul>
<li>A man is going to die unless you press a button. Is it good to press the button?</li>
<li>A man is drowning. You can save the man. Is it good to save the man?</li>
<li>A man is starving. You can afford to feed the man. Should you feed the man?</li>
<li>A man will die of malaria in Africa because he cannot afford a insecticide-treated mosquito net. You could, instead of spending $20 at Starbucks each week, donate to the <a href="http://www.givewell.org/international/top-charities/AMF">Against Malaria Foundation</a> and save the man. Should you save the man?</li>
</ul>

<p>The answer to all of these is yes. If it&#8217;s not mind-numbingly obvious to you, you are confused. Seriously. There&#8217;s nothing to explain. It&#8217;s better to save people than to not save people, even if you have to go without your latte.</p>

<p>The trouble with allowing for harms of omission is that it doesn&#8217;t allow you to preserve the notion that to be good means you are perfectly good. If you define being good as not actively harming others, being perfectly good is manageable. If failing to help someone counts as harming, it&#8217;s no longer possible to be perfectly good.</p>

<p>Most people respond by arguing against harms of omission. Not because this is the weak link in the chain, but because it&#8217;s right there in consciousness, while intuitive beliefs about goodness requiring perfection are lurking in the background.</p>

<p>If you abandon the notion that none of us are perfectly good people &#8212; that perfect goodness is too exacting a standard &#8212; most of the motivation to reject harms of omission disappears.</p>

<p>Let&#8217;s go even further. Let&#8217;s say that to be a good person, you have to be perfectly good. We then come to a choice: either, you can define good to make it possible for people to be perfectly good or you can accept the notion that none of us can be called good. But this is missing the point!</p>

<p>Why do we care about what is good? What&#8217;s the point of being good? It&#8217;s action. It&#8217;s to go out there in the world and improve it. It&#8217;s not about labels. It&#8217;s not about who&#8217;s good and who&#8217;s bad. It&#8217;s about helping.</p>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>The notion that there is an asymmetry between good and bad events is the main  theme of the paper <a href="http://www.carlsonschool.umn.edu/assets/71516.pdf">&#8220;Bad Is Stronger Than Good.&#8221;</a> I&#8217;ve found it a useful concept   when thinking about many different things, from blog comments to dog  training.</li>
<li>One of the criticisms of utilitarianism is that it&#8217;s too demanding, that  no one can live up to its standards. This argument appeals to the intuition   that to be a good person requires perfect goodness and, as such, perfect goodness must be manageable. See <a href="http://en.wikipedia.org/wiki/Utilitarianism#It_is_too_demanding">here</a> for an overview.</li>
<li>It also seems a strange criticism to argue that a normative theory is too demanding. The rules of multiplication don&#8217;t change for large numbers, even though humans have a hard time with them.</li>
<li>Paul Graham has <a href="http://www.paulgraham.com/identity.html">an essay</a> on the difficulties of thinking straight about things that are part of your identity.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
