<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Could OSX’s Spotlight Suck More? Doubt It &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/spotlight-sucks/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Could OSX’s Spotlight Suck More? Doubt It</h1>
  <time datetime=2014-01-05T03:04:57Z class="post-date">Sun, Jan 5, 2014</time>
  <p>There was a post about a week ago about how new computer science students don&#8217;t get <a href="http://en.wikipedia.org/wiki/Unix_philosophy">the Unix philosophy</a> and the power (and great responsibility) of the command line. I don&#8217;t know these people. Most of my dev time is between Emacs, a terminal, and a web browser.</p>

<p>But during this discussion, or maybe in the article itself, there was an argument along the lines of: kids don&#8217;t need to learn how to use <code>find</code> or <code>locate</code> when they have Spotlight, and I nodded along, swallowing this like so much bad medicine.</p>

<p>Until, just moments ago, I went to open up Google Chrome and was like, hey, I&#8217;ll just use Spotlight to do it. So I tried. And I waited, and then waited a bit more, and remembered: oh, right, <em>Spotlight is a piece of shit that never actually manages to find anything</em>. Need to search for something? Oh, too bad, out of commission, I&#8217;m busy indexing your entire machine for the one hundredth time today and, surprise, this breaks the entire utility.</p>

<p>(Googling around seems to reveal this as an OS X bug fixed in a more recent update. No doubt that introduces more bugs and the Sisyphean cycle continues.)</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
