<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Response to BasicBookReader &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/response-basicbookreader/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Response to BasicBookReader</h1>
  <time datetime=2014-04-14T21:38:19Z class="post-date">Mon, Apr 14, 2014</time>
  

<p>How can e-readers be improved? This is a response to Austin G. Walters <a href="http://austingwalters.com/basicbookreader/">BasicBookReader project</a>.</p>

<h2 id="features-for-authors">Features For Authors</h2>

<p>Better feedback for authors. When seeking feedback on a draft of something, authors want analytics. Where does someone stop reading? If someone puts down your book at a certain page, that&#8217;s a page that ought to be rewritten. You&#8217;ve bored them enough that they&#8217;ve decided to stop reading.</p>

<p>After all, an author &#8212; at least of fiction &#8212; is aiming at creating an addicting product. You want to write something that people can&#8217;t put down, the sort of book that people stay awake late into the night reading. Notice that this is what popular websites (Facebook, Reddit) have in common: they&#8217;re addicting.</p>

<p>I expect, though, for an author to get really useful feedback, they&#8217;re going to need quite a few &#8220;test&#8221; readers. Otherwise, the signal will get drowned in noise &#8212; maybe someone places a book down because the phone rings, etc. (Heh, noisy data caused by literal noise.) But with lots and lots of test readers, the law of large numbers should kick in, and you&#8217;ll be able to objectively identify boring passages.</p>

<h3 id="extending-online-analytics">Extending online analytics</h3>

<p>The current generation of cutting edge analytics are being applied to the web. These could, in principle, be extended to books read on a screen. Take AB testing for instance. Maybe some readers get a version of the original book. Others get a version with the &#8220;stopping points&#8221; rewritten. Which version are people more likely to finish?</p>

<p>With enough such trials, a mediocre book can be pounded and shaped, like a blacksmith would iron, into something <em>great</em>.</p>

<p>I suspect there are other techniques that could similarly be lifted from website analytics.</p>

<h2 id="features-for-readers">Features for Readers</h2>

<h3 id="export-highlights-as-text">Export highlights as text</h3>

<p>One of the more powerful features of Skim is the ability to export highlights from PDFs as text. I then save these annotations and can search through them via <code>grep</code> whenever I&#8217;m looking for a piece of evidence that I vaguely recall.</p>

<p><a href="https://rs.io/wp-content/uploads/2014/09/grep-through-notes.png"><img class="aligncenter size-full wp-image-454" src="https://rs.io/wp-content/uploads/2014/09/grep-through-notes.png" alt="grep-through-notes" width="567" height="300" srcset="https://rs.io/wp-content/uploads/2014/09/grep-through-notes.png 567w, https://rs.io/wp-content/uploads/2014/09/grep-through-notes-300x158.png 300w" sizes="(max-width: 567px) 100vw, 567px" /></a></p>

<h3 id="autoscroll">Autoscroll</h3>

<p>I&#8217;ve spoken with people who say that they&#8217;re able to read more if the page automatically scrolls &#8212; this forces them to maintain attention of the book in front of them. I&#8217;ve been unable to duplicate this success, but it seems plausible.</p>

<h3 id="bookmarks">Bookmarks</h3>

<p>A useful feature in academic texts is the ability to save one&#8217;s current position in order to look up a citation or footnote. You might need to skip ahead 100 or so pages or whatever, so you want to be able to quickly jump back and forth.</p>

<p>Allowing a &#8220;split screen&#8221; where you can view two pages at once is similarly useful.</p>

<h3 id="analytics-for-readers">Analytics for readers</h3>

<p>Are there any useful analytics for readers? It&#8217;s hard to think of any. You might correlate time of day with pages per minute, or something. These analytics could help identify when one&#8217;s at an intellectual peak. Words per minute might be similarly useful.</p>

<p>It&#8217;s hard to think of any other information someone might find useful. The Kindle has a feature that automatically highlights popular segments of a text purchased through them. It&#8217;s entertaining, but I&#8217;m not sure how useful.</p>

<p>Graphs of pages per day, total pages, and books read are, at the very least, inspiring.</p>

<h3 id="beauty">Beauty</h3>

<p>Intersecting that readability.com could build a business around taking ugly websites and making them beautiful, eh? This seems like a place where a newcomer could win over established players. When given text or ePub, the reader could lay it out is some pleasing form.</p>

<p>The styling could be tweaked in some form of AB testing, figuring out what&#8217;s most conducive to long reading sessions.</p>

<h3 id="saving-book-locations">Saving book locations</h3>

<p>If the app crashes or my computer does, I&#8217;d like to be able to restore exactly where I left off reading. It&#8217;s also useful to have a &#8220;farthest page read&#8221; marker in case something goes wrong. I find I&#8217;ll often press the wrong key on the Kindle and lose my place.</p>

<h3 id="fast-dictionary-look-up">Fast dictionary look up</h3>

<p>A means to quickly figure out what a word means would be useful.</p>

<h3 id="table-of-contents-sidebar">Table of contents sidebar</h3>

<p>The largest advantage print books still have over electronic ones is that it&#8217;s easy to figure out the structure of a print book at any time. You keep one finger stuck in the page you&#8217;re on and flip to the table of contents, or to the next chapter.</p>

<p>As far as a I know, no software has successfully replicated this yet. Skim contains a sidebar, like so:</p>

<p><a href="https://rs.io/wp-content/uploads/2014/09/skim-sidebar.png"><img class="aligncenter size-full wp-image-453" src="https://rs.io/wp-content/uploads/2014/09/skim-sidebar.png" alt="skim-sidebar" width="681" height="501" srcset="https://rs.io/wp-content/uploads/2014/09/skim-sidebar.png 681w, https://rs.io/wp-content/uploads/2014/09/skim-sidebar-300x220.png 300w" sizes="(max-width: 681px) 100vw, 681px" /></a></p>

<p>Unfortunately, this feature breaks down when a PDF doesn&#8217;t ship with table of contents metadata.</p>

<p>&nbsp;</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
