<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Start Here &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/guided-tour/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Start Here</h1>
  <time datetime=2019-09-21T00:00:00-0500 class="post-date">Sat, Sep 21, 2019</time>
  

<blockquote>
<p>Look on my works, ye Mighty, and e-mail them to your entire contacts list.</p>

<p>&ndash;Ozymandias</p>
</blockquote>

<figure>
    <img src="https://rs.io/wp-content/uploads/2014/09/written-too-much-comic.png"/> 
</figure>


<h2 id="practical-and-self-development-posts">Practical and self-development posts</h2>

<ul>
<li>Did you know that women in the 1700s would put poison in their eyes to
maximize their allure? I was fed up with pick up artists pushing the
power eye contact without any evidence, so I dug into the literature
and wrote
<a href="https://rs.io/prolonged-eye-contact-attraction-science-tells-us/"><strong>an
evidenced-based article on eye prolonged contact</strong></a>.</li>
<li>People overvalue shiny, new technologies, and undervalue old,
super-effective technologies, like the checklist. If you&rsquo;re not
already a checklist zealot, you&rsquo;ll benefit from this
<a href="https://rs.io/unreasonable-effectiveness-of-checklists/"><strong>review of
the effectiveness of checklists</strong></a>.</li>
<li>Life can be thought of as a series of problems, so I wrote a post
about <a href="https://rs.io/the-science-of-problem-solving/"><strong>the science of
problem solving</strong></a>.</li>
<li>Humans are <a href="https://rs.io/the-science-of-habit/"><strong>habit executors</strong></a>:
machines that just replay the same behaviors over and over, plus how
you can hack your own habit formation in pursuit of your goals.</li>
<li><a href="https://rs.io/expert-memory/"><strong>On human expertise</strong></a> and the role
long-term memory plays in skill improvement and human cognition.</li>
<li>On <a href="https://rs.io/core-human-values/"><strong>modeling yourself as not one
agent, but many competing agents</strong></a> that happen to share a head.</li>
<li>Richard Hamming famously said, &ldquo;If you don&rsquo;t work on an important
problem, it&rsquo;s unlikely you&rsquo;ll do important work,&rdquo; so I wrote about
<a href="https://rs.io/important-problems-in-the-world/"><strong>what it is that
makes a problem important</strong></a>.</li>

<li><p>Recently I&rsquo;ve launched a new website dedicated to self-sufficient
living, <a href="http://eatsquirrel.com/"><strong>eatsquirrel.com</strong></a>. It has two
articles thus far: one answering
<a href="http://eatsquirrel.com/where-is-homeschooling-most-popular-states-by-the-numbers/"><strong>&ldquo;Where
is homeschooling most popular?&rdquo;</strong></a> and a list of
<a href="http://eatsquirrel.com/best-self-sufficiency-blogs/"><strong>the best
self-sufficiency blogs</strong></a>. More is coming!</p>

<p> </p></li>
</ul>

<p> </p>

<h2 id="computers-and-software">Computers and software</h2>

<ul>
<li><a href="https://rs.io/software-writers-tools-improve-writing/"><strong>How to use
software to improve your writing.</strong></a></li>
<li>Once I became convinced that long-term memory places a central role in
expertise, I started to commit lots of stuff to memory. After
memorizing my 10,000th flashcard, I wrote a retrospective on what I&rsquo;d
learned along with
<a href="https://rs.io/anki-tips/-10000-cards-later.html"><strong>anki tips</strong></a>.
(Check out also my post
<a href="https://rs.io/effective-study-skills-for-college-students-why-questions/"><strong>on
the importance of &ldquo;Why?&rdquo; questions</strong></a>.)</li>
<li>Simulated annealing is a beautiful heuristic search algorithm,
although don&rsquo;t let that jargon turn you off! I&rsquo;ve put together
<a href="https://rs.io/ultimate-guide-simulated-annealing/"><strong>a picture guide
to simulated annealing</strong></a>.</li>
</ul>

<p>[[<img src="https://rs.io/wp-content/uploads/2014/09/recipe-book-comic.png" alt="" />][]]</p>

<h2 id="ive-made-a-lot-of-lists-of-surprising-stuff-like">I&rsquo;ve made a lot of lists of surprising stuff, like&hellip;</h2>

<ul>
<li>Did you know that <a href="https://rs.io/web-roundup-links-april/">there are
probably about four unobserved planet-like objects that are three
times the size of Pluto, the largest may be as large as Earth or
Mars</a>?</li>
<li>Or that <a href="https://rs.io/web-roundup-links-april-2/">male dolphins have
been observed wrapping a wriggling eel around their penises, as a form
of masturbation</a>?</li>
<li>What about that <a href="https://rs.io/web-roundup-links-may/">more expensive
wine doesn&rsquo;t taste better</a>?</li>
<li>Or that, in 2013, <a href="https://rs.io/web-roundup-links-may-2/">$5.3
trillion dollars changed hands daily in foreign exchange markets</a>?</li>
<li>How about that <a href="https://rs.io/web-roundup-links-june/">people with
wet earwax have stronger body odor</a>?</li>
<li>Did you know that <a href="https://rs.io/links-february/">there used to be a
flying reptile that was as tall as a giraffe</a>?</li>
<li>Or that winning the <a href="https://rs.io/links-february-2/">lottery makes
people more right-wing?</a></li>
<li>What about that <a href="https://rs.io/links-march/">men and women both find
the opposite sex more attractive when they wear the color red</a>?</li>
<li>How about that <a href="https://rs.io/web-roundup-links-march/">marriages
arranged through the mail-order services would appear to have a lower
divorce rate than the nation as a whole</a>?</li>
<li>And I maintain
<a href="https://rs.io/100-interesting-data-sets-for-statistics/">a very
popular list of data sets</a>.</li>
</ul>

<h2 id="mathematics-and-relationships">Mathematics and relationships</h2>

<ul>
<li>I&rsquo;ve written a bit about the intersection between mathematics and
human relationships. My
<a href="https://rs.io/the-secretary-problem-explained-dating/"><strong>writeup of
the secretary problem</strong></a>, for example, is about how to decide when to
<em>stop</em> dating and settle down, while my post
<a href="https://rs.io/stable-marriage-problem-explained/"><strong>on the stable
marriage problem</strong></a> is about how to pair people off such that there&rsquo;s
no risk of divorce.</li>
</ul>

<h2 id="just-mathematics">Just mathematics</h2>

<ul>
<li>There&rsquo;s been a lot of buzz around category theory, and I wanted to
know what it was about, so
<a href="https://rs.io/why-category-theory-matters/"><strong>I found out</strong></a>.</li>
<li>Interested in <a href="https://rs.io/math-jokes/"><strong>math jokes</strong></a>? See also
<a href="https://rs.io/statistician-plane-joke/"><strong>this one</strong></a>. Or how
<a href="https://rs.io/great-math-quotes/"><strong>about quotes</strong></a>?</li>
<li><a href="https://rs.io/proofs-math-whats-point/"><strong>Why do people bother with
mathematical proof, anyways?</strong></a></li>
<li><a href="https://rs.io/the-boy-girl-paradox-explained/"><strong>If a man has at
least one boy child, what are the odds that the other is a boy?</strong></a>
(It&rsquo;s not what you think!)</li>
<li><a href="https://rs.io/worldbuilding-worldbuilders-mathematics/"><strong>Math as
worldbuilding.</strong></a></li>
<li><a href="https://rs.io/math-art/"><strong>Picasso as a mathematician.</strong></a></li>
</ul>

<h2 id="just-relationships">Just relationships</h2>

<ul>
<li><a href="https://rs.io/who-initiates-divorce-the-most-plus-breakups/"><strong>Are
women more likely to break up with men or vice versa?</strong></a></li>
<li>I once wrote about <a href="https://rs.io/vegan-women/">the curious tendency
of women to be vegans</a>.</li>
</ul>

<h2 id="original-research-and-creativity">Original research and creativity</h2>

<ul>
<li>I&rsquo;ve done some original research on the relationship between
creativity and compression. To understand it, you should first read
<a href="https://rs.io/what-makes-something-interesting/"><strong>this post</strong></a>, and
then check out my post
<a href="https://rs.io/creative-process-demystified/"><strong>testing the theory on
literature and non-creative works</strong></a>, and my follow up,
<a href="https://rs.io/creativity-fan-fiction-compression/"><strong>testing the
theory on creative and exceptionally creative works</strong></a>.</li>
<li>In the same vein, I&rsquo;ve written a few different posts on creativity,
including one on
<a href="https://rs.io/zach-weinersmith-on-the-importance-of-reading-books/">*how
Zach Weinersmith (of <em>Saturday Morning Breakfast Cereal</em> fame) comes
up with his ideas*</a>, about
<a href="https://rs.io/creative-process-demystified/"><strong>incrementalism</strong></a>, and
about
<a href="https://rs.io/overcoming-writers-block-narrow-generate-ideas/"><strong>brainstorming
via narrowing</strong></a>.</li>
</ul>

<h2 id="theories">Theories</h2>

<ul>
<li>I&rsquo;ve written a number of theory or idea posts, sort of stabs at
explanations. The most popular explains
<a href="https://rs.io/online-community-building/"><strong>how people online are
like vampire bats and is on why online communities decay over time</strong></a>.</li>
<li><a href="https://rs.io/what-is-the-purpose-of-science/"><strong>Science as algorithm
discovery.</strong></a></li>
<li><a href="https://rs.io//herbert-simons-ant/">Herbert Simon&rsquo;s Ant: how complex
seeming behavior can arise from complex environments and simple
agents.</a></li>
<li>Did you know that there&rsquo;s a type of sea slug that can undergo
photosynthesis after eating plants and sting after consuming
jellyfish? This and more in my post on
<a href="https://rs.io/what-affects-your-personal-identity/"><strong>why we should
all identify as a sponge</strong></a>.</li>
<li><a href="https://rs.io/when-is-it-ok-to-break-the-rules/">In which I propose
a new way to think about rules and rule-breaking.</a></li>
<li><a href="https://rs.io/fecund-universe/">Could universes evolve and reproduce
via black holes?</a></li>
<li>When trying something new,
<a href="https://rs.io/how-to-get-started-with-anything/">start with the
dumbest thing that could work and then iterate</a>.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
