<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Terrible Future Isn’t: Drone Delivery Edition &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  
  <link href="https://rs.io/drone-delivery/" rel="canonical" type="text/html" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="/guided-tour/">Start Here</a> </li>
        <li><a href="/"> All Articles </a></li><li><a href="/contact/"> Contact </a></li><li><a href="/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>The Terrible Future Isn’t: Drone Delivery Edition</h1>
  <time datetime=2013-12-02T04:49:11Z class="post-date">Mon, Dec 2, 2013</time>
  <p>Last night, Amazon&#8217;s CEO Jeff Bezos appeared on <em>60 Minutes</em> and spoke about <a href="http://mashable.com/2013/12/01/amazon-unveils-flying-robot-delivery-drones/">the possibility of using drones to deliver small packages (&#8220;<strong>drone delivery</strong>&#8220;)</a>. My gut reaction is the engineer&#8217;s natural skepticism: I&#8217;ll believe it when he&#8217;s rolled out something that works instead of touting vaporware. (Remember <a href="http://en.wikipedia.org/wiki/Hyperloop">hyperloop</a>? Yeah, <a href="http://predictionbook.com/predictions/20948">that&#8217;s never going to happen</a>.) That&#8217;s not so fun to read about, though, so let&#8217;s instead talk about the promise of drone delivery.</p>

<p>The setup: imagine that anything a drone can carry can be delivered to your door within 30 minutes of purchase, provided that someone has it within ten miles of your location.</p>

<p>My initial thought, given that I have yet to eat breakfast, is food delivery. You don&#8217;t order meals through Amazon because you don&#8217;t want to wait two days when you&#8217;re hungry. Given that there are already businesses &#8212; pizza delivery, for one &#8212; in this market, I could see it happening. Indeed, if drones become easy and cheap enough that small businesses can afford them, we could see scenarios where women working from home make fresh food (cookies or lasagna or what-have-you) to order via the internet. Chefs working from home and delivering meals via drone could disrupt the restaurant industry.</p>

<p>More prosaically, if you&#8217;re out of bagels or you need some fresh oregano for the dish you&#8217;re planning on making for dinner, you could have a drone fly you some from the grocery store. Or maybe if you need a suit dry-cleaned or a package shipped, a drone could come and pick up the goods.</p>

<p>I could see this changing the operation of libraries, too, where you can order a library book online and then have it delivered to you via drone. The same goes for prescription medication.</p>

<p>There are certain things that people want to replace as quickly as possible: television remotes, specialty drill bits, and internet routers. If you have a pet reptile, you&#8217;ll know that when their sunning lamp burns out, you want to replace it pronto. These sort of things would be fine candidates for drone delivery.</p>

<p>Another interesting potential is the ability to deliver goods to places other than houses. If you&#8217;re out camping and forgot to bring hot dogs, a drone could fly out to your location. Maybe something like this would work for broken down cars, too, although I&#8217;m not sure what you might order. A blanket or hot chocolate if your car is stuck in the snow, maybe.</p>

<p>I&#8217;ve seen some <a href="http://marginalrevolution.com/marginalrevolution/2013/12/the-economics-of-cheap-drone-delivery.html">talk of this changing the way drug deals go down</a> because it would eliminate the risk of a face-to-face transaction. I&#8217;m not completely convinced of this, though, because a police officer could just order drugs online and then follow the drone back to wherever it came from after delivery. It might still be safer, though.</p>

<p>Anyways, the focus here has been on incremental improvement and the disappearance of chores. If drones do pan out, though, the interesting effects are going to be in how they disrupt markets and enable new types of trade. We can imagine trying to predict the consequences of the internet or the telephone when they were first introduced. The changes wrought were no doubt much larger than anyone expected. I don&#8217;t think drones are as fundamental as either of those, but I do think that &#8212; should the technology come to fruition &#8212; the results will be quite different from what we anticipate.</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
