<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Swatting Time Flies: A Clock&#39;s Hands Hide Its Face &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/b-theory/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/b-theory.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Swatting Time Flies: A Clock&#39;s Hands Hide Its Face</h1>
  <time datetime=2020-01-01T00:00:00-0600 class="post-date">Wed, Jan 1, 2020</time>
  

<p>The rare vending machine&rsquo;ll take half-dollars. None accept half-hours. There are
time-saving devices. No bank offers a time-savings account. Some projects are
big time investments but men never compare time investment portfolios.</p>

<p>Time isn&rsquo;t money.</p>

<p>If time <em>were</em> money, fathers who &ldquo;make time&rdquo; for their daughters would be
jailed for minute forgery. Workers would be paid <em>in</em> overtime. Men living
on borrowed time would refinance the rate of their chrono-loans.</p>

<h2 id="what-is-time">What is time?</h2>

<p>Fun times fly but good times roll.</p>

<p>There are short times and long times, but no tall or wide times. You can be
ahead of your time or behind the times, but not over, under, or beside the
times. You can be on time, or stuck or frozen in time. You can be out of time or
arrive in time but can you be <em>outside</em> of time? Time passes but you can also
pass time. You can kill but not injure time. Time heals but you can&rsquo;t heal time.</p>

<h2 id="geometry">Geometry</h2>

<blockquote>
<p>There&rsquo;s something significant about how the representation in your head
profoundly changes how you think.</p>

<p>&ndash;William Thurston</p>
</blockquote>

<p>Moments are often referred to as points, as in tk &ldquo;point in time.&rdquo;</p>

<p><svg width="100%">
    <circle cx="50%" cy="50%" id='start' r='8'/>
</svg></p>

<p>Points imply a line and, indeed, there&rsquo;s a word for that: timeline.</p>

<p><svg width="100%">
    <circle cx="25%" cy="50%" id='start-1' r='8'/>
    <circle cx="75%" cy="50%" id='start-2' r='8'/>
   <line x1="0%" y1="50%" x2="100%" y2="50%" stroke-width="1" stroke="black"/>
</svg></p>

<p>The present cleaves the line into past and future, front and back. We <em>look
forward</em> to the future while we <em>put the past behind us</em> and reflect on it with
<em>hindsight</em>.</p>

<p><svg width="100%">
    <circle cx="25%" cy="50%" r='8'/>
    <circle cx="75%" cy="50%" r='8'/>
    <circle cx="50%" cy="50%" r='8'/>
    <line x1="0%" y1="50%" x2="50%" y2="50%" stroke-width="1" stroke="black"/>
    <line x1="50%" y1="50%" x2="100%" y2="50%" stroke-width="1" stroke="black" style="stroke-dasharray: 2.5"/>
</svg></p>

<p>We can even sensibly generalize to parallel timelines, as understood in
e.g. science fiction television.</p>

<p><svg width="100%">
    <circle cx="25%" cy="25%" r='8'/>
    <circle cx="75%" cy="25%" r='8'/>
    <circle cx="50%" cy="25%" r='8'/>
    <line x1="0%" y1="25%" x2="50%" y2="25%" stroke-width="1" stroke="black"/>
    <line x1="50%" y1="25%" x2="100%" y2="25%" stroke-width="1" stroke="black" style="stroke-dasharray: 2.5"/>
    <g opacity="0.3">
      <circle cx="25%" cy="75%" r='8'/>
      <circle cx="75%" cy="75%" r='8'/>
      <circle cx="50%" cy="75%" r='8'/>
      <line x1="0%" y1="75%" x2="50%" y2="75%" stroke-width="1" stroke="black"/>
      <line x1="50%" y1="75%" x2="100%" y2="75%" stroke-width="1" stroke="black" style="stroke-dasharray: 2.5"/>
   </g>
</svg></p>

<p>In fact, line segments are enough to represent almost everything people say
about time. We can query Google&rsquo;s n-grams database for the adjectives that most
frequently proceed the word &ldquo;time:&rdquo;</p>

<iframe name="ngram_chart" src="https://books.google.com/ngrams/interactive_chart?content=*_ADJ+time&year_start=1800&year_end=2000&corpus=15&smoothing=3&share=&direct_url=t2%3B%2C%2A_ADJ%20time%3B%2Cc0%3B%2Cs0%3B%3Bsame_ADJ%20time%3B%2Cc0%3B%3Bfirst_ADJ%20time%3B%2Cc0%3B%3Blong_ADJ%20time%3B%2Cc0%3B%3Bshort_ADJ%20time%3B%2Cc0%3B%3Bpresent_ADJ%20time%3B%2Cc0%3B%3Bmean_ADJ%20time%3B%2Cc0%3B%3Bsecond_ADJ%20time%3B%2Cc0%3B%3Blittle_ADJ%20time%3B%2Cc0%3B%3Blast_ADJ%20time%3B%2Cc0%3B%3Bmuch_ADJ%20time%3B%2Cc0" width=900 height=500 marginwidth=0 marginheight=0 hspace=0 vspace=0 frameborder=0 scrolling=no></iframe>

<p>We can represent every one of these senses on one line:</p>

<p><svg width="100%">
    <circle cx="25%" cy="50%" r='8'/>
    <circle cx="75%" cy="50%" r='8'/>
    <circle cx="50%" cy="50%" r='8'/>
    <line x1="0%" y1="50%" x2="50%" y2="50%" stroke-width="1" stroke="black"/>
    <line x1="50%" y1="50%" x2="100%" y2="50%" stroke-width="1" stroke="black" style="stroke-dasharray: 2.5"/>
</svg></p>

<h3 id="to-float-or-swim-upon-river-time">To Float or Swim Upon River Time?</h3>

<blockquote>
<p>Two monks were arguing about a flag. One said: &ldquo;The flag is moving.&rdquo;</p>

<p>The other said: &ldquo;The wind is moving.&rdquo;</p>

<p>The sixth patriarch happened to be passing by. He told them: &ldquo;Not the wind, not
the flag; mind is moving.&rdquo;</p>

<p>&ndash;Mumon, <em>The Gateless Gate</em></p>
</blockquote>

<p>This <a href="https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.385.4653&amp;rep=rep1&amp;type=pdf">paper</a> points out that people tend to use two different systems when
thinking about time: sometimes we talk as if the future moves towards us, and
other times we talk as if we are the ones moving through it.</p>

<p>Am I moving?</p>

<p><svg width="100%">
    <circle cx="25%" cy="50%" r='8'/>
    <circle cx="75%" cy="50%" r='8'/>
    <line x1="50%" y1="50%" x2="100%" y2="50%" stroke-width="1" stroke="black" style="stroke-dasharray: 2.5"/>
    <circle cx="50%" cy="50%" r='8'>
      <animate attributeName="cx" values="50%;100%" dur="10s" repeatCount="indefinite" />
    </circle>
    <line x1="0%" y1="50%" x2="50%" y2="50%" stroke-width="1" stroke="black">
      <animate attributeName="x2" values="50%;100%" dur="10s" repeatCount="indefinite" />
    </line>
</svg></p>

<p>Or is time?</p>

<p><svg width="100%">
    <circle cx="75%" cy="50%" r='8'>
            <animate attributeName="cx" values="75%;50%" dur="10s" repeatCount="indefinite" />
    </circle>
    <circle cx="25%" cy="50%" r='8'>
            <animate attributeName="cx" values="25%;0%" dur="10s" repeatCount="indefinite" />
    </circle>
    <line x1="50%" y1="50%" x2="100%" y2="50%" stroke-width="1" stroke="black" style="stroke-dasharray: 2.5"/>
    <circle cx="50%" cy="50%" r='8'/>
    <line x1="0%" y1="50%" x2="50%" y2="50%" stroke-width="1" stroke="black" />
</svg></p>

<h3 id="cuckoo-clocks">Cuckoo Clocks</h3>

<p>What would it mean for a timeline to curve? Could one have a zig-zag, twisty, or
bendy time? No interpretation is immediately obvious.</p>

<p><svg viewBox="0 10 200 80">
  <path fill="none" stroke="black"
        d="M 0,50
           Q 25,25 40,50
           t 30,0 30,0 30,0" />
  <path fill="none" stroke="black"
        d="M 130,50
           Q 150,25 160,50
           t 30,0 30,0 30,0" style="stroke-dasharray: 2.5" />
  <g>
    <circle cx="160" cy="50" r="1.5" />
    <circle cx="0" cy="50" r="1.5"/>
    <circle cx="40" cy="50" r="1.5"/>
  </g>
</svg></p>

<blockquote>
<p>&ldquo;Somehow it seems to fill my head with ideas — only I don&rsquo;t exactly know what they are!&rdquo;</p>
</blockquote>

<p>Time is almost never considered a higher-dimensional object&ndash;Nietzsche bent the
timeline into a circle, and later went mad.</p>

<p><svg width="100%">
  <circle cx="50%" cy="50%" stroke-width="1" stroke="black" fill="transparent" r="70"/>
</svg></p>

<p>Other time-polygons are even worse:
circular time at least connects to the commonplace notion of <em>deja vu</em>, but what
is a time-square or time-triangle?</p>

<blockquote>
<p>It was just a colour out of space—a frightful messenger from unformed realms of
infinity beyond all Nature as we know it; from realms whose mere existence stuns
the brain and numbs us with the black extra-cosmic gulfs it throws open before
our frenzied eyes.</p>

<p>&ndash;H. P. Lovecraft, <a href="http://www.hplovecraft.com/writings/texts/fiction/cs.aspx">&ldquo;The Color Out of Space&rdquo;</a></p>
</blockquote>

<p>Three-dimensions: <a href="https://en.wikipedia.org/wiki/Time%5FCube">time cube</a> was the work of a madman and may have driven one
person to suicide.</p>

<h3 id="timecube">Timecube</h3>

<h3 id="others">Others</h3>

<p>Aymara</p>

<p>In Chi-nese  (Yu,  1998),  earlier  times  are  also  seen  as  being  above
later  times,  and  particular  setphrases in Chinese vary between this vertical
metaphor and the front–back models. Some Eu-ropean languages also have up–down
metaphors that relate to temporal structure. Consider theFrench historical
termbasse antiquité(Late Antiquity, lit. “low antiquity”), or the two
con-trasting usagesHigh Middle Ages(in English) andbas moyen agein French
(lit. “low middleages”), technical phrases used by historians to refer to the
same period, the later medieval pe-riod.</p>

<p><a href="http://logic.amu.edu.pl/images/7/7e/Socjo%5FBoroditsky.pdf">http://logic.amu.edu.pl/images/7/7e/Socjo%5FBoroditsky.pdf</a></p>

<p><a href="https://journals.sagepub.com/doi/full/10.1177/0956797610386621">https://journals.sagepub.com/doi/full/10.1177/0956797610386621</a></p>

<h2 id="time-frames">Time Frames</h2>

<p>time sausage <a href="https://www.januscosmologicalmodel.com/januspoint">https://www.januscosmologicalmodel.com/januspoint</a></p>

<ul>
<li>primer gif</li>
</ul>

<p>&ldquo;What impertinence!&rdquo; said the Pudding. &ldquo;I wonder how you&rsquo;d like it, if I were to
cut a slice out of you, you creature!&rdquo;</p>

<blockquote>
<p>&lsquo;I could tell you my adventures—beginning from this morning,&rsquo; said Alice a
little timidly: &lsquo;but it&rsquo;s no use going back to yesterday, because I&rsquo;m still
there.&rsquo;</p>
</blockquote>

<h2 id="whence-memory">Whence memory?</h2>

<blockquote>
<p>&ldquo;It&rsquo;s a poor sort of memory that only works backwards,&rdquo; the Queen remarked.</p>
</blockquote>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>The seed of inspiration for this post came from <a href="http://kruel.co/backup/Ontological Therapy.html">&ldquo;Ontological Therapy&rdquo;</a></li>
</ul>

<p class="verse">
My grandfather clock stopped,<br />
His ticker gave out,<br />
Time passing.<br />
<br />
I'm homicidal,<br />
A thermonuclear ticking time bomb,<br />
An atomic clock.<br />
<br />
Time off? Time to off time,<br />
I got Father time to kill,<br />
His tick-tock is a dead beat.<br />
<br />
While his burglar alarm clock snoozes,<br />
I'll strike, midnight,<br />
Minute man's last minutes.<br />
<br />
His clockwork will be quick work,<br />
For my clock-hand grenade,<br />
A split second'll split seconds.<br />
<br />
Blown into a million little timepieces,<br />
It'll be a Father time share.<br />
A split end.<br />
<br />
Won't serve time because I won't serve time,<br />
A couple of clockwise-guys'll take the fall,<br />
A setup--a time frame.<br />
</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
