<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Recommended Reading &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/recommended-reading/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/recommended-reading.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Recommended Reading</h1>
  <time datetime=2019-09-21T00:00:00-0500 class="post-date">Sat, Sep 21, 2019</time>
  <blockquote>
<p>I have always imagined that Paradise will be a kind of library.</p>
</blockquote>

<!--quoteend-->

<blockquote>
<p>&mdash; Jorge Luis Borges</p>
</blockquote>

<p>These are my favorite books, ever. I know they&rsquo;re my favorite because,
while reading each one, first I felt awe. Then I felt
jealously&ndash;overwhelming jealousy! Jealousy that such books even exist,
that they <em>can</em> exist, and that they were written by
someone-who-is-not-me.</p>

<p>I have zero qualms about recommending any of these. You should read
<em>all</em> of them.</p>

<p>The list is in no particular order. If you ask me for my favorite book,
the answer is &ldquo;these ones.&rdquo; I don&rsquo;t have one, specific pick. The best
one depends on who you are and why you read.</p>

<p><em>[[<a href="https://www.amazon.com/gp/product/006124189X/ref=as%5Fli%5Fss%5Ftl?ie=UTF8/likes/influence-the-psychology-of-persuasionlinkCode=ll1/likes/influence-the-psychology-of-persuasiontag=rsio0c-20/likes/influence-the-psychology-of-persuasionlinkId=c8bc259c80261df61f2b4bdf655fbabe">https://www.amazon.com/gp/product/006124189X/ref=as%5Fli%5Fss%5Ftl?ie=UTF8/likes/influence-the-psychology-of-persuasionlinkCode=ll1/likes/influence-the-psychology-of-persuasiontag=rsio0c-20/likes/influence-the-psychology-of-persuasionlinkId=c8bc259c80261df61f2b4bdf655fbabe</a>][]]</em></p>

<p><em><strong>Influence: The Psychology of Persuasion</strong></em></p>

<p><em><a href="https://www.amazon.com/gp/product/006124189X/ref=as%5Fli%5Fss%5Ftl?ie=UTF8/likes/influence-the-psychology-of-persuasionlinkCode=ll1/likes/influence-the-psychology-of-persuasiontag=rsio0c-20/likes/influence-the-psychology-of-persuasionlinkId=c8bc259c80261df61f2b4bdf655fbabe">Influence</a></em>
is a brief, easy-to-read review of the different tactics that
advertisers use to influence you. It&rsquo;s written as a guide to protecting
yourself from manipulators, I mean, &ldquo;influencers,&rdquo; but I suspect most
people read it in order to use the tactics on others.</p>

<p>I didn&rsquo;t like this book when I first read it. It didn&rsquo;t have enough
rigor. I wondered whether any of it was even true. Maybe I was upset
about something else. Maybe I&rsquo;d been burned by believing too many
psychology studies that later failed to replicate.</p>

<p>I don&rsquo;t know.</p>

<p>But then, after a few months passed, I found myself gifting it to
people. I&rsquo;ve given away at least two, maybe three copies.</p>

<p>What changed?</p>

<p>It&rsquo;s all just so&hellip; applicable. I started to see the tactics in the book
everywhere&ndash; hell, I even use some of them on the site, and I <em>know</em>
they work, because I&rsquo;ve A/B tested pages with and without them.</p>

<p><strong>Recommended for:</strong> Anyone who needs to sell, persuade, or influence. So
probably everyone.</p>

<p><a href="https://www.amazon.com/gp/product/006124189X/ref=as%5Fli%5Fss%5Ftl?ie=UTF8/likes/influence-the-psychology-of-persuasionlinkCode=ll1/likes/influence-the-psychology-of-persuasiontag=rsio0c-20/likes/influence-the-psychology-of-persuasionlinkId=c8bc259c80261df61f2b4bdf655fbabe">Check
it out.</a></p>

<p><em><strong>Proofs and Refutations</strong></em>[[<a href="http://amzn.to/2iBwDlo">http://amzn.to/2iBwDlo</a>][]]</p>

<p>I like philosophy of math. I&rsquo;ve liked it ever since reading Wigner&rsquo;s
paper,
&ldquo;<a href="https://www.dartmouth.edu/~matc/MathDrama/reading/Wigner.html">The
Unreasonable Effectiveness of Mathematics in The Natural Science</a>.&rdquo;
This line sums up its main thrust: &ldquo;the enormous usefulness of
mathematics in the natural sciences is something bordering on the
mysterious and that there is no rational explanation for it.&rdquo;</p>

<p>That is: what, exactly, are these mathematical objects and why is math
so effective? This question bugs me. I still have no satisfactory answer
beyond the obvious ones. (These are left as an exercise for the reader.)</p>

<p>Thanks to this bothersome itch to know, I&rsquo;ve since read more philosophy
of math than is strictly useful. (I&rsquo;m not sure any philosophy of math is
useful.) But this book, <a href="http://amzn.to/2iBwDlo"><em>Proofs and
Refutations</em></a>, is the greatest of them all.</p>

<p>The book is structured into a dialogue between a teacher and students.
These students are fictional but the author, Lakatos, fills their
dialogue with points made by the mathematical greats throughout history.
One student parrots Euler, another Kepler.</p>

<p>And, trust me, if you&rsquo;ve ever felt dumb about some explanation you&rsquo;ve
proposed, Kepler posited far worse.</p>

<p>The dialogue attempts to answer the question, &ldquo;What is mathematical
knowledge and the nature of proof?&rdquo; But I think the lessons of the book
can be generalized, providing insight into the nature of all knowledge,
not just mathematics.</p>

<p><strong>Recommended for:</strong> the philosophically and mathematically inclined.</p>

<p><a href="http://amzn.to/2iBwDlo">Check it out.</a></p>

<p><em><strong>Gödel, Escher, Bach: An Eternal Golden
Braid</strong></em>[[<a href="http://amzn.to/2iBzHOa">http://amzn.to/2iBzHOa</a>][]]</p>

<p>Right. I once saw someone online describe
<a href="http://amzn.to/2iBzHOa"><em>Gödel, Escher, Bach</em></a> as a logic textbook
disguised as a novel. This sounds about right to me, but this probably
seems hopelessly cryptic to someone who hasn&rsquo;t read it.</p>

<p><strong>Try this</strong>: Imagine that you travel back in time, kidnap Lewis
Carrol&ndash;the author of
<a href="http://www.gutenberg.org/files/11/11-h/11-h.htm"><em>Alice In
Wonderland</em></a>&ndash;, transport him to today, and then force him to 1) learn
enough logic to prove both of Godel&rsquo;s incompleteness theorems, and
<em>then</em> write a book explaining it. Along with its connections to M.C.
Escher, the halting problem, Bach&rsquo;s fugues, DNA, and about a dozen other
topics.</p>

<p><em>That&rsquo;s</em> what GEB is like.</p>

<p>It is the most creative book I have ever read.</p>

<p><strong>Recommended for:</strong> Anyone who can read an 824 page book and enjoys logic
puzzles.</p>

<p><a href="http://amzn.to/2iBzHOa">Check it out.</a></p>

<p><em><strong>The Little Schemer</strong></em>[[<a href="http://amzn.to/2hui8Uu">http://amzn.to/2hui8Uu</a>][]]</p>

<p>I have two favorite programming books. One is
<a href="http://mislav.uniqpath.com/poignant-guide/"><em>Why&rsquo;s (Poignant) Guide to
Ruby</em></a>. It&rsquo;s entertaining, but I don&rsquo;t know if it will teach you
anything about programming. I mean, it&rsquo;s supposed to, but I don&rsquo;t know
if it <em>will</em>. You can
<a href="http://mislav.uniqpath.com/poignant-guide/">download it and read it
for free</a>.</p>

<p>My other favorite programming book is <a href="http://amzn.to/2hui8Uu"><em>The
Little Schemer</em></a>. It&rsquo;s entertaining, mind expanding, and it <em>will</em>
teach you enough Scheme to be dangerous.</p>

<p>But I mostly like it because it&rsquo;s entertaining and mind-expanding. The
Scheme thing is just a bonus.</p>

<p>The book itself is slim. Amazon says its 216 pages, but it has the heft
of a book half that size. But the lessons within take a while to digest.
More like a book twice its size. Maybe it cancels out.</p>

<p>The writing itself is in this sort of deranged dialogue format. One
Amazon reviewer describers it as, &ldquo;a little like Sméagol and Gollum
discussing fishes.&rdquo; An apt characterization.</p>

<p><strong>Recommended for:</strong> Programmers or would-be programmers.</p>

<p><a href="http://www.amazon.com/gp/product/0262560992/ref=as%5Fli%5Ftl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0262560992&amp;linkCode=as2&amp;tag=rsio-20&amp;linkId=B2BMIIR5GPXY2YK2">Check
it out.</a></p>

<p>[[<a href="http://amzn.to/2i4r1TA">http://amzn.to/2i4r1TA</a>][]]/*Thinking and Deciding*/</p>

<p>Okay. I lied. If I had to pick just one book as my favorite, this is the
book. It&rsquo;s a tour de force, pulling from cognitive psychology,
economics, decision theory, and psychology. Oh, and ethics.</p>

<p>The book itself is aptly named. It&rsquo;s on how humans think and decide, and
where they deviate from rational choices. That is: how can you, as an
individual, make better decisions? The book answers this, in a
commendably practical manner.</p>

<p>The emphasis on actionable advice, along with the sheer amount of
research covered&ndash;39 pages of references!&ndash;is what makes this book so
impressive. It&rsquo;s the book that <em>Thinking, Fast and Slow</em> should have
been. (If someone tries to explain to me again the difference between
system 1 and system 2, I&rsquo;ll puke all over them.)</p>

<p><strong>Recommended for:</strong></p>

<ul>
<li>Anyone who wishes to understand how to reason under uncertainty and
has read at least one research paper in their life.</li>
<li>Anyone who identifies as agnostic because &ldquo;you can&rsquo;t ever really know,
man.&rdquo;</li>
</ul>

<p><a href="http://amzn.to/2i4r1TA">Check it out.</a></p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
