<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>How to Look up a URL&#39;s PageRank with Ruby &#43; Open PageRank&#39;s API &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/ruby-openpagerank-api-example/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/ruby-openpagerank-api-example.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>How to Look up a URL&#39;s PageRank with Ruby &#43; Open PageRank&#39;s API</h1>
  <time datetime=2019-10-03T14:24:00-0500 class="post-date">Thu, Oct 3, 2019</time>
  

<p>DomCom&rsquo;s <a href="https://www.domcop.com/openpagerank/what-is-openpagerank">Open PageRank</a> is a free alternative to Google&rsquo;s <a href="https://en.wikipedia.org/wiki/PageRank">PageRank</a> and includes a
public API. All you gotta do before you can use it is fill out <a href="https://www.domcop.com/openpagerank/auth/signup">this form</a> and
they&rsquo;ll email you an access key.</p>

<p>The limits are generous:</p>

<blockquote>
<p>Based on our current limits you can get the PageRank data for 4.3 million domains every single day for a single API Key. If you need more data simply contact us and we will increase the limit.</p>
</blockquote>

<p>4.3 million&hellip; yeah, that should about cover it.</p>

<h2 id="using-it">Using it</h2>

<p>The example in <a href="https://www.domcop.com/openpagerank/documentation">their API docs</a> is written in PHP. I&rsquo;ve translated it here into
Ruby, took a bit of fiddling.</p>
<div class="highlight"><pre class="chroma"><code class="language-ruby" data-lang="ruby"><span class="nb">require</span> <span class="s1">&#39;net/http&#39;</span>
<span class="nb">require</span> <span class="s1">&#39;active_support/all&#39;</span>

<span class="n">uri</span> <span class="o">=</span> <span class="no">URI</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="s2">&#34;https://openpagerank.com/api/v1.0/getPageRank&#34;</span><span class="p">)</span>
<span class="n">uri</span><span class="o">.</span><span class="n">query</span> <span class="o">=</span> <span class="o">[</span><span class="s2">&#34;rs.io&#34;</span><span class="p">,</span> <span class="s2">&#34;example.com&#34;</span><span class="o">].</span><span class="n">to_query</span><span class="p">(</span><span class="s1">&#39;domains&#39;</span><span class="p">)</span>

<span class="n">req</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">::</span><span class="no">Get</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="n">uri</span><span class="p">)</span>
<span class="n">req</span><span class="o">[</span><span class="s1">&#39;API-OPR&#39;</span><span class="o">]</span> <span class="o">=</span> <span class="no">YOUR_SECRET_KEY</span>

<span class="n">res</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">.</span><span class="n">start</span><span class="p">(</span><span class="n">uri</span><span class="o">.</span><span class="n">host</span><span class="p">,</span> <span class="n">uri</span><span class="o">.</span><span class="n">port</span><span class="p">,</span> <span class="ss">use_ssl</span><span class="p">:</span> <span class="kp">true</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">http</span><span class="o">|</span>
  <span class="n">http</span><span class="o">.</span><span class="n">request</span><span class="p">(</span><span class="n">req</span><span class="p">)</span>
<span class="p">}</span>

<span class="n">result</span> <span class="o">=</span> <span class="no">JSON</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">res</span><span class="o">.</span><span class="n">body</span><span class="p">)</span>
<span class="nb">puts</span> <span class="no">JSON</span><span class="o">.</span><span class="n">pretty_generate</span><span class="p">(</span><span class="n">result</span><span class="p">)</span></code></pre></div>
<p>Swap
<code>YOUR_SECRET_KEY</code> for your actual key and replace the array <code>[&quot;rs.io&quot;,
&quot;example.com&quot;]</code> with whatever URLs you want to look up, max 100 in a single
request like this.</p>

<p>You should get something like,</p>
<div class="highlight"><pre class="chroma"><code class="language-text" data-lang="text">{
  &#34;status_code&#34;: 200,
  &#34;response&#34;: [
    {
      &#34;status_code&#34;: 200,
      &#34;error&#34;: &#34;&#34;,
      &#34;page_rank_integer&#34;: 4,
      &#34;page_rank_decimal&#34;: 4.32,
      &#34;rank&#34;: &#34;1443770&#34;,
      &#34;domain&#34;: &#34;rs.io&#34;
    },
    {
      &#34;status_code&#34;: 200,
      &#34;error&#34;: &#34;&#34;,
      &#34;page_rank_integer&#34;: 8,
      &#34;page_rank_decimal&#34;: 7.88,
      &#34;rank&#34;: &#34;193&#34;,
      &#34;domain&#34;: &#34;example.com&#34;
    }
  ],
  &#34;last_updated&#34;: &#34;16th Aug 2019&#34;
}</code></pre></div>
<p>The metrics are calculated from <a href="https://commoncrawl.org/">Common Crawl&rsquo;s &ldquo;open repository of web
 crawl data that can be accessed and analyzed by anyone&rdquo;</a>&ndash;very cool!</p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
