<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.58.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Creativity, Literature, and Compression &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script src="https://unpkg.com/shufflejs@5.2.2/dist/shuffle.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/creativity-literature-compression/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/creativity-literature-compression/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Creativity, Literature, and Compression</h1>
  <time datetime=2014-03-20T03:51:08Z class="post-date">Thu, Mar 20, 2014</time>
  

<p>But first, a joke:</p>

<blockquote>
<p>I was at a bar last weekend, chatting with this woman. She was decent looking. There was a lull in the conversation, so I say to her, &#8220;Hey, I&#8217;ve got this talent. I can tell when a woman was born after feeling her breasts.&#8221; She doesn&#8217;t believe me at first, but after a minute or so, she comes around. &#8220;Go on, then,&#8221; she says to me. I feel her up a bit before she gets impatient. &#8220;Well, when I was born?&#8221; she asks. So I tell her &#8212; &#8220;Yesterday.&#8221;</p>
</blockquote>

<h3 id="dissecting-and-killing-the-joke">Dissecting and killing the joke</h3>

<p>What&#8217;s funny about that joke? The surprise. First, there&#8217;s the set up. It&#8217;s titillating, and listeners start anticipating: <em>this is going somewhere</em>. And then &#8212; punchline! Outta nowhere, or at least that&#8217;s what it feels like. Cue laughter. This shock, this violation of expectation, is what comedy&#8217;s all about.</p>

<p>Here&#8217;s another one: &#8220;I&#8217;m not a member of any organized religion. I&#8217;m a Jew.&#8221; If the sentence had instead been, &#8220;I&#8217;m not a member of any organized religion. I&#8217;m an atheist,&#8221; there would be nothing at all funny about it. George Carlin&#8217;s, &#8220;If you can&#8217;t beat them, arrange to have them beaten,&#8221; follows the same pattern.</p>

<p>Brains are sort of anticipation engines and, when you violate those expectations, well, that&#8217;s comedy. It&#8217;s the difference between something original and something not. If Carlin had said, &#8220;If you can&#8217;t beat them, join them,&#8221; I wouldn&#8217;t be talking about him. It&#8217;s boring, cliched. It&#8217;s not <em>creative</em>.</p>

<p><strong>Creativity is about violating expectations.</strong></p>

<h3 id="anticipation-is-compression">Anticipation is compression</h3>

<p><strong>Anticipation and prediction are the same thing.</strong> When I drop a ball, I anticipate and predict that it will fall to the ground.</p>

<p>Now, let us imagine a program that can take in a few facts about you and then predict with certainty what it is that you&#8217;re going to say. In such a case, the machine wouldn&#8217;t need to remember anything about you except those few facts. If it needs to know your opinion on something in the future, it can take those facts, run them through its internal predictor, and regenerate your opinions.</p>

<p>You, as a human, sort of already do this. For instance, if I tell you how I lean politically, you might not need to know my stance on anything &#8212; you might be able to anticipate it. So instead of storing, &#8220;The author&#8217;s opinion on Serious Political Topic X,&#8221; in long term memory, you could just remember, &#8220;The author is a Blue.&#8221;</p>

<p>This difference between remembering <em>everything</em> and remembering just a few details is compression. It follows, then, that <strong>when you can predict something, you can compress it.</strong></p>

<p>Given then, that:</p>

<ol>
<li>Creativity is about violating expectations.</li>
<li>That which can be expected can be compressed.</li>
</ol>

<p>I would expect that creative things are less compressible than non-creative things. Do creative books compress less than non-creative ones?</p>

<p>That&#8217;s what I want to find out.</p>

<h2 id="methods">Methods</h2>

<p>The idea, then, is to take works that are creative and non-creative, compress both, and observe whether the non-creative books are more compressible. Given the theory fleshed out above, I expect the non-creative works to be more compressible.</p>

<p>Sorting books into creative and non-creative buckets is, by its nature, a subjective task. I attempted to grab from the most obviously creative and non-creative works. In practice, this tended to blur the line between non-creative and boring. The most mind-numbing works, I figure, are the least creative.</p>

<p>Creative works:</p>

<ul>
<li><em>Alice in Wonderland</em></li>
<li><em>Godel, Escher, Bach: an Eternal Golden Braid</em></li>
<li><em>Through the Looking Glass</em></li>
<li><em>Flatland</em></li>
<li><em>Beyond Good and Evil</em></li>
<li><em>Emerson, First Essays</em></li>
<li>A few other popular novels on Project Gutenberg.</li>
</ul>

<p>Non-creative works:</p>

<ul>
<li>The Berne Convention</li>
<li>RFC 4880</li>
<li>IRS Publication 557: Tax exempt status for your organization</li>
<li>ITunes User Agreement</li>
<li>Patent 8,322,614, &#8220;System for processing financial transactions in a self-service library terminal&#8221;</li>
<li>The Affordable Care Act</li>
</ul>

<p>I took each of these works, ran them through <a href="http://en.wikipedia.org/wiki/Xz">the xz compressor</a> &#8212; the strongest general purpose compressor in wide circulation, as far as I know &#8212; and then compared the &#8220;compressibility&#8221; (ratio of uncompressed to compressed data) of the two classes of files. The comparison was done with R.</p>

<h2 id="analysis-and-results">Analysis and Results</h2>

<p>Before anything else, I plotted the compressibility of the data using a dotplot, and colored each by work as creative or not. The results are visually striking:</p>

<p><a href="https://rs.io/wp-content/uploads/2014/08/compressed-literature-dotplot.png"><img class="aligncenter size-full wp-image-411" src="https://rs.io/wp-content/uploads/2014/08/compressed-literature-dotplot.png" alt="compressed-literature-dotplot" width="551" height="287" srcset="https://rs.io/wp-content/uploads/2014/08/compressed-literature-dotplot.png 551w, https://rs.io/wp-content/uploads/2014/08/compressed-literature-dotplot-300x156.png 300w" sizes="(max-width: 551px) 100vw, 551px" /></a></p>

<p>You will notice that the works fall into two distinct clusters. Creative works (black) are less compressible than non-creative works (red), which is what I would suspect given that my hypothesis is true.</p>

<p>My statistics-fu is weak, but I think the Student&#8217;s <em>t</em>-test is the right tool for the job here. This calculates the p-value that the two groups are different, which comes out to 0.00001488 or, if the computer could speak, &#8220;I&#8217;m near certain that the non-creative group is more compressible than the creative group.&#8221; (That level of certainty is almost certainly inappropriate, though. In a trial of 10,000 analyses like these, I screw up more than one of them.)</p>

<pre class="lang:r decode:true ">Welch Two Sample t-test

data:  dat$RATIO by dat$CLASS 
t = 8.7316, df = 8.58, p-value = 1.488e-05
alternative hypothesis: true difference in means is not equal to 0 
95 percent confidence interval:
0.09487109 0.16189135 
sample estimates:
    mean in group  CREATIVE mean in group  NOT_CREATIVE 
                  0.3289321                   0.2005509</pre>

<h3 id="limitations">Limitations</h3>

<p>Let&#8217;s dig in a little deeper to the creative works:</p>

<pre class="lang:r decode:true ">&gt; dat[c(-3,-2)]
                                         FILE         CLASS     RATIO
    6                        creative/geb.txt      CREATIVE 0.2838554
    11              creative/wizard-of-oz.txt      CREATIVE 0.3035146
    1        creative/alice_in_wonderland.txt      CREATIVE 0.3245573
    3     creative/breakfast-of-champions.txt      CREATIVE 0.3266665
    9  creative/through_the_looking_glass.txt      CREATIVE 0.3272843
    8                        creative/poe.txt      CREATIVE 0.3314520
    2       creative/beyond-good-and-evil.txt      CREATIVE 0.3364589
    5                   creative/flatland.txt      CREATIVE 0.3369884
    4       creative/emerson-first-essays.txt      CREATIVE 0.3412482
    10                   creative/ulysses.txt      CREATIVE 0.3519374
    7            creative/jekyll-and-hyde.txt      CREATIVE 0.3542899</pre>

<p>This is sorted from most compressible to least, implying that <em>Jekyll and Hyde</em> is the most creative novel of those tested, while <em>Godel, Escher, Bach</em> is the least. I find this unlikely.</p>

<p>Indeed, if I plug in <em>Moby Dick</em>, I get a ratio of .3353, or less compressible than <em>Alice in Wonderland</em>, <em>Breakfast of Champions</em>, and others. Now, I&#8217;ve read <em>Moby Dick</em> and it&#8217;s a terrible, boring affair. I much prefer <em>Godel, Escher, Bach</em> or <em>Alice in Wonderland</em>. <a href="https://www.goodreads.com/book/show/153747.Moby_Dick_or_The_Whale">And internet reviewers largely do, too.</a></p>

<p>So it seems that compressibility can classify novels from technical works, but it&#8217;s not &#8212; at least using <code>xz</code> &#8212; possible to separate very creative works from just creative works.</p>

<h2 id="discussion">Discussion</h2>

<p>So, the theory predicted that non-creative works would be more compressible than creative ones, and that panned out. This is far from confirmation of the model, but it&#8217;s still evidence, and I&#8217;m pretty confident that the average novel is less compressible than the average piece of technical work.</p>

<p>It would be <em>much</em> more impressive if this could distinguish more specific degrees of creativity. If I compared some of the novels produced by first time authors (or bad fan-fiction) to those on the <a href="http://www.modernlibrary.com/top-100/100-best-novels/">Modern Library&#8217;s top picks</a> and it found that the Modern Library picks were more creative, well, that&#8217;d be neat. (Maybe I will try this out in a future post.) We can imagine such a technique becoming more and more powerful &#8212; to the point where it can distinguish between the relative merit of different works by the same author.</p>

<p>The limiting factor here, of course, is the power (or intelligence) of the compression technology. The compression algorithms that we all use are not <em>that</em> complicated. I can feed them sensory input and they won&#8217;t compress it down to the laws of physics. Instead, they&#8217;re relatively crude-but-effective attempts at deduplication, which means that they&#8217;re an imperfect measuring sticks for how creative something seems to a human.</p>

<p>For instance, if I feed a compressor a cliche or a clever play on that cliche, the compressor doesn&#8217;t have the intellectual context necessary to ding the cliche. If I could, instead, train an algorithm on a huge corpus of English text, of the sort that Google possesses, I&#8217;d be able to better construct a compressor that&#8217;d evaluate originality.</p>

<p>Even then, there are theoretical limits on this. I could feed a compressor random input, which cannot be compressed, but that doesn&#8217;t mean that there&#8217;s anything of interest to humans. And we can wonder: how much can word alone, surface level characteristics of text, be representative of creativity? At some point, a sufficiently intelligent compressor must understand the content, too.</p>

<p>In that final sense, humans are the ultimate compressors &#8212; at least for now.</p>

<h2 id="further-reading">Further Reading</h2>

<ul>
<li>The ideas for this project have been rattling around in my mind since I wrote about <a href="https://rs.io/what-makes-something-interesting/">Jürgen Schmidhuber&#8217;s theory of creativity</a>.</li>
<li>Marcus Hutter is <a href="http://www.hutter1.net/prize/">offering €50,000</a> to anyone who discovers one of those sufficiently advanced compressors I mentioned.</li>
<li>For an introduction to compression algorithms, check out <a href="http://www.infoq.com/presentations/zip-code">this talk</a> that was given at Strangeloop.</li>
<li><a href="http://lesswrong.com/lw/qk/that_alien_message/">A story about what It&#8217;d be like to be a &#8220;sufficiently advanced&#8221; compressor.</a></li>
<li>The code and data used for the analysis are available <a href="https://github.com/robertseaton/creativity-literature-analysis">on GitHub</a>.</li>
</ul>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
