<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.54.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Wages Then, Wages Now &middot; rs.io</title>

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12517909-4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-12517909-4', { 'optimize_id': 'GTM-KG9BTZJ'});
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LesaLoUAAAAALPXoo08lCE1YXfZ1uTzgh-4qVQk', { action: 'subscribe' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://rs.io/css/hyde.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://rs.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://rs.io/favicon.png">

  
  <link href="https://rs.io/wages-then-wages-now/" rel="canonical" type="text/html" title="rs.io" />
  <link href="https://rs.io/rails/wages-then-wages-now/index.txt.erb" rel="alternate" type="text/plain" title="rs.io" />
  
</head>

  <body class="theme-base-0d ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://rs.io/guided-tour/"><h1>rs.io</h1></a>
      <p class="lead">
       like being punched in the brain 
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li id="start-here"><a href="https://rs.io/guided-tour/">Start Here</a> </li>
        <li><a href="https://rs.io/"> All Articles </a></li><li><a href="https://rs.io/contact/"> Contact </a></li><li><a href="https://rs.io/recommended-reading/"> Recommended Books </a></li>
      </ul>
    </nav>

    <p></p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Wages Then, Wages Now</h1>
  <time datetime=2019-08-03T08:35:00Z class="post-date">Sat, Aug 3, 2019</time>
  <div id="outline-container-orga674fe6" class="outline-2">
  <div id="text-orga674fe6" class="outline-text-2">
  </div>
  

<p><div id="outline-container-orgc67505a" class="outline-3">
    <h3 id="orgc67505a">
      1867
    </h3></p>
<div class="highlight"><pre class="chroma">&lt;div id=&#34;text-orgc67505a&#34; class=&#34;outline-text-3&#34;&gt;
  &lt;blockquote&gt;
    &lt;p&gt;
      It would be easier, where property is well secured, to live without money than without poor; for who would do the work? … As they [the poor] ought to be kept from starving, so they should receive nothing worth saving. If here and there one of the lowest class by uncommon industry, and pinching his belly, lifts himself above the condition he was brought up in, nobody ought to hinder him; nay, it is undeniably the wisest course for every person in the society, and for every private family to be frugal; but it is the interest of all rich nations, that the greatest part of the poor should almost never be idle, and yet continually spend what they get…. Those that get their living by their daily labour … have nothing to stir them up to be serviceable but their wants which it is prudence to relieve, but folly to cure. The only thing then that can render the labouring man industrious, is a moderate quantity of money, for as too little will, according as his temper is, either dispirit or make him desperate, so too much will make him insolent and lazy…. From what has been said, it is manifest, that, in a free nation, where slaves are not allowed of, the surest wealth consists in a multitude of laborious poor; for besides, that they are the never-failing nursery of fleets and armies, without them there could be no enjoyment, and no product of any country could be valuable. “To make the society” [which of course consists of non-workers] “happy and people easier under the meanest circumstances, it is requisite that great numbers of them should be ignorant as well as poor; knowledge both enlarges and multiplies our desires, and the fewer things a man wishes for, the more easily his necessities may be supplied.
    &lt;/p&gt;

    &lt;p&gt;
      –quoted in &lt;a href=&#34;https://www.marxists.org/archive/marx/works/download/pdf/Capital-Volume-I.pdf&#34;&gt;&lt;i&gt;Capital (Vol. I)&lt;/i&gt;&lt;/a&gt;
    &lt;/p&gt;
  &lt;/blockquote&gt;
&lt;/div&gt;</pre></div>
<p></div></p>

<p><div id="outline-container-org41f8c1a" class="outline-3">
    <h3 id="org41f8c1a">
      2019
    </h3></p>
<div class="highlight"><pre class="chroma">&lt;div id=&#34;text-org41f8c1a&#34; class=&#34;outline-text-3&#34;&gt;
  &lt;ul class=&#34;org-ul&#34;&gt;
    &lt;li&gt;
      &lt;a href=&#34;https://www.cnbc.com/2019/01/09/shutdown-highlights-that-4-in-5-us-workers-live-paycheck-to-paycheck.html&#34;&gt;78% of US workers live paycheck to paycheck&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&#34;https://www.theguardian.com/commentisfree/2018/jul/29/us-economy-workers-paycheck-robert-reich&#34;&gt;Almost 80% of US workers live from paycheck to paycheck. Here&amp;#8217;s why&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&#34;https://www.marketwatch.com/story/half-of-americans-are-just-one-paycheck-away-from-financial-disaster-2019-05-16&#34;&gt;Millions of Americans are just one paycheck away from ‘financial disaster’&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&#34;https://www.washingtonpost.com/business/2018/12/28/living-paycheck-paycheck-is-disturbingly-common-i-see-no-way-out/?utm_term=.501653170328&#34;&gt;Living paycheck to paycheck is disturbingly common: ‘I see no way out.’&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</pre></div>
<p></div>
</div></p>

</div>


    </main>

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-12517909-4', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

  </body>
</html>
